[2020-10-01 00:12] ahampriyanshu opened #1 "Welcome to algo_ds_101"
Hello, Everyone  :grin:
Welcome to algo_ds_101,

I am extrememly excited to have  all.
Here are some suggestions you should be following while contributing to this repository:

:bulb: First of all, read the contributing guidelines.
:bulb: Always check properly if the issue you wish to create,already exist or not.
:bulb:  Ask for the issue that you plan to complete
:bulb:  Commit message should be

[2020-10-01 15:54] ahampriyanshu opened #2 "Linear Search"
**Submission Title**
Linear Search

**Submission Type**
Algorithm

**Submission Description**
A linear search or sequential search is a method for finding an element within a list.

**Contributors**
- [x]  C++ -
- [x]  C -
- [x]  Python -
- [x] Java -
- [x] JavaScript -
- [x] Golang -

[2020-10-01 15:58] Pranjal81 commented on #2
Please assign this task to me. @ahampriyanshu

[2020-10-01 16:16] realvaibhav opened #3 "Binary Search"
**Submission Title**
Binary Search

**Submission Type**
 Algorithms

**Submission Description**
 Search a sorted array by repeatedly dividing the search interval in half

**Contributors**
- [x]  C++ -
- [x]  C -
- [x]  Python -
- [x] Java -
- [x] JavaScript -
- [ ] Golang -

[2020-10-01 16:19] realvaibhav commented on #3
I want to contribute to this task through C++ @ahampriyanshu please assign this task to me .

[2020-10-01 16:19] Dheeraj-01 commented on #3
Can I do that problem?? In  Java and python

[2020-10-01 16:27] ahampriyanshu commented on #2
What is your preffered language @Pranjal81

[2020-10-01 16:31] Pranjal81 commented on #2
it was C++ but as it is assigned I can do it in C.

[2020-10-01 16:31] killerpanda101 commented on #3
i would like to work on the javaScript version

[2020-10-01 16:41] Pranjal81 commented on #2
#4

[2020-10-01 16:51] Singh-Aishwarya commented on #3
Assign me in Java if you could @ahampriyanshu

[2020-10-01 16:55] ahampriyanshu commented on #3
@Singh-Aishwarya go ahead with java
@Dheeraj-01 go ahead with python

[2020-10-01 17:08] Singh-Aishwarya opened #18 "Bubble Sort"
**Submission Title**
Bubble Sort

**Submission Type**
Algo

**Submission Description**
Bubble sort is a simple sorting algorithm that repeatedly steps through the list, compares adjacent elements and swaps them if they are in the wrong order.

**Contributors**
- [x]  C++ - @bhagya05
- [x]  C - @Abantika20
- [x]  Python -
- [x] Java - @Singh-Aishwarya
- [x] JavaScript -
- [ ] Golang -

[2020-10-01 17:09] Singh-Aishwarya commented on #18
Assign this task to me in Java @ahampriyanshu

[2020-10-01 17:09] bhagya05 commented on #18
I can do c++

[2020-10-01 17:09] Harshi7016 commented on #18
Can I work on Javascript on the same?
Thanks

[2020-10-01 17:11] HarshUdai commented on #18
hey @Singh-Aishwarya , i can do the bubble sort implementation in Python, can you assign this to me

[2020-10-01 17:11] Harshi7016 commented on #2
Can I work on Javascript on this?
Thanks

[2020-10-01 17:16] Vimlesh-Kumar opened #20 "Merge Sort"
**Submission Title**
Merge Sort

**Submission Type**
Algo

**Submission Description**
Merge sort is one of the most efficient sorting algorithms. It works on the principle of Divide and Conquer.

**Contributors**
- [x]  C++ -
- [ ]  C -
- [x]  Python -
- [x] Java -
- [ ] JavaScript -
- [ ] Golang -

[2020-10-01 17:16] Abantika20 commented on #18
I wish to do it in C . Please assign me

[2020-10-01 17:18] Vimlesh-Kumar commented on #20
Please assign this task to me in C++ @ahampriyanshu

[2020-10-01 17:53] abhaybhatt commented on #20
@Vimlesh-Kumar  assign this to me for java?

[2020-10-01 18:53] hemangdtu commented on #18
I wish to do it in Python. Please assign me.

[2020-10-01 19:06] hemangdtu commented on #2
Please assign it to me for Python.

[2020-10-01 19:21] GGolfz opened #39 "Circular Linked List"
**Submission Title**
Circular Linked List

**Submission Type**
Data Structure

**Submission Description**
I implement circular linked list in java language using my own node class and provide isEmpty(), addToTail(), and printAll() method for circular linked list

**Contributors**
- [x]  C++ -
- [ ]  C -
- [ ]  Python -
- [x] Java -
- [ ] JavaScript -
- [ ] Golang -

[2020-10-01 19:23] GGolfz opened #40 "Binary Search"
**Submission Title**
Binary Search

**Submission Type**
Algorithm

**Submission Description**
Implement the binary Search algorithm in any language

**Contributors**
- [ ]  C++ -
- [ ]  C -
- [ ]  Python -
- [ ] Java -
- [x] JavaScript -
- [ ] Golang -

[2020-10-01 19:23] #40 closed

[2020-10-01 19:24] GGolfz commented on #3
Assign me in js @ahampriyanshu Thanks

[2020-10-01 19:24] Pandiurex commented on #39
i can do it in c++, actually im doing it right now, do u want it?

[2020-10-01 19:25] GGolfz opened #41 "Binary Search Tree"
**Submission Title**
Binary Search Tree

**Submission Type**
Data Structure

**Submission Description**
Implementing Binary Search Tree in any given language

**Contributors**
- [x]  C++ -
- [ ]  C -
- [x]  Python -
- [x] Java - @GGolfz
- [ ] JavaScript -
- [ ] Golang -

[2020-10-01 19:27] Balaguru4580 commented on #41
I'd like to implement this in Python. Can I get assigned for that?

[2020-10-01 19:28] ahampriyanshu commented on #39
@Pandiurex go ahead with C++

[2020-10-01 19:28] manvendra264 commented on #41
I would like to implement BST in C++. Can I?

[2020-10-01 19:29] shubham2704 commented on #39
@Pandiurex i would like to implement it with python and javascript

[2020-10-01 19:29] manvendra264 commented on #39
I would like to implement BST in C++. Can I?

[2020-10-01 19:35] GGolfz commented on #3
I means javascript

[2020-10-01 19:46] Harshi7016 commented on #2
Can I go ahead with adding the js file, or should I wait till I get assigned?
I am bit confused
Thanks

[2020-10-01 20:32] ahampriyanshu commented on #2
@all-contributors please add @Singh-Aishwarya

[2020-10-01 20:34] ahampriyanshu commented on #2
@all-contributors please add @Singh-Aishwarya  for code

[2020-10-01 20:36] ahampriyanshu commented on #2
@all-contributors please add @Pranjal81 @Vimlesh-Kumar @Harshi7016 @hemangdtu  for code

[2020-10-01 20:38] ahampriyanshu commented on #2
@all-contributors please add @hemangdtu for code

[2020-10-01 20:38] ahampriyanshu commented on #2
@all-contributors please add @Harshi7016 for code

[2020-10-01 20:39] ahampriyanshu commented on #3
@all-contributors please add @realvaibhav  for code

[2020-10-01 20:39] ahampriyanshu commented on #3
@all-contributors please add @killerpanda101   for code

[2020-10-01 20:40] ahampriyanshu commented on #3
@all-contributors please add @Dheeraj-01 for code

[2020-10-01 20:41] ahampriyanshu commented on #3
@all-contributors please add @harikesh409  for code

[2020-10-01 20:41] ahampriyanshu commented on #3
@all-contributors please add @GGolfz  for code

[2020-10-01 20:42] ahampriyanshu commented on #18
@all-contributors please add @bhagya05  for code

[2020-10-01 20:43] ahampriyanshu commented on #18
@all-contributors please add @HarshUdai  for code

[2020-10-01 20:43] ahampriyanshu commented on #18
@all-contributors please add @Abantika20  for code

[2020-10-01 20:44] ahampriyanshu commented on #39
@all-contributors please add @Pandiurex  for code

[2020-10-01 20:45] ahampriyanshu commented on #39
@all-contributors please add @shubham2704   for code

[2020-10-01 21:06] ahampriyanshu opened #65 "Adding contributors"
@all-contributors please add @ahampriyanshu for code

[2020-10-01 21:09] ahampriyanshu commented on #2
@all-contributors please add @ahampriyanshu  for code

[2020-10-01 21:10] ahampriyanshu commented on #2
@all-contributors please add @Singh-Aishwarya  for code

[2020-10-01 21:16] Balaguru4580 commented on #41
Alright. PR submitted.

[2020-10-01 21:35] ahampriyanshu commented on #2
@all-contributors please add @Singh-Aishwarya for code

[2020-10-01 21:39] ahampriyanshu commented on #65
@all-contributors please add @Singh-Aishwarya  for code

[2020-10-01 21:51] ahampriyanshu opened #71 "Arrays"
**Submission Title**
Arrays

**Submission Type**
Data Structure

**Submission Description**
 An array in C or C++ is a collection of items stored at contiguous memory locations

**Contributors**
- [ ]  C++ -
- [ ]  C -
- [ ]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] Golang -

[2020-10-01 21:53] ahampriyanshu opened #72 "Map/Hash/Dict"
**Submission Title**
Map/Hash/Dict

**Submission Type**
Data Structure

**Submission Description**
Map/Hash/Dict are associative containers that store elements formed by a combination of a key value and a mapped value.

**Contributors**
- [ ]  C++ -
- [ ]  C -
- [ ]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] Golang -

[2020-10-01 22:00] ahampriyanshu opened #73 "Queues"
**Submission Title**
Queues

**Submission Type**
DS

**Submission Description**
A queue is an abstract data structure that contains a collection of elements. Queue implements the FIFO mechanism

**Contributors**
- [x]  C++ -
- [x]  C -
- [x]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] Scala -

[2020-10-01 22:01] ahampriyanshu opened #74 "Stacks"
**Submission Title**
Stacks

**Submission Type**
DS

**Submission Description**
 A stack is an abstract data structure that contains a collection of elements. Stack implements the LIFO mechanism.

**Contributors**
- [x]  C++ -
- [ ]  C -
- [x]  Python -
- [x] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] Scala -

[2020-10-01 22:03] ahampriyanshu opened #75 "AVL Tree"
**Submission Title**
AVL Tree

**Submission Type**
DS

**Submission Description**
AVL tree is a self-balancing Binary Search Tree where the difference between heights of left and right subtrees cannot be more than one for all nodes.

**Contributors**
- [x]  C++ -
- [ ]  C -
- [x]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] Scala -

[2020-10-01 22:08] ahampriyanshu opened #76 "Vector"
**Submission Title**
Vector

**Submission Type**
STL

**Submission Description**
Vector is a template class in STL (Standard Template Library) of C++ programming language.

**Contributors**
- [x]  C++ -

[2020-10-01 22:10] ahampriyanshu opened #77 "Array"
**Submission Title**
Array

**Submission Type**
STL

**Submission Description**
The array is a collection of elements of the same data type stored in continuous memory locations. C++ standard library contains many libraries that support the functioning of arrays.

**Contributors**
- [x]  C++ -

[2020-10-01 22:12] ahampriyanshu opened #78 "Map"
**Submission Title**
Map

**Submission Type**
STL

**Submission Description**
Maps are associative containers that store elements in a mapped fashion. Each element has a key value and a mapped value.

**Contributors**
- [x]  C++ -

[2020-10-01 22:15] ahampriyanshu opened #79 "Set"
**Submission Title**
Set

**Submission Type**
STL

**Submission Description**
Sets are containers that store unique elements following a specific order. In a set, the value of an element also identifies it .

**Contributors**
- [x]  C++ -

[2020-10-01 22:18] ahampriyanshu opened #80 "Queue"
**Submission Title**
Queue

**Submission Type**
STL

**Submission Description**
A queue is an abstract data structure that contains a collection of elements. Queue implements the FIFO mechanism

**Contributors**
- [x]  C++ -

[2020-10-01 22:18] evandroLutz commented on #71
I wanted to better understand what you need :D

[2020-10-01 22:21] ahampriyanshu opened #81 "BFS"
**Submission Title**
BFS

**Submission Type**
Algorithm

**Submission Description**
Breadth first traversal or Breadth first Search is a recursive algorithm for searching all the vertices of a graph or tree data structure.

**Contributors**
- [x]  C++ -
- [ ]  C -
- [x]  Python -
- [ ] Java -
- [x] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] Scala -

[2020-10-01 22:22] ahampriyanshu opened #82 "DFS"
**Submission Title**
DFS

**Submission Type**
Algorithm

**Submission Description**
DFS starts with a root node or a start node and then explores the adjacent nodes of the current node by going deeper into the graph or a tree.

**Contributors**
- [x]  C++ -
- [x]  C -
- [x]  Python -
- [x] Java -
- [x] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] Scala -

[2020-10-01 22:24] ahampriyanshu opened #83 "Bellman–Ford"
**Submission Title**
Bellman–Ford

**Submission Type**
Algorithm

**Submission Description**
The Bellman–Ford algorithm is an algorithm that computes shortest paths from a single source vertex to all of the other vertices in a weighted digraph.

**Contributors**
- [x]  C++ -
- [x]  C -
- [x]  Python -
- [x] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] Scala -

[2020-10-01 22:27] ahampriyanshu opened #84 "Floyd Warshall"
**Submission Title**
Floyd Warshall

**Submission Type**
Algorithm

**Submission Description**
Floyd–Warshall algorithm is an algorithm for finding shortest paths in a weighted graph with positive or negative edge weights.

**Contributors**
- [x]  C++ -
- [x]  C -
- [x]  Python -
- [x] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] Scala -

[2020-10-01 22:29] ahampriyanshu opened #85 "Kruskal's MST"
**Submission Title**
Kruskal's MST

**Submission Type**
Algorithm

**Submission Description**
Kruskal's algorithm finds a minimum spanning forest of an undirected edge-weighted graph. If the graph is connected, it finds a minimum spanning tree.

**Contributors**
- [x]  C++ -
- [x]  C -
- [x]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] Scala -

[2020-10-01 22:30] ahampriyanshu opened #86 "LIS"
**Submission Title**
LIS

**Submission Type**
Algorithmal

**Submission Description**
Longest increasing subsequence problem is to find a subsequence of a given sequence in which the subsequence's elements are in sorted order, lowest to highest, and in which the subsequence is as long as possible.

**Contributors**
- [x]  C++ -
- [x]  C -
- [x]  Python -
- [x] Java -
- [ ] JavaScript -
- [ ] TypeS

[2020-10-01 22:31] ahampriyanshu opened #87 "Ternary Search"
**Submission Title**
Ternary Search

**Submission Type**
Algorithm

**Submission Description**
A ternary search algorithm is a technique in computer science for finding the minimum or maximum of a unimodal function.

**Contributors**
- [x]  C++ -
- [ ]  C -
- [x]  Python -
- [x] Java -
- [x] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] Scala -

[2020-10-01 22:32] juanmaotegui commented on #84
I code floyd-warshall algorithm in any of those language?

[2020-10-01 22:32] ahampriyanshu opened #88 "Heap Sort"
**Submission Title**
Heap Sort

**Submission Type**
Algorithm

**Submission Description**
Heap Sort is a popular and efficient sorting algorithm in computer programming. Learning how to write the heap sort algorithm requires knowledge of two types of data structures - arrays and trees.

**Contributors**
- [x]  C++ -
- [x]  C -
- [x]  Python -
- [x] Java -
- [x] JavaScript -
- [ ] TypeScript -
- [

[2020-10-01 22:35] ahampriyanshu opened #89 "Selection Sort"
**Submission Title**
Selection Sort

**Submission Type**
Algorithm

**Submission Description**
Selection sort is a simple sorting algorithm. This sorting algorithm is an in-place comparison-based algorithm in which the list is divided into two parts, the sorted part at the left end and the unsorted part at the right end.

**Contributors**
- [x]  C++ -
- [x]  C -
- [ ]  Python -
- [x] Java -
- [ ]

[2020-10-01 22:36] ahampriyanshu opened #90 "Insertion Sort"
**Submission Title**
Insertion Sort

**Submission Type**
Algorithm

**Submission Description**
Insertion sort is a simple sorting algorithm that works similar to the way you sort playing cards in your hands. The array is virtually split into a sorted and an unsorted part.

**Contributors**
- [x]  C++ -
- [ ]  C -
- [x]  Python -
- [x] Java -
- [x] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [

[2020-10-01 22:37] ahampriyanshu opened #91 "Quick Sort"
**Submission Title**
Quick Sort

**Submission Type**
Algorithm

**Submission Description**
Quick Sort is a sorting algo based on the concept of Divide and Conquer

**Contributors**
- [x]  C++ -
- [x]  C -
- [x]  Python -
- [x] Java -
- [x] JavaScript -
- [ ] TypeScript -
- [x] Golang -
- [ ] Ruby -
- [x] Scala -

[2020-10-01 22:38] juanmaotegui commented on #84
I want to code for Java. Can you assign me?

[2020-10-01 22:39] rahulsunil2 commented on #82
I've great experience in writing [clean and readable code](https://github.com/rahulsunil2/CProgramming/blob/master/GraphTheory/layCables.c), so I would like to work on this issue.
Can you please assign it to me?
 I can work on Python, C and Java

[2020-10-01 22:40] rahulsunil2 commented on #80
I've great experience in writing [clean and readable code](https://github.com/rahulsunil2/CProgramming/blob/master/GraphTheory/layCables.c), so I would like to work on this issue.
Can you please assign it to me?

[2020-10-01 22:47] Namanmittal0007 commented on #89
@ahampriyanshu I would like to contribute to this, please assign me this task to implement selection sort in c++.

[2020-10-01 22:48] Namanmittal0007 commented on #90
@ahampriyanshu I would like to contribute to this, please assign me this task to implement Insertion sort in C++.

[2020-10-01 22:48] Namanmittal0007 commented on #91
@ahampriyanshu I would like to contribute to this, please assign me this task to implement Quick sort in C++.

[2020-10-01 22:48] Namanmittal0007 commented on #88
@ahampriyanshu I would like to contribute to this, please assign me this task to implement Heap sort in C++.

[2020-10-01 23:02] ahampriyanshu commented on #65
@all-contributors please add @Singh-Aishwarya for code

[2020-10-01 23:04] ahampriyanshu commented on #65
@all-contributors please add @Singh-Aishwarya for code

[2020-10-01 23:14] LuisFerTR commented on #91
I would like to work on this implementing quicksort in golang

[2020-10-01 23:36] ankitgoel25 commented on #80
@ahampriyanshu I would like to work on this issue!

[2020-10-01 23:37] vortex2099 commented on #87
assign me this problem.

[2020-10-01 23:41] ankitgoel25 commented on #73
@ahampriyanshu I would like to work on this issue in C++ language.

[2020-10-01 23:53] LDiazN commented on #85
I can do it in C++, assign it to me

[2020-10-02 00:09] ankur-kayal commented on #86
Can i work on this issue in c++?

[2020-10-02 00:10] ankitgoel25 commented on #73
Hi @ahampriyanshu , this is my first time contributing to Hactoberfest and open source as well. I made a pull request for the issue in C++ language. Please review my PR and do tell me if I need to do some corrections.
Thank You

[2020-10-02 00:11] ankur-kayal commented on #88
Can i work on this in python3?

[2020-10-02 00:12] ankur-kayal commented on #83
Can i work on this in c++?

[2020-10-02 00:13] ankur-kayal commented on #82
Can i work on this in c++?

[2020-10-02 00:14] ankur-kayal commented on #76
Can i work on this? i can explain all the member functions of the vector class in c++ stl.

[2020-10-02 00:19] italovinicius18 commented on #91
Hello, I would like to implement Quick Sort in Python

[2020-10-02 00:19] italovinicius18 commented on #90
Hello, I would like to implement Insertion Sort in Python

[2020-10-02 00:20] italovinicius18 commented on #89
Hello, I would like to implement Selection Sort in Python

[2020-10-02 00:41] juanmaotegui commented on #84
@ahampriyanshu I created a PR. Added this algorithm in java

[2020-10-02 00:57] 5H1V commented on #91
Hello, I would like to work on implementing Quick Sort in Java

[2020-10-02 00:59] 5H1V commented on #86
Hello, I would like to work on this issues in Java

[2020-10-02 01:00] 5H1V commented on #89
Hello, I would like to work on implementing Selection Sort in Java

[2020-10-02 01:34] aderio25 commented on #74
I would like to contribute implement stack in Python, let assign this task to me.

[2020-10-02 01:42] abhinavjonnada82 commented on #81
Can I get this?

[2020-10-02 02:01] Jayant-Jeet commented on #77
Please assign me this. I've read and will follow the contributing guidelines.

[2020-10-02 02:02] hanyangl commented on #2
@all-contributors can you assign linear search in go to me?

[2020-10-02 02:07] hanyangl commented on #91
@ahampriyanshu could you assign Quick Sort in JavaScript to me?

[2020-10-02 02:47] hnishal commented on #87
@ahampriyanshu i can do this in cpp
assign it to me

[2020-10-02 02:48] hnishal commented on #78
@ahampriyanshu assign me this, i would love to do it

[2020-10-02 02:58] Chemasmas commented on #91
@ahampriyanshu Can i make the Scala Version?

[2020-10-02 03:04] dindatiwi commented on #20
ill do the javascript one
assigned me pls

[2020-10-02 03:10] dindatiwi commented on #20
https://github.com/ahampriyanshu/algo_ds_101/pull/98

added

[2020-10-02 03:11] tdchua commented on #81
Please assign this to me - Python

[2020-10-02 03:11] tdchua commented on #91
Please assign this to me - Python

[2020-10-02 03:25] KalyanKumar-4 commented on #77
Finally,what we do.either implement code or any description about arrays.

[2020-10-02 03:47] GhostUser commented on #91
I would like to work on this using python, I'll also add the explanation there. I assure that work would be top-notch.

[2020-10-02 03:48] GhostUser commented on #74
I would like to work on this, pls assign. I'll use python.

[2020-10-02 03:57] deepdhar commented on #90
@ahampriyanshu I would like to work on this issue in C, please assign me the task.

[2020-10-02 03:58] rohitbarvekar commented on #85
Hi, @ahampriyanshu . This is my first hacktoberfest request. I am interested in doing it in cpp. Could you please assign it to me.

[2020-10-02 03:59] rohitbarvekar commented on #79
Hi, @ahampriyanshu . This is my first hacktoberfest. I am interested could you please assign it to me.

[2020-10-02 04:06] Rj-coder-iitian opened #101 "Bitonic_Sort"
**Submission Title**
Bitonic Sort

**Submission Type**
Algorithm

**Submission Description**
Bitonic mergesort is a parallel algorithm for sorting. It is also used as a construction method for building a sorting network. The algorithm was devised by Ken Batcher.
Inventor: Ken Batcher
Worst complexity: log^2n
Average complexity: log^2n
Best complexity: log^2n
Space complexity: n*log(n)^2
Stable: No

[2020-10-02 04:06] Rj-coder-iitian commented on #101
I want to work on this please assign this to me.

[2020-10-02 04:08] Carolis commented on #90
Hey I would like to implement Insertion Sort with JavaScript =)

[2020-10-02 04:10] pranjalkumar153 commented on #87
Assign this problem to me.

[2020-10-02 04:38] sbhavya18 commented on #76
I want to work on this. I will give precise yet complete information of all the required functionalities associated along with demonstration to get a clear idea of implementation.

[2020-10-02 04:41] sbhavya18 commented on #75
Please assign me this. I will submit my work in C++.

[2020-10-02 04:42] sbhavya18 commented on #41
I would like to implement this in c++. Kindly assign me this.

[2020-10-02 04:43] Mayankjha997 commented on #101
I want to work on this in c language please assign me

[2020-10-02 04:44] sbhavya18 commented on #101
I want to implement this in c++. Kindly assign me this.

[2020-10-02 04:45] sbhavya18 commented on #81
Please assign me this. I want to submit my code in c++.

[2020-10-02 04:45] ahampriyanshu commented on #101
sorry @Mayankjha997 I have just merged a PR implemented in C
You can try a different language.

[2020-10-02 04:46] sbhavya18 commented on #88
Please assign me this. I would like to implement this in c++.

[2020-10-02 04:53] Mayankjha997 commented on #101
I want to work on this in python language please assign me

[2020-10-02 04:53] Mihir2527 opened #104 "Fibonacci Search"
**Submission Title**
Fibonacci Search

**Submission Type**
Algorithm

**Submission Description**
Fibonacci search technique is a method of searching a sorted array using a divide and conquer algorithm that narrows down possible locations with the aid of Fibonacci numbers.

**Contributors**
- [x]  C++ -
- [ ]  C -
- [x]  Python -
- [x] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [x] Golang -
- [

[2020-10-02 04:56] ahampriyanshu commented on #104
Sure @Mihir2527
Just make sure to put the **fibonacci.py** file in seperate folder ``Fibonacci Series`` in ``Mathematics`
And also read the contributing guidelines before making the PR

[2020-10-02 04:57] mrselukar commented on #85
Hey! Would be happy to do this in Python.

[2020-10-02 04:59] mrselukar commented on #75
Hi, Would like to do this in python. Please assign it if possible.

[2020-10-02 05:00] mrselukar commented on #84
Hi, Would like to do this in python, please assign it to me if possible.

[2020-10-02 05:04] Rj-coder-iitian opened #106 "Brick Sort"
**Submission Title**
Brick Sort

**Submission Type**
Algorithm

**Submission Description**
In computing, an odd–even sort or odd–even transposition sort is a relatively simple sorting algorithm, developed originally for use on parallel processors with local interconnections. It is a comparison sort related to bubble sort, with which it shares many characteristics.
Inventor: Habermann
Worst complex

[2020-10-02 05:04] Rj-coder-iitian commented on #106
@ahampriyanshu I want to work on this please assign this to me.

[2020-10-02 05:05] shivamkumar123 commented on #82
I would like to contribute. Please assign it to me

[2020-10-02 05:06] ahampriyanshu commented on #106
@Rj-coder-iitian Please mention your preffered language

[2020-10-02 05:06] Mihir2527 commented on #104
Where can I find the folder Mathematics?

On Fri, 2 Oct 2020 at 10:27, Priyanshu Tiwari <notifications@github.com>
wrote:

[2020-10-02 05:07] shivamkumar123 commented on #106
I want to work on it in C++. Please assign it to me

[2020-10-02 05:08] saideepesh000 commented on #106
I want to work on it in JavaScript.

[2020-10-02 05:11] alekz7 commented on #82
I would like to contribute in javascript, may I've it assigned

[2020-10-02 05:15] alekz7 commented on #81
I want to work in the javascript implementation

[2020-10-02 05:21] ahampriyanshu commented on #88
@sbhavya18 I have already assigned @Namanmittal0007 in C++ language
Please opt a different language ✌🏽

[2020-10-02 05:24] ahampriyanshu commented on #87
Please mention your prefferd language @vortex2099 and @pranjalkumar153 😁

[2020-10-02 05:24] Mihir2527 opened #108 "Gold Mine Problem"
The example is the Gold Mine Problem. I'll add it's implementation in Python.

[2020-10-02 05:28] Ishaandham19 commented on #104
I would like to do Fibonacci Search in C++

[2020-10-02 05:29] ahampriyanshu commented on #85
Hello @rohitbarvekar , I have already assigned @LDiazN in C++
Please opt a different language or issue

[2020-10-02 05:31] Mihir2527 commented on #104
Would also like to add an implementation in C

[2020-10-02 05:32] rushitote commented on #104
@ahampriyanshu
Can I do this in Golang?

[2020-10-02 05:34] Bihari420 opened #110 "New Submission"
**Submission Title**
Bubble Sort/AVL Graph/Vector

**Submission Type**
Algorithm/Data Structure/STL/Mathematical

**Submission Description**
Describe the Algo/DS/STL

**Contributors**
- [x]  python
- [x]  C -
- [x]  Python -
- [x] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] Scala -

[2020-10-02 05:44] ArpitDarklord commented on #106
I want to give it a shot in python.Please assign it to me @ahampriyanshu

[2020-10-02 05:48] krishnmohan19 commented on #90
Hey @ahampriyanshu  i would like to work on this issue with javascript. would you please assign me this

[2020-10-02 05:56] ahampriyanshu commented on #108
Great @Mihir2527
Go ahead ✌🏽

[2020-10-02 05:59] ahampriyanshu commented on #110
@Bihari420 Please describe your proposed Algo/DS
Also read the contributing guidelines.

[2020-10-02 06:02] pranjalkumar153 commented on #87
I would like to use C++. I can also do the same contribution in Python as well.

[2020-10-02 06:04] ahampriyanshu commented on #78
Great @hnishal Please mention your preffered language,

[2020-10-02 06:06] souvickroy02 commented on #91
I would like to work on this issue. I can implement quicksort in c++. Please allow me to work on this issue.

[2020-10-02 06:06] architgarg603 commented on #90
I would like to do it in Java

[2020-10-02 06:09] souvickroy02 commented on #90
I would like to work on this issue. I can implement insertion sort in c++. Please allow me to work on this issue. I'll also add an explanation in my code.

[2020-10-02 06:10] souvickroy02 commented on #88
I would like to work on this issue. I can implement heapsort in c++. Please allow me to work on this issue. I'll also add an explanation in my code.

[2020-10-02 06:13] ahampriyanshu commented on #82
@shivamkumar123 I have already assigned @ankur-kayal in C++
Please opt a different language or issue :grin:

[2020-10-02 06:14] souvickroy02 commented on #85
I would like to work on this issue. I can implement quicksort in c++, c and python also. Please allow me to work on this issue. I'll also add an explanation in my code.

[2020-10-02 06:15] pranjalkumar153 commented on #87
I will also explain the code properly with comments.

[2020-10-02 06:17] souvickroy02 commented on #77
I would like to work on this issue. I can implement this in c++. I know STL well. Please allow me to work on this issue. I'll also add an explanation in my code.

[2020-10-02 06:20] yogesh-kansal opened #113 "Longest Common Subsequence of Two Sequences"
**Submission Title**
 Longest Common Subsequence of Two Sequences

**Submission Type**
Algorithm

**Submission Description**
Problem statement:-Given two sequences 𝐴 = (𝑎1, 𝑎2, . . . , 𝑎𝑛) and 𝐵 = (𝑏1, 𝑏2, . . . , 𝑏𝑚), find the length of their longest
common subsequence.
Problem is based on dynamic programing.I will be solving this issue in c++.
Overall time complexity:-O(m*n) ;where m,n are lengt

[2020-10-02 06:21] yogesh-kansal commented on #113
I would like to implement this algorithm,please assign it to me.

[2020-10-02 06:21] geoffgeorgein commented on #91
I like coding in python and would love to implement it in python.Please assign me this.

[2020-10-02 06:22] PulkitKhagta commented on #113
I would like to implement this algorithm in C++ please assign this issue to me

[2020-10-02 06:23] Renu-code commented on #113
I want to work on this issue.. please assign it to me

[2020-10-02 06:24] ahampriyanshu commented on #87
@pranjalkumar153 go ahead with C++,Python,Java and JS

[2020-10-02 06:25] geoffgeorgein commented on #79
I shall implement in python .Please assign me this. I'm a newbie to open source and would love to contribute.

[2020-10-02 06:26] ahampriyanshu commented on #113
@yogesh-kansal and @Renu-code Please mention your preffered language

[2020-10-02 06:30] yogesh-kansal commented on #113
@ahampriyanshu  i would like to implement this in c++

[2020-10-02 06:33] Mihir2527 commented on #108
Done. Do let me know if there are any problems or changes to be made in it

[2020-10-02 06:33] subSri commented on #83
Can i do this in Python?

[2020-10-02 06:43] yogesh-kansal opened #118 "Edit distance"
**Submission Title**
Edit distance

**Submission Type**
Algorithm

**Submission Description**
problem statement:- The edit distance between two strings is the minimum number of operations (insertions, deletions, and
substitutions of symbols) to transform one string into another. It is a measure of similarity of two strings.
Edit distance has applications, for example, in computational biology, nat

[2020-10-02 06:43] yogesh-kansal commented on #118
I want to implement this algorithm in c++. please assign it to me.

[2020-10-02 06:46] sbhavya18 commented on #88
I can implement it in C language. Can u now assign me the task?

[2020-10-02 06:46] architgarg603 commented on #118
I want to implement this algorithm in Java. please assign it to me.

[2020-10-02 06:47] Mihir2527 opened #120 "Fibonacci Numbers"
**Submission Title**
Fibonacci Numbers

**Submission Type**
Algorithm

**Submission Description**
Dynamic Programming is mainly an optimization over plain recursion. Wherever we see a recursive solution that has repeated calls for same inputs

**Contributors**
- [x]  C++ -
- [x]  C -
- [x]  Python -
- [x] Java -
- [x] JavaScript -
- [ ] TypeScript -
- [x] Golang -
- [ ] Ruby -
- [ ] php -
- [ ] Sw

[2020-10-02 06:48] architgarg603 commented on #89
I would like to code in java

[2020-10-02 06:51] sbhavya18 commented on #89
I would like to code in C. Kindly assign me this.

[2020-10-02 06:52] rushitote commented on #104
@ahampriyanshu
Can you please assign me this for Golang?

[2020-10-02 06:53] sbhavya18 commented on #71
I want to implement it in c++. Kindly assign me this. Also brief a little for better unsderstanding.

[2020-10-02 06:55] sbhavya18 commented on #74
Kindly assign me this. I want to implement it in c++.

[2020-10-02 06:55] gauravsharma97 opened #121 "Quarkus Code"
**Submission Title**
Quarkus Code

**Submission Type**
Algorithm

**Submission Description**
???

**Contributors**
- [ ]  C++ -
- [ ]  C -
- [ ]  Python -
- [x] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] php -
- [ ] Swift -
- [ ] C# -

[2020-10-02 06:57] rushitote commented on #118
@ahampriyanshu
Can you please assign this to me for Golang?

[2020-10-02 07:08] souvickroy02 commented on #88
I can implement this issue in C language.

[2020-10-02 07:10] Renu-code commented on #113
@ahampriyanshu i would like to implement this in java

[2020-10-02 07:12] Mihir2527 commented on #120
Done!. Do let me know if any changes are needed.

[2020-10-02 07:17] hemangdtu commented on #2
@ahampriyanshu I have made a PR. Please check.

[2020-10-02 07:17] Bihari420 commented on #110
Bubble sort is an algorithm that compares the adjacent elements and swaps their positions if they are not in the intended order. The order can be ascending or descending.

[2020-10-02 07:18] rahulsunil2 commented on #85
I've already started working on C. Can you assign that to me?

[2020-10-02 07:19] GhostUser commented on #74
Created a PR for stacks implementation using python.
#132

[2020-10-02 07:21] chiragjagad commented on #80
I can do it in python. Can you assign it to me?

[2020-10-02 07:21] ashutoshkumar6 opened #134 "Segment Tree"
**Submission Title**
Segment Tree

**Submission Type**
Data Structure

**Submission Description**
Finding the range sum queries and range xor queries using Segment Tree

**Contributors**
- [x]  C++ -
- [ ]  C -
- [x]  Python -
- [x] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] php -
- [ ] Swift -
- [ ] C# -

[2020-10-02 07:23] ashutoshkumar6 commented on #134
assign me this task

[2020-10-02 07:29] Raksha25 commented on #120
Hi I can work on this in java

[2020-10-02 07:32] Jerry2001 commented on #134
Hi, I could work on the segment tree for C++, Java or Python. Could you assign me this task, please?

[2020-10-02 07:36] aanshi18 commented on #90
Hi @ahampriyanshu , I would like to work for code in c

[2020-10-02 07:36] pratheekpai commented on #120
Can I do this in C++?

[2020-10-02 07:39] vikttu commented on #120
Hi! I can do this in javascript, could you assign me for it?

[2020-10-02 07:39] Sayantan-world commented on #120
Can I do this on C?

[2020-10-02 07:40] dinijian commented on #90
I would like to contribute to this issue. Please assign me this task. I will do it in C++.

[2020-10-02 07:41] Bihari420 opened #136 "Radix_Sort"
**Submission Title**
Radix_Sort

**Submission Type**
Algorithm

**Submission Description**
Radix sort is a sorting technique that sorts the elements by first grouping the individual digits of the same place value.

**Contributors**
- [x]  C++ -
- [x]  C -
- [x]  Python -
- [x] Java -
- [x] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [x] Ruby -
- [x] php -
- [ ] Swift -
- [ ] C# -

[2020-10-02 07:42] jyotiGambhir commented on #80
Can you assign it to me? I know CPP STL pretty well

[2020-10-02 07:42] Sayantan-world commented on #89
I will like to code it in python

[2020-10-02 07:45] ankur-kayal commented on #76
@ahampriyanshu you assigned both of them, who will work on what?

[2020-10-02 07:46] Sayantan-world commented on #20
Can I do this in C?

[2020-10-02 07:46] chiragjagad commented on #73
Hey, I would like to take this project and implement in Python

[2020-10-02 07:48] dinijian commented on #85
Hello @ahampriyanshu, I want to contribute to this issue. I will implement Kruskal's algorithm in C++. Please assign it to me.

[2020-10-02 07:50] Sayantan-world commented on #86
Can you assign this to me in python?

[2020-10-02 07:52] ahampriyanshu commented on #71
Declaration, initialization, insertion, deletion ,searching an element and all the other various operation on arrays .

[2020-10-02 07:54] rushitote opened #143 "Jump Search"
**Submission Title**
Jump Search

**Submission Type**
Search Algorithm

**Submission Description**
Jump Search is a search algorithm for searching an element in a sorted array by ‘jumping’ fixed number of elements every time instead of searching all of them (like linear search).

**Contributors**
- [x]  C++ -
- [x]  C -
- [x]  Python -
- [x] Java -
- [x] JavaScript -
- [x] TypeScript -
- [x] Golan

[2020-10-02 08:03] pranjalkumar153 commented on #87
Thanks sir.

[2020-10-02 08:05] megabyte98 commented on #143
can you assign this issue to me?

[2020-10-02 08:06] swagatikapanda123 commented on #120
could you assign me for doing this in java?

[2020-10-02 08:15] ahampriyanshu commented on #80
Hi @chiragjagad this issue only covers STL, to implement queue in python please refer to #73

[2020-10-02 08:15] kaggrwal commented on #143
Can you assign this to me?

[2020-10-02 08:16] kaggrwal commented on #136
What exactly we have to do ?

[2020-10-02 08:17] Vimlesh-Kumar commented on #120
Can you assign me in c++ @ahampriyanshu

[2020-10-02 08:19] megabyte98 commented on #143
I will implement it in python3

[2020-10-02 08:24] rahulsunil2 commented on #73
I would like to implement this in Python.

[2020-10-02 08:25] hemangdtu commented on #2
All conflicts are now resolved.

[2020-10-02 08:26] ahampriyanshu commented on #143
Hi @kaggrwal , please mention your preferred language.

[2020-10-02 08:30] Vimlesh-Kumar opened #148 "Armstrong Number"
**Submission Title**
Armstrong Number

**Submission Type**
Maths_And_Stats

**Submission Description**
An Armstrong number is a number such that the sum ! of its digits raised to the third power is equal to the number ! itself. For example, 371 is an Armstrong number, since !

**Contributors**
- [ ]  C++ -
- [ ]  C -
- [x]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -

[2020-10-02 08:31] kaggrwal commented on #143
I'll do it java

[2020-10-02 08:32] Vimlesh-Kumar commented on #148
please assign me in c++ @ahampriyanshu

[2020-10-02 08:32] akankshast commented on #148
I would like to contribute using C++,Kindly assign it to me.
Regards ,
Akanksha

[2020-10-02 08:34] Sayan-Manna commented on #148
I would like to contribute using Java. Please assign me.
Thank You!

[2020-10-02 08:35] Nirali0029 commented on #91
I would like to make contributions in python. Please assign it to me

[2020-10-02 08:35] princekalra commented on #148
i would like to work on cpp please assign it to me

[2020-10-02 08:35] saiharsha-22 commented on #148
@Vimlesh-Kumar I would like to solve for c

[2020-10-02 08:36] saiharsha-22 commented on #148
@ahampriyanshu  I would like to work in c program can you please assign me

[2020-10-02 08:37] Nirali0029 commented on #136
I will like to write radix sort in python. Please assign it to me

[2020-10-02 08:38] ahampriyanshu commented on #148
Hi @saiharsha-22 , I already did ...

[2020-10-02 08:38] kaggrwal commented on #136
Can you assign it to me ?

[2020-10-02 08:39] GhostUser commented on #91
I have also did a Pull Request for quick sort. Check it and merge @ahampriyanshu

[2020-10-02 08:40] saiharsha-22 commented on #148
@ahampriyanshu Thank you. I work on it now

[2020-10-02 08:41] GhostUser commented on #91
@ahampriyanshu sorry I mentioned the PR.
#141
confirm pls.

[2020-10-02 08:42] Sameera-Aryasomayajula commented on #87
Can I contribute the solution in C and C++

[2020-10-02 08:43] Sameera-Aryasomayajula commented on #81
Can I please take up the implementation in C.

[2020-10-02 08:43] saiharsha-22 commented on #136
@ahampriyanshu Can I assign this task to me I will do in c

[2020-10-02 08:49] megabyte98 commented on #143
I have made a PR can you please check by mistake I have not named the branch with my username

[2020-10-02 08:49] ahampriyanshu opened #151 "Perfect Number"
**Submission Title**
Perfect Number

**Submission Type**
Maths_And_Stats

**Submission Description**
A perfect number is a positive integer that is equal to the sum of its positive divisors, excluding the number itself. For instance, 6 has divisors 1, 2 and 3, and 1 + 2 + 3 = 6.

**Folder Related To**
Maths_And_Stats => Perfect_Number

**Contributors**
- [ ]  C++ -
- [ ]  C -
- [x]  Python -
- [ ]

[2020-10-02 08:50] megabyte98 commented on #151
can you assign this issue to me

[2020-10-02 08:51] ahampriyanshu commented on #151
Hi @megabyte98, please mention your preffered language 😄

[2020-10-02 08:53] megabyte98 commented on #151
Python

[2020-10-02 09:00] Mayukh-1999 commented on #143
I will do it in C++. Can you assign me this issue?

[2020-10-02 09:03] rushitote commented on #143
@megabyte98
I think you have added wrong issue number, please check again.

[2020-10-02 09:10] hanyangl commented on #91
@ahampriyanshu finished QuickSort in JS https://github.com/ahampriyanshu/algo_ds_101/pull/155. For review, and happy hacktoberfest!

[2020-10-02 09:10] SoundaryaKhanapur commented on #113
Longest Common Subsequence of Two Sequences.py

[2020-10-02 09:18] souvickroy02 commented on #143
I would like to work on this issue. I will use C language to solve this issue. can you please assign me with this issue? Thank you.

[2020-10-02 09:21] hanyangl commented on #120
@Mihir2527 could you assign me JavaScript?

[2020-10-02 09:21] Vimlesh-Kumar opened #157 "Sum of n natural Number"
**Submission Title**
Sum of n natural Number

**Submission Type**
Maths_And_Stats

**Submission Description**
Let S be the required sum.
Therefore, S = 1 + 2 + 3 + 4 + 5 + .................... + n
Clearly, it is an Arithmetic Progression whose first term = 1, last term = n and number of terms = n.
Therefore, S = n2(n + 1), [Using the formula S = n2(a + l)]

**Folder Related To**
Maths_And_Stats =>

[2020-10-02 09:22] ankur-kayal commented on #86
@ahampriyanshu Pull request added 👍

[2020-10-02 09:23] khushali77 commented on #120
Hi, Can I do it in C++?

[2020-10-02 09:23] deepdhar commented on #157
@Vimlesh-Kumar I would like to work on this in C++, please assign it to me

[2020-10-02 09:27] Vimlesh-Kumar opened #159 "Mean"
**Submission Title**
Mean of given Numbers

**Submission Type**
Maths_And_Stats

**Submission Description**
The mean is the average of the numbers. It is easy to calculate: add up all the numbers, then divide by how many numbers there are. In other words it is the sum divided by the count.

**Folder Related To**
Maths_And_Stats => Stats => filename.extension

**Contributors**
- [x]  C++ -
- [x]  C

[2020-10-02 09:28] rohitsingh2410 commented on #157
@Vimlesh-Kumar  please assign this to me for python.

[2020-10-02 09:28] js899 commented on #159
Can I do this with python/cpp ?

[2020-10-02 09:29] Alifbhanvadiya14 commented on #159
Can I work in python

[2020-10-02 09:29] Alifbhanvadiya14 commented on #159
or Java

[2020-10-02 09:30] Alifbhanvadiya14 commented on #157
please assign this to me in python/java

[2020-10-02 09:30] arkumari2000 commented on #157
Please assign this to me for C.

[2020-10-02 09:31] megabyte98 commented on #143
@rushitote  issue number 143 correct

[2020-10-02 09:31] Vimlesh-Kumar commented on #157
for java.

[2020-10-02 09:31] Mayukh-1999 commented on #136
I can solve this issue.I can solve this using JAVA,C,C++.
Can you assign me this issue?

[2020-10-02 09:32] sonuishaq67 commented on #159
I can do the C javascript C# part

[2020-10-02 09:33] Vimlesh-Kumar commented on #159
Go with c++

[2020-10-02 09:35] rushitote commented on #143
@megabyte98
You have linked issue 23.

[2020-10-02 09:35] hritik5102 commented on #136
Hello @Bihari420 , I would like to work on this issue

Follow thing I want to add in you repo

- [x] Radix sort using javascript
- [x] Radix sort using ruby

Thank you :)

[2020-10-02 09:37] Vimlesh-Kumar opened #161 "Mode"
**Submission Title**
Mode

**Submission Type**
Maths_And_Stats

**Submission Description**
The number which appears most often in a set of numbers.
Example: in {6, 3, 9, 6, 6, 5, 9, 3} the Mode is 6 (it occurs most often).

**Folder Related To**
Maths_And_Stats => stats => filename.extension

**Contributors**
- [x]  C++ -
- [x]  C -
- [x]  Python -
- [x] Java -
- [x] JavaScript -
- [ ] TypeScript

[2020-10-02 09:38] hritik5102 commented on #113
Hello @ahampriyanshu  I would like to work on this issue

Follow thing I want to add in you repo

- [x] Longest common sequence using Golang

Thank you :)

[2020-10-02 09:40] Alifbhanvadiya14 commented on #159
in which language shall i Python or ?

[2020-10-02 09:46] Vimlesh-Kumar opened #165 "Sum of n²"
**Submission Title**
Sum of n²

**Submission Type**
Maths_And_Stats

**Submission Description**
The family of natural numbers includes all the counting numbers, starting from 1 till infinity. If n consecutive natural numbers are 1, 2, 3, 4, …, n, then the sum of squared ‘n’ consecutive natural numbers is represented by 12 + 22 + 32 + … + n2.
Σn2 = [n(n+1)(2n+1)]/6

**Folder Related To**
Maths_And_

[2020-10-02 09:46] rohitsingh2410 commented on #157
@Vimlesh-Kumar  i have sent the PR for python. Thanks for the opportunity.

[2020-10-02 09:47] Himith commented on #165
I want to work on this.Please

[2020-10-02 09:49] js899 commented on #159
i have done it please merge it in yours

[2020-10-02 09:50] zahinekbal commented on #165
@Vimlesh-Kumar please assign it to me I would love to contribute on it..
I will apply implementation part in c++..

[2020-10-02 09:54] Vimlesh-Kumar commented on #165
Go with C

[2020-10-02 09:54] Sayantan-world commented on #165
@Vimlesh-Kumar I will love to contribute to this repo,  I will like to add the code python

[2020-10-02 09:54] deepdhar commented on #161
I want to contribute in this in CPP

[2020-10-02 09:59] megabyte98 commented on #143
I have made that change

[2020-10-02 09:59] megabyte98 commented on #143
Thanks @rushitote :)

[2020-10-02 10:03] sonuishaq67 commented on #159
I implemented this in c , c# and javascript
please do check  #169

[2020-10-02 10:03] coding-sourabh commented on #161
i will contribute in C
please assign it to me

[2020-10-02 10:06] rohitsingh2410 commented on #157
@Vimlesh-Kumar i have submitted the PR, but it seems that in you CI CD pipeline there is some error in some yml file,
Could you please check and let me know if this is something to do with my code method wrong or something?
![image](https://user-images.githubusercontent.com/17305828/94912215-f70f2c80-04c4-11eb-9886-db656d538afd.png)

Thanks

[2020-10-02 10:06] amishaagarwal1998 opened #170 "I would like to add some programming/puzzle books pdf in the resources section"

[2020-10-02 10:07] amishaagarwal1998 commented on #170
Please assign this to me!

[2020-10-02 10:07] coding-sourabh commented on #170
please assign this to me

[2020-10-02 10:11] megabyte98 commented on #151
I have added perfect number as well can you check the PR  and mention if any changes required

[2020-10-02 10:16] jyotiGambhir commented on #86
Can you assign this issue to me? I would like to work in CPP.

[2020-10-02 10:17] ahampriyanshu commented on #170
Hi @amishaagarwal1998 and @coding-sourabh, please make sure to not to push any copyrighted material 😅

[2020-10-02 10:20] Nivedita-coder commented on #151
I would like to work on this in C, please assign this to me.

[2020-10-02 10:20] amishaagarwal1998 commented on #170
Sure. Thanks!

[2020-10-02 10:22] shwhite17 commented on #106
assign to me for java @ahampriyanshu

[2020-10-02 10:24] ahampriyanshu opened #174 "Median"
**Submission Title**
Median

**Submission Type**
Maths_And_Stats

**Submission Description**
 Median is a value separating the higher half from the lower half of a data sample, a population or a probability distribution.

**Folder Related To**
Maths_And_Stats => Stats => Median.extension

**Contributors**
- [x]  C++ -
- [x]  C -
- [x]  Python -
- [x] Java -
- [x] JavaScript -
- [x] TypeScript -
-

[2020-10-02 10:25] aniketrochwani commented on #165
@Vimlesh-Kumar Please assign it to me. I would like to contribute it in Javascript

[2020-10-02 10:25] ahampriyanshu opened #177 "Standard Deviation"
**Submission Title**
Standard Deviation

**Submission Type**
Maths_And_Stats

**Submission Description**
The standard deviation is a measure of the amount of variation or dispersion of a set of values

**Folder Related To**
Maths_And_Stats => Stats => Standard_Deviation.extension

**Contributors**
- [x]  C++ -
- [x]  C -
- [x]  Python -
- [x] Java -
- [x] JavaScript -
- [ ] TypeScript -
- [ ] Gola

[2020-10-02 10:37] LUCIFER-dev-king commented on #177
Assign me on this, I would like to contribute in c++.

[2020-10-02 10:44] Vimlesh-Kumar opened #181 "Sum of n³"
**Submission Title**
Sum of n³

**Submission Type**
Maths_And_Stats

**Submission Description**
Describe the Algo/DS/STL

**Folder Related To**
Maths_And_Stats => series => filename.extension

**Contributors**
- [x]  C++ -
- [x]  C -
- [x]  Python -
- [x] Java -
- [x] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] php -
- [ ] Swift -
- [ ] C# -

[2020-10-02 11:02] Sayantan-world commented on #157
I would like to work on this in PHP, please assign it to me.

[2020-10-02 11:03] Sayantan-world commented on #151
I would like to work on this in PHP, please assign this to me.

[2020-10-02 11:04] Sayantan-world commented on #148
I would like to work on this in PHP, please assign this to me.

[2020-10-02 11:06] Sayantan-world commented on #159
I would like to work on this in PHP, please assign this to me.

[2020-10-02 11:07] aayushi02agarwal commented on #174
I'm working on this

[2020-10-02 11:08] jyotiGambhir commented on #80
Do I need to implement queue from scratch using some data structure like linked list or just use queue from STL? as I can see a code for queue implemented from scratch in this repo  already.

[2020-10-02 11:21] pranjalkumar153 commented on #181
can you please assign this to me. I am ready to do this in C++,C, Python and java and JavaScript. Will explain the code nicely with comments and also the mathematical theory behind it. the solution will be O(1) in terms of time complexity.

[2020-10-02 11:22] crenspact02 commented on #181
Hey! I want to work on this!

[2020-10-02 11:25] crenspact02 commented on #174
Hey! I want to work on this using C.

[2020-10-02 11:30] Samkit-shah commented on #151
Hey I have Solved it in C++ can you assign it to me so that i can make a PR

[2020-10-02 11:31] ahampriyanshu commented on #181
Hi @crenspact02 , please mention your preffered language.

[2020-10-02 11:32] Wekananda commented on #174
Hello, please assign me. I want to work this on Javascript or Typescript

[2020-10-02 11:33] kinshukdua opened #188 "Binary Insertion Sort"
**Submission Title**
Binary Insertion Sort

**Submission Type**
Algorithm

**Submission Description**
Implementing Insertion Sort but using binary search to find the insertion point to improve time complexity.

**Folder Related To**
Algorithms => Sorting_Algorithms => Insertion_Sort

**Contributors**
- [x]  C++ -
- [x]  C -
- [x]  Python -
- [x] Java -
- [x] JavaScript -
- [ ] TypeScript -
- [ ] G

[2020-10-02 11:34] kinshukdua commented on #188
I would like to work on this issue using Python. Kindly assign it to me.

[2020-10-02 11:34] Wekananda commented on #89
Hello, i would like to code in javascript. Thanks

[2020-10-02 11:35] ahampriyanshu commented on #181
@pranjalkumar153 I have just updated folder's directory and pull request template.So , I suggest you to sync your forked repo with the master one to avoid any future merge conflicts.

[2020-10-02 11:36] Wekananda commented on #161
Hello,
I want to code this on Java. Thanks

[2020-10-02 11:36] DEEPAKSINGHRAGHAV commented on #188
@ahampriyanshu  Could you please assign the task for Javascript.

[2020-10-02 11:36] Wekananda commented on #177
Hello,
I want to work this on Java. Thanks

[2020-10-02 11:37] Wekananda commented on #165
Please assign it to me. I would like to contribute it in Java

[2020-10-02 11:38] Wekananda commented on #151
Please assign it to me. I would like to contribute it in Java

[2020-10-02 11:38] ahampriyanshu commented on #188
Hi @kinshukdua , please make a new folder ``Binary_Insertion_Sort`` in the ``Sorting_Algorithms`` sub folder

[2020-10-02 11:41] juneadkhan commented on #188
Hi, @ahampriyanshu. Could I be assigned the task for Java?

[2020-10-02 11:44] AnkitJuyal009 commented on #174
Hey! I would like to work this on Java.
Thanks!

[2020-10-02 11:48] kinshukdua commented on #188
Yes sure.

[2020-10-02 11:52] Samkit-shah commented on #165
Heya,
i would like to gice a try for python

[2020-10-02 11:55] LUCIFER-dev-king commented on #188
Hi, @ahampriyanshu  can you assign me on this. I'll do this task in C++.

[2020-10-02 11:55] crenspact02 commented on #120
Hey. Wanna do this in C++?

[2020-10-02 11:56] Abirami-S21 commented on #118
May I try to implement the problem in python?

[2020-10-02 11:59] Samkit-shah commented on #151
I would also like to contribute for this in php

[2020-10-02 12:03] Samkit-shah commented on #151
I would like to contribute for this in Javascript can you please assign me that too

[2020-10-02 12:04] crenspact02 commented on #161
Hey, I wanna do it in cpp.

[2020-10-02 12:07] aayushi02agarwal commented on #161
I want to do it in c.

[2020-10-02 12:09] Anjali2001saxena commented on #88
I can contribute towards this issue in java. Please assign me this.

[2020-10-02 12:11] Samkit-shah commented on #165
please assign to me for php

[2020-10-02 12:25] LUCIFER-dev-king commented on #174
Hi, @ahampriyanshu can you assign me on this. I'll do this task in C++.

[2020-10-02 13:00] aniketrochwani commented on #174
@ahampriyanshu Please assign this to me. I would like to contribute to it in python

[2020-10-02 13:03] Mihir2527 opened #205 "Golomb Sequence"
**Submission Title**
Golomb Sequence

**Submission Type**
Algorithm

**Submission Description**
It is an algorithm based on dynamic programming. The Golomb sequence is a non-decreasing integer sequence where n-th term is equal to number of times n appears in the sequence. This is the Python implementation.

**Folder Related To**
Algorithms => Dynamic_Programming => Golomb_Sequence =>Golomb.py

**C

[2020-10-02 13:06] LUCIFER-dev-king commented on #205
Hi @ahampriyanshu. Assign me on this, I would like to contribute in c++.

[2020-10-02 13:07] Mihir2527 commented on #205
I have added the implementation of Golomb Sequence in Python

[2020-10-02 13:12] Samkit-shah commented on #157
Please assign it to me for Javascript

[2020-10-02 13:14] Samkit-shah commented on #148
I would like to go for C, please assign

[2020-10-02 13:20] LUCIFER-dev-king commented on #159
Hi @ahampriyanshu , Assign me on this I can work on Java and C.

[2020-10-02 13:25] Heisenberg-Vardan commented on #188
Can you please assign this task to me , I would implement it in C

[2020-10-02 13:31] zahinekbal commented on #165
@Vimlesh-Kumar I added (algo_ds_101=> Maths_And_Stats => Series => SumOf_n^2.C++)#165..(Sum of n^2 in C++)
kindly check my code & review my PR

[2020-10-02 13:39] shreyrai99 opened #214 "Knapsack problem"
**Submission Title**
0-1 Knapsack problem

**Submission Type**
Algorithm

**Submission Description**
Given weights and values of n items, put these items in a knapsack of capacity W to get the maximum total value in the knapsack.

**Folder Related To**
Algorithms => Dynamic_Programming => 0-1 Knapsack Problem  =>knapsack_problem_0_1.cpp

**Submission Title**
Bubble Sort/AVL Graph/Vector

**Submiss

[2020-10-02 13:41] zahinekbal commented on #18
@Singh-Aishwarya Can i contribute in this issues In C++ STL...

[2020-10-02 13:42] amishaagarwal1998 commented on #170
@coding-sourabh I was thinking it would be better to merge programming books in one folder!

[2020-10-02 13:42] Samkit-shah commented on #214
Please assign it to me,i would like to contribute

[2020-10-02 13:47] ahampriyanshu commented on #214
Hi @Samkit-shah , please mention your preffered language.

[2020-10-02 13:48] Samkit-shah commented on #214
I have made the pr using C++
please review

[2020-10-02 13:49] jain13tushar commented on #136
Hi @Bihari420 and @ahampriyanshu,
Follow thing I want to add in you repo

 Radix sort using PHP

Thank you

[2020-10-02 13:51] firehawk23 commented on #205
Hi @ahampriyanshu. Assign this to me i would like to contribute in java.

[2020-10-02 13:53] Heisenberg-Vardan commented on #214
Can I implement this using python
@ahampriyanshu

[2020-10-02 13:55] Samkit-shah commented on #181
i would like to contribute for php

[2020-10-02 13:56] cuber485 commented on #118
I want to implement this algorithm in C. please assign it to me.

[2020-10-02 13:57] ankitgoel25 commented on #148
I would like to work on this in Python, please assign as the previously assigned removed their assignment

[2020-10-02 14:14] subhayuroy opened #221 "Sieve of Eratosthenes method"
**Submission Title**
Sieve of Eratosthenes

**Submission Type**
Algorithm/Data Structure/STL/Maths_And_Stats

**Submission Description**
This is the fastest method to find the number of Prime numbers to a certain limit.

**Folder Related To**
Maths_And_Stats => Algebra => Sieve of Eratosthenes => SieveOfEratosthenes.py

**Contributors**
- [x]  Python -
- [x]  C++ -
- [x]  C -
- [x] Java -
- [x] Ja

[2020-10-02 14:22] subhayuroy commented on #221
Thank you for assigning me!

[2020-10-02 14:29] LDiazN opened #225 "Kruskal implementation in Rust"
I would like to provide a Rust implementation for the Kruskal's MST algorithm. I would use the same structure i used in the C++ version.

[2020-10-02 14:34] ahampriyanshu commented on #225
Great @LDiazN , go ahead.

[2020-10-02 14:37] cuber485 commented on #113
i would like to implement this in JAVA.

[2020-10-02 14:40] sonuishaq67 commented on #159
Hi @LUCIFER-dev-king  i already did the c part

[2020-10-02 14:43] Sushantrimurti opened #229 "Merge Intervals"
**Submission Title**
Merge Intervals

**Submission Type**
Algorithm/Data Structures

**Submission Description**
Given a collection of intervals, merge all overlapping intervals.

**Folder Related To**
Main_Folder => Sub_Folder => ... => ... => Filename.extension

**Contributors**
- [x]  C++ -
- [ ]  C -
- [x]  Python -
- [x] Java -
- [x] JavaScript -

[2020-10-02 14:44] sathiyajith commented on #229
Let me work on this.

[2020-10-02 14:52] ShubhamNagure commented on #134
Please assign me this task

[2020-10-02 14:55] cuber485 commented on #85
@ahampriyanshu ,  I would like to implement this in JAVA.

[2020-10-02 14:59] satyamasthanaa commented on #90
I would like to contribute on this issue, please allow me work on this task to implement Insertion sort in Python

[2020-10-02 15:00] ashivamj2105 opened #232 "Anagram of two strings in java"
**Submission Title**
Anagram

**Submission Type**
Algorithm

**Submission Description**
Anagram of two strings

**Folder Related To**
Algorithm=> String_Algorithms=> anagram.java

**Contributors**
- [x]  C++ -
- [ ]  C -
- [x]  Python -
- [x] Java -
- [x] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [x] php -
- [ ] Swift -
- [x] C# -

[2020-10-02 15:00] ARYAMANSHIVAMJHA commented on #232
Assign me for this task please.

[2020-10-02 15:03] cuber485 commented on #214
@ahampriyanshu I would like to implement this using JAVA.

[2020-10-02 15:25] Nirali0029 commented on #232
Assign me this task for python

[2020-10-02 15:25] cuber485 commented on #177
Assign me, I would like to contribute in C

[2020-10-02 15:30] anubhav2005 commented on #143
I would like to work on this issue. I will use Java to solve this issue. can you please assign me with this issue? Thank you.

[2020-10-02 15:33] anubhav2005 commented on #136
I would like to work on this issue. I will use Java to solve this issue. can you please assign me with this issue? Thank you.

[2020-10-02 15:34] anubhav2005 commented on #106
I would like to work on this issue. I will use Java to solve this issue. can you please assign me with this issue? Thank you.

[2020-10-02 15:35] anubhav2005 commented on #108
I would like to work on this issue. I will use Java to solve this issue. can you please assign me with this issue? Thank you.

[2020-10-02 15:35] anubhav2005 commented on #110
I would like to work on this issue. I will use Java to solve this issue. can you please assign me with this issue? Thank you.

[2020-10-02 15:35] anubhav2005 commented on #121
I would like to work on this issue. I will use Java to solve this issue. can you please assign me with this issue? Thank you.

[2020-10-02 15:36] geoffgeorgein commented on #181
I shall work on python  to implement a short and precise code. Please assign me this.

[2020-10-02 15:38] mk1107 commented on #110
I would like to work on this issue. Please assign me. I can use c and python as per your convivence.

[2020-10-02 15:38] Nirali0029 commented on #165
Please assign this to me for  C#.

[2020-10-02 15:42] anantbharti30 commented on #232
Assign me for C++

[2020-10-02 15:49] ahampriyanshu opened #237 "Metadata through github's CDN"
![1](https://user-images.githubusercontent.com/54521023/94943081-d19a1700-04f4-11eb-81dc-b5bd1a3b9adb.png)
![2](https://user-images.githubusercontent.com/54521023/94943088-d363da80-04f4-11eb-80e5-444999c5fb42.png)
![3](https://user-images.githubusercontent.com/54521023/94943089-d3fc7100-04f4-11eb-92a4-51d6363a99b4.png)
![4](https://user-images.githubusercontent.com/54521023/94943091-d4950780-04f4-

[2020-10-02 15:54] juneadkhan commented on #188
Hi @ahampriyanshu looks like Java has already been completed. I can take Swift instead. Could you reassign please?

[2020-10-02 16:21] LUCIFER-dev-king commented on #188
@ahampriyanshu  Merge the PR.

[2020-10-02 16:25] LUCIFER-dev-king commented on #159
Ok I'll do java part.

[2020-10-02 16:27] ahampriyanshu commented on #188
Hi @juneadkhan , go ahead with swift

[2020-10-02 16:35] NunoAGoncalves commented on #104
I’d be happy to do a Fibonacci Search in Java.

[2020-10-02 16:36] NunoAGoncalves commented on #72
I can/have created a hash set with quadratic probing in Java. Not sure if that’s an appropriate solution to the issue, but if it is, I’d like to be assigned for this issue.

[2020-10-02 16:38] akshithsriram commented on #229
Hi @ahampriyanshu, I would like to work on it in C. Please assign it to me. Thank you!

[2020-10-02 16:43] ashish-garg18 commented on #232
Assign me this task for java and c language

[2020-10-02 16:48] ashish-garg18 commented on #232
Assign me this for c, c++, javascript, java

[2020-10-02 16:54] CormacKrum opened #243 "Trie Insertion && Trie Search"
**Submission Title**
Trie Insertion && Trie Search

**Submission Type**
Algorithm

**Submission Description**
Describe the Algo/DS/STL

**Folder Related To**
Algorithm => Search_Algorithm => Trei_Search => Filename.extension

**Contributors**
- [x]  C++ -
- [ ]  C -
- [ ]  Python -
- [x] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] php -
- [ ] Swift -
- [ ] C# -

[2020-10-02 16:55] ashish-garg18 commented on #151
I would like to work on  C, C++, Java. Can you assign it to me.

[2020-10-02 16:57] snape-here opened #245 "Add Code for LCS of 3 Strings"
**Submission Title**
LCS of 3 strings

**Submission Type**
Algorithms

**Submission Description**
DP algorithm. Find LCS of 3 strings

**Folder Related To**
Algorithms => Dynamic_Programmin

**Contributors**

- [x]  C++ -
- [ ]  C -
- [x]  Python -
- [x] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] php -
- [ ] Swift -
- [ ] C# -

[2020-10-02 17:02] CormacKrum commented on #245
Please Assign me for this Algo in Java

[2020-10-02 17:12] mk1107 commented on #101
I want to work on this in python or cpp language please assign me

[2020-10-02 17:13] OfiliPatrick commented on #232
Assign me this for python

[2020-10-02 17:14] mk1107 commented on #87
I want to work on this in python and cpp language please assign me

[2020-10-02 17:15] mk1107 commented on #84
I want to work on this in python, cpp, c language please assign me

[2020-10-02 17:15] lucasbivar commented on #84
Hey, I would like to contribute in C++. Can you assign me?

[2020-10-02 17:16] mk1107 commented on #83
I want to work on this in python, c, cpp language please assign me

[2020-10-02 17:16] OfiliPatrick commented on #82
Can I contribute to this in Python?

[2020-10-02 17:27] mk1107 commented on #136
I can solve this issue. I can solve this using Python, C, C++.
Can you assign me this issue?

[2020-10-02 17:37] taresh18 opened #250 "GCD"
**Submission Title**
GCD

**Submission Type**
Maths_And_Stats

**Submission Description**
Finding GCD of two numbers using Euclidean algirithm.

**Folder Related To**
Maths_And_Stats => Algorithms => GCD => GCD.cpp

**Contributors**
- [X]  C++ -
- [x]  C -
- [x]  Python -
- [x] Java -
- [x] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [x] php -
- [x] Swift -
- [x] C# -

[2020-10-02 17:37] AnshMishra2001 commented on #250
Pls assign

[2020-10-02 17:38] AnshMishra2001 commented on #250
this to me.

[2020-10-02 17:38] AnshMishra2001 commented on #250
I can code it in Java, Cpp and python.

[2020-10-02 17:45] CormacKrum commented on #250
Please Assign this to me in Java ,CPP Or Python

[2020-10-02 17:46] jaskirankaur51 commented on #232
Kindly assign me this task for PHP please

[2020-10-02 17:46] Nirali0029 commented on #250
Please assign this to me for python

[2020-10-02 17:48] Nirali0029 commented on #245
Please assign this to me for python

[2020-10-02 17:48] jaskirankaur51 commented on #250
Please assign this to me for C language

[2020-10-02 17:50] jaskirankaur51 commented on #214
Please assign me this issue for C language and JavaScript

[2020-10-02 17:54] ashish-garg18 commented on #250
Assign it to me for C, C++, python, Java

[2020-10-02 17:55] ashish-garg18 commented on #177
Assign it to me for Python

[2020-10-02 18:02] ashish-garg18 commented on #120
I would like to work on this in C, C++, Python, Java. Can you assign me for any of these languages.

[2020-10-02 18:10] ahampriyanshu commented on #250
@AnshMishra2001 go ahead with Java
@CormacKrum go ahead with CPP
@Nirali0029 go ahead with Python
@jaskirankaur51 go ahead with C
@ashish-garg18 please choose a different language/issue

[2020-10-02 18:10] Rituraj-commits opened #257 "Dijkstra's Algorithm"
**Submission Title**
Dijkstra's Algorithm

**Submission Type**
Algorithm/Graph_Algorithms/Dijkstra

**Submission Description**
Describe the Dijsktra's Algorithm to find the shortest path between two nodes in a graph

**Folder Related To**
Algorithm => Graph_Algorithm => Dijkstra => Dijkstra.cpp

**Contributors**
- [x]  C++ -
- [x]  C -
- [ ]  Python -
- [x] Java -
- [x] JavaScript -
- [ ] TypeScri

[2020-10-02 18:13] Rituraj-commits commented on #257
I want to work on this issue @ahampriyanshu

[2020-10-02 18:16] hadron43 commented on #257
I'll do it for java.

[2020-10-02 18:16] ShubhamJamuar commented on #257
I wish to work on this using C++

[2020-10-02 18:16] ahampriyanshu commented on #257
@Rituraj-commits please mention your preferred language

[2020-10-02 18:18] Srijan7777 commented on #257
I want to work on this using Javascript

[2020-10-02 18:18] AlxGration commented on #232
Assign me this task for С# pls)

[2020-10-02 18:20] Goyalscode commented on #39
Can i implement circular linked list in c ?

[2020-10-02 18:26] mk1107 commented on #110
I have added cpp code for Fibonacci Search program and optimized bubble sort please accept my PR

[2020-10-02 18:30] taresh18 opened #263 "PrimeFactorisation"
**Submission Title**
Prime Factorisation

**Submission Type**
Maths_And_Stats

**Submission Description**
Find all the prime factors of a given number efficiently.

**Folder Related To**
Maths_And_Stats => Algorithms => Prime_Factorization => PrimeFactorisation.cpp

**Contributors**

- [X]  C++ -
- [x]  C -
- [x]  Python -
- [x] Java -
- [x] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Rub

[2020-10-02 18:39] Vimlesh-Kumar commented on #263
Please assign this task to me in c @ahampriyanshu

[2020-10-02 18:39] Mr-Vaibhav-Shukla commented on #263
@ahampriyanshu Please assign me this task in Python

[2020-10-02 18:42] harshita130602 commented on #250
Hey! I would love to contribute to this repo. Can I add the code for it in C#

[2020-10-02 18:42] harshita130602 commented on #250
Please assign this issue to me.

[2020-10-02 18:42] ashish-garg18 commented on #250
Can go for javascript

[2020-10-02 18:44] harshita130602 commented on #250
So, can I start working for javascript with this?

[2020-10-02 18:47] jatin-773762 commented on #263
@ahampriyanshu Could you please assign this task to me in java

[2020-10-02 18:47] AnshMishra2001 commented on #263
Pls assign this to me in cpp

[2020-10-02 18:47] AnshMishra2001 commented on #257
I can do this in Python

[2020-10-02 18:48] ashish-garg18 commented on #250
No, i was asking @ahampriyanshu if i should go with javascript. Sorry for misunderstanding @harshita130602

[2020-10-02 18:50] Srijan7777 commented on #263
Can u assign this to me in JavaSript

[2020-10-02 18:52] Mr-Vaibhav-Shukla commented on #263
Hi @AnshMishra2001, Please opt a different language :smile:

[2020-10-02 18:54] pranjalkumar153 commented on #181
Excuse me sir, I am sorry I wont be able to complete the assigned task. Please assign it to some other contributor.

[2020-10-02 18:56] aanshi18 commented on #81
Can I work for the java code ?

[2020-10-02 19:12] ahampriyanshu commented on #76
Hi @ankur-kayal , you can proceed

[2020-10-02 19:16] sakshamsablok commented on #263
Hello @ahampriyanshu ,
Please assign this issue to me in C++.

[2020-10-02 19:17] harshita130602 commented on #157
Could you please assign this issue to me for C#. I would like to do that.

[2020-10-02 19:20] rohanBrid18 opened #278 "Factorial"
**Submission Title**
Bubble Sort/AVL Graph/Vector

**Submission Type**
Algorithm/Data Structure/STL/Maths_And_Stats

**Submission Description**
Describe the Algo/DS/STL

**Folder Related To**
Main_Folder => Sub_Folder => ... => ... => Filename.extension

**Contributors**

- [ ]  C++ -
- [ ]  C -
- [ ]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] ph

[2020-10-02 19:20] #278 closed

[2020-10-02 19:20] onkargagare commented on #243
Please assign me for Java implementation

[2020-10-02 19:21] Mr-Vaibhav-Shukla commented on #263
Hi @sakshamsablok , Please opt a different language/issue

[2020-10-02 19:26] rohanBrid18 opened #279 "Factorial"
**Submission Title**
Factorial

**Submission Type**
Maths_And_Stats

**Submission Description**
A recursive function to calculate the factorial of a number

**Folder Related To**
Maths_And_Stats => Algebra => Factorial => factorial.py

**Contributors**

- [x]  C++ -
- [x]  C -
- [x]  Python -
- [x] Java -
- [x] JavaScript -
- [x] TypeScript -
- [ ] Golang -
- [x] Ruby -
- [ ] php -
- [ ] Swift -
-

[2020-10-02 19:29] harshita130602 commented on #157
Hey! I have added the program to print the sum of N natural numbers. Please review my PR #280

[2020-10-02 19:33] adrikagupta commented on #279
Hey, I am interested in working on this. Can you assign it to me?

[2020-10-02 19:34] Mr-Vaibhav-Shukla commented on #279
Hi @adrikagupta, Please select a language.

[2020-10-02 19:37] adrikagupta commented on #279
I can do it in C, C++, Java, and Javascript. Do you want me to pick only one or is it fine if I do for all four of them? @Mr-Vaibhav-Shukla

[2020-10-02 19:38] harshita130602 commented on #279
Hey I have done it in C++. Can you review my PR  #283

[2020-10-02 19:38] harshita130602 commented on #279
@Mr-Vaibhav-Shukla I have done it in C++

[2020-10-02 19:42] Mr-Vaibhav-Shukla commented on #279
Great @adrikagupta, go ahead with C, Java, Javascript

[2020-10-02 19:43] ahampriyanshu commented on #279
Hi @harikesh409 , Please fill up the PR(#283) template correctly

[2020-10-02 19:46] KKghub commented on #229
let me work on the C++ version of it :)

[2020-10-02 19:51] harshita130602 commented on #279
I edited it now. I think it should be fine now. Please check :)

[2020-10-02 19:53] harshita130602 commented on #263
Hey! Can I do this in C# ? Please assign it to me

[2020-10-02 19:54] adrikagupta commented on #279
Yep. I am done with C. Now, I need to do Java and Javascript.

[2020-10-02 20:01] ahampriyanshu commented on #279
Hi @ShubhayanDas08 , please opt a different language.

[2020-10-02 20:04] ahampriyanshu commented on #279
#283 has been merged successfully

[2020-10-02 20:06] dipankargoswami commented on #250
Hi @taresh18 , I would like to do it in Swift

[2020-10-02 20:09] ahampriyanshu commented on #250
@harshita130602 go ahead with C#
@ashish-garg18 go ahead with JS
@dipankargoswami go ahead with Swift

[2020-10-02 20:19] adrikagupta commented on #279
Hey. After doing it in C, I went ahead and did it in Java and Javascript. Please review. Thank you for the opportunity:)

[2020-10-02 20:37] Esoiya commented on #177
@ahampriyanshu please assign it to me for python

[2020-10-02 20:39] Esoiya commented on #118
I would really like to implement this in Python. Please assign it to me @yogesh-kansal

[2020-10-02 20:39] Vimlesh-Kumar commented on #250
Please assign me in php

[2020-10-02 20:40] adrikagupta commented on #279
Hey. I have done this program in Ruby too. You can tick it in the list 👍

[2020-10-02 20:48] Mr-Vaibhav-Shukla commented on #75
Dear @sbhavya18 Kindly make a valid PR

[2020-10-02 20:52] sbhavya18 commented on #75
@Mr-Vaibhav-Shukla Thanks for pointing out. This is my first attempt in making pull request. Can u please tell me where did I go wrong.

[2020-10-02 20:56] xanaDev commented on #157
I'll be working on a Golang implementation, can you please assign it to me.

[2020-10-02 21:03] ahampriyanshu commented on #232
Hi @OfiliPatrick, please opt a different language/issue.

[2020-10-02 21:07] ahampriyanshu commented on #232
@ashish-garg18  go ahead with C, C++, JS and Java
@jaskirankaur51 go ahead with php

[2020-10-02 21:14] adrikagupta commented on #279
Hey! I have done this program in C# too. You can tick it in the list 👍

[2020-10-02 21:16] juneadkhan commented on #165
Hi @ahampriyanshu, could I do this in Swift?

[2020-10-02 21:24] dipankargoswami commented on #177
@ahampriyanshu , can I pick up swift please ?

[2020-10-02 21:53] ahampriyanshu commented on #136
@kaggrwal go ahead with java
@saiharsha-22 go ahead with cpp
@Mayukh-1999 go ahead with C
@hritik5102 go ahead with JS and ruby
@jain13tushar go ahead with php

[2020-10-02 21:54] ahampriyanshu commented on #136
@Nirali0029 @anubhav2005 @mk1107 Please opt a different language/issue

[2020-10-02 21:55] Vimlesh-Kumar opened #301 "LCM"
**Submission Title**
LCM

**Submission Type**
Maths_And_Stats

**Submission Description**
In arithmetic and number theory, the least common multiple, lowest common multiple, or smallest common multiple of two integers a and b, usually denoted by lcm(a, b), is the smallest positive integer that is divisible by both a and b.

**Folder Related To**
Maths_And_Stats => Algebra => LCM => Filename.extens

[2020-10-02 21:57] priya-pri commented on #301
Can I add in java?

[2020-10-02 22:25] priya-pri commented on #301
Please review my pull request for LCM.java

[2020-10-02 23:10] ahampriyanshu commented on #170
Done 👍🏽

[2020-10-02 23:10] #170 closed

[2020-10-02 23:14] ahampriyanshu opened #305 "Arthimetic Progression"
**Submission Title**
Arthimetic Progression

**Submission Type**
Maths_And_Stats

**Submission Description**
An arithmetic progression is a sequence of numbers such that the difference of any two successive members is a constant.

**Folder Related To**
Maths_And_Stats => Algebra => Arthimetic_Progression =>  Arthimetic Progression.extension

**Contributors**

- [x]  C++ -
- [ ]  C -
- [x]  Python

[2020-10-02 23:15] ahampriyanshu opened #306 "Sum_of_AP"
**Submission Title**
Sum_of_AP

**Submission Type**
Maths_And_Stats

**Submission Description**
An arithmetic progression is a sequence of numbers such that the difference of any two successive members is a constant.

**Folder Related To**
Maths_And_Stats => Algebra => Sum_of_AP =>  Sum_of_AP.extension

**Contributors**

- [x]  C++ -
- [ ]  C -
- [x]  Python -
- [x] Java -
- [ ] JavaScript -
- [ ]

[2020-10-02 23:17] ahampriyanshu opened #307 "Geometric Progression"
**Submission Title**
Geometric Progression

**Submission Type**
Maths_And_Stats

**Submission Description**
A geometric progression, also known as a geometric sequence, is a sequence of numbers where each term after the first is found by multiplying the previous one by a fixed, non-zero number called the common ratio.

**Folder Related To**
Maths_And_Stats => Algebra => Geometric_Progression  =>

[2020-10-02 23:18] ahampriyanshu opened #308 "Sum_of_GP"
**Submission Title**
Sum_of_GP

**Submission Type**
Maths_And_Stats

**Submission Description**
A geometric progression, also known as a geometric sequence, is a sequence of numbers where each term after the first is found by multiplying the previous one by a fixed, non-zero number called the common ratio.

**Folder Related To**
Maths_And_Stats => Algebra => Sum_of_GP  =>  Sum_of_GP.extension

**C

[2020-10-02 23:19] ahampriyanshu opened #309 "Sum_of_HP"
**Submission Title**
Sum_of_HP

**Submission Type**
Maths_And_Stats

**Submission Description**
A harmonic progression is a sequence of real numbers formed by taking the reciprocals of an arithmetic progression.

**Folder Related To**
Maths_And_Stats => Algebra => Sum_of_HP => Sum_of_HP.extension

**Contributors**

- [ ]  C++ -
- [ ]  C -
- [ ]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeS

[2020-10-02 23:22] ahampriyanshu opened #310 "Harmonic_Progression"
**Submission Title**
Harmonic_Progression

**Submission Type**
Maths_And_Stats

**Submission Description**
A harmonic progression is a sequence of real numbers formed by taking the reciprocals of an arithmetic progression.

**Folder Related To**
Maths_And_Stats => Algebra => Harmonic_Expression => Harmonic_Expression.extension

**Contributors**

- [ ]  C++ -
- [ ]  C -
- [x]  Python -
- [ ] Java -

[2020-10-02 23:24] ahampriyanshu opened #311 "Factorial_of_Large_Number"
**Submission Title**
Factorial_of_Large_Number

**Submission Type**
Maths_And_Stats

**Submission Description**
Factorial of a large number

**Folder Related To**
Maths_And_Stats => Algebra => Factorial_of_Large_Number => Factorial_of_Large_Number.extension

**Contributors**

- [x]  C++ -
- [ ]  C -
- [x]  Python -
- [ ] Java -
- [x] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [

[2020-10-02 23:33] ahampriyanshu opened #313 "Taylor Expansion"
**Submission Title**
Taylor Expansion

**Submission Type**
Maths_And_Stats

**Submission Description**
The so-called invertible matrix theorem is major result in linear algebra which associates the existence of a matrix inverse with a number of other equivalent properties.

**Folder Related To**
Maths_And_Stats => Algebra => Taylor _Expansion=> filename.extension

**Contributors**

- [x]  C++ -
-

[2020-10-02 23:35] ahampriyanshu opened #314 "Matrix_Multipication"
**Submission Title**
Matrix_Multipication

**Submission Type**
Matrix_Multipication

**Submission Description**
The so-called invertible matrix theorem is major result in linear algebra which associates the existence of a matrix inverse with a number of other equivalent properties.

**Folder Related To**
Maths_and_Stats => Algebra => Matrix_Multiplication => MatrixMultipication.extension

**Contri

[2020-10-03 00:02] CommitIt55 commented on #83
@ahampriyanshu I would like to add the implementation of this algorithm in java. Thanks!

[2020-10-03 00:09] atorr5555 commented on #232
Hi, can i do it in C? Or is there someone already doing it?

[2020-10-03 00:22] beccadaniel commented on #308
I'll like to take this issue up. Can I add in Java?

[2020-10-03 00:36] Mikadore commented on #311
Hello! From reading the `README` and `CONTRIBUTING` Files, I have gathered that the task at hand is to implement a program that reads from `stdin`, and in this case calculates the factorial of an arbitrarily sized (very large) number, is that correct? If that is so, I would like to implement it in C and C++.

[2020-10-03 00:46] Mikadore commented on #301
I would like to implement this in C++

[2020-10-03 00:50] parjanyaacoder commented on #311
I would like to implement it in Java.

[2020-10-03 02:05] idlanqmohaimin commented on #313
First timer here. Requesting to contribute in C. Thanks!

[2020-10-03 02:25] sidanand67 commented on #301
I can implement it in python

[2020-10-03 02:30] DanielVip3 commented on #305
Can I contribute to JavaScript and TypeScript Arithmetic Progressions?

[2020-10-03 02:34] Grasstown commented on #305
Can I contribute to the Java Arithmetic Progressions task?

[2020-10-03 02:36] firehawk23 commented on #307
@ahampriyanshu I want to implement this in python. so assign it to me.

[2020-10-03 02:42] yogeswarl commented on #301
I can do this in JS. could you assign this

[2020-10-03 03:11] SardulDhyani commented on #311
Hello, @ahampriyanshu I would like to work on JS.
Please assign Js issue to me.

[2020-10-03 03:35] krabhisharma commented on #314
Assign me I will do it matrix multiplication in java

[2020-10-03 03:39] SayaniG371 commented on #306
I would like to work on this in c++ and Python. Please assign me this !

[2020-10-03 03:39] potato874 commented on #301
I'd like to do this for Python please :)

[2020-10-03 03:41] LUCIFER-dev-king commented on #174
@ahampriyanshu looks like median for c++ is already finished.

[2020-10-03 03:42] atorr5555 commented on #311
I would like to do it in Python

[2020-10-03 03:47] Procoder16 commented on #306
@ahampriyanshu sir/madam, I would like to work on this ticket with JAVA and C++.

Can you please assign me this??

[2020-10-03 03:52] ShubhamJamuar commented on #308
I can do this in C++

[2020-10-03 03:54] ankurjain00 commented on #311
Hello @ahampriyanshu please assign Python issue to me

[2020-10-03 03:55] ankurjain00 commented on #314
hello @ahampriyanshu please assign python issue to me

[2020-10-03 04:05] jyotiGambhir commented on #308
Can I take this issue and add in Python?

[2020-10-03 04:06] ShubhamJamuar commented on #305
I can do it in C++

[2020-10-03 04:07] zerox029 commented on #177
I would like to work on the javascript version
Thank you

[2020-10-03 04:07] jyotiGambhir commented on #307
@ahampriyanshu Can yu assign it to me? I would like to code in CPP

[2020-10-03 04:12] jyotiGambhir commented on #229
Can I work on this issue? I would like to add in CPP.

[2020-10-03 04:26] prajwlr commented on #313
Hey @ahampriyanshu ! I'd love to contribute to this issue in c++. Please assign it to me

[2020-10-03 04:27] prajwlr commented on #309
Hey @ahampriyanshu ! I'd love to solve this issue. Please assign it to me

[2020-10-03 04:36] SravanthiKaki commented on #314
Can you please assign C issue to me?

[2020-10-03 04:55] Nirali0029 commented on #309
I would like to solve this in python

[2020-10-03 04:55] ahampriyanshu commented on #311
Hi @ankurjain00, Please opt a different language/issue 😄

[2020-10-03 04:57] ashish-garg18 commented on #250
#339 Added GCD file in Javascript

[2020-10-03 04:59] ashish-garg18 opened #341 "Added GCD file in Javascript"
#339

[2020-10-03 04:59] #341 closed

[2020-10-03 05:05] Nirali0029 commented on #310
Assign this to me for python

[2020-10-03 05:11] Nirali0029 commented on #305
I can do it in python

[2020-10-03 05:12] ashish-garg18 commented on #250
Added GCD in Javascript #339

[2020-10-03 05:17] prajwlr commented on #181
Hey @ahampriyanshu ! It seems from the comment above that @pranjalkumar153  will not be contributing in c++. Please assign it to me. I'll send a PR shortly.

[2020-10-03 05:27] ahampriyanshu commented on #301
Hi @sidanand67, please opt a different language/issue.

[2020-10-03 05:27] SardulDhyani commented on #311
Thanks @ahampriyanshu. 🙂

[2020-10-03 05:32] ahampriyanshu commented on #309
Hi @prajwlr, Please opt a differerent language/issue.

[2020-10-03 05:35] subham5230 commented on #314
Can you please assign the javascript issue to me?

[2020-10-03 05:35] sidanand67 commented on #301
Sure, No problem. I'll take a different issue.

[2020-10-03 05:36] cuber485 commented on #106
I want to work on it in C. Please assign it to me @ahampriyanshu

[2020-10-03 05:36] ahampriyanshu commented on #306
Hi @SayaniG371 go ahead with C++ and python
Hi @Procoder16 go ahead with Java

[2020-10-03 05:39] subham5230 commented on #313
Hey @ahampriyanshu , I am willing to work on this issue in python please assign it to me

[2020-10-03 05:43] subham5230 commented on #88
I can contribute to this issue in javascript, please assign me.

[2020-10-03 05:45] ahampriyanshu commented on #2
thanks @everyone :v:

[2020-10-03 05:45] #2 closed

[2020-10-03 05:48] ThomasBiede commented on #120
Can you asign me i want to do it in Go

[2020-10-03 05:53] ankur-kayal commented on #88
@ahampriyanshu Pull Request added 👍

[2020-10-03 05:54] Prash2002 commented on #306
hey @ahampriyanshu , I would like to do it using C, can you assign it to me?

[2020-10-03 05:55] AjinkyaSahu commented on #314
Can you please accept my pull request. I have completed matrix multiplication program with all 4 languages.

[2020-10-03 06:01] Procoder16 commented on #306
thank you @ahampriyanshu

[2020-10-03 06:02] #65 closed

[2020-10-03 06:04] DevanshiJain commented on #307
Hey, I would like to contribute the code in java. Could you assign it to me?

[2020-10-03 06:20] pulkitsapra commented on #306
hey @ahampriyanshu I would like to do in Scala ?

[2020-10-03 06:32] dipankargoswami commented on #309
Hi @ahampriyanshu , can I do it in swift ?

[2020-10-03 06:34] abhinav889 commented on #309
i would like to solve this in c# please assign it to me

[2020-10-03 06:37] abhinav889 commented on #308
i want to work on the c code

[2020-10-03 06:37] pulkitsapra commented on #306
I would like to do in Javascript & Golang ?

[2020-10-03 06:38] AlxGration commented on #307
hi, can u assign me for C# ?

[2020-10-03 06:41] beccadaniel commented on #232
Can I get assigned this for Swift?

[2020-10-03 06:44] Prodip-Kumar-Paul opened #356 "Target Sum"
**Submission Type**
Algorithm

**Description**
Find out the number of subset sum equal to the given sum

**Folder Related To**
Algorithm => Dynamic_Programming =>Target_Sum => Target_Sum.extension

**Contributors**

- [x]  C++ -
- [x]  C -
- [x]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] php -
- [ ] Swift -
- [x] C# -

[2020-10-03 06:45] Prodip-Kumar-Paul commented on #356
may I work on this issue ??

[2020-10-03 06:46] aditya1abhinav commented on #356
Java

[2020-10-03 06:47] aditya1abhinav commented on #356
How do you add labels? like C#, C++, etc.

[2020-10-03 06:53] aditya1abhinav commented on #356
Can anyone tell me how to add labels?

[2020-10-03 06:59] akaash11 commented on #311
Hey, I would like  to do in JavaScript

[2020-10-03 06:59] Mezrik commented on #83
Would love to do this in JS and TS. Assign it to me, please.

[2020-10-03 07:07] ahampriyanshu commented on #174
🤦🏽 You can opt a different language/issue.

[2020-10-03 07:08] SardulDhyani commented on #311
Hey, @akaash11 the JavaScript is already assigned to me.

[2020-10-03 07:11] akaash11 commented on #311
Ok. Will go for another one

[2020-10-03 07:12] akaash11 commented on #306
Hey can I do this one  in Javascript?

[2020-10-03 07:16] ahampriyanshu commented on #356
Sorry @aditya1abhinav only collaborators can add or remove labels 😄

[2020-10-03 07:21] akaash11 commented on #307
@ahampriyanshu I would like to work on Javascript

[2020-10-03 07:41] ahampriyanshu opened #365 "Bucket Sort"
**Submission Title**
Bucket Sort

**Submission Type**
Algorithm

**Submission Description**
Bucket Sort is a sorting algorithm that works by distributing the elements of an array into a number of buckets.

**Folder Related To**
Algorithms => Sorting_Algorithms => Bucket_Sort => BucketSort.py

**Contributors**

- [x]  C++ -
- [x]  C -
- [x]  Python -
- [x] Java -
- [ ] JavaScript -
- [ ] TypeScript

[2020-10-03 07:43] Vivek-Raman commented on #311
Hello, I would like to solve this in C#, if it's available!

[2020-10-03 07:58] utkarshgupta2504 commented on #356
Hi, I would like to work on this in Python

[2020-10-03 08:02] null-sys commented on #314
Please assign javascript implementation of Matrix multiplication to me.

[2020-10-03 08:04] GrishonNganga commented on #314
Could you please assign me the Typescript implementation as well?

[2020-10-03 08:11] cuber485 commented on #301
@ahampriyanshu  I can implement it in C.

[2020-10-03 08:11] dheerajvenugopal96 commented on #314
Please assign java issue to me

[2020-10-03 08:33] kaggrwal commented on #136
Done please merge https://github.com/ahampriyanshu/algo_ds_101/pull/370

[2020-10-03 08:37] Danish-Mahajan commented on #214
please assign me this for c languaage

[2020-10-03 08:38] dheerajvenugopal96 commented on #161
@ahampriyanshu  can i do this using Java

[2020-10-03 08:39] kaggrwal commented on #143
@ahampriyanshu Can you assign me to do it in Java or python

[2020-10-03 08:41] Vimlesh-Kumar commented on #306
Go with Golang only.

[2020-10-03 08:46] Mr-Vaibhav-Shukla commented on #365
Hi @ahampriyanshu , Please assign me this issue in C++.

[2020-10-03 08:47] Sanika1999 commented on #365
Hi @ahampriyanshu I can work on java?

[2020-10-03 08:56] ankurjain00 commented on #311
Hi @ahampriyanshu please assign TypeScript

[2020-10-03 09:00] AnshMishra2001 commented on #365
I can code this in ruby

[2020-10-03 09:01] AnshMishra2001 commented on #356
I can code in java

[2020-10-03 09:08] Mr-Vaibhav-Shukla commented on #74
Hi @ahampriyanshu , Please assign me this issue in C

[2020-10-03 09:14] jaskarans2000 commented on #356
Can I work on this in java?

[2020-10-03 09:18] jain13tushar commented on #136
Done please merge #372

[2020-10-03 09:18] pulkitsapra commented on #306
@ahampriyanshu There is no structured directory for this. Should i create one along with my code ?

[2020-10-03 09:20] jaskarans2000 commented on #309
I would love to solve this in java

[2020-10-03 09:24] jaskarans2000 commented on #151
I would like to do it in java

[2020-10-03 09:27] Mr-Vaibhav-Shukla commented on #79
Hi @ahampriyanshu Please assign me this issue in C++

[2020-10-03 09:32] geoffgeorgein commented on #151
I shall implement a short and precise code in python. Please assign this to me.

[2020-10-03 09:34] pulkitsapra commented on #306
Can you add me ass assignee

[2020-10-03 09:35] geoffgeorgein commented on #311
I shall do this in python. Please assign me this.

[2020-10-03 09:52] saurabh80521 commented on #86
@ahampriyanshu .can you assign this issue to me..i ll work on this in C.

[2020-10-03 10:08] dipankargoswami commented on #3
Hi @ahampriyanshu , could you please help removing or renaming one of the Javascript files for binary search.
There are two files with exactly same name (only difference is Case) and git not able to handle properly in Mac(and I think might be in Windows as well).
Thank you.

[2020-10-03 10:12] swas1820 commented on #365
Hi @ahampriyanshu , I can code this in PHP. Please assign this issue to me.

[2020-10-03 10:22] swas1820 commented on #279
Hi @ahampriyanshu , I can code this in PHP.

[2020-10-03 10:50] idlanqmohaimin commented on #313
May I know what function (f(x)) is being approximated with this expansion?

[2020-10-03 11:00] Vimlesh-Kumar opened #384 "Clock Angle"
**Submission Title**
Clock Angle

**Submission Type**
Maths_And_Stats

**Submission Description**
Clock angle problems relate two different measurements: angles and time. The angle is typically measured in degrees from the mark of number 12 clockwise. The time is usually based on a 12-hour clock. ... The hour hand of a normal 12-hour analogue clock turns 360° in 12 hours (720 minutes) or 0.5° per

[2020-10-03 11:29] Vimlesh-Kumar opened #389 "Distance Formula"
**Submission Title**
Distance Formula

**Submission Type**
Maths_And_Stats

**Submission Description**
The Distance Formula is a variant of the Pythagorean Theorem
Given the two points (x1, y1) and (x2, y2), the distance d between these points is given by the formula:
d=√((x_2-x_1)²+(y_2-y_1)²)

**Folder Related To**
Maths_And_Stats/Geometry => Distance_Formula => Filename.extension

**Contributor

[2020-10-03 11:30] chinmaym07 commented on #307
Hi @ahampriyanshu . I would like to work on Java. can you assign it to me.?

[2020-10-03 11:31] Danish-Mahajan commented on #108
i would like to work on this issue ,using c++

[2020-10-03 11:32] Diadochokinetic commented on #389
I would like to be assigned to the Python version :)

[2020-10-03 11:33] chinmaym07 commented on #309
I would like to solve in c. Please assign it to me

[2020-10-03 11:34] lucid-dreem commented on #389
Hey, could I be assigned the C++ version?

[2020-10-03 11:36] chinmaym07 commented on #356
I can work on this in C . Please assign it to me

[2020-10-03 11:37] chinmaym07 commented on #221
I can do it in C++ . Can you assign it to me

[2020-10-03 11:38] Vivek-Raman commented on #389
I'd like to be assigned C# version for this issue!

[2020-10-03 11:38] ahampriyanshu opened #391 "Leibniz Formula"
**Submission Title**
 Leibniz Formula

**Submission Type**
Maths_And_Stats

**Submission Description**
The Leibniz formula expresses the derivative on nth order of the product of two functions. Suppose that the functions u(x) and v(x) have the derivatives up to nth order. The first derivative is described by the well known formula: (uv)′=u′v+uv′.

**Folder Related To**
Maths_And_Stats => Calculus

[2020-10-03 11:39] chinmaym07 commented on #232
Hi can i do it in Javascript.?

[2020-10-03 11:39] parth93QA commented on #389
please assign me the golang version

[2020-10-03 11:40] ahampriyanshu opened #392 "Riemann Sum"
**Submission Title**
Riemann Sum

**Submission Type**
Maths_And_Stats

**Submission Description**
Riemann Sum is a certain kind of approximation of an integral by a finite sum. The sum is calculated by partitioning the region into shapes (rectangles, trapezoids, parabolas, or cubics) that together form a region that is similar to the region being measured, then calculating the area for each of the

[2020-10-03 11:42] ahampriyanshu opened #393 "Euler_Approximation"
**Submission Title**
Euler_Approximation

**Submission Type**
Maths_And_Stats

**Submission Description**
Euler_Approximation method is a first-order numerical procedure for solving ordinary differential equations with a given initial value.

**Folder Related To**
Maths_And_Stats => Calculus =>  Euler_Approximation =>  Euler_Approximation.extension

**Contributors**

- [x]  C++ -
- [x]  C -
- [x]

[2020-10-03 11:43] ahampriyanshu opened #395 "Runge–Kutta_Method"
**Submission Title**
Runge–Kutta_Method

**Submission Type**
Maths_And_Stats

**Submission Description**
Runge–Kutta methods are a family of implicit and explicit iterative methods, which include the well-known routine called the Euler Method

**Folder Related To**
Maths_And_Stats => Calculus =>  Runge–Kutta_Method =>  Runge–Kutta_Method.extension

**Contributors**

- [x]  C++ -
- [ ]  C -
- [x]

[2020-10-03 11:44] Vimlesh-Kumar opened #396 "Manhattan distances"
**Submission Title**
Manhattan distances

**Submission Type**
Maths_And_Stats

**Submission Description**
The distance between two points measured along axes at right angles. In a plane with p1 at (x1, y1) and p2 at (x2, y2), it is |x1 - x2| + |y1 - y2|.

**Folder Related To**
Maths_And_Stats => Geometry => Manhattan_Distance => Filename.extension

**Contributors**

- [x]  C++ -
- [ ]  C -
- [ ]

[2020-10-03 11:46] ahampriyanshu opened #398 "Ackermann_Peter"
**Submission Title**
Ackermann_Peter

**Submission Type**
Maths_And_Stats

**Submission Description**
 It is one of the simplest and earliest-discovered examples of a total computable function that is not primitive recursive.

**Folder Related To**
Maths_And_Stats => Discrete =>  Ackermann_Peter =>  Ackermann_Peter.extension

**Contributors**

- [ ]  C++ -
- [ ]  C -
- [x]  Python -
- [ ] Java -
-

[2020-10-03 11:49] ahampriyanshu opened #399 "Exponential_Smoothing"
**Submission Title**
Exponential_Smoothing

**Submission Type**
Maths_And_Stats

**Submission Description**
Exponential smoothing is a rule of thumb technique for smoothing time series data using the exponential window function.

**Folder Related To**
Maths_And_Stats => Statistics =>  Exponential_Smoothing =>  Exponential_Smoothing.extension

**Contributors**

- [ ]  C++ -
- [ ]  C -
- [ ]  Python

[2020-10-03 11:50] ahampriyanshu opened #401 "Confidence_Interval"
**Submission Title**
Confidence_Interval

**Submission Type**
Maths_And_Stats

**Submission Description**
In statistics, a confidence interval is a type of estimate computed from the statistics of the observed data. This proposes a range of plausible values for an unknown parameter.

**Folder Related To**
Maths_And_Stats => Statistics =>  Confidence_Interval => Confidence_Interval.extension

**Con

[2020-10-03 11:51] ahampriyanshu opened #402 "Logistic_Function"
**Submission Title**
Logistic_Function

**Submission Type**
Maths_And_Stats

**Submission Description**
A logistic function or logistic curve is a common S-shaped curve (sigmoid curve) with equation. where = the value of the sigmoid's midpoint, = the curve's maximum value, = the logistic growth rate or steepness of the curve.

**Folder Related To**
Maths_And_Stats => Statistics => Logistic_Functio

[2020-10-03 11:53] julianasinai commented on #398
Hi, I would like to solve this in python

[2020-10-03 11:54] ahampriyanshu opened #404 "Polar_Cartesian_Conversion"
**Submission Title**
Polar_Cartesian_Conversion

**Submission Type**
Maths_And_Stats

**Submission Description**
Converting Polar Coordinates to Cartesian

**Folder Related To**
Maths_And_Stats => Geometry => Polar_Cartesian_Conversion => Polar_Cartesian_Conversion.extension

**Contributors**

- [x]  C++ -
- [ ]  C -
- [x]  Python -
- [x] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [x] Golang -

[2020-10-03 11:55] Vimlesh-Kumar opened #405 "N Dimensional Distance"
**Submission Title**
N_Dimensional_Distance

**Submission Type**
Maths_And_Stats

**Submission Description**
In mathematics, the Euclidean distance or Euclidean metric is the "ordinary" straight-line distance between two points in Euclidean space. With this distance, Euclidean space becomes a metric space. The associated norm is called the Euclidean norm. Older literature refers to the metric as t

[2020-10-03 11:55] ahampriyanshu opened #406 "Radians_Degrees_Conversion"
**Submission Title**
Radians_Degrees_Conversion

**Submission Type**
Maths_And_Stats

**Submission Description**
Radians  <=> Degrees

**Folder Related To**
Maths_And_Stats => Geometry => Radians_Degrees_Conversion => Radians_Degrees_Conversion.extension

**Contributors**

- [x]  C++ -
- [ ]  C -
- [x]  Python -
- [ ] Java -
- [x] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] p

[2020-10-03 11:57] ahampriyanshu opened #407 "Scalar_Product"
**Submission Title**
Scalar_Product

**Submission Type**
Maths_And_Stats

**Submission Description**
Scalar product is an algebraic operation that takes two equal-length sequences of numbers (usually coordinate vectors), and returns a single number.

**Folder Related To**
Maths_And_Stats => Geometry => Scalar_Product => Scalar_Product.extension

**Contributors**

- [x]  C++ -
- [x]  C -
- [x]  Pyt

[2020-10-03 11:58] ahampriyanshu opened #408 "Vector_Product"
**Submission Title**
Vector_Product

**Submission Type**
Maths_And_Stats

**Submission Description**
Cross product or Vector product is a binary operation on two vectors in three-dimensional space

**Folder Related To**
Maths_And_Stats => Geometry => Vector_Product => Vector_Product.extension

**Contributors**

- [x]  C++ -
- [x]  C -
- [x]  Python -
- [x] Java -
- [x] JavaScript -
- [ ] TypeScrip

[2020-10-03 11:59] verma-pulkit commented on #408
Assign CPP program to me.

[2020-10-03 12:00] Diadochokinetic commented on #408
I'd like to do the python version :)

[2020-10-03 12:01] Diadochokinetic commented on #407
I'd like to do the python version :)

[2020-10-03 12:01] Vimlesh-Kumar opened #410 "Polar_Cartesian_Conversion"
**Submission Title**
Polar_Cartesian_Conversion

**Submission Type**
Maths_And_Stats

**Submission Description**
The polar coordinates r and φ can be converted to the Cartesian coordinates x and y by using the trigonometric functions sine and cosine:

**Folder Related To**
Maths_And_Stats => Geometry => Polar_Cartesian_Conversion => Filename.extension

**Contributors**

- [ ]  C++ -
- [ ]  C -
- [

[2020-10-03 12:04] ahampriyanshu commented on #410
Duplicate ⚠️

[2020-10-03 12:04] #410 closed

[2020-10-03 12:06] Vimlesh-Kumar opened #413 "Pythagorean_theorem"
**Submission Title**
Pythagorean_theorem

**Submission Type**
Maths_And_Stats

**Submission Description**
For a right triangle with legs a and b and hypotenuse c,
a^2 + b^2 = c^2

**Folder Related To**
Maths_And_Stats => Geometry => Pythagorean_theorem => Filename.extension

**Contributors**

- [ ]  C++ -
- [ ]  C -
- [ ]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -

[2020-10-03 12:07] utkarshgupta2504 commented on #413
I would like to work on this in C++

[2020-10-03 12:08] deepdhar commented on #396
@Vimlesh-Kumar I would like to add the code in CPP

[2020-10-03 12:11] KamalSagar opened #415 "Selection sort"
**Submission Title**
Selection sort

**Submission Type**
Algorithm

**Submission Description**
Describe the Algo

**Folder Related To**
algo_ds_101=> Algorithms => Selection_Algorithms => Selection_Sort.py

**Contributors**

- [x] Golang -
- [ ] Ruby -
- [ ] php -
- [ ] Swift -
- [x] C# -

[2020-10-03 12:11] Parth-Gupta10 commented on #406
i will do it in c++

[2020-10-03 12:11] utkarshgupta2504 commented on #406
I would like to do this in Python

[2020-10-03 12:16] itIsBrando commented on #393
I can do it in Java

[2020-10-03 12:16] itIsBrando commented on #393
I can do it in Java

[2020-10-03 12:19] KamalSagar commented on #120
Can you assign me I want to program this in c language

[2020-10-03 12:28] VarunV991 commented on #413
I would like to work on this in Java

[2020-10-03 12:33] dheerajodha commented on #229
Hey! Can I work on this issue? I'd love to contribute code in Java.

[2020-10-03 12:34] SOURAB-BAPPA commented on #415
i want to work in this issue
and in which programming language do you want?

[2020-10-03 12:39] tintindas commented on #406
I would like to do this in js

[2020-10-03 12:45] SOURAB-BAPPA commented on #395
i want to solve
in which programming language do you want?

[2020-10-03 12:46] SUJATA19-could commented on #365
hey! can I do this in C#

[2020-10-03 12:50] cdefga commented on #405
i'll do python version

[2020-10-03 12:51] subham5230 commented on #413
I would be interested to work on this in python, please assign this to me

[2020-10-03 12:53] subham5230 commented on #396
I would like to contribute to this issue in python please assign me

[2020-10-03 12:53] SUJATA19-could commented on #415
i want to work in this issue in c

[2020-10-03 12:54] SOURAB-BAPPA commented on #415
i would like to work in c#, go, c++, python, java, c, R

[2020-10-03 12:55] SOURAB-BAPPA commented on #395
i would like to work in c#, go, c++, python, java, c, R

[2020-10-03 12:56] SalmonKing72 commented on #174
I would like to contribute to this in Ruby.

[2020-10-03 12:56] SOURAB-BAPPA commented on #393
i would like to work in c#, go, c++, python, java, c, R

[2020-10-03 13:06] Sayantan-Bhowmick commented on #398
Hi, I would like to solve this in C++

[2020-10-03 13:07] deepdhar commented on #407
@ahampriyanshu I would like to do this in CPP

[2020-10-03 13:07] atorr5555 commented on #407
I would like to do this in Java

[2020-10-03 13:08] Pacifier25 commented on #90
can i do this in c++

[2020-10-03 13:12] lucid-dreem commented on #389
Hey, this is my first contribution to this repository, could anyone help me out and let me know why it didn't pass the checks?

[2020-10-03 13:27] amansaxena1 commented on #389
I would like to be assigned to the java version

[2020-10-03 13:30] Diadochokinetic commented on #389
I'm not sure, but maybe you have to name the file exactly like the directory name. So upper case letters.

[2020-10-03 13:32] mariothedog commented on #396
I would like to complete this issue for JavaScript.

[2020-10-03 13:42] hritik5102 commented on #136
Hello @ahampriyanshu , please check PR #436

File added
- [x] Algorithm => Sorting_Algorithms => Radix_Sort => Radix_Sort.js
- [x] Algorithm => Sorting_Algorithms => Radix_Sort => Radix_Sort.rb

[2020-10-03 13:47] EnzoRobaina commented on #408
I'd like to contribute with the javascript version.

[2020-10-03 13:49] devanshOrz commented on #407
@ahampriyanshu can you assign me this task in C

[2020-10-03 13:50] devanshOrz commented on #408
@ahampriyanshu  please assign me this task in C

[2020-10-03 13:55] TheOldTravellerNetwork commented on #396
I would like to do this in Java!

[2020-10-03 14:01] ahampriyanshu commented on #415
@SUJATA19-could go ahead with C
@SOURAB-BAPPA go ahead with  go and R

[2020-10-03 14:03] firehawk23 commented on #310
Assign this to me for cpp

[2020-10-03 14:12] EnzoRobaina commented on #407
I'd like to contribute with the javascript version.

[2020-10-03 14:15] Nirali0029 commented on #310
I have created a pull request for python

[2020-10-03 14:15] sachin-611 commented on #415
I would like to work on this issue in c++ and python

[2020-10-03 14:15] DanielVip3 commented on #408
I'd like to do the JavaScript version.

[2020-10-03 14:22] julianasinai commented on #404
I will do it in python

[2020-10-03 14:23] pavnesh2019 commented on #389
i would like to do this in c

[2020-10-03 14:28] M4rkoHR commented on #406
I would like to do it in C.

[2020-10-03 14:34] KN027 opened #449 "Palindrome"
Palindrome

Algorithm

To check whether the entered string is palindrome or not.

Algorithms=> String_Algorithms => Palindrome.c

KN

- [x]  C++ -
- [x]  C -
- [ ]  Python -
- [x] Java -
- [x] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] php -
- [ ] Swift -
- [x] C# -

[2020-10-03 14:35] zerox029 commented on #449
Please assign me Js and Java

[2020-10-03 14:41] Vimlesh-Kumar opened #451 "Modular_Exponentiation"
**Submission Title**
Modular_Exponentiation

**Submission Type**
Maths_And_Stats

**Submission Description**
The operation of modular exponentiation calculates the remainder when an integer b (the base) raised to the eth power (the exponent), be, is divided by a positive integer m (the modulus). In symbols, given base b, exponent e, and modulus m, the modular exponentiation c is: c = be mod m.

**

[2020-10-03 14:42] Harshalszz commented on #365
Hey! can I work on this in C language

[2020-10-03 14:42] EnzoRobaina commented on #406
I'd like to contribute with the Java version.

[2020-10-03 14:44] Vimlesh-Kumar commented on #449
Please Assign me in c++ @ahampriyanshu @Mr-Vaibhav-Shukla

[2020-10-03 14:44] Ace117MC commented on #449
please assign me this c++

[2020-10-03 14:51] jayaganeshkumar commented on #451
@Vimlesh-Kumar  can you assign me this? I will do it

[2020-10-03 14:51] Dutta-SD commented on #451
Hi
I would like to commit code in Python

[2020-10-03 14:51] Vimlesh-Kumar opened #454 "Relative_Primes"
**Submission Title**
Relative_Primes

**Submission Type**
Maths_And_Stats

**Submission Description**
In number theory, two integers a and b are said to be relatively prime, mutually prime, or coprime if the only positive integer that divides both of them is 1. Consequently, any prime number that divides one of a or b does not divide the other. This is equivalent to their greatest common divisor b

[2020-10-03 14:54] Mr-Vaibhav-Shukla commented on #451
Hi @jayaganeshkumar Please opt a language

[2020-10-03 14:54] ahampriyanshu commented on #307
Hi @ahampriyanshu , please opt a different language/issue. :smiley:

[2020-10-03 14:55] preeti-1999 commented on #454
I will like to do it in c++

[2020-10-03 14:57] jayaganeshkumar commented on #451
@Mr-Vaibhav-Shukla  C, C++ and Java

[2020-10-03 14:58] Harshalszz commented on #454
Hey! I can do it in C language.

[2020-10-03 15:00] jayaganeshkumar commented on #451
@Mr-Vaibhav-Shukla can you please re-assign me

[2020-10-03 15:03] subhadeep1912 commented on #449
please assign me for c# thank you

[2020-10-03 15:03] Dheeraj-01 commented on #454
I would like to do it in java😊

[2020-10-03 15:04] ahampriyanshu commented on #84
Hi @mk1107, go ahead with C and Python
Hi @lucasbivar, go ahead with C++

[2020-10-03 15:05] alkatrivedi commented on #405
I would like to implement in C++. May I?

[2020-10-03 15:07] alkatrivedi commented on #221
I would like to implement in C.

[2020-10-03 15:09] mariothedog opened #455 "Typos and inconsistencies in CONTRIBUTING.md"
- "Contributung" should be "Contributing"
- Some bullet points end with a period while others don't
- "alogorithms" should be "algorithms"
- "preferbly" should be "preferably"

[2020-10-03 15:12] shaunak56 commented on #454
Please assign me in python

[2020-10-03 15:13] ahampriyanshu commented on #82
@shivamkumar123 go ahead with C++
@OfiliPatrick go ahead with Python

[2020-10-03 15:18] ahampriyanshu commented on #80
thanks @jyotiGambhir and @adite39 :v:

[2020-10-03 15:18] #80 closed

[2020-10-03 15:19] ahampriyanshu commented on #79
thanks @Mr-Vaibhav-Shukla :v:

[2020-10-03 15:19] #79 closed

[2020-10-03 15:20] ahampriyanshu commented on #78
thanks @hnishal and @anshupatel06 :v:

[2020-10-03 15:20] #78 closed

[2020-10-03 15:20] ahampriyanshu commented on #77
thanks @souvickroy02 :v:

[2020-10-03 15:20] #77 closed

[2020-10-03 15:21] mariothedog commented on #455
I couldn't find an appropriate issue template so please correct me if need be.

[2020-10-03 15:21] #76 closed

[2020-10-03 15:27] #455 closed

[2020-10-03 15:29] saurabh80521 commented on #391
@ahampriyanshu ..can you assign this to me..i wanna work on this in cpp..

[2020-10-03 15:34] ahampriyanshu opened #470 "Vector(STL)"
**Submission Title**
Vector

**Submission Type**
STL

**Submission Description**
Vector is a template class in STL (Standard Template Library) of C++ programming language.

**Contributors**
- [x]  C++ -

[2020-10-03 15:36] pulkitsapra commented on #404
Please assign me for Golang.

[2020-10-03 15:37] KalyanKumar-4 commented on #470
can u assign me, i want to work on this

[2020-10-03 15:38] mk1107 commented on #84
I have added c and python file please accept mu PR

[2020-10-03 15:39] Hashrin commented on #221
I can implement it in Java and C#. Can you please assign those languages to me?

[2020-10-03 15:40] TomWia9 commented on #120
Hi! Can you assign me? I want to program this in C# language

[2020-10-03 15:41] SriCoD commented on #365
heya, i can code this on kotlin

[2020-10-03 15:42] reyadkhan commented on #311
Hi, I would like to solve it in PHP

[2020-10-03 15:43] prajwlr commented on #470
Can you please explain what exactly do we have to do?

[2020-10-03 15:43] junyongxlee commented on #449
Can you assign me for python?

[2020-10-03 15:43] Hashrin commented on #413
Please assign the C# version to me.

[2020-10-03 15:45] Mr-Vaibhav-Shukla commented on #393
Great @SOURAB-BAPPA , go ahead in all except java

[2020-10-03 15:46] junyongxlee commented on #413
Can you assign javascript to me?

[2020-10-03 15:47] junyongxlee commented on #389
Can I be assigned for Java?

[2020-10-03 15:47] ahampriyanshu commented on #470
Demonstrate initialization and various method functions of Vector

[2020-10-03 15:49] ahampriyanshu commented on #74
thanks @GhostUser and @Mr-Vaibhav-Shukla :v:

[2020-10-03 15:49] #74 closed

[2020-10-03 15:49] junyongxlee commented on #384
Can I be assigned the Java Version?

[2020-10-03 15:50] ahampriyanshu opened #475 "Stacks"
**Submission Title**
Stacks

**Submission Type**
DS

**Submission Description**
 A stack is an abstract data structure that contains a collection of elements. Stack implements the LIFO mechanism.

**Contributors**
- [x] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] Scala -
- [ ] C# -
- [ ] Swift -

[2020-10-03 15:52] Vivek-Raman commented on #392
I'd like to try this in C#. Also, shouldn't this be under Calculus?

[2020-10-03 15:55] ahampriyanshu commented on #475
Hi @everyone :wave: ,
``C++`` ,`` C`` , ``Python`` , ``Java`` versions of this algo have been already implemented .

[2020-10-03 15:56] XoMute commented on #404
Please check my PR, thanks

[2020-10-03 15:58] Procoder16 opened #479 "Unable to Clone this github repository"
**Describe the bug**
I am unable to clone this repository because of some folder naming issue in your remote github repository.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
No errors. It should have been cloned successfully

**Screenshots**
Attached below

![image](https://user-images.githubusercontent.com/71066110/94995907-fce93880-05be-11eb-8196-7084b4e65f0c.p

[2020-10-03 16:02] jayaganeshkumar commented on #451
@Mr-Vaibhav-Shukla  done with my tasks. Can you check them out?

[2020-10-03 16:02] Vaibhav7860 commented on #257
@ahampriyanshu  Sir I want to implement Dijkstra's Algorithm in Python. Please assign this issue to me.

[2020-10-03 16:05] Calm-23 commented on #404
Hello, I would like to add the code for this problem in CPP.

[2020-10-03 16:09] ahampriyanshu commented on #479
Thanks @Procoder16 :heart:
The issue has been resolved
Thanks again

[2020-10-03 16:11] Vortex2wenty commented on #475
Hey, I would like to work on this issue. Thanks.

[2020-10-03 16:14] Mr-Vaibhav-Shukla commented on #475
Hi @Vortex2wenty, please opt a language.

[2020-10-03 16:15] Dutta-SD commented on #451
@Mr-Vaibhav-Shukla
I have created a PR regarding my tasks. Do see them.

[2020-10-03 16:15] shaunak56 commented on #402
Can you please assign me C++ and Python? Thank you

[2020-10-03 16:16] #479 closed

[2020-10-03 16:19] shaunak56 commented on #402
What is the expected output? can you describe a little bit, as the variables are no visible in the issue

[2020-10-03 16:19] swas1820 commented on #449
Hi @ahampriyanshu Can you assign me for php?

[2020-10-03 16:22] Procoder16 commented on #479
This issue was figured out by @Bravo68Web .

[2020-10-03 16:22] shaunak56 commented on #72
Do we have to demonstrate the Map/Hash/Dict functionality?

[2020-10-03 16:26] MonarchChakri commented on #475
Created a PR https://github.com/ahampriyanshu/algo_ds_101/pull/486.
Please review and merge.

[2020-10-03 16:27] devanshOrz commented on #396
@ahampriyanshu i would like to do this in C

[2020-10-03 16:28] xanaDev commented on #384
I'd like to work on the Golang implementation, can you assign me ?

[2020-10-03 16:33] ahampriyanshu commented on #75
Hi @sbhavya18 :wave:  , it looks like you are creating a PR within the different branches of your  forked repo.
Kindy create a PR from your forked repo to the master branch my repo.
See the new ``README.md`` for more clarification:v:

[2020-10-03 16:34] #75 closed

[2020-10-03 16:35] ahampriyanshu opened #489 "AVL Tree"
**Submission Title**
AVL Tree

**Submission Type**
DS

**Submission Description**
AVL tree is a self-balancing Binary Search Tree where the difference between heights of left and right subtrees cannot be more than one for all nodes.

**Folder Related To**
Data_Structures => Tree => AVL_Tree => Filename.extension

**Contributors**

- [ ]  C++ -
- [x]  C -
- [x]  Python -
- [x] Java -
- [ ] JavaScri

[2020-10-03 16:37] Jayanth19524 commented on #489
I would like to work on this

[2020-10-03 16:39] verma-pulkit commented on #489
I can do the CPP version of this.

[2020-10-03 16:43] verma-pulkit commented on #405
I can do this for cpp. Can I be assigned.

[2020-10-03 16:45] adrputra commented on #389
I would like to be assigned for php version

[2020-10-03 16:51] ahampriyanshu commented on #479
Convey my regards to @BRAVO68WEB:v:

[2020-10-03 16:58] meteoritenhagel commented on #405
I'd like to do the C implementation.

[2020-10-03 16:58] ahampriyanshu commented on #489
Hi @Jayanth19524 , please mention your preffered language:v:

[2020-10-03 17:00] LuisFerTR commented on #454
I would like to do it in Golang

[2020-10-03 17:04] ahampriyanshu commented on #73
thanks @ankitgoel25, @chiragjagad and @ssarkar786 :v:

[2020-10-03 17:04] #73 closed

[2020-10-03 17:05] sbhavya18 commented on #489
Please assign me this. I will work on C++.

[2020-10-03 17:06] ahampriyanshu opened #494 "Queue"
**Submission Title**
Queue

**Submission Type**
DS

**Submission Description**
A queue is an abstract data structure that contains a collection of elements. Queue implements the FIFO mechanism

**Folder Related To**
Data_Structures => Queue =>  Filename.extension

**Contributors**

- [x] Java -
- [x] JavaScript -
- [ ] TypeScript -
- [x] Golang -
- [x] Ruby -
- [x] php -
- [x] Swift -
- [x] C# -

[2020-10-03 17:07] ahampriyanshu commented on #494
Hi @everyone :wave: ,
``C++`` ,`` C`` , ``Python`` versions of this algo have been already implemented .

[2020-10-03 17:07] sbhavya18 commented on #243
I can implement this in C. Kindly assign me.

[2020-10-03 17:12] ahampriyanshu commented on #72
yup @shaunak56 ,initialization and method funtions

[2020-10-03 17:14] ahampriyanshu commented on #71
thanks @Shyamashrita and @harshita-sharma11 :v:

[2020-10-03 17:14] #71 closed

[2020-10-03 17:15] ahampriyanshu commented on #41
thanks @GGolfz :v:

[2020-10-03 17:15] #41 closed

[2020-10-03 17:16] krishnmohan19 commented on #454
HEY @Vimlesh-Kumar .
i would like to do this in javascript. please assign it to me.

[2020-10-03 17:20] NishthaThakural commented on #470
Hi, could you please assign it to me? I would like to work on this.

[2020-10-03 17:21] ahampriyanshu commented on #489
hi @sbhavya18 please opt a different language/issue

[2020-10-03 17:22] BabesGotByte commented on #301
Hey!! I would like to do this in C++

[2020-10-03 17:22] ahampriyanshu opened #498 "Binary Search Tree"
**Submission Title**
Binary Search Tree

**Submission Type**
Data Structure

**Submission Description**
A binary search tree, also called an ordered or sorted binary tree, is a rooted binary tree whose internal nodes each store a key greater than all the keys in the node's left subtree and less than those in its right subtree.

**Folder Related To**
Data_Structures => Tree => Binary_Search_Tree =>

[2020-10-03 17:23] ahampriyanshu commented on #498
Hi @everyone :wave: ,
`` Java`` , ``Python`` versions of this algo have been already implemented .

[2020-10-03 17:26] ahampriyanshu commented on #39
Hi @Goyalscode, Please refer #

[2020-10-03 17:27] ahampriyanshu commented on #39
Thanks @Pandiurex , @GGolfz  , @shubham2704 and @joyeta148 :v:

[2020-10-03 17:27] #39 closed

[2020-10-03 17:30] ahampriyanshu opened #502 "Circular Linked List"
**Submission Title**
Circular Linked List

**Submission Type**
Data Structure

**Submission Description**
Circular Linked List is a variation of Linked list in which the first element points to the last element and the last element points to the first element. Both Singly Linked List and Doubly Linked List can be made into a circular linked list.

**Folder Related To**
Data_Structures => Linked_Li

[2020-10-03 17:30] markandevansh99 commented on #498
Please Assign me the C++ implementation of the same. I would like to contribute.

[2020-10-03 17:31] webmidas commented on #498
Please assign me for php version

[2020-10-03 17:31] BabesGotByte commented on #301
Please review my pull request #500

[2020-10-03 17:31] ahampriyanshu commented on #502
Hi @everyone :wave: ,
``C++`` ,`` Java`` ,`` JS`` , ``Python`` versions of this algo have been already implemented .

[2020-10-03 17:36] shaunak56 commented on #498
Assign me C. I would like to contribute. Thank you

[2020-10-03 17:40] meghna25 commented on #502
Hey @ahampriyanshu I'd like to add Circular Linked List implemented in C.

[2020-10-03 17:44] Singh-Aishwarya commented on #494
Please assign this to me in Java @ahampriyanshu

[2020-10-03 17:44] shaunak56 opened #507 "Dynamic Programming: Determine maximum number of coins that can be won"
**Submission Title**
Dynamic Programming: Determine the maximum number of coins that can be won

**Submission Type**
Algorithm

**Submission Description**
Consider a row of n coins of values v1 . . . vn, where n is even. We play a game against an opponent by alternating turns. In each turn, a player selects either the first or last coin from the row, removes it from the row permanently, and receiv

[2020-10-03 17:45] gottabpro commented on #507
I want to work on this issue. @shaunak56

[2020-10-03 17:46] gottabpro commented on #502
@ahampriyanshu I would contribute C++ code.

[2020-10-03 18:01] adaugochi commented on #454
I will like to do this in PHP

[2020-10-03 18:06] rachleona commented on #507
Can I work on this as well? I can do either python, js or the php one

[2020-10-03 18:08] subham5230 commented on #489
Hey @ahampriyanshu  I would like to work on this in python, Please assign me this

[2020-10-03 18:09] jytaloramon commented on #74
Happy to contribute!

[2020-10-03 18:10] subham5230 commented on #405
I can do it in java @Vimlesh-Kumar please assign me this issue

[2020-10-03 18:13] GhostUser commented on #74
Thank you for the opportunity!

[2020-10-03 18:13] arnav-roy commented on #507
I want to work on this issue in python or c++

[2020-10-03 18:15] ahampriyanshu commented on #507
Great :clap:
 @rachleona , go ahead with php
@arnav-roy , go ahead with c++

[2020-10-03 18:15] arnav-roy commented on #392
I want to work on this issue in C++

[2020-10-03 18:30] ahampriyanshu commented on #87
thanks @everyone :v:

[2020-10-03 18:31] ahampriyanshu commented on #3
thanks @everyone :v:

[2020-10-03 18:31] #3 closed

[2020-10-03 18:32] ahampriyanshu commented on #18
thanks @everyone :v:

[2020-10-03 18:32] #18 closed

[2020-10-03 18:32] ahampriyanshu commented on #20
thanks @everyone :v:

[2020-10-03 18:32] #20 closed

[2020-10-03 18:32] ahampriyanshu commented on #72
thanks @everyone :v:

[2020-10-03 18:32] #72 closed

[2020-10-03 18:33] ahampriyanshu commented on #91
thanks @everyone :v:

[2020-10-03 18:33] #91 closed

[2020-10-03 18:33] ahampriyanshu commented on #90
thanks @everyone :v:

[2020-10-03 18:33] #90 closed

[2020-10-03 18:33] ahampriyanshu commented on #89
thanks @everyone :v:

[2020-10-03 18:33] #89 closed

[2020-10-03 18:33] meteoritenhagel commented on #401
I'd like to add the C++ code for that one.

[2020-10-03 18:37] MohitBhagchandani0601 commented on #507
I want to work on this issue in java😊

[2020-10-03 18:38] ahampriyanshu commented on #214
thanks @everyone :v:

[2020-10-03 18:38] #214 closed

[2020-10-03 18:38] ahampriyanshu commented on #205
thanks @everyone :v:

[2020-10-03 18:38] #205 closed

[2020-10-03 18:39] ahampriyanshu commented on #188
thanks @everyone :v:

[2020-10-03 18:39] #188 closed

[2020-10-03 18:39] ahampriyanshu commented on #181
thanks @everyone :v:

[2020-10-03 18:39] #181 closed

[2020-10-03 18:40] ahampriyanshu commented on #177
thanks @everyone :v:

[2020-10-03 18:40] #177 closed

[2020-10-03 18:43] ahampriyanshu commented on #165
thanks @everyone :v:

[2020-10-03 18:43] #165 closed

[2020-10-03 18:44] ahampriyanshu commented on #159
thanks @everyone :v:

[2020-10-03 18:44] #159 closed

[2020-10-03 18:44] ahampriyanshu commented on #157
thanks @everyone :v:

[2020-10-03 18:44] #157 closed

[2020-10-03 18:51] ahampriyanshu commented on #151
thanks @everyone :v:

[2020-10-03 18:51] #151 closed

[2020-10-03 18:51] ahampriyanshu commented on #148
thanks @everyone :v:

[2020-10-03 18:51] #148 closed

[2020-10-03 18:51] ahampriyanshu commented on #143
thanks @everyone :v:

[2020-10-03 18:51] #143 closed

[2020-10-03 18:55] krishnmohan19 commented on #454
hey @Vimlesh-Kumar please assign me in javascript

[2020-10-03 18:56] MohitBhagchandani0601 commented on #507
i have done that problem in java so i make pull request😊

[2020-10-03 18:58] bryan-wu commented on #498
Please assign C# to me

[2020-10-03 18:59] KevinMathewTh commented on #494
Please assign me to PHP

[2020-10-03 19:00] aanshi18 commented on #415
can I work in ruby?

[2020-10-03 19:02] bryan-wu commented on #494
Please assign C# to me

[2020-10-03 19:02] TanishqPorwar commented on #392
I want to work on this issue in python

[2020-10-03 19:02] SaiAshish2906 commented on #413
Can I try the C version?

[2020-10-03 19:02] bryan-wu commented on #502
Please assign C# to me

[2020-10-03 19:03] M4rkoHR opened #525 "Calculate Easter date for a given year"
**Submission Title**
Dynamic programming: Calculate Easter date for given year

**Submission Type**
Algorithm

**Submission Description**
Using Gauss' Easter Algorithm, create an algorithm in preferred language

**Folder Related To**
Algorithm => Dynamic Programming => Gauss_Easter_Date

**Contributors**

- [x]  C++ -
- [x]  C -
- [x]  Python -
- [x] Java -
- [x] JavaScript -
- [ ] TypeScript -
-

[2020-10-03 19:03] M4rkoHR commented on #525
I would like to do it in C++.

[2020-10-03 19:10] aanshi18 commented on #449
can I work for ruby code?

[2020-10-03 19:12] adaugochi commented on #449
Hi, @ahampriyanshu I will like to do this in PHP. Can you assign this to me

[2020-10-03 19:14] MonarchChakri commented on #470
Created a PR https://github.com/ahampriyanshu/algo_ds_101/pull/526
Please review and merge.

[2020-10-03 19:22] chinmaym07 commented on #307
@ahampriyanshu can I do it in C.?

[2020-10-03 19:36] adaugochi commented on #161
Hi, @ahampriyanshu I will like to do this in PHP. Can you assign this to me?

[2020-10-03 19:40] kushkamisha commented on #494
I could do the js version

[2020-10-03 19:42] kushkamisha commented on #525
I could do in C and JS

[2020-10-03 19:44] Chaitalykundu commented on #250
I want to do this in C

[2020-10-03 19:45] verma-pulkit commented on #525
I could do this for C.

[2020-10-03 19:48] verma-pulkit commented on #498
Please assign C to me.

[2020-10-03 19:53] kushkamisha commented on #389
I could do js implementation

[2020-10-03 19:58] Divya247 commented on #525
I would like to do it in Python. can you assign it to me?

[2020-10-03 20:03] kushkamisha commented on #309
I can do the js implementation

[2020-10-03 20:14] gabriel21henrique commented on #475
Hey, I would like to work on it, C# lang 🙂

[2020-10-03 20:24] prajwlr commented on #507
I too would love to try this problem in c++, as it seems very interesting. Please assign it to me too.

[2020-10-03 20:40] Avninder99 commented on #161
Hi @ahampriyanshu I would like to do this in JavaScript. Please assign it to me ?

[2020-10-03 20:41] chinmaym07 commented on #391
@ahampriyanshu can i do it in C, Java & Pyhton. ?

[2020-10-03 20:42] juanmagutierrez commented on #120
Hi! Can I do it in PHP language ?

[2020-10-03 20:45] chinmaym07 commented on #308
@ahampriyanshu can I work on Javascript for this.?

[2020-10-03 20:46] chinmaym07 commented on #305
Can I do this in C.?

[2020-10-03 20:58] Mr-Vaibhav-Shukla commented on #525
Hi @kushkamisha, Please go ahead in JS.

[2020-10-03 21:15] william-gooch commented on #405
I'd like to have a go at this in C# if possible.

[2020-10-03 21:23] beccadaniel commented on #232
I just created a PR for anagrams using the Swift Programming Language @ahampriyanshu

[2020-10-03 21:47] Avninder99 commented on #118
I would like to implement this algorithm in JavaScript. Please assign it to me.

[2020-10-03 21:52] kwong21 commented on #475
Created PR #547  for Stack in Go.

[2020-10-03 21:54] ahampriyanshu commented on #225
thanks @everyone :v:

[2020-10-03 21:54] #225 closed

[2020-10-03 21:55] ahampriyanshu commented on #221
thanks @everyone :v:

[2020-10-03 21:55] #221 closed

[2020-10-03 21:55] Avninder99 commented on #384
I would like to work on this issue in JavaScript. Please assign this to me.

[2020-10-03 21:55] ahampriyanshu commented on #174
thanks @everyone :v:

[2020-10-03 21:55] #174 closed

[2020-10-03 22:00] ahampriyanshu commented on #136
thanks @everyone :v:

[2020-10-03 22:00] #136 closed

[2020-10-03 22:01] ahampriyanshu commented on #134
thanks @eveyone :v:

[2020-10-03 22:01] #134 closed

[2020-10-03 22:02] ahampriyanshu commented on #121
thanks @everyone :v:

[2020-10-03 22:02] #121 closed

[2020-10-03 22:07] ahampriyanshu commented on #113
thanks @everyone :v:

[2020-10-03 22:07] #113 closed

[2020-10-03 22:08] ahampriyanshu commented on #110
thanks @everyone :v:

[2020-10-03 22:08] #110 closed

[2020-10-03 22:09] ahampriyanshu commented on #108
thanks @everyone :v:

[2020-10-03 22:09] #108 closed

[2020-10-03 22:11] ahampriyanshu commented on #106
thanks @everyone :v:

[2020-10-03 22:11] #106 closed

[2020-10-03 22:13] ahampriyanshu commented on #101
thanks @everyone :v:

[2020-10-03 22:13] #101 closed

[2020-10-03 22:14] ahampriyanshu commented on #87
thanks @everyone :v:

[2020-10-03 22:14] #87 closed

[2020-10-03 22:15] ahampriyanshu commented on #120
thanks @everyone :v:

[2020-10-03 22:15] #120 closed

[2020-10-03 22:15] rahulsunil2 commented on #413
Can I work on the Python version please?

[2020-10-03 22:16] rahulsunil2 commented on #449
Can you assign me for Python?

[2020-10-03 22:18] ahampriyanshu commented on #245
thanks @everyone :v:

[2020-10-03 22:18] #245 closed

[2020-10-03 22:19] ahampriyanshu commented on #250
Hi @harshita130602 go ahead with JS
Hi @Chaitalykundu go ahead with C

[2020-10-03 22:21] ahampriyanshu commented on #263
thanks @everyone :v:

[2020-10-03 22:21] #263 closed

[2020-10-03 22:22] ahampriyanshu commented on #301
thanks @everyone :v:

[2020-10-03 22:22] #301 closed

[2020-10-03 22:28] ahampriyanshu commented on #389
thanks @everyone :v:

[2020-10-03 22:28] #389 closed

[2020-10-04 00:10] aorellano commented on #475
Hi, I would like to work on this issue in Swift :)

[2020-10-04 01:56] joaopedrocampos commented on #449
Hello @ahampriyanshu! Could you please assign me for Typescript?

[2020-10-04 01:59] pulkitsapra commented on #306
Can you please merge my PR. @Vimlesh-Kumar @ahampriyanshu

Thanks!

[2020-10-04 02:39] beccadaniel commented on #413
Can I work on this using Swift?

[2020-10-04 02:40] beccadaniel commented on #415
Can I take this in Swift?

[2020-10-04 02:41] beccadaniel commented on #407
Can I do this in Swift?

[2020-10-04 03:09] SalmonKing72 commented on #413
Sorry I missed you earlier as I was at my son's soccer game... Can I implement this in Ruby?

[2020-10-04 04:20] TheBlckCat commented on #507
Hi ✌️,
I want to work on this issuein Python🐍

[2020-10-04 06:24] Rajwrita commented on #392
I would want to work on this in python

[2020-10-04 06:27] Rajwrita commented on #88
I can contribute in Ruby.

[2020-10-04 06:33] Hashrin commented on #306
Hi,
I would like to implement this in C#. Can you please assign it to me?

[2020-10-04 06:39] subhadeep1912 commented on #507
Hey i can work on this in c#. Please assign me for it. Thank you

[2020-10-04 06:55] apar23 commented on #384
Can I be assigned the C# implementation?

[2020-10-04 07:20] TanishqPorwar commented on #384
I'd like to work on the python implementation, can you assign it to me?

[2020-10-04 07:29] ahampriyanshu commented on #525
Hi @M4rkoHR , your commit has been reverted :bangbang:
Kindly create new PR with the rectified code
Once again thanks @kushkamisha :+1:

[2020-10-04 07:33] AlessandroArosio commented on #525
I'll do in Java

[2020-10-04 07:39] ahampriyanshu commented on #470
thanks @MonarchChakri :v:

[2020-10-04 07:39] #470 closed

[2020-10-04 07:47] silentwraith6 commented on #413
Can I work on it in javascript, actually already generated a pull request for the same

[2020-10-04 07:52] ahampriyanshu commented on #83
thnaks @everyone :v:

[2020-10-04 07:52] #83 closed

[2020-10-04 07:52] ahampriyanshu commented on #82
thanks @everyone :v:

[2020-10-04 07:52] #82 closed

[2020-10-04 07:54] ahampriyanshu commented on #81
thanks @everyone :v:

[2020-10-04 07:54] #81 closed

[2020-10-04 07:55] ahampriyanshu commented on #84
thanks @everyone :v:

[2020-10-04 07:55] #84 closed

[2020-10-04 07:56] ahampriyanshu commented on #85
thanks @everyone :v:

[2020-10-04 07:56] #85 closed

[2020-10-04 08:09] ahampriyanshu commented on #356
Hi @jaskarans2000 please opt a different language/issue

[2020-10-04 08:12] ahampriyanshu commented on #314
Hi @dheerajvenugopal96 please opt a different/language issue :grin:

[2020-10-04 08:23] deepjyot commented on #449
Can you assign me for Swift?

[2020-10-04 08:30] abhishekpopli opened #568 "Algorithm - QuickSelect - Kth Largest Element in an Array"
**Submission Title**
QuickSelect Algorithm

**Submission Type**
Algorithm

**Submission Description**
Quickselect is a selection algorithm to find the k-th smallest element in an unordered list
The algorithm is similar to QuickSort. The difference is, instead of recurring for both sides (after finding pivot), it recurs only for the part that contains the k-th smallest element.

**Folder Related To

[2020-10-04 08:30] abhishekpopli commented on #568
Kindly assign it to me.

[2020-10-04 08:32] kushkamisha commented on #451
Can do the js implementation

[2020-10-04 08:33] reyadkhan commented on #449
Hi, I would like to do it in php.

[2020-10-04 08:35] Harshalszz commented on #489
Hey! can I work on this in C language.

[2020-10-04 08:42] OverPoweredDev commented on #398
Mind if I resolve this in C and JavaScript?

[2020-10-04 08:59] kushkamisha commented on #525
I'll do C++

[2020-10-04 09:28] ArchanaDhaker commented on #568
I want to add this algo in python. kindly assign to me.

[2020-10-04 10:13] Avninder99 commented on #308
I would like to do this problem in JavaScript. Can it be issued to me ?

[2020-10-04 10:20] Avninder99 commented on #568
I would like to do this algorithm in JavaScript. Please assign it to me.

[2020-10-04 10:54] dipankargoswami commented on #406
Hi @ahampriyanshu , can I do it in scala ?

[2020-10-04 10:56] ahampriyanshu commented on #104
thanks everyone :v:

[2020-10-04 10:56] #104 closed

[2020-10-04 10:57] ahampriyanshu commented on #118
thanks everyone :v:

[2020-10-04 10:57] #118 closed

[2020-10-04 10:58] ahampriyanshu commented on #161
thanks everyone :v:

[2020-10-04 10:58] #161 closed

[2020-10-04 11:00] SayaniG371 commented on #306
Can you please review my PR #430  @ahampriyanshu . Thank you

[2020-10-04 11:13] Astrogeek77 commented on #407
@ahampriyanshu Can you assign me this task in JS?

[2020-10-04 11:16] Astrogeek77 commented on #408
@ahampriyanshu Can you assign this task to me in JAVA

[2020-10-04 11:19] subham5230 commented on #568
I can do this in Java please assign it to me @ahampriyanshu

[2020-10-04 11:19] dandynaufaldi commented on #475
Hi, would like to work on Ruby version

[2020-10-04 11:21] dandynaufaldi commented on #407
@ahampriyanshu could you assign me for ruby version?

[2020-10-04 11:30] dandynaufaldi commented on #405
@ahampriyanshu  could I get assigned for ruby version?

[2020-10-04 11:32] Astrogeek77 commented on #402
@Mr-Vaibhav-Shukla  Can you assign this task to me in c?

[2020-10-04 11:37] Astrogeek77 commented on #391
@ahampriyanshu can you assign this task to
me in C?

[2020-10-04 11:38] Astrogeek77 commented on #392
i would like to do this in C , C++, python ? @ahampriyanshu @Mr-Vaibhav-Shukla

[2020-10-04 11:51] AlessandroArosio commented on #498
Can I take the GoLang task please?

[2020-10-04 12:01] Astrogeek77 commented on #314
@ahampriyanshu Can you assign this task to me in JS?

[2020-10-04 12:02] mariothedog commented on #384
I would like to work on the JavaScript version.

[2020-10-04 12:06] mariothedog commented on #365
I would like to work on this algorithm in JavaScript.

[2020-10-04 12:08] Sanika1999 commented on #489
Can I work on this for java

[2020-10-04 12:09] Avninder99 commented on #568
Please assign me this algorithm to me for C.

[2020-10-04 12:19] Astrogeek77 commented on #568
@ahampriyanshu Can you assign this task to me in c?

[2020-10-04 12:21] Astrogeek77 commented on #498
@ahampriyanshu @Mr-Vaibhav-Shukla Can you assign this task to me in JS?

[2020-10-04 12:28] Astrogeek77 commented on #398
Can you assign this task to me in C, CPP, JS? @ahampriyanshu @Mr-Vaibhav-Shukla

[2020-10-04 12:30] Astrogeek77 commented on #396
@ahampriyanshu Can you assign this task to me in C?

[2020-10-04 12:47] Jaswantsinghh opened #597 "A* Search Algorithm"
**Submission Title**
A* Search Algorithm

**Submission Type**
Algorithm

**Submission Description**
This algprithm helps in finding the shortest path and graph traversals.

**Folder Related To**
Algorithms => Graph_Algorithms => A_star

**Contributors**

- [x]  C++ -
- [ ]  C -
- [x]  Python -
- [ ] Java -
- [x] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] php -
- [ ] Swift -

[2020-10-04 12:57] ahampriyanshu commented on #568
Hi @Avninder99 :wave:  go ahead with JS
Hi @Astrogeek77 :wave:  go ahead with C

[2020-10-04 13:15] Dutta-SD commented on #489
Hi
Can I add code for AVL Tree in Python?

[2020-10-04 13:19] dheerajvenugopal96 commented on #405
Please assign the java part to me

[2020-10-04 13:28] manvendra3 commented on #399
hi @ahampriyanshu please assign this task to me in ruby

[2020-10-04 13:31] devanshOrz opened #600 "Policy-based data structures in g++"
**Submission Title**
Policy based data structures

**Submission Type**
Data Structure

**Submission Description**
The g++ compiler also adds support for some special data structures that are not in C++ programming language standard library. These are known as policy-based data structures.

The policy-based data structures provide the programmer a high-performance, semantic safety and flexibility a

[2020-10-04 13:59] rishabhsudan commented on #250
Hi, I can contribute in Scala, Please assign

[2020-10-04 14:03] rishabhsudan commented on #309
Hi, I can contribute in Scala, Please assign

[2020-10-04 14:13] Sidj581 opened #604 "Gnome Sort"
**Submission Title**
Gnome Sort

**Submission Type**
Algorithm

**Submission Description**
The gnome sort is a sorting algorithm which is similar to insertion sort in that it works with one item at a time but gets the item to the proper place by a series of swaps, similar to a bubble sort. I

**Folder Related To**
Algorithm => Sorting_Algorithm => Gnome_Sort => Filename.extension

**Contributors**

[2020-10-04 14:16] Sidj581 commented on #604
Hi @ahampriyanshu please assign this task to me in php, ruby, swift, c#

[2020-10-04 14:18] Jaswantsinghh commented on #604
Dear @ahampriyanshu,
Assign me this task for c++

[2020-10-04 14:27] manvendra3 commented on #399
@ahampriyanshu assign this task in java

[2020-10-04 14:31] meghna25 commented on #604
hey @ahampriyanshu I'd like to implement this in java. Please assign it to me.

[2020-10-04 14:33] Jaswantsinghh opened #609 "Sieve of Erasthonanes"
**Submission Title**
Sieve of Erasthonanes

**Submission Type**
Maths_And_Stats

**Submission Description**
This algorithm is used to print all prime number up to n.

**Folder Related To**
Maths_And_Stats => Number_Theory => Sieve_Of_Erasthonanes

**Contributors**

- [x]  C++ -
- [x]  C -
- [x]  Python -
- [x] Java -
- [x] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [x] Ruby -
- [ ] php -
- [

[2020-10-04 14:35] Kwehdev commented on #609
Hey, I'd like to do this with TypeScript

[2020-10-04 14:46] manvendra3 commented on #399
@ahampriyanshu assign this task to me c++

[2020-10-04 15:05] mariothedog commented on #609
I would like to implement this in C#.

[2020-10-04 15:07] Avninder99 commented on #384
@ahampriyanshu Javascript code pushed by me has been merged for this issue along with C. So please checkmark the javascript.

[2020-10-04 15:12] Jaswantsinghh commented on #609
I would like to do in C,C++

[2020-10-04 15:16] devanshOrz commented on #600
@ahampriyanshu i would like to contribute

[2020-10-04 15:17] ahampriyanshu commented on #604
Hi @Sidj581,
Your contribution in **c++** and **java** has been reverted
Please push files in approriate directories :v:

[2020-10-04 15:19] ahampriyanshu commented on #604
Thanks everyone :v:

[2020-10-04 15:19] #604 closed

[2020-10-04 15:31] manvendra3 commented on #399
@ahampriyanshu assign this task in php

[2020-10-04 15:55] Jaswantsinghh opened #623 "Rabin-Karp Pattern searching agorithm"
**Submission Title**
Rabin-Karp algorithm

**Submission Type**
Algorithm

**Submission Description**
This algorithm returns all the occurrences of repeating patterns of string.

**Folder Related To**
Algorithm => Pattern_Searching

**Contributors**

- [x]  C++ -
- [x]  C -
- [x]  Python -
- [x] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [x] php -
- [ ] Swift -
- [ ]

[2020-10-04 16:07] Nirali0029 commented on #310
plz add the tag hacktober accepted as per new rules for my merged code ;)

[2020-10-04 16:10] Nirali0029 commented on #623
Please assign this to me for python

[2020-10-04 16:13] Jaswantsinghh commented on #623
Assign me this for c++.

[2020-10-04 16:15] Nirali0029 commented on #597
Please assign this to me for python

[2020-10-04 16:16] krabhisharma commented on #568
@abhishekpopli assign me this for java

[2020-10-04 16:18] Nirali0029 commented on #489
Please assign this to me in python

[2020-10-04 16:27] Jayanth19524 commented on #489
Hi, Jayanth here I will do it in Java. But if c++ is prefered I can do it in c++

[2020-10-04 16:41] chinmaym07 commented on #623
Please assign me this for C .

[2020-10-04 16:43] ayush-670 commented on #568
Can I do this in java?

[2020-10-04 16:43] ayush-670 commented on #568
I could do it with Ruby too, can you assign it to me in either of the two?

[2020-10-04 16:45] disha4u commented on #413
Can i work on java

[2020-10-04 16:53] Nirali0029 commented on #401
Please assign this to me for python

[2020-10-04 17:05] manishita24 commented on #623
please assign me this for java

[2020-10-04 17:22] ahampriyanshu commented on #88
thanks everyone :v:

[2020-10-04 17:22] #88 closed

[2020-10-04 17:29] AnshMishra2001 commented on #623
Can I do this in PHP, pls.

[2020-10-04 17:43] manishita24 commented on #623
java done. @Jaswantsinghh , please review

[2020-10-04 17:49] mariothedog commented on #413
I would like to implement this in C#.

[2020-10-04 18:12] reyadkhan commented on #568
Hi, I would like to do it in PHP. Would you like to assign me?

[2020-10-04 18:18] hansholani commented on #525
I would like to do this in java. Can I?

[2020-10-04 18:33] ahampriyanshu commented on #399
thanks everyone :v:

[2020-10-04 18:33] #399 closed

[2020-10-04 18:34] jayanta007 commented on #623
Please assign this to me for javascript

[2020-10-04 18:35] ahampriyanshu commented on #402
thanks everyone :v:

[2020-10-04 18:35] #402 closed

[2020-10-04 18:38] ahampriyanshu commented on #405
thanks everyone :v:

[2020-10-04 18:38] #405 closed

[2020-10-04 18:50] ahampriyanshu commented on #408
thanks everyone :v:

[2020-10-04 18:50] #408 closed

[2020-10-04 18:50] ahampriyanshu commented on #413
thanks everyone :v:

[2020-10-04 18:50] #413 closed

[2020-10-04 18:53] hansholani commented on #449
I would like to do this for Golang

[2020-10-04 19:11] ahampriyanshu opened #649 "Shell Sort"
**Submission Title**
Shell Sort

**Submission Type**
Algorithm

**Submission Description**
The method starts by sorting pairs of elements far apart from each other, then progressively reducing the gap between elements to be compared.

**Folder Related To**
Algorith => Sorting_Algorithm => Shell_Sort =>Shell_Sort.extension

**Contributors**

- [x]  C++ -
- [ ]  C -
- [x]  Python -
- [ ] Java -
- [

[2020-10-04 19:12] rishav311 commented on #649
I want to work on this

[2020-10-04 19:12] ahampriyanshu opened #651 "Bead_Sort"
**Submission Title**
Bead_Sort

**Submission Type**
Algorithm

**Submission Description**
 Also known as Gravity sort, this algorithm was inspired from natural phenomenons and was designed keeping in mind objects(or beads) falling under the influence of gravity.

**Folder Related To**
Algorith => Sorting_Algorithm => Bead_Sort => Bead_Sort.extension

**Contributors**

- [x]  C++ -
- [ ]  C -
- [x]

[2020-10-04 19:13] ahampriyanshu opened #652 "Tree_Sort"
**Submission Title**
Tree_Sort

**Submission Type**
Algorithm

**Submission Description**
A tree sort is a sort algorithm that builds a binary search tree from the elements to be sorted, and then traverses the tree so that the elements come out in sorted order.

**Folder Related To**
Algorith => Sorting_Algorithm => Tree_Sort => Tree_Sort.extension

**Contributors**

- [x]  C++ -
- [ ]  C -
- [x]

[2020-10-04 19:15] ahampriyanshu opened #653 "Heap_Sort"
**Submission Title**
Heap_Sort

**Submission Type**
Algorithm

**Submission Description**
Heap sort is a comparison based sorting technique based on Binary Heap data structure. It is similar to selection sort where we first find the maximum element and place the maximum element at the end.

**Folder Related To**
Algorith => Sorting_Algorithm => Heap_Sort => Heap_Sort.extension

**Contributors**

-

[2020-10-04 19:19] ahampriyanshu opened #657 "Submission Title"
**Submission Title**
Bubble Sort/AVL Graph/Vector

**Submission Type**
Algorithm/Data Structure/STL/Maths_And_Stats

**Submission Description**
Describe the Algo/DS/STL

**Submission Directory**
Main_Folder => Sub_Folder => ... => ... => Filename.extension

**Contributors**

- [ ]  C++ -
- [ ]  C -
- [ ]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ]

[2020-10-04 19:19] #657 closed

[2020-10-04 19:21] git-bit-code commented on #653
Hey @ahampriyanshu , i would like to work on this issue.

[2020-10-04 19:40] ahampriyanshu opened #661 "Affine_Cipher"
**Submission Title**
Affine_Cipher

**Submission Type**
Algorithm

**Submission Description**
The affine cipher is a type of monoalphabetic substitution cipher, where each letter in an alphabet is mapped to its numeric equivalent, encrypted using a simple mathematical function, and converted back to a letter.

**Submission Directory**
Algorithm => Cryptography_Algorithm => Affine_Cipher => Affine_

[2020-10-04 19:41] ahampriyanshu opened #663 "Bifid_Cipher"
**Submission Title**
Bifid_Cipher

**Submission Type**
Algorithm

**Submission Description**
In classical cryptography, the bifid cipher is a cipher which combines the Polybius square with transposition, and uses fractionation to achieve diffusion.

**Submission Directory**
Algorithm => Cryptography_Algorithm => Bifid_Cipher => Bifid_Cipher.extension

**Contributors**

- [ ]  C++ -
- [ ]  C -
- [x

[2020-10-04 19:42] ahampriyanshu opened #664 "Caesar_Cipher"
**Submission Title**
Caesar_Cipher

**Submission Type**
Algorithm

**Submission Description**
 It's simply a type of substitution cipher, i.e., each letter of a given text is replaced by a letter some fixed number of positions down the alphabet.

**Submission Directory**
Algorithm => Cryptography_Algorithm => Caesar_Cipher => Caesar_Cipher.extension

**Contributors**

- [x]  C++ -
- [x]  C -
- [ ]

[2020-10-04 19:45] ahampriyanshu opened #665 "RSA_Cipher"
**Submission Title**
RSA_Cipher

**Submission Type**
Algorithm

**Submission Description**
 RSA is an asymetric algorithm for public key cryptography created by Ron Rivest, Adi Shamir and Len Adleman.

**Submission Directory**
Algorithm => Cryptography_Algorithm => RSA_Cipher => RSA_Cipher.extension

**Contributors**

- [x]  C++ -
- [ ]  C -
- [x]  Python -
- [x] Java -
- [ ] JavaScript -
- [ ] Ty

[2020-10-04 19:46] ahampriyanshu opened #666 "Vernam_Cipher"
**Submission Title**
Vernam_Cipher

**Submission Type**
Algorithm

**Submission Description**
Vernam cipher is a symmetrical stream cipher in which the plaintext is combined with a random or pseudorandom stream of data (the "keystream") of the same length, to generate the ciphertext, using the Boolean "exclusive or" (XOR) function.

**Submission Directory**
Algorithm => Cryptography_Algorithm => V

[2020-10-04 19:47] ahampriyanshu opened #667 "Vigenere_Cipher"
**Submission Title**
Vigenere_Cipher

**Submission Type**
Algorithm

**Submission Description**
The Vigenère Cipher is a method of encrypting alphabetic text by using a series of interwoven Caesar ciphers, based on the letters of a keyword. It employs a form of polyalphabetic substitution.

**Submission Directory**
Algorithm => Cryptography_Algorithm => Vigenere_Cipher => Vigenere_Cipher.extension

[2020-10-04 19:48] julianasinai commented on #494
Please assign the go version to me

[2020-10-04 19:51] garimamishraa commented on #664
I'll Implement using python and C++

[2020-10-04 19:53] 3t8 commented on #664
I'll implement it in C and Javascript

[2020-10-04 20:15] julianasinai commented on #356
Please, assign Javascript to me

[2020-10-04 20:16] meteoritenhagel commented on #667
I'd like to do the C++ task. Please assign me to it.

[2020-10-04 20:19] william-gooch commented on #667
I'd like to take the C# version if possible.

[2020-10-04 20:19] sakshi-06 commented on #651
hey , i would like to take it up for c++implementation

[2020-10-04 20:21] garimamishraa commented on #653
Can i implement using python?

[2020-10-04 20:22] garimamishraa commented on #652
Can I implement using c++ ?

[2020-10-04 20:24] ahampriyanshu commented on #653
Hi @garimamishraa ,
Heap Sort has already been implemented in python.
Please opt a different language/issue.

[2020-10-04 20:30] meteoritenhagel commented on #666
I'd like to do the task in C++, please.

[2020-10-04 20:33] ShristiAgrawal opened #676 "Validate BST"
**Submission Title**
Validate BST

**Submission Type**
Data Structure

**Submission Description**
Check if given tree is BSTL

**Submission Directory**
algo_ds_101 -> tree -> master -> Data_Structures ->Tree ->Binary_Search_Tree ->validate_bst.cpp

**Contributors**

- [x]  C++ -
- [ ]  C -
- [ ]  Python -
- [x] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] php -
-

[2020-10-04 20:38] Ace117MC commented on #676
can i do this in c++

[2020-10-04 20:48] am401 commented on #667
Hello there. I'd like to work on this in Python if possible! Thank you!

[2020-10-04 21:06] GitanshKapoor opened #680 "Validate BST"
**Submission Title**
Bubble Sort/AVL Graph/Vector

**Submission Type**
Algorithm/Data Structure/STL/Maths_And_Stats

**Submission Description**
Describe the Algo/DS/STL

**Submission Directory**
Main_Folder => Sub_Folder => ... => ... => Filename.extension

**Contributors**

- [x]  C++ - yes
- [ ]  C -
- [ ]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
-

[2020-10-04 21:09] ahampriyanshu commented on #680
Duplicate issue :warning:

[2020-10-04 21:09] #680 closed

[2020-10-04 21:09] Kwehdev commented on #664
May I take TypeScript?

[2020-10-04 21:55] NumberPiOso commented on #395
Assign this to me in Python.

[2020-10-04 21:57] ahampriyanshu commented on #250
thanks everyone :v:

[2020-10-04 21:57] #250 closed

[2020-10-04 22:01] ahampriyanshu opened #684 "Dijkstra's Algorithm"
**Submission Title**
Dijkstra's Algorithm

**Submission Type**
Algorithm/Graph_Algorithms/Dijkstra

**Submission Description**
Describe the Dijsktra's Algorithm to find the shortest path between two nodes in a graph

**Folder Related To**
Algorithm => Graph_Algorithm => Dijkstra => Dijkstra.cpp

**Contributors**

- [x]  C -
- [x]  Python -
- [ ] TypeScript -
- [x] Golang -
- [ ] Ruby -
- [x] php -

[2020-10-04 22:02] ahampriyanshu commented on #684
Hi @everyone :wave: ,
``C++`` ,`` JS`` , ``Java`` versions of this algo have already been implemented .

[2020-10-04 22:04] ahampriyanshu opened #685 "Trie Search"
**Submission Title**
Trie Search

**Submission Type**
Algorithm

**Submission Description**
Describe the Algo/DS/STL

**Folder Related To**
Algorithm => Search_Algorithm => Trei_Search => Filename.extension

**Contributors**

- [x]  C -
- [ ]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] php -
- [ ] Swift -
- [ ] C# -

[2020-10-04 22:04] HarryPeach commented on #667
I'll do this in Go

[2020-10-04 22:04] ahampriyanshu commented on #685
Hi @everyone :wave: ,
``C++`` version of this algo has already been implemented .

[2020-10-04 22:05] #237 closed

[2020-10-04 22:05] ahampriyanshu commented on #232
thanks @everyone :v:

[2020-10-04 22:05] #232 closed

[2020-10-04 22:06] ahampriyanshu commented on #229
thanks everyone :v:

[2020-10-04 22:06] #229 closed

[2020-10-04 22:10] ahampriyanshu opened #686 "Longest Increasing Subsequence"
**Submission Title**
LIS

**Submission Type**
Algorithmal

**Submission Description**
Longest increasing subsequence problem is to find a subsequence of a given sequence in which the subsequence's elements are in sorted order, lowest to highest, and in which the subsequence is as long as possible.

Folder Related To
Algorithm => Dynamic_Programming => LIS => Filename.extension

**Contributors**

-

[2020-10-04 22:10] ahampriyanshu commented on #686
Hi @everyone :wave: ,
``C++`` version of this algo has already been implemented .

[2020-10-04 22:11] ahampriyanshu commented on #243
thanks everyone :v:

[2020-10-04 22:11] #243 closed

[2020-10-04 22:13] ahampriyanshu commented on #306
thanks everyone :v:

[2020-10-04 22:13] #306 closed

[2020-10-04 22:13] ahampriyanshu commented on #305
thanks everyone :v:

[2020-10-04 22:13] #305 closed

[2020-10-04 22:14] ahampriyanshu commented on #279
thanks everyone :v:

[2020-10-04 22:14] #279 closed

[2020-10-04 22:14] ahampriyanshu commented on #257
thanks everyone :v:

[2020-10-04 22:14] #257 closed

[2020-10-04 22:15] ahampriyanshu commented on #86
thanks everyone :v:

[2020-10-04 22:15] #86 closed

[2020-10-04 22:16] ahampriyanshu commented on #475
thanks everyone :v:

[2020-10-04 22:16] #475 closed

[2020-10-04 22:19] ahampriyanshu commented on #307
thanks everyone :v:

[2020-10-04 22:19] #307 closed

[2020-10-04 22:20] ahampriyanshu commented on #308
thanks everyone :v:

[2020-10-04 22:20] #308 closed

[2020-10-04 22:20] ahampriyanshu commented on #309
thanks everyone :v:

[2020-10-04 22:20] #309 closed

[2020-10-04 22:21] ahampriyanshu commented on #310
thanks everyone :v:

[2020-10-04 22:21] #310 closed

[2020-10-04 22:23] ahampriyanshu opened #688 "Harmonic_Progression"
**Submission Title**
Harmonic_Progression

**Submission Type**
Maths_And_Stats

**Submission Description**
A harmonic progression is a sequence of real numbers formed by taking the reciprocals of an arithmetic progression.

**Folder Related To**
Maths_And_Stats => Series => Harmonic_Expression => Harmonic_Expression.extension

**Contributors**

- [ ]  C -
- [ ]  Python -
- [ ] Java -
- [ ] JavaScr

[2020-10-04 22:24] ahampriyanshu commented on #688
Hi @everyone :wave: ,
``C++`` , ``Swift`` versions of this algo have already been implemented .

[2020-10-04 22:26] ahampriyanshu commented on #311
thanks everyone :v:

[2020-10-04 22:26] #311 closed

[2020-10-04 22:26] ahampriyanshu commented on #313
Hi @everyone :wave: ,
``C++`` ,`` JS`` , ``Java`` versions of this algo have already been implemented .

[2020-10-04 22:26] #313 closed

[2020-10-04 22:27] ahampriyanshu commented on #314
thanks everyone :v:

[2020-10-04 22:27] #314 closed

[2020-10-04 22:28] ahampriyanshu commented on #356
thanks everyone :v:

[2020-10-04 22:28] #356 closed

[2020-10-04 22:28] ahampriyanshu commented on #365
thanks everyone :v:

[2020-10-04 22:28] #365 closed

[2020-10-04 22:28] ahampriyanshu commented on #384
thanks everyone :v:

[2020-10-04 22:28] #384 closed

[2020-10-04 22:32] ahampriyanshu opened #689 "Leibniz Formula"
**Submission Title**
 Leibniz Formula

**Submission Type**
Maths_And_Stats

**Submission Description**
The Leibniz formula expresses the derivative on nth order of the product of two functions. '

**Folder Related To**
Maths_And_Stats => Calculus =>  Leibniz_Formula =>  Leibniz_Formula.extension

**Contributors**

- [x]  C++ -
- [ ]  C -
- [ ]  Python -
- [x] Java -
- [ ] JavaScript -
- [ ] TypeSc

[2020-10-04 22:32] ahampriyanshu commented on #689
Hi @everyone :wave: ,
``C++`` version of this algo has already been implemented .

[2020-10-04 22:34] ahampriyanshu commented on #392
Hi @Astrogeek77 ,
Please opt a different language/issue.

[2020-10-04 22:38] ahampriyanshu opened #690 "Euler_Approximation"
**Submission Title**
Euler_Approximation

**Submission Type**
Maths_And_Stats

**Submission Description**
Euler_Approximation method is a first-order numerical procedure for solving ordinary differential equations with a given initial value.

**Folder Related To**
Maths_And_Stats => Calculus =>  Euler_Approximation =>  Euler_Approximation.extension

**Contributors**

- [x]  C++ -
- [x]  C -
- [x]

[2020-10-04 22:38] ahampriyanshu commented on #690
Hi @everyone :wave: ,
``Java`` version of this algo has already been implemented .

[2020-10-04 22:39] ahampriyanshu commented on #393
thanks everyone :v:

[2020-10-04 22:39] #393 closed

[2020-10-04 22:40] ahampriyanshu commented on #396
thanks everyone :v:

[2020-10-04 22:40] #396 closed

[2020-10-04 22:42] ahampriyanshu opened #691 "Confidence_Interval"
**Submission Title**
Confidence_Interval

**Submission Type**
Maths_And_Stats

**Submission Description**
In statistics, a confidence interval is a type of estimate computed from the statistics of the observed data. This proposes a range of plausible values for an unknown parameter.

**Folder Related To**
Maths_And_Stats => Statistics =>  Confidence_Interval => Confidence_Interval.extension

**Con

[2020-10-04 22:43] ahampriyanshu commented on #691
Hi @everyone :wave: ,
``C++`` and ``C`` versions of this algo have already been implemented .

[2020-10-04 22:45] ahampriyanshu commented on #404
thanks everyone :v:

[2020-10-04 22:45] #404 closed

[2020-10-04 22:46] ahampriyanshu commented on #406
Perfect code :+1:
Thanks @dipankargoswami
Happy contributing :v:

[2020-10-04 22:46] #406 closed

[2020-10-04 22:47] ahampriyanshu commented on #406
thanks everyone :v:

[2020-10-04 22:47] ahampriyanshu commented on #407
thanks everyone :v:

[2020-10-04 22:47] #407 closed

[2020-10-04 22:48] ahampriyanshu commented on #415
thanks everyone :v:

[2020-10-04 22:48] #415 closed

[2020-10-04 22:48] ahampriyanshu commented on #449
thanks everyone :v:

[2020-10-04 22:48] #449 closed

[2020-10-04 22:48] ahampriyanshu commented on #451
thanks everyone :v:

[2020-10-04 22:48] #451 closed

[2020-10-04 22:49] ahampriyanshu commented on #454
thanks everyone :v:

[2020-10-04 22:49] #454 closed

[2020-10-04 22:56] aditya-malik-r commented on #688
Hi if possible I'd like to do the Java implementation for this.

[2020-10-04 23:17] ahampriyanshu opened #694 "Sudoku_Solver"
**Submission Title**
Sudoku_Solver

**Submission Type**
Algorithm

**Folder Related To**
Algorithm => Dynamic_Programming => Sudoku_Solver => File.ext

**Contributors**

- [x]  C++ -
- [x]  C -
- [x]  Python -
- [x] Java -
- [x] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] php -
- [ ] Swift -
- [ ] C# -

[2020-10-04 23:18] ahampriyanshu opened #695 "Z_Algorithm"
**Submission Title**
Z_Algorithm

**Submission Type**
Algorithm

**Submission Description**
This algorithm finds all occurrences of a pattern in a text in linear time. Let length of text be n and of pattern be m, then total time taken is O(m + n) with linear space complexity.

**Folder Related To**
Algorithm => Dynamic_Programming => Z_Algorithm => Z_Algorithm.ext

**Contributors**

- [ ]  C++ -
-

[2020-10-04 23:19] ahampriyanshu opened #697 "Tower_Of_Hanoi"
**Submission Title**
Tower_Of_Hanoi

**Submission Type**
Algorithm

**Submission Description**
The Tower of Hanoi is a mathematical game or puzzle. It consists of three rods and a number of disks of different sizes, which can slide onto any rod.

**Folder Related To**
Algorithm => Dynamic_Programming => Tower_Of_Hanoi => Tower_Of_Hanoi.ext

**Contributors**

- [ ]  C++ -
- [ ]  C -
- [ ]  Python -

[2020-10-04 23:20] rachleona commented on #664
I can do one in php

[2020-10-04 23:21] ahampriyanshu opened #698 "Cocktail_Sort"
**Submission Title**
Cocktail_Sort

**Submission Type**
Algorithm

**Submission Description**
The algorithm extends bubble sort by operating in two directions.

**Folder Related To**
Algorithm => Sorting_Programming => Cocktail_Sort => Cocktail_Sort.ext

**Contributors**

- [ ]  C++ -
- [ ]  C -
- [ ]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] ph

[2020-10-04 23:22] ahampriyanshu opened #699 "Comb_Sort"
**Submission Title**
Comb_Sort

**Submission Type**
Algorithm

**Submission Description**
Comb sort is a comparison based sorting algorithm which improves on bubble sort. In bubble sort, the adjacent elements are compared for sorting the array.

**Folder Related To**
Algorithm => Sorting_Programming => Comb_Sort => Comb_Sort.ext

**Contributors**

- [ ]  C++ -
- [ ]  C -
- [ ]  Python -
- [ ] Java

[2020-10-04 23:24] ahampriyanshu opened #700 "Stooge_Sort"
**Submission Title**
Stooge_Sort

**Submission Type**
Algorithm

**Submission Description**
Stooge Sort is a recursive sorting algorithm. It is inefficient but interesting sorting algorithm. It divides the array into two overlapping parts (2/3 each).

**Folder Related To**
Algorithm => Sorting_Programming => Stooge_Sort => Stooge_Sort.ext

**Contributors**

- [ ]  C++ -
- [ ]  C -
- [ ]  Python -

[2020-10-04 23:25] ahampriyanshu opened #701 "Tim_Sort"
**Submission Title**
Tim_Sort

**Submission Type**
Algorithm

**Submission Description**
Timsort is a hybrid stable sorting algorithm, derived from merge sort and insertion sort, designed to perform well on many kinds of real-world data.

**Folder Related To**
Algorithm => Sorting_Programming => Tim_Sort => Tim_Sort.ext

**Contributors**

- [ ]  C++ -
- [ ]  C -
- [ ]  Python -
- [ ] Java -
- [ ]

[2020-10-04 23:27] ahampriyanshu opened #702 "Pancake_Sort"
**Submission Title**
Pancake_Sort

**Submission Type**
Algorithm

**Submission Description**
Pancake sorting is the colloquial term for the mathematical problem of sorting a disordered stack of pancakes in order of size when a spatula can be inserted at any point in the stack and used to flip all pancakes above it.

**Folder Related To**
Algorithm => Sorting_Programming => Pancake_Sort => Pancake_

[2020-10-04 23:28] ahampriyanshu opened #703 "Circle_Sort"
**Submission Title**
Circle_Sort

**Submission Type**
Algorithm

**Submission Description**
Circle sort algorithm can be visualized by drawing concentric circles on an array of integers.

**Folder Related To**
Algorithm => Sorting_Programming => Circle_Sort => Circle_Sort.ext

**Contributors**

- [x]  C++ -
- [ ]  C -
- [ ]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang

[2020-10-04 23:29] ahampriyanshu opened #704 "Counting_Sort"
**Submission Title**
Counting_Sort

**Submission Type**
Algorithm

**Submission Description**
In computer science, counting sort is an algorithm for sorting a collection of objects according to keys that are small integers; that is, it is an integer sorting algorithm.

**Folder Related To**
Algorithm => Sorting_Programming => Counting_Sort => Counting_Sort.ext

**Contributors**

- [ ]  C++ -
- [ ]

[2020-10-04 23:30] ahampriyanshu opened #705 "Cycle_Sort"
**Submission Title**
Cycle_Sort

**Submission Type**
Algorithm

**Submission Description**
Cycle sort is an in-place, unstable sorting algorithm, a comparison sort that is theoretically optimal in terms of the total number of writes to the original array, unlike any other in-place sorting algorithm.

**Folder Related To**
Algorithm => Sorting_Programming => Cycle_Sort => Cycle_Sort.ext

**Contribu

[2020-10-04 23:31] GuilhermeOliveiraCasagrande commented on #704
Hi can I work on this algorithm?

[2020-10-04 23:33] ahampriyanshu opened #707 "Strassens_Algorithm"
**Submission Title**
Strassens_Algorithm

**Submission Type**
Algorithm

**Submission Description**
In linear algebra, the Strassen algorithm, named after Volker Strassen, is an algorithm for matrix multiplication. It is faster than the standard matrix multiplication algorithm and is useful in practice for large matrices, but would be slower than the fastest known algorithms for extremely large ma

[2020-10-04 23:36] ahampriyanshu opened #708 "Markov_Matrix"
**Submission Title**
Markov_Matrix

**Submission Type**
Algorithm

**Submission Description**
Each of its entries is a nonnegative real number representing a probability. It is also called a probability matrix, transition matrix, substitution matrix, or Markov matrix.

**Folder Related To**
Maths_And_Stats => Algebra => Markov_Matrix => Markov_Matrix.ext

**Contributors**

- [x]  C++ -
- [ ]  C -

[2020-10-04 23:36] syamilAbdillah commented on #702
i'll try it in js

[2020-10-04 23:39] ahampriyanshu opened #709 "Lucas_Series"
**Submission Title**
Lucas_Series

**Submission Type**
Algorithm

**Submission Description**
The Lucas numbers or Lucas series are an integer sequence named after the mathematician François Édouard Anatole Lucas (1842–91), who studied both that sequence and the closely related Fibonacci numbers.

**Folder Related To**
Maths_And_Stats => c => Lucas_Series => Lucas_Series.ext

**Contributors**

- [

[2020-10-04 23:44] ahampriyanshu opened #710 "Ugly_Number"
**Submission Title**
Ugly_Number

**Submission Type**
Algorithm

**Submission Description**
Write a program to check whether a given number is an ugly number. Ugly numbers are positive numbers whose prime factors only include 2, 3, 5 .

**Folder Related To**
Maths_And_Stats => Number_Theory => Ugly_Number => Ugly_Number.ext

**Contributors**

- [x]  C++ -
- [ ]  C -
- [ ]  Python -
- [ ] Java -
-

[2020-10-04 23:50] Rainbow-Ninja commented on #703
Can I work on this issue in ruby?

[2020-10-04 23:54] caspero-62 commented on #710
can i take this in javascript?

[2020-10-05 00:13] theniteshnarang commented on #710
Is anyone assigned? I want to contribute in it for JavaScript.

[2020-10-05 00:14] marioa98 commented on #609
I would like to implement the solution in Ruby

[2020-10-05 00:16] Rainbow-Ninja commented on #699
Can I do this in ruby?

[2020-10-05 00:34] Rainbow-Ninja commented on #698
Can I complete this using ruby?

[2020-10-05 00:40] marioa98 commented on #710
Can I contribute to this one using Ruby?

[2020-10-05 00:41] Veguinho commented on #710
I can contribute with Python! Is anyone assigned for it yet?

[2020-10-05 00:42] tdserapio commented on #710
I may also contribute to Python! Is anyone assigned for this language yet?

[2020-10-05 00:47] Veguinho commented on #702
I can do it in Python

[2020-10-05 01:44] rguzg commented on #700
Hey, can I try this on Python?

[2020-10-05 01:55] lucid-dreem commented on #709
Could I be assigned the C++ version?

[2020-10-05 02:19] NEENA-XAVIER commented on #705
I would like to work on this issue

[2020-10-05 02:37] lokeshm29 commented on #710
Can I contribute to this one using C# ?

[2020-10-05 02:41] yogeswarl commented on #697
Can I take this up with Javascript?

[2020-10-05 02:41] manvendra3 commented on #699
Assign this to me in c++

[2020-10-05 02:49] betsystevens commented on #697
I can do this in JavaScript.

[2020-10-05 02:55] NEENA-XAVIER commented on #700
May I work on this?

[2020-10-05 03:26] manvendra3 commented on #708
can i do this in c++

[2020-10-05 03:29] ayush-670 opened #726 "Graph folder in Data Structures"
Can I add a folder of Graph Algorithms in Data Structures?

[2020-10-05 03:33] chinmaym07 commented on #695
Can you assign it to me for C++?@ahampriyanshu

[2020-10-05 03:36] chinmaym07 commented on #704
Hey can you assign this to me for C++.?

[2020-10-05 03:37] chinmaym07 commented on #710
Can I do this in c.?

[2020-10-05 03:38] chinmaym07 commented on #709
Can you assign this to me for C.?

[2020-10-05 03:39] chinmaym07 commented on #707
Can you assign this to me for C++.?

[2020-10-05 03:39] mhimanshu712 commented on #697
I can do it in C++ and C.

[2020-10-05 03:41] chinmaym07 commented on #708
Can you assign it to me for C++.?

[2020-10-05 03:42] chinmaym07 commented on #705
Can I do in this c++.?

[2020-10-05 03:43] chinmaym07 commented on #701
Can I do this in C++.?

[2020-10-05 03:44] chinmaym07 commented on #697
Can I do this in C.?

[2020-10-05 03:45] mhimanshu712 commented on #684
I can do C.

[2020-10-05 03:45] chinmaym07 commented on #702
Can I do this in C++.?

[2020-10-05 03:51] TechnoPhasePRO commented on #705
@ahampriyanshu hey, i would like to work on this issue. I would create it in python language. Please assign this to me.

[2020-10-05 03:51] TechnoPhasePRO commented on #704
@ahampriyanshu hey, i would like to work on this issue. I would create it in python language. Please assign this to me.

[2020-10-05 03:51] Shreyansh252001 commented on #726
yes you can! i can do this for you but where is the Data Structures repo?

[2020-10-05 03:51] sayaPintar commented on #705
i want do this with c#

[2020-10-05 03:53] TechnoPhasePRO commented on #702
@ahampriyanshu hey, i would like to work on this issue. I would create it in python language. Please assign this to me.

[2020-10-05 03:53] TechnoPhasePRO commented on #701
@ahampriyanshu hey, i would like to work on this issue. I would create it in python language. Please assign this to me.

[2020-10-05 03:54] TechnoPhasePRO commented on #699
@ahampriyanshu hey, i would like to work on this issue. I would create it in python language. Please assign this to me.

[2020-10-05 03:54] TechnoPhasePRO commented on #698
@ahampriyanshu hey, i would like to work on this issue. I would create it in python language. Please assign this to me.

[2020-10-05 03:58] jossiey commented on #652
I can implement this algorithm in Java

[2020-10-05 04:01] TechnoPhasePRO commented on #653
@ahampriyanshu hey, i would like to work on this issue. I would create it in c# language.

[2020-10-05 04:01] TechnoPhasePRO commented on #653
@ahampriyanshu please assign this to me.

[2020-10-05 04:03] Mr-Destructive commented on #710
can I do this in bash?

[2020-10-05 04:05] Amulya-coder commented on #710
Can I contribute to this in C++.

[2020-10-05 04:08] Amulya-coder commented on #694
@ahampriyanshu I want to contribute to this in C++. Can you Please assign it to me.

[2020-10-05 04:12] Amulya-coder commented on #686
Can I do it in C. Please Assign it.

[2020-10-05 04:21] firehawk23 commented on #701
@ahampriyanshu i would like like to work in this in java. Can you assign it to me.

[2020-10-05 04:27] esheetaparulekar commented on #710
Can I contribute in Java?

[2020-10-05 04:34] Nirali0029 commented on #707
Please assign this to me for python

[2020-10-05 04:35] esheetaparulekar commented on #676
Can I contribute in Java?

[2020-10-05 04:35] Nirali0029 commented on #704
Please assign this to me for python

[2020-10-05 04:36] Nirali0029 commented on #697
Please assign this to me for python

[2020-10-05 04:37] Nirali0029 commented on #684
Please assign this to me for python

[2020-10-05 04:38] Nirali0029 commented on #649
Please assign this to me for python

[2020-10-05 04:39] neha0123 commented on #704
@ahampriyanshu  hey, i would like to work on this issue in c++ language,please assign it to me

[2020-10-05 04:39] Nirali0029 commented on #651
Assign this to me for python

[2020-10-05 04:40] neha0123 commented on #697
please assign it to me in c++.

[2020-10-05 04:47] Nirali0029 commented on #709
Please assign this to me for python

[2020-10-05 04:48] Nirali0029 commented on #688
I would like to implement this in python

[2020-10-05 04:52] Nirali0029 commented on #686
Please assign this to me for python

[2020-10-05 04:59] harshitgupta2000 commented on #697
I can do it in Java please assign it to me

[2020-10-05 05:06] NidhiNivedita6 commented on #726
Can I add my Newton Raphson Method code in C?

[2020-10-05 05:11] Mayankjha997 commented on #726
yes @ayush-670
you can add folder of graph Algorithm in data structures
please assign me ! I will do lagrange Interpolaion in c++

[2020-10-05 05:13] NidhiNivedita6 commented on #726
Can I add my code for Newton Raphson Method in C?

[2020-10-05 05:17] ahampriyanshu commented on #710
Hi @tdserapio :wave:  ,
Please opt a different language/issue. :grin:

[2020-10-05 05:23] Chitresh13 commented on #709
I want to contribute in java.

[2020-10-05 05:33] parauliya commented on #710
@ahampriyanshu , Can you please assign this to me in Golang?

[2020-10-05 05:34] #700 closed

[2020-10-05 05:34] #705 closed

[2020-10-05 05:35] TanishqPorwar commented on #391
@ahampriyanshu  @Mr-Vaibhav-Shukla
I want to work on this issue in python, can you assign it to me?

[2020-10-05 05:50] marioa98 commented on #664
Can I implemented using Ruby?

[2020-10-05 05:55] rguzg opened #734 "Stooge Sort"
**Submission Title**
Stooge Sort

**Submission Type**
Algorithm

**Submission Description**
Stooge Sort sorts an array of numbers by dividing it into thirds

**Submission Directory**
Algorithm => Sorting_Programming => Stooge_Sort => Stooge_Sort.py

**Contributors**

- [ ]  C++ -
- [ ]  C -
- [x]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] php -
-

[2020-10-05 06:03] Vivek-Raman commented on #676
I'd like to solve this problem in C#!

[2020-10-05 06:09] Chitresh13 commented on #704
I am working it on java

[2020-10-05 06:23] afeefaa333 commented on #701
Shall I try this in C language?

[2020-10-05 06:35] Shreyash0713 opened #737 "Find cycle in a Linked List"
**Submission Title**
Find cycle in a Linked List

**Submission Type**
Data Structure

**Submission Description**
Given a linked list, check if the linked list has loop or not

**Submission Directory**
Main_Folder => Data_Structures => Linked_List => Singly_Linked_List => DetectCycle.cpp

**Contributors**

- [x]  C++ -
- [x]  C -
- [x]  Python -
- [x] Java -
- [ ] JavaScript -
- [ ] TypeScript -
-

[2020-10-05 06:37] Shreyash0713 commented on #737
Can I work on this issue, please review.

[2020-10-05 06:41] adrputra commented on #666
I can do it in python and php

[2020-10-05 06:47] akaash11 commented on #306
Hi @ahampriyanshu , I have successfully created pull request #738 , following all the guidelines.

[2020-10-05 07:00] aanneettgg commented on #709
id like to work on this in C#

[2020-10-05 07:38] AnshMishra2001 commented on #737
Can I code this in cpp

[2020-10-05 07:39] AnshMishra2001 commented on #734
Can I work on this, pls?

[2020-10-05 07:40] shubhamsavarn commented on #697
please assign me this task to me in type script ruby php and swift

[2020-10-05 07:43] AnshMishra2001 commented on #710
Can I code this in Swift, pls?

[2020-10-05 07:46] appsx13 commented on #710
Can i do it in python?

[2020-10-05 07:52] daviddavo commented on #684
Can I do it in php?

[2020-10-05 07:53] daviddavo commented on #664
Is Java still available?

[2020-10-05 07:55] daviddavo commented on #676
It's this still available in Python?

By the way, It would be interesting to add solutions to some problems also using Haskell or Prolog

[2020-10-05 08:04] appsx13 commented on #704
Can i do it in python or javascript?

[2020-10-05 08:04] RuchaYagnik commented on #704
Hey @ahampriyanshu can I do it in C ?

[2020-10-05 08:08] shivamkejriwal9 commented on #665
Can I implement in python?

[2020-10-05 08:13] appsx13 commented on #688
Can i do it in python or javascript?

[2020-10-05 08:19] appsx13 commented on #708
Can you assign me this for python?

[2020-10-05 08:38] GerardoUbuntu commented on #597
I want to implement this in TypeScript

[2020-10-05 08:41] ahampriyanshu commented on #676
Hi @daviddavo :wave:
Great suggestion :+1:
If you got any ideas , go ahead and create a new issue
Thanks & Regard
@ahampriyanshu :v:

[2020-10-05 08:53] Rainbow-Ninja commented on #710
Can i do this in ruby?

[2020-10-05 08:58] adrputra commented on #666
I will do in python

[2020-10-05 09:08] ahampriyanshu commented on #653
Hi @git-bit-code ,
Your contribution has been reverted :warning:
Please push a valid file from the next time
:v:

[2020-10-05 09:15] parth93QA commented on #734
can you assign me for golang

[2020-10-05 09:18] chinmaym07 commented on #307
Hey @ahampriyanshu . Can you assign it to me . I would like to work on C .

[2020-10-05 09:25] chinmaym07 commented on #307
Hey @ahampriyanshu  .you have assigned me this task to do in C . but you have closed this issue earlier. Please reopen it so that i can made a PR for the C code.

[2020-10-05 09:57] amogh2019 commented on #676
Can I contribute in C++?

[2020-10-05 10:02] vrinda41198 commented on #737
Hello, can I work on this issue?

[2020-10-05 10:03] amogh2019 commented on #676
@ahampriyanshu Can I contribute in C++?

[2020-10-05 10:07] garimamishraa commented on #653
I will use java?

[2020-10-05 10:08] garimamishraa commented on #737
Can i implement this using C++?

[2020-10-05 10:18] swas1820 commented on #653
Hi I can do it in PHP. Please assign me.

[2020-10-05 11:29] solanki2899 commented on #704
i want to solve it in python.

[2020-10-05 11:51] ahampriyanshu commented on #704
Hi @solanki2899 ,
Please opt a different language/issue.
:v:

[2020-10-05 11:57] esheetaparulekar commented on #737
Can I contribute in Java?

[2020-10-05 12:00] GuilhermeOliveiraCasagrande commented on #704
Hey can I work on this algorithm with javascript?

[2020-10-05 12:04] #1 closed

[2020-10-05 12:07] ahampriyanshu opened #763 "Compound Interest"
**Submission Title**
Compound Interest

**Submission Type**
Maths_And_Stats

**Submission Description**
Compound interest is the addition of interest to the principal sum of a loan or deposit, or in other words, interest on interest. It is the result of reinvesting interest, rather than paying it out, so that interest in the next period is then earned on the principal sum plus previously accumulat

[2020-10-05 12:08] ahampriyanshu opened #764 "K-means_Clustering"
**Submission Title**
K-means_Clustering

**Submission Type**
Maths_And_Stats

**Submission Description**
k-means clustering is a method of vector quantization, originally from signal processing, that aims to partition n observations into k clusters in which each observation belongs to the cluster with the nearest mean, serving as a prototype of the cluster.

**Submission Directory**
Maths_And_Stat

[2020-10-05 12:09] waridrox commented on #763
Please assign the code in C++ language. I would be eager to contribute.

[2020-10-05 12:10] Dheeraj-01 commented on #764
Hi, can you assign me to this?  in java
Thanks :) 😊

[2020-10-05 12:20] waridrox commented on #763
I'm sorry but there is no Compound_Interest folder under Statistics section.

[2020-10-05 12:20] sbhavya18 commented on #694
I can contribute in C. Kindly assign this to me.

[2020-10-05 12:23] sbhavya18 commented on #690
I can implement in c++. kindly assign me this

[2020-10-05 12:30] gamezcua1 commented on #494
I can do the ruby version!

[2020-10-05 12:34] Sayantan-world commented on #737
Can I implement this in Python?

[2020-10-05 12:37] gamezcua1 commented on #703
I can do the ruby version

[2020-10-05 12:37] Dutta-SD commented on #695
I would like to work on this in Python.

[2020-10-05 12:43] prajwlr commented on #763
Please assign it to me. I will do it in c++

[2020-10-05 12:47] ferdinandjason commented on #684
Hi, could you assign me for Golang version?

[2020-10-05 12:50] divyanshrastogi51 commented on #649
I would like to work on this in Javascript

[2020-10-05 12:51] ferdinandjason commented on #704
Hi, could you assign me for Golang version?

[2020-10-05 12:52] ferdinandjason commented on #609
Hi, could you assign me for Golang version?

[2020-10-05 12:53] manan288 commented on #763
please assign it to me. I will do it in c++

[2020-10-05 12:58] gamezcua1 commented on #702
I can do it in Ruby 🙌

[2020-10-05 12:59] ferdinandjason commented on #686
Hi, could you assign me for Golang version?

[2020-10-05 13:06] solanki2899 commented on #704
@ahampriyanshu can you pls check whats wrong in my pull request, It is showing some error

[2020-10-05 13:14] GuilhermeOliveiraCasagrande commented on #704
@ahampriyanshu it appears that my pull request had an error in sending the welcome message or something

[2020-10-05 13:30] Harshalszz commented on #688
Hey! can I work on this in C.

[2020-10-05 13:34] solanki2899 commented on #704
@GuilhermeOliveiraCasagrande are you also facing welcome run error?

[2020-10-05 14:00] GuilhermeOliveiraCasagrande commented on #704
Yes,
`Error: HttpError: Resource not accessible by integration
Error: Resource not accessible by integration`
in the`Run bubkoo/welcome-action@v1`

[2020-10-05 14:22] KalyanKumar-4 commented on #764
we've to write detailed explanation& program about k-means clustering?

[2020-10-05 14:34] sbhavya18 commented on #703
i can implement this in c++. kindly assign me

[2020-10-05 14:34] esheetaparulekar commented on #763
Can I contribute in Java?

[2020-10-05 14:34] sbhavya18 commented on #698
i can contribute to this issue in c++. please assign me this.

[2020-10-05 14:36] sbhavya18 commented on #685
I can implement this in C. Please assign me this.

[2020-10-05 14:42] ahampriyanshu commented on #763
Hi @manan288 ,
Please opt a different language/issu :v:

[2020-10-05 14:43] uV3301 commented on #763
Hey @ahampriyanshu I had made a PR and added solutions too. Could you check that.

[2020-10-05 14:55] ferdinandjason commented on #653
@ahampriyanshu Hi, could you assign me for Golang version?

[2020-10-05 15:09] apostolosdiavolitsis commented on #710
Can i do it for PHP?

[2020-10-05 15:11] ahampriyanshu commented on #737
Hi @garimamishraa
Please opt a different language/issue :v:

[2020-10-05 15:14] AlessandroArosio commented on #702
Can I do a pancake (yummy) sort in Java?

[2020-10-05 15:36] jyotipro10 commented on #737
Can I write in C#? Please assign it to me.

[2020-10-05 15:36] RahulRS246 commented on #702
i would like to do this in java

[2020-10-05 15:41] jyotipro10 commented on #709
Can you assign it to me in Java ?

[2020-10-05 15:46] jyotipro10 commented on #698
Can you please assign it to me in Python?

[2020-10-05 15:50] shadab-me opened #788 "Recursion Algorithm"
**Submission Title**
Recursion Algorithm

**Submission Type**
Algorithm/Recursion/

**Submission Description**
Describe the Algo/Recursion

**Submission Directory**
Algorithm/Recursion/

**Contributors**

- [ ]  C++ -
- [ ]  C -
- [ ]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] php -
- [ ] Swift -
- [ ] C# -

[2020-10-05 15:53] ahampriyanshu commented on #704
My bad  :sweat_smile:
I have just updated master branch security rules but not the welocme bot  **.yml**
Thanks @solanki2899 and @GuilhermeOliveiraCasagrande for reporting :clap: :clap:

[2020-10-05 15:56] ChampInMyThought commented on #710
May I queue up for C, C++, and Python?

[2020-10-05 16:05] adrputra commented on #709
I'll do it in php

[2020-10-05 16:20] ahampriyanshu commented on #710
Hi @ChampInMyThought
Please opt a different language/issue :v:

[2020-10-05 16:22] chinmaym07 commented on #709
Hey @ahampriyanshu  I have already added my assigned work for C code of Lucas Series earlier .. Please Check.

[2020-10-05 16:23] ahampriyanshu commented on #702
Hi @TechnoPhasePRO & @RahulRS246 :wave:
Please opt a different language/issue :v:

[2020-10-05 16:23] Sayantan-world commented on #709
I want to code it in JavaScript. Can you assign it to me?

[2020-10-05 16:24] afeefaa333 commented on #703
Shall I try this in Java?

[2020-10-05 16:46] jayanta007 commented on #685
@ahampriyanshu , working for python version

[2020-10-05 16:51] shrutikdev commented on #664
Can I contribute to this for python?

[2020-10-05 16:57] jossiey opened #800 "Can I add Templates for Data Structure?"
**Submission Title**
Doubly Linked List

**Submission Type**
Data Structure

**Submission Description**
Using Templates to describe Data Structure with generic types

**Submission Directory**
Data_Structures => Linked_List => Doubly_Linked_List => DoublyLinkedList_C++_Template.extension

**Contributors**

- [x]  C++ -
- [ ]  C -
- [ ]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
-

[2020-10-05 16:57] gabriel21henrique commented on #475
Hello @ahampriyanshu , I created the #798, could you check it out?

[2020-10-05 17:09] brane commented on #763
I'm up for C#

[2020-10-05 17:12] atingarg1406 commented on #788
I want to do this using C++. Do assign me the particular task.

[2020-10-05 17:50] chinmaym07 commented on #699
Hey **@ahampriyanshu**  Can you Please assign it to me . I would like to do in C.

[2020-10-05 17:51] chinmaym07 commented on #703
Hey **@ahampriyanshu**  I would like to do in C. Please assign it to me.

[2020-10-05 17:52] subhadeep1912 commented on #507
i just did for C imma do for C# too

[2020-10-05 17:55] chinmaym07 commented on #698
Hey **@ahampriyanshu**  Can you please assign it to me .I would like to do in C.

[2020-10-05 17:56] chinmaym07 commented on #694
I can do it in Java .Please assign it to me.

[2020-10-05 18:04] jayanta007 commented on #653
@ahampriyanshu I make changes in C language

[2020-10-05 18:08] vrinda41198 commented on #737
Hi, it seems that the C++ code has already been submitted and merged, can I submit the solution in Golang?

[2020-10-05 18:16] Mrsterius commented on #764
Hi, I can code this algorithm in Python. Please assign this issue to me.

[2020-10-05 18:38] brane commented on #664
I'm up for C#

[2020-10-05 18:40] gabriel21henrique commented on #788
I would like to work on it, C# lang. Can you assign me?

[2020-10-05 18:42] gabriel21henrique commented on #788
I would like to work on it using JavaScript. Can you assign me?

[2020-10-05 18:44] onkargagare commented on #685
Please assign me for Java

[2020-10-05 18:50] Avninder99 commented on #734
Can you assign this to me for C++ and JavaScript ?

[2020-10-05 19:11] jayanta007 commented on #686
@ahampriyanshu please assign me for Java

[2020-10-05 19:12] brane commented on #704
I'm up for C#

[2020-10-05 19:15] jayanta007 commented on #764
@ahampriyanshu i will try in c++, please assign me for c++

[2020-10-05 20:05] TheBlckCat commented on #525
Hi ✌️,
I want to work on this issue in Ruby 💎

[2020-10-05 20:09] GuilhermeOliveiraCasagrande commented on #708
Can I be assigned for a javascript implementation?

[2020-10-05 21:33] GuilhermeOliveiraCasagrande commented on #708
I have some problems. First, does it needs to find out if a given square matrix is a markov matrix or does it need to generate one?

[2020-10-05 22:03] huisenbr commented on #690
Added pull request for C#

[2020-10-05 22:05] huisenbr commented on #734
Can you add me for C#?

[2020-10-05 22:06] huisenbr commented on #702
Can you add me for C#

[2020-10-05 22:37] gabriel21henrique commented on #788
Hello @shadab-me, I created the #819, could you check it out?

[2020-10-05 22:52] chrisgithubok commented on #788
I would like to work on the ruby example. Can you assign me?

[2020-10-05 22:58] JayavardhaniKathika commented on #788
I would like to work on Java? Can you assign me one?

[2020-10-06 00:42] SalmonKing72 commented on #763
Can I grab this in Python?

[2020-10-06 02:12] AnaGVF commented on #649
I would very much like to work on this algorithm in C++ !

[2020-10-06 02:38] huisenbr commented on #703
I will do this in C#

[2020-10-06 02:49] Sayantan-world commented on #763
Can I do this in python?

[2020-10-06 03:11] ahampriyanshu commented on #708
Hi @GuilhermeOliveiraCasagrande :clap:
The program needs to determine whether the matrix entered is a markov matrix or not :v:

[2020-10-06 03:15] hyunjiLeeTech commented on #697
Can I do this in C#?

[2020-10-06 03:35] Mr-Vaibhav-Shukla opened #842 "Count divisible pairs in an array"
**Submission Title**
Count divisible pairs in an array

**Submission Type**
Data Structures

**Submission Description**
Count pairs in the array such that one element of pair divides other.

**Submission Directory**
Data_Structures => Maps_Hash_Dict => Filename.extension

**Contributors**

- [ ]  C++ -
- [ ]  C -
- [ ]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [

[2020-10-06 03:37] a-r-1 opened #843 "Mode Function (Statistics) - Python"
**Submission Title**
Mode Average

**Submission Type**
Maths_And_Stats

**Submission Description**
Algo takes input of a dataset and finds the mode or modes (if there are multiple).

**Submission Directory**
algo_ds_101 => Maths_And_Stats => Statistics => Mode => mode.py

**Contributors**

- [ ]  C++ -
- [ ]  C -
- [x]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [

[2020-10-06 03:43] Aryan-dev007 commented on #842
I would love to contribute to this!
Preferring C, C++ and Python
Please Assign it to me.

[2020-10-06 03:43] Abhicoder03 commented on #842
Hi @Mr-Vaibhav-Shukla I would like to work on this.

[2020-10-06 03:47] Mr-Vaibhav-Shukla opened #845 "Verticle sum of Binary Tree"
**Submission Title**
Verticle sum of Binary Tree

**Submission Type**
Data Structure

**Submission Description**
Find the vertical sum of the nodes that are in the same vertical line in Binary tree.

**Submission Directory**
 Data_Structures => Maps_Hash_Dict => Filename.extension

**Contributors**

- [x]  C++ -
- [ ]  C -
- [ ]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Go

[2020-10-06 03:50] Mr-Vaibhav-Shukla opened #846 "Cuckoo Hashing"
**Submission Title**
Cuckoo Hashing

**Submission Type**
Data Structure

**Submission Description**
Cuckoo hashing applies the idea of multiple-choice and relocation together and guarantees O(1) worst case lookup time.

**Submission Directory**
 Data_Structures => Maps_Hash_Dict => Filename.extension

**Contributors**

- [x]  C++ -
- [ ]  C -
- [ ]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] T

[2020-10-06 03:52] kachus22 commented on #737
Hey, I would like to submit it with TypeScript

[2020-10-06 03:54] Mr-Vaibhav-Shukla opened #847 "Amicable Numbers"
**Submission Title**
Amicable Numbers

**Submission Type**
Data Structure

**Submission Description**
Two numbers are amicable if the first is equal to the sum of divisors of the second, and if the second number is equal to the sum of divisors of the first.

**Submission Directory**
 Data_Structures => Maps_Hash_Dict => Filename.extension

**Contributors**

- [x]  C++ -
- [x]  C -
- [x]  Python -

[2020-10-06 03:59] Mr-Vaibhav-Shukla opened #848 "Recaman’s sequence"
**Submission Title**
Recaman’s sequence

**Submission Type**
Data Structure

**Submission Description**
It is basically a function with domain and co-domain as natural numbers and 0.

**Submission Directory**
 Data_Structures => Maps_Hash_Dict => Filename.extension

**Contributors**

- [x]  C++ -
- [ ]  C -
- [x]  Python -
- [x] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Rub

[2020-10-06 04:03] gokulkannan7 commented on #848
@Mr-Vaibhav-Shukla can I solve this question in c++?

[2020-10-06 04:14] Nirali0029 commented on #847
Please assign this to me for python

[2020-10-06 04:16] Nirali0029 commented on #848
Please assign this to me for python

[2020-10-06 04:22] ahampriyanshu commented on #842
Great :clap: :clap:

[2020-10-06 04:38] Deepak2417 commented on #848
I can solve this using Java. Kindly assign this to me.

[2020-10-06 04:47] sakshi-negi123 commented on #845
i would like to work on it

[2020-10-06 04:51] Deepak2417 commented on #847
Can I also write code using C++ or Java?

[2020-10-06 04:54] Deepak2417 commented on #846
Please assign me for C++.

[2020-10-06 04:58] Deepak2417 commented on #763
Can I solve this using JavaScript?

[2020-10-06 05:35] Upasana9 opened #852 "Largest Sum Contiguous Subarray (Kadane’s Algorithm)"
**Submission Title**
Largest Sum Contiguous Subarray

**Submission Type**
Algorithm

**Submission Description**
Program to find the sum of contiguous subarray within a one-dimensional array of numbers which has the largest sum.

**Submission Directory**
Algorithm => Dynamic_Programming =>Largest_Sum_Contiguous_Subarray=> ... => LSCS.extension

**Contributors**

- [x]  C++ -
- [ ]  C -
- [x]  Pytho

[2020-10-06 05:42] Upasana9 commented on #842
I will love to contribute preferring C++. Please assign it to me.

[2020-10-06 05:51] dinendra007 commented on #664
i can implement it in scala

[2020-10-06 06:00] ayush-670 commented on #726
Sure, I'll work on adding graph algorithms folder in data structures.

[2020-10-06 06:04] Amulya-coder commented on #845
I wants to work on C++.

[2020-10-06 06:07] BhargaviChada commented on #710
Can  I take this in Java

[2020-10-06 06:18] guygreenleaf commented on #852
Hello,

Not sure what this issue is asking. The title leads me to believe the problem is to find the largest contiguous subarray.
I can handle this recursively in C++ if you'd like to assign me to it.

[2020-10-06 06:22] shubham2704 commented on #688
@ahampriyanshu i would like to do it in Ruby. pleas assign me

[2020-10-06 06:22] TechnoPhasePRO commented on #698
@ahampriyanshu  i have made a PR please look at it. Also you please make me an assignee.

[2020-10-06 06:25] TechnoPhasePRO commented on #698
@ahampriyanshu  Please give some insights about the error ocurring in the runtime in my PR.

[2020-10-06 06:35] shubham2704 commented on #666
@ahampriyanshu i would like to do it in javascript

[2020-10-06 06:39] ahampriyanshu opened #859 "More Haskell Programs"
**Submission Title**
:bangbang: Help Needed :bangbang:

**Submission Type**
Algorithm + Data Structure + STL + Maths_And_Stats + Resources

**Submission Description**
Implement all the existing programs in ``haskell``

**Submission Directory**
Main_Folder => Sub_Folder => ... => ... => Filename.hs/lhs

**Important**

- Don't wait to get assigned :no_entry_sign:
- Just create the PR :heavy_check_ma

[2020-10-06 06:41] ahampriyanshu opened #860 "More Bash Programs"
**Submission Title**
:bangbang: Help Needed :bangbang:

**Submission Type**
Algorithm + Data Structure + STL + Maths_And_Stats + Resources

**Submission Description**
Implement all the existing programs in ``bash script``

**Submission Directory**
Main_Folder => Sub_Folder => ... => ... => Filename.sh

**Important**

- Don't wait to get assigned :no_entry_sign:
- Just create the PR :heavy_check_ma

[2020-10-06 06:44] ahampriyanshu opened #862 "More Scala Programs"
**Submission Title**
:bangbang: Help Needed :bangbang:

**Submission Type**
Algorithm + Data Structure + STL + Maths_And_Stats + Resources

**Submission Description**
Implement all the existing programs in ``scala``

**Submission Directory**
Main_Folder => Sub_Folder => ... => ... => Filename.sc

**Important**

- Don't wait to get assigned :no_entry_sign:
- Just create the PR :heavy_check_mark:
-

[2020-10-06 06:49] ahampriyanshu opened #863 "More Clojure Programs"
**Submission Title**
:bangbang: Help Needed :bangbang:

**Submission Type**
Algorithm + Data Structure + STL + Maths_And_Stats + Resources

**Submission Description**
Implement all the existing programs in ``clojure``

**Submission Directory**
Main_Folder => Sub_Folder => ... => ... => Filename.clj/cljs

**Important**

- Don't wait to get assigned :no_entry_sign:
- Just create the PR :heavy_check_

[2020-10-06 06:51] Mr-Destructive commented on #847
can I do this in C and C++?

[2020-10-06 07:02] Nirali0029 commented on #852
I would like to do this for python.

[2020-10-06 07:03] ahampriyanshu commented on #847
Hi @Mr-Destructive :wave:  go ahead with C and C++.
Hi @Deepak2417 :wave:  go ahead with java.

[2020-10-06 07:28] TechnoPhasePRO commented on #698
@ahampriyanshu  can i contribute cocktail sort tail in java language.

[2020-10-06 07:54] ferdinandjason commented on #863
Hi @ahampriyanshu I've raised PR to add Clojure version of the Fibonacci number

[2020-10-06 08:03] Mr-Vaibhav-Shukla commented on #845
Hi @sakshi-negi123 Please opt a language

[2020-10-06 08:06] Mr-Vaibhav-Shukla commented on #842
Hi @Upasana9 Please opt any different language.

[2020-10-06 08:10] sakshi-negi123 commented on #845
@Mr-Vaibhav-Shukla  i want to work  on  c++

[2020-10-06 08:14] guygreenleaf commented on #852
Hello, can you please add the Largest_Sum_Contiguous_Subarray folder inside the Dynamic Programming folder so I can submit a PR?

Thanks!

[2020-10-06 09:04] ahampriyanshu commented on #698
Hello @TechnoPhasePRO :wave:
I have the master branch's security rules but not the **.yml** conf file of welcome bot
Will fix it later :v:

[2020-10-06 09:21] ulieckstein commented on #788
i'll do the c# file, please assign me

[2020-10-06 09:31] Mayankjha997 commented on #726
@ayush-670  Please review and merge my PR #869

[2020-10-06 09:41] TechnoPhasePRO commented on #698
@ahampriyanshu Please look at the PR #870 made, I have added cocktail sort in java language.

[2020-10-06 10:14] ulieckstein commented on #788
sorry, i had a little error in my PR, already updated my fork. do i need to create another PR?

[2020-10-06 10:35] davidlevinwork commented on #863
Hi
If i want to create a new topic folder under
algo_ds_101/Algorithms/Search_Algorithms/
how can i do it?

I want to implement an algo cols SELECT (find the k number in unsorted array in O(n))

[2020-10-06 10:44] shadab-me opened #875 "Remove Items from duplicates Array"
**Submission Title**
Bubble Sort/AVL Graph/Vector

**Submission Type**
Algorithm/Data Structure/Array/

**Submission Description**
Describe the Algo/DS

**Submission Directory**
Algorithm => Data Structure => ... => ... => Filename.extension

**Contributors**

- [ ]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] php -
- [ ] Swift -
- [ ] C# -

[2020-10-06 10:48] p-davide commented on #852
I'd like to do this in C.

[2020-10-06 10:51] Arsenic-ATG commented on #875
hi @shadab-me , I would like to work on this issue and can provide the answer in swift , python and C++. If you allow, I may start my work on this issue

[2020-10-06 10:53] ShehzadAhm commented on #875
Hi @shadab-me, can I work on this issue?

[2020-10-06 10:54] PrathamesR commented on #875
I can resolve this issue using C# and java, assign me if I should start

[2020-10-06 10:55] shadab-me commented on #875
I am working on JavaScript. Assign me

[2020-10-06 11:05] ahampriyanshu commented on #875
Invalid Issue :warning:

[2020-10-06 11:05] #875 closed

[2020-10-06 11:08] Adigoo commented on #862
@ahampriyanshu Can you Asssign this to me?

[2020-10-06 11:09] Arsenic-ATG commented on #852
I would like to do this for Swift.

[2020-10-06 11:15] ulieckstein commented on #708
i'll do it in c#

[2020-10-06 11:17] ulieckstein commented on #597
i would like to do it in c#

[2020-10-06 11:41] chinmaym07 commented on #846
Please assign me for java.

[2020-10-06 11:43] chinmaym07 commented on #848
Can you assign this to me in C.

[2020-10-06 11:44] chinmaym07 commented on #852
Please assign this to me in java.

[2020-10-06 11:47] Harshalszz commented on #726
Hey ! can I add Kruskal Algorithm in C++.