[2020-10-06 11:52] Shreyansh252001 commented on #726
i understood now i can add any algo of your choice with reference if you assign it to me.please assign me!!!!!!

[2020-10-06 12:08] Harshalszz commented on #649
Hey! can I work on this in C.

[2020-10-06 12:47] CormacKrum commented on #842
Please Assign Me this Code in Java

[2020-10-06 12:48] CormacKrum commented on #763
Please Assign Me this Code In Python

[2020-10-06 12:49] CormacKrum commented on #707
Please Assign this to me For Java

[2020-10-06 12:51] CormacKrum commented on #694
Please Assign It to me in Python

[2020-10-06 13:03] sharannyobasu opened #901 "Generate Brackets code in c++"
**Submission Title**
Balanced Parentheses (Recursion)

**Submission Type**
Data Structure/Recursion

**Submission Description**
Describe the Algo/DS/STL

**Submission Directory**
Data_Structures => Recursion => BalancedParentheses.cpp

**Contributors**

- [x]  C++ -
- [ ]  C -
- [ ]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] php -
- [ ] Swift -
-

[2020-10-06 13:08] keshari777 commented on #852
I would like to contribute to java

[2020-10-06 13:21] sharannyobasu commented on #901
Pull request at #904

[2020-10-06 13:49] shadab-me commented on #847
I am working on JavaScript assign to me.

[2020-10-06 14:33] ukitta555 commented on #401
I'd like to work on JS version of this.

[2020-10-06 14:34] ukitta555 commented on #653
Would love to work on it. Language - Javascript

[2020-10-06 14:36] ukitta555 commented on #685
Would love to work on it using JS.

[2020-10-06 14:38] ukitta555 commented on #708
Assign me for JS please.

[2020-10-06 14:50] harshita-sharma11 commented on #863
Please make the required changes according to the new rules of hacktober.

[2020-10-06 14:52] adidesh07 commented on #694
I can contribute to this issue in Python, if assigned. Thanks

[2020-10-06 14:53] divyadreddy opened #908 "Big Integer Arithmetic"
**Submission Title**
Big Integer Arithmetic

**Submission Type**
Algorithm

**Submission Description**
Using Karatsuba multiplication and optimised subtraction for implementing gcd, exponentiation, factorial, addition, multiplication, modulo of big integers.

**Submission Directory**
Algorithms => Big Integer

**Contributors**

- [x]  C++ -
- [ ]  C -
- [ ]  Python -
- [ ] Java -
- [ ] JavaScript

[2020-10-06 15:02] divyadreddy opened #911 "Generic Deque Implementation"
**Submission Title**
Generic Deque Implementation

**Submission Type**
Data Structures

**Submission Description**
Implementation of Deque STL

**Submission Directory**
Data Structures=>Deque

**Contributors**

- [x]  C++ -
- [ ]  C -
- [ ]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] php -
- [ ] Swift -
- [ ] C# -

[2020-10-06 15:11] dvrzan commented on #494
I would like to submit a solution in Swift.

[2020-10-06 15:16] divyadreddy commented on #911
I am working on this

[2020-10-06 15:30] ahampriyanshu commented on #863
And what are those ??

[2020-10-06 15:43] CormacKrum commented on #911
Please Assign me this In Java or C++

[2020-10-06 15:47] kishore-tw commented on #699
Can you please assign me to this?

[2020-10-06 15:50] Kishore-abhimanyu commented on #699
Can you please assign me to this?

[2020-10-06 15:58] GuilhermeOliveiraCasagrande commented on #708
Already done @ukitta555, check here if you can improve it #874

[2020-10-06 16:17] purnima11-igdtu commented on #901
can u assign me this ? i can do with stacks in c++

[2020-10-06 16:25] ahampriyanshu commented on #708
Hi @ukitta555 :wave:
Please opt a different language/issue :v:

[2020-10-06 16:28] #908 closed

[2020-10-06 16:28] #901 closed

[2020-10-06 16:30] ahampriyanshu commented on #609
thanks everyone :v:

[2020-10-06 16:30] #609 closed

[2020-10-06 16:30] #600 closed

[2020-10-06 16:33] ahampriyanshu commented on #597
Hi @ulieckstein :wave:
I'm closing this issue but you can still go ahead and create a PR.

[2020-10-06 16:33] ahampriyanshu commented on #597
thanks everyone :v:

[2020-10-06 16:33] #597 closed

[2020-10-06 16:33] ahampriyanshu commented on #568
thanks everyone :v:

[2020-10-06 16:33] #568 closed

[2020-10-06 16:33] ShreyasNanaware commented on #911
I want to work on this issue in Python

[2020-10-06 16:34] ahampriyanshu commented on #525
Hi @TheBlckCat  :wave:
I'm closing this issue but you can still go ahead and create a PR.

[2020-10-06 16:34] ahampriyanshu commented on #525
thanks everyone :v:

[2020-10-06 16:34] #525 closed

[2020-10-06 16:35] ahampriyanshu commented on #507
Hi @subhadeep1912  :wave:
I'm closing this issue but you can still go ahead and create a PR.

[2020-10-06 16:35] ahampriyanshu commented on #507
thanks eveyone :v:

[2020-10-06 16:35] #507 closed

[2020-10-06 16:36] ahampriyanshu commented on #502
thanks everyone :v:

[2020-10-06 16:36] #502 closed

[2020-10-06 16:36] ahampriyanshu commented on #498
thanks everyone :v:

[2020-10-06 16:36] #498 closed

[2020-10-06 16:37] ahampriyanshu commented on #489
thanks everyone :v:

[2020-10-06 16:37] ahampriyanshu commented on #401
Hi @ukitta555  :wave:
I'm closing this issue but you can still go ahead and create a PR.

[2020-10-06 16:38] ahampriyanshu commented on #401
thanks everyone :v:

[2020-10-06 16:38] #401 closed

[2020-10-06 16:38] ahampriyanshu commented on #398
thanks everyone :v:

[2020-10-06 16:38] #398 closed

[2020-10-06 16:39] ahampriyanshu commented on #392
thanks everyone :v:

[2020-10-06 16:39] #392 closed

[2020-10-06 16:39] ahampriyanshu commented on #391
thanks everyone :v:

[2020-10-06 16:39] #391 closed

[2020-10-06 16:45] Kishore-abhimanyu commented on #852
I would like to work on it. Can you please assign me to this?

[2020-10-06 16:45] ahampriyanshu commented on #701
thanks everyone :v:

[2020-10-06 16:45] #701 closed

[2020-10-06 16:46] ahampriyanshu commented on #699
thanks everyone :v:

[2020-10-06 16:49] ahampriyanshu commented on #694
Hi @adidesh07 :wave:
Please opt a different language/issue :grin:

[2020-10-06 16:50] Kishore-abhimanyu commented on #667
I like to work this in python.Please add me to this issue

[2020-10-06 16:51] Kishore-abhimanyu commented on #664
I like to work this in python.Please add me to this issue

[2020-10-06 16:55] Sanika1999 commented on #845
Can I do this for java?

[2020-10-06 17:03] ahampriyanshu commented on #664
thanks everyone :v:

[2020-10-06 17:03] #664 closed

[2020-10-06 17:04] ahampriyanshu commented on #623
thanks everyone :v:

[2020-10-06 17:04] #623 closed

[2020-10-06 17:05] tomasloksa commented on #709
Doing this in typescript

[2020-10-06 17:06] ahampriyanshu commented on #704
thanks everyone :v:

[2020-10-06 17:06] #704 closed

[2020-10-06 17:08] ahampriyanshu commented on #710
thanks everyone :v:

[2020-10-06 17:08] #710 closed

[2020-10-06 17:12] Mrsterius commented on #764
Submitted. Please let me know if there any changes to be made.

[2020-10-06 17:14] abhinav-idle commented on #788
I'll do it in python, please assign me.

[2020-10-06 17:40] Divyessh commented on #842
I also want to contribute in Python

[2020-10-06 17:56] KPsychO opened #920 "Djikstra on a custom graph using leftist heap C++"
**Submission Title**
Dijkstra using LeftistHeap

**Submission Type**
Algorithm

**Submission Description**
Dijkstra on leftist heap

**Submission Directory**
Algorithms => Graph => Dijkstra => Filename.extension

**Contributors**

- [x]  C++ -
- [ ]  C -
- [ ]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] php -
- [ ] Swift -
- [ ] C# -

[2020-10-06 18:06] tomasloksa commented on #847
doing this in Typescript ^^

[2020-10-06 18:06] aanneettgg commented on #848
id like do this in C#

[2020-10-06 18:11] tomasloksa commented on #848
Doing this in Typescript ^^

[2020-10-06 18:56] abhinav-idle commented on #663
I would like to do this in python.
Please assign me this to work on.

[2020-10-06 19:00] abhinav-idle commented on #665
Allow me to implement this in java.

[2020-10-06 19:35] appsx13 commented on #763
Can I do it in python?

[2020-10-06 19:49] ahampriyanshu commented on #763
Hi @appsx13
Please opt a different language/issue. :grin:

[2020-10-06 19:50] kinshukdua commented on #763
Kindly assign this task to me in Typescript

[2020-10-06 21:03] jkendall327 commented on #847
Hi, I'd like to submit a C# version. Thank you.

[2020-10-06 23:57] choijean opened #940 "Minimum sum descent in C"
**Submission Title**
Minimum Sum Descent

**Submission Type**
Algorithm

**Submission Description**
Some positive integers are arranged in an equilateral triangle with n numbers in it's base like the one show below:
[code]

This algorithm determines the smallest sum in a descent from the triangle apex to its base through a series of adjacent numbers (shown in the figure by dashes)

**Submission Di

[2020-10-07 01:24] ricky1812 opened #942 "Sramble String/Dynamic Programming"
**Submission Type**
Algorithm/Data Structure/STL/Maths_And_Stats

**Submission Description**
Describe the Algo/DS/STL

**Submission Directory**
Main_Folder => Sub_Folder => ... => ... => Filename.extension

**Contributors**

- [x]  C++ -
- [x]  C -
- [ ]  Python -
- [x] Java -
- [x] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] php -
- [ ] Swift -
- [ ] C# -

[2020-10-07 01:25] ricky1812 commented on #942
I want to work on this issue.

[2020-10-07 02:00] GregPikitis commented on #842
I would like to contribute! C, C++, Java or Python are fine with me

[2020-10-07 02:05] gabriel21henrique commented on #940
I would like to work on this using C#. Can you assign me?

[2020-10-07 02:09] GregPikitis commented on #788
I can do C++, C, Java or Python!

[2020-10-07 02:23] soorya54 commented on #940
I would like to solve this. Can you assign it to me?

[2020-10-07 02:30] varad64 commented on #852
I would like to work on it using Java. Could you please assign it to me?

[2020-10-07 02:34] varad64 commented on #653
Hi, I'd like to work on it using Java. Could you please assign me to this?

[2020-10-07 02:34] GregPikitis commented on #708
I can do it in Java!

[2020-10-07 02:34] varad64 commented on #649
Hi, I'd like to work on it using Java. Could you please assign me to this?

[2020-10-07 02:37] shadab-me commented on #852
Done In JavaScript.

[2020-10-07 02:38] joy2306 commented on #940
is this issue still open , then i want to try for python, can you assign it to me?

[2020-10-07 04:00] Anu9518 commented on #494
Please assign this to me .

[2020-10-07 04:29] nayanika0208 commented on #911
Can i do this in c++??

[2020-10-07 04:29] Sanika1999 commented on #703
can I do this for python?

[2020-10-07 04:36] nayanika0208 commented on #395
can i do it in c++?

[2020-10-07 04:38] nayanika0208 commented on #737
hey can i do this in javascript??

[2020-10-07 05:17] Dkgiri619 commented on #859
@ahampriyanshu I have submitted few of haskell codes that i could write. Please find my PR and accept if you find it useful.

[2020-10-07 05:48] Vimlesh-Kumar commented on #942
In which language

[2020-10-07 06:13] hello-fri-end commented on #940
I would like to work on this. Can you please assign it to me?

[2020-10-07 06:16] hello-fri-end commented on #911
I'd like to work on this. Can you please assign it to me?

[2020-10-07 06:18] parth93QA commented on #842
please assign me the GOlang one

[2020-10-07 07:03] guygreenleaf commented on #920
Hi,
I can submit a solution for this in C++ if you'd like to assign me.

Cheers!

[2020-10-07 07:16] sushant19-99 commented on #942
Would like to work on this assignment using Java, kindly assign it.

[2020-10-07 07:18] sushant19-99 commented on #651
Would like to work on this using Java, kindly assign it.

[2020-10-07 07:30] nayanika0208 commented on #395
Please check my pull request no #956

[2020-10-07 07:33] KritiGandotra commented on #942
Hey there!
I would like to contribute using C++ language. Kindly assign me some work. Thank you!

[2020-10-07 07:37] Kunal2007 commented on #852
I would like to do it with C++. Please assign it to me.

[2020-10-07 07:42] hello-fri-end commented on #852
I implemented it in C++

[2020-10-07 07:45] SOURAB-BAPPA commented on #395
can i do it in  C

[2020-10-07 07:46] Kunal2007 commented on #788
I can do it in C++. Please assign it to me.

[2020-10-07 08:07] Bhavya-Tripathi commented on #788
I would like to add a recursion algorithm in c++ or python, please assign it to me.

[2020-10-07 08:19] deepanshuoct12 commented on #942
I want to work on this issue using c++

[2020-10-07 08:22] hello-fri-end commented on #852
@Vimlesh-Kumar :Already done. I have submitted a pull request as well.

[2020-10-07 08:38] svashish305 commented on #942
i want to work on this issue using c++

[2020-10-07 08:51] shruti512 opened #964 "PigeonholeSort"
**Submission Title**
PigeonholeSort

**Submission Type**
Algorithm

**Contributors**

- [X]  C++ -
- [ ]  C -
- [ ]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] php -
- [ ] Swift -
- [ ] C# -

[2020-10-07 09:28] krishrahul98 opened #968 "Combination Sum"
**Submission Title**
Combination Sum

**Submission Type**
Algorithm

**Submission Description**
Given an array of distinct integers candidates and a target integer target, return a list of all unique combinations of candidates where the chosen numbers sum to target.

**Submission Directory**
Algorithms => Recursion_Algorithm => Combination_Sum => combination_sum.cpp

**Contributors**

- [x]  C++ -

[2020-10-07 09:55] reyadkhan commented on #968
I would like to do it in php.

[2020-10-07 10:11] #788 closed

[2020-10-07 10:13] deepanshuoct12 commented on #942
what we have to do in this issue?

[2020-10-07 10:30] chinmaym07 commented on #964
Please assign me this for java & C.

[2020-10-07 10:41] GerardoUbuntu commented on #964
I want to implement this TypeScript

[2020-10-07 10:43] deepanshuoct12 commented on #968
I would like to do it in cpp

[2020-10-07 10:46] rohg007 opened #980 "B Tree"
**Submission Title**
B-Tree
**Submission Type**
Data Structure

**Submission Description**
Implementation of BTree DS. BTree is a DS that supports operations in O(log N) time and all the leaves are at the same level. It is memory efficient.

**Submission Directory**
Main_Folder => Data_Structures => Tree => BTree.cpp
**Contributors**

- [X]  C++ -
- [ ]  C -
- [ ]  Python -
- [ ] Java -
- [ ] Java

[2020-10-07 10:52] ukitta555 commented on #763
I'd like to do it in JS

[2020-10-07 10:55] vartika-arora commented on #980
I would like to take this issue up in Python.

[2020-10-07 10:57] hello-fri-end commented on #852
@Vimlesh-Kumar : Is there any issue with my implementation? Why wasn't it merged?

[2020-10-07 11:08] Arsenic-ATG commented on #649
I would like to work on it in swift.

[2020-10-07 11:09] deepanshuoct12 commented on #964
please assign me this issue, I will do it in C++

[2020-10-07 11:10] deepanshuoct12 commented on #940
I would like to work on this in C++. Can you please assign it to me?

[2020-10-07 11:11] deepanshuoct12 commented on #845
I would like to work on this. Can you please assign it to me?

[2020-10-07 11:13] deepanshuoct12 commented on #980
I would like to work on this. Can you please assign it to me?

[2020-10-07 11:14] deepanshuoct12 commented on #852
I would like to work on this in C++. Can you please assign it to me?

[2020-10-07 11:14] deepanshuoct12 commented on #842
I would like to work on this in C++. Can you please assign it to me?

[2020-10-07 11:15] deepanshuoct12 commented on #763
I would like to work on this in C++. Can you please assign it to me?

[2020-10-07 11:15] deepanshuoct12 commented on #737
I would like to work on this in C++. Can you please assign it to me?

[2020-10-07 11:16] deepanshuoct12 commented on #694
I would like to work on this in C++. Can you please assign it to me?

[2020-10-07 11:17] deepanshuoct12 commented on #697
I would like to work on this in C++. Can you please assign it to me?

[2020-10-07 11:17] deepanshuoct12 commented on #686
I would like to work on this in C++. Can you please assign it to me?

[2020-10-07 11:18] deepanshuoct12 commented on #684
I would like to work on this in C++. Can you please assign it to me?

[2020-10-07 11:20] deepanshuoct12 commented on #676
I would like to work on this in C++. Can you please assign it to me?

[2020-10-07 11:20] deepanshuoct12 commented on #649
I would like to work on this in C++. Can you please assign it to me?

[2020-10-07 11:21] deepanshuoct12 commented on #395
I would like to work on this in C++. Can you please assign it to me?

[2020-10-07 11:21] deepanshuoct12 commented on #494
I would like to work on this in C++. Can you please assign it to me?

[2020-10-07 11:32] deveshteotia12 commented on #697
Please assign it to me, I'll do it in c++

[2020-10-07 12:00] DEVinicius commented on #940
I would like to work on this in PHP. Can you please assign it to me?

[2020-10-07 12:14] belphegor-s commented on #980
I would like to work on this on C++

[2020-10-07 12:18] SUJATA19-could commented on #980
hey! can i work on this in C

[2020-10-07 12:21] rishitsaraf commented on #942
I want to work on this issue using c++ please.

[2020-10-07 12:21] Nirali0029 commented on #980
Can you please assign this to me in python

[2020-10-07 12:23] Nirali0029 commented on #968
Please assign this to me in python

[2020-10-07 12:24] Nirali0029 commented on #964
Please assign this to me for python

[2020-10-07 12:31] gautam08 commented on #980
I would like to work on it in JAVA.Please assign me.

[2020-10-07 12:32] belphegor-s commented on #968
I wanna work on this in Java

[2020-10-07 12:39] shruti512 commented on #964
That already exists

[2020-10-07 12:46] SUJATA19-could commented on #940
I would like to work on this in C++

[2020-10-07 13:20] agsanskar15 opened #988 "Extended Euclidean Algorithm for GCD & Multiplicative Inverse"
**Submission Title**
Extended Euclidean Algorithm

**Submission Type**
Maths_And_Stats/Number Theory

**Submission Description**
Extended Euclidean Algorithm for finding the GCD and the modular multiplicative inverse.

**Submission Directory**
Main_Folder => Maths_And_Stats => Number Theory => Extended Euclidean Algorithm => extendEuclid.cpp

**Contributors**

- [ ]  C++ -
- [ ]  C -
- [ ]  Python

[2020-10-07 13:21] agsanskar15 commented on #988
Hi there! Please assign this to me I will be using C++.

[2020-10-07 13:41] gamezcua1 commented on #737
I'd like to do it with Ruby 🙌

[2020-10-07 13:41] sark-2110 opened #994 "Priority Queue"
**Submission Title**
Priority Queue

**Submission Type**
Data Structure

**Submission Description**
Priority queues are a type of container adaptors, specifically designed such that its first element is always the greatest of the elements it contains, according to some strict weak ordering criterion.

This context is similar to a heap, where elements can be inserted at any moment, and only the max

[2020-10-07 13:42] sark-2110 commented on #994
Can you please assign me this issue? Thanks.

[2020-10-07 13:56] Riddhima23 commented on #942
Hello!I would like to work on this using c++

[2020-10-07 14:02] ukitta555 commented on #994
I will go for Java and JS

[2020-10-07 14:23] aish0007 commented on #988
Please assign to me i will use python3

[2020-10-07 14:30] illusionrs commented on #942
I want to work on java. Please assign issue

[2020-10-07 14:36] SOURAB-BAPPA commented on #994
i want to solve this program using python language

[2020-10-07 14:40] aish0007 opened #997 "MOS Algorithm"
**Submission Title**
Mos algo

**Submission Type**
Algorithm/Data Structure/STL/Maths_And_Stats

**Submission Description**
Mos algorithm is widely used for decreasing complexity in query base problems but it needs to be in every language
**Submission Directory**
Main_Folder => Sub_Folder => ... => ... => Filename.extension

**Contributors**

- [ ]  C++ -
- [ ]  C -
- [ ]  Python -
- [ ] Java -
-

[2020-10-07 14:41] aish0007 commented on #997
Can i do it in c++ or python

[2020-10-07 15:03] Digislaw commented on #994
I'd like to make it in C#.

[2020-10-07 15:14] SOURAB-BAPPA commented on #997
i want to program this issue in c and python
if you say also in c++ and go

[2020-10-07 15:21] Digislaw commented on #994
I'd like to implement it in JS.

[2020-10-07 15:31] Zaman3027 commented on #994
I would like do it in C++ please assign this to me

[2020-10-07 15:32] Zaman3027 commented on #994
I would like to do it in type Script please assign this to me

[2020-10-07 15:35] Zaman3027 commented on #694
I would like to work on TypeScript please assign this to me

[2020-10-07 15:56] AdamPlaskitt commented on #940
I would like to work on this in java. Can you please assign it to me?

[2020-10-07 17:26] gabriel21henrique commented on #997
I'd like to work on this using C, can you assign me?

[2020-10-07 18:31] Mayankjha997 commented on #942
I Want to work on c language . I want to add rock paper and scissor game. Please assign me

[2020-10-07 18:33] truthfool commented on #737
I would like to do it with python with detailed explanation using tortoise method:-)

[2020-10-07 18:38] truthfool commented on #737
I would like to do it in swift using tortoise method:-)

[2020-10-07 18:58] SusnatoPrime007 commented on #942
I want to work on stack in c,please assign me in this

[2020-10-07 19:07] SusnatoPrime007 commented on #845
I would like to do work on this on C,please assign this to me

[2020-10-07 20:03] kritika2311 commented on #942
I want to work on java ,please assign me some task.

[2020-10-07 20:24] Kartik-byte commented on #690
Hey I would like to do this in python. Can you please assign me this?
Thank you.

[2020-10-07 20:47] strikeraryu commented on #661
I like to get assigned for this issue

[2020-10-07 22:03] thainapires commented on #120
Hi! Can I do it in python?

[2020-10-07 22:04] shivam3310 commented on #942
I want to work on this issue in CPP. Kindly assign. Thankyou!

[2020-10-07 22:10] thainapires opened #1027 "Factorial Of A Number"
**Submission Title**
Factorial Recursive Algorithm

**Submission Type**
Algorithm

**Submission Description**
A recursive algoritmn that calculates the factorial of a positive integer n, detoned by n!, that is the product of all positive integers less than or equal to n.

**Submission Directory**
Maths_And_Stats => Algebra => Factorial =>  Factorial.py

**Contributors**

- [x]  C++ -
- [x]  C -
-

[2020-10-07 22:11] thainapires commented on #1027
Can you assign me for python?

[2020-10-07 23:23] mhechavarria commented on #1027
Can you assign me for JS pleass?

[2020-10-07 23:24] kcirym10 commented on #1027
Could I please be assigned to the C++ and/or C versions

[2020-10-08 01:22] kcirym10 commented on #980
May I implement this in C++?

[2020-10-08 01:23] itIsBrando commented on #847
I can get JavaScript

[2020-10-08 01:46] thepoppycat commented on #1027
May I please be assigned to the Python version?

[2020-10-08 02:12] thepoppycat commented on #1027
Apologies, could I please the assigned the golang one instead?

[2020-10-08 02:31] jmiguelpv commented on #1027
Hi! can you assign me for PHP version?

[2020-10-08 02:45] superconscript commented on #1027
Hi can you assign me the c++ version, I've completed my implementation, how do I submit it? Thank you.

[2020-10-08 02:51] divigarg opened #1036 "Non-recursive Merge sort"
**Submission Title**
MergeSort

**Submission Type**
Algorithm

**Submission Description**
provide a non-recurrsive way to merge sort

**Submission Directory**
Algorithm => Sorting_Algorithms => Merge_sort => non_recursive_merge_sort.c

**Contributors**

- [x]  C++ -
- [x]  C -
- [x]  Python -
- [x] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] php -
- [ ] Swift -
-

[2020-10-08 03:03] MananOO12 opened #1039 "Add NQueen algorithm in C++"
**Submission Title**
Bubble Sort/AVL Graph/Vector

**Submission Type**
Algorithm/Data Structure/STL/Maths_And_Stats

**Submission Description**
Describe the Algo/DS/STL

**Submission Directory**
Main_Folder => Sub_Folder => ... => ... => Filename.extension

**Contributors**

- [x]  C++ -
- [ ]  C -
- [ ]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ]

[2020-10-08 03:05] Nirali0029 commented on #1039
Please assign this to me for python

[2020-10-08 03:07] Nirali0029 commented on #1036
Please assign this to me for python

[2020-10-08 03:08] deepampriyadarshi commented on #1036
Please assign me this for C++ or PHP

[2020-10-08 03:13] Procoder16 commented on #1027
@thainapires ma'am, I have added the factorial recursive algorithm using C++.

Kindly review it and notify me if any change is required or else if it matches the requirements of this repo, then kindly merge it to the main branch.

Thank You

[2020-10-08 03:29] SusnatoPrime007 commented on #842
Please assign me the Javascript one.

[2020-10-08 04:38] anuva04 opened #1045 "Egg Dropping Puzzle"
**Submission Title**
Egg Dropping Puzzle

**Submission Type**
Algorithms/Dynamic_Programming

**Submission Description**
Describe the Algo

**Submission Directory**
Algorithms => Dynamic_Programming => Egg_Drop => Egg_Drop.cpp

**Contributors**

- [ ]  C++ -
- [ ]  C -
- [ ]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] php -
- [ ] Swift -
- [ ] C#

[2020-10-08 04:47] Nirali0029 commented on #1045
please assign this to me for python

[2020-10-08 04:50] rebelfire888 commented on #1045
I can write the code in C++ language

[2020-10-08 04:56] AdhitiS commented on #1045
Please assign this to me for C++ language

[2020-10-08 05:01] rebelfire888 commented on #1039
Please assign This to me for C

[2020-10-08 05:02] rebelfire888 commented on #1027
Please Assign This To Me In C language.

[2020-10-08 05:16] GerardoUbuntu commented on #1027
I want to do it in TypeScript

[2020-10-08 05:17] GerardoUbuntu commented on #1045
Please assign this to me for TypeScript

[2020-10-08 05:25] thainapires commented on #1027
Hi! Am I the one that has to assign? I'm new to the open source world, and I can't seen to find a place where I can assign everyone that is asking here. If someone could help me, it would be great! 😊

[2020-10-08 05:27] Jaynish007 commented on #1039
Please Assign this for c++, As I recently learn this algorithm I am very curious to contribute

[2020-10-08 05:27] Rohanfizz commented on #994
I can implement priority queue in cpp please assign this to me
Peace :)

[2020-10-08 05:28] rebelfire888 commented on #1045
Please Assign This To Me For C / C++ Language

[2020-10-08 05:29] rebelfire888 commented on #1027
@thainapires Yes Maam you have to assign Us The Tasks.

[2020-10-08 05:30] Procoder16 commented on #1027
@thainapires you can directly merge the PRs also if you want

[2020-10-08 05:36] Jaynish007 commented on #1039
I have learned this algorithm recently and I am very curious to contribute. If possible then please assign it to me for c++

[2020-10-08 06:00] Arsenic-ATG commented on #1027
@thainapires , you can't
the power of merging PRs and assigning people to an issue is only in the hands of repository managers.

[2020-10-08 06:34] Kadermiyanyedi commented on #1027
I want to do it in c# and golang

[2020-10-08 07:22] GerardoUbuntu commented on #940
I would like to work on this in TypeScript

[2020-10-08 08:34] Kartikey246 commented on #942
I want to work on this issue in c++

[2020-10-08 09:08] Kartikey246 opened #1058 "Segmented Sieve"
**Submission Title**
Segmented Sieve

**Submission Type**
Algorithm

**Submission Description**
Sieve of Eratosthenes is an algorithm for finding all the prime numbers in a segment [1;n] using **O(n log log n)** operations

**Submission Directory**
Maths_And_Stats => Number_Theory => Segmented_Sieve=> Segmented_Sieve.extension

**Contributors**

- [x]  C++ -
- [ ]  C -
- [x]  Python -
- [x] Java -

[2020-10-08 09:09] Kartikey246 commented on #1058
@ahampriyanshu  i created this issue please assign me this.

[2020-10-08 10:06] Kadermiyanyedi commented on #1058
Can you assign me for Python please?

[2020-10-08 10:30] YashJain2 commented on #1039
Please assign the problem to me I will push it within an hour of your response with better backtracking approach

[2020-10-08 10:36] YashJain2 opened #1063 "Peak Finding Algorithm( 1-D & 2-D matrices)"
**Submission Title**
Peak Finding Algorithm for a 1-D and 2-D matrix if present.

**Submission Type**
Arrays 1-D and 2-D

**Submission Description**
Algorithm approach with linear time complexity

**Submission Directory**
Algo=>Peak Finding=>1-D/2-D=>1-D_peak.cpp/2-D_peak.cpp

**Contributors**

- [ ]  C++ -
- [ ]  C -
- [ ]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang

[2020-10-08 10:45] Aditya489 commented on #1027
i want to do it in ruby and javascript can you assign me in this?

[2020-10-08 10:58] crew-guy commented on #1063
Hey ! Can I work on the python implementation of this ?
I know how to solve for 1-D array so it'll be pretty cool to try and figure out 2-D array implementation
Also, I know some JS and  am currently also learning C++ so I will try to post solutions in them as well.

[2020-10-08 11:05] Kadermiyanyedi commented on #847
I am working on Golang assign to me please

[2020-10-08 11:11] Kadermiyanyedi commented on #847
I am working on TypeScript assign to me.

[2020-10-08 12:39] Kadermiyanyedi commented on #846
Please assign me for python

[2020-10-08 12:45] dheerajpoonia29 commented on #942
I want to work on this issue in Javascript, I request to assign me work

[2020-10-08 12:52] Manas502 commented on #1063
Can I work on it in CPP?

[2020-10-08 12:53] Manas502 commented on #994
Can I work on it in C ?

[2020-10-08 12:55] Manas502 commented on #911
Can I implement the C language version?

[2020-10-08 13:27] meteora2002 commented on #942
Hey there!
I would like to contribute using C++ language. Kindly assign me some work. Thank you!Hey there!

[2020-10-08 13:57] aniket173000 commented on #994
Hi , could you please assign me this issue , I can implement it in c++.

[2020-10-08 13:59] AnjaliBhuva commented on #845
I would to like to do it in python, can u plz assign it to me?

[2020-10-08 14:09] rgarg-2711 commented on #1039
can you please assign it to me

[2020-10-08 14:12] GarvitBanga commented on #1058
Can you assign me this for Java?

[2020-10-08 14:13] rgarg-2711 commented on #686
can you please assign it to me?

[2020-10-08 14:14] viveksahu26 commented on #1063
Hey @YashJain2,i would like to work on jave.. Can you assign me..

[2020-10-08 14:15] rgarg-2711 commented on #737
can you please assign it to me?

[2020-10-08 14:17] viveksahu26 commented on #1027
Hey @thainapires , i would like to  work with this issue on Golang.  Can you assign me.

[2020-10-08 14:19] viveksahu26 commented on #737
Hey @Shreyash0713 ., i would like to work on this issue in Golang. Can you assign this to me..

[2020-10-08 14:21] viveksahu26 commented on #689
Hey @ahampriyanshu , can you assign me this issue for java.

[2020-10-08 14:32] Addhyay commented on #988
Please assign this to me, I'll code in Python3

[2020-10-08 14:39] neha07kumari commented on #1036
Can i work on this issue using java? @divigarg

[2020-10-08 15:06] Digislaw commented on #994
@Rohanfizz & @aniket173000
C++ implementation [already exists](https://github.com/ahampriyanshu/algo_ds_101/blob/master/Data_Structures/Queues/Priority%20Queues/priorityQueue.cpp).

[2020-10-08 15:09] neha07kumari commented on #1027
Please assign me in Golang. @ahampriyanshu

[2020-10-08 15:11] Swarn10 opened #1080 "Partition Problem - DP"
**Submission Title**
Partition Problem

**Submission Type**
Algorithm

**Submission Description**
Given a set of numbers, this algorithm determines if the given set can be partitioned into two subsets such that the sum of elements in both subsets is same. Let the sum of all elements of the set be **s** and the number of elements be **n**, then the time complexity of the algorithm will be O(s * n)

[2020-10-08 15:13] Swarn10 commented on #1080
@ahampriyanshu  I want to work on this issue in C++. This algorithm is not currently present inside the repo. Please assign this issue to me. Will be happy to help.

[2020-10-08 15:14] rath772k opened #1081 "Articulation Points or Cut Vertices in an Undirected Graph"
**Submission Title**
Finding Articulation Points or Cut Vertices in an Undirected Graph

**Submission Type**
Algorithm

**Submission Description**
An O(N+M) approach using dfs tree, N - number of vertices, M - number of edges.

**Submission Directory**
Algorithms=>Graph_Algorithms=>articulation_points.cpp

**Contributors**

- [x]  C++ -
- [ ]  C -
- [ ]  Python -
- [ ] Java -
- [ ] JavaScript -
-

[2020-10-08 15:16] Nirali0029 commented on #1081
I would like to work on python

[2020-10-08 15:17] rebelfire888 commented on #1080
please assign it to me in c language

[2020-10-08 15:17] rebelfire888 commented on #1081
please assign it to me in c language

[2020-10-08 15:19] Nirali0029 commented on #1080
please assign this to me for python

[2020-10-08 15:25] aakashsoni-cloud commented on #1058
can you assign me this issue for c++

[2020-10-08 15:28] aakashsoni-cloud commented on #1027
Please assign me in Python @ahampriyanshu

[2020-10-08 15:29] rebelfire888 commented on #848
please assign it to me in C

[2020-10-08 15:34] rath772k commented on #1081
I would like to implent in C++

[2020-10-08 15:35] YashJain2 commented on #1080
@ahampriyanshu please assign this problem to me for c++ for recursive approach

[2020-10-08 15:57] appsx13 commented on #1027
Can i go for javascript ?

[2020-10-08 16:17] shresth12-jain commented on #980
I would like to contribute to this by implementing Btree using C++.

[2020-10-08 16:29] gamezcua1 commented on #651
I can do it with Ruby 👌

[2020-10-08 16:45] aroradhruv2308 opened #1091 "Crossword Puzzle"
**Submission Title**
Crossword Puzzle

**Submission Type**
Algorithms/Backtracking

**Submission Description**
Describe the Algo

**Submission Directory**
Algorithms => Backtracking=> Crossword.cpp

**Contributors**

- [x]  C++ -
- [ ]  C -
- [ ]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] php -
- [ ] Swift -
- [ ] C# -

[2020-10-08 16:48] ravi7799 commented on #685
I implemented Trie using HashMap For better space constraints in java.
hope u will assign me for java implementation

[2020-10-08 16:54] duttabhishek32 commented on #494
Hey there, I can implement it using C programming. Can you assign it to me?

[2020-10-08 17:00] duttabhishek32 commented on #911
Hey there, I can implement it in C. Can you assign me this for C Language ?

[2020-10-08 17:27] aakashsoni-cloud commented on #968
can you assign me this for C++ @krishrahul98

[2020-10-08 17:33] krishrahul98 commented on #968
I am not author and C++ is already done.

[2020-10-08 17:33] #968 closed

[2020-10-08 17:36] Rudransh24 commented on #848
Hello! Can you please assign this to me in C, C++ ??

[2020-10-08 17:38] Rudransh24 commented on #852
Hello! Can you please assign this to me in C??

[2020-10-08 17:39] ahampriyanshu commented on #684
thanks everyone :v:

[2020-10-08 17:42] Rudransh24 commented on #842
Hello! Can you please assign this to me in C, C++ or python??

[2020-10-08 17:43] ahampriyanshu commented on #653
thanks everyone :v:

[2020-10-08 17:43] #653 closed

[2020-10-08 17:45] Rudransh24 commented on #690
Can you please assign this to me in c, c++ or python?

[2020-10-08 18:16] marioa98 commented on #847
I would like to implement it using Ruby

[2020-10-08 18:16] rgarg-2711 commented on #1027
can you please assign this to me?

[2020-10-08 18:17] rgarg-2711 commented on #852
can you please assign this to me?

[2020-10-08 18:50] sadow984 commented on #1039
can you please assign it to me for java

[2020-10-08 19:00] LSpajic commented on #652
Can i do it in python?

[2020-10-08 19:06] PrakashAditya17 commented on #1080
I can do this partition in java. Please assign if required @ahampriyanshu .

[2020-10-08 19:39] arjank commented on #1080
Please assign this to me for PHP

[2020-10-08 20:34] adaugochi commented on #1027
Hi, I will like to do this in PHP. Can you please assign this to me

[2020-10-08 22:03] Rudransh24 commented on #709
Hello! Can you assign it to me in C++(recursive/non-recursive solution)?

[2020-10-09 00:54] crew-guy opened #1115 "Min Heap Construction"
**Submission Title**
Min Heap Construction

**Submission Type**
Algorithms

**Submission Description**
Construct a min heap to find the min value in a Binary Tree. This same concept can be extrapolated to use a max heap to find the max value in a Binary Tree

**Submission Directory**
algo_ds_101 => Algorithms => Tree => Heap => minHeap.extension

**Contributors**

- [x]  C++ -
- [x]  C -
- [x]  Py

[2020-10-09 00:55] crew-guy commented on #1115
Can I please work on the Python and C++ Implementation of this problem ?

[2020-10-09 03:06] Nirali0029 commented on #1115
I would like to work on python implementation

[2020-10-09 03:57] Nirali0029 opened #1124 "Red-Black Tree"
**Submission Title**
Red-Black Tree

**Submission Type**
Data Structure

**Submission Description**
A red–black tree is a kind of self-balancing binary search tree. Each node stores an extra bit representing color, used to ensure that the tree remains approximately balanced during insertions and deletions.

**Submission Directory**
Data_Structures => Tree => Red_Black_Tree => Filename.extension

*

[2020-10-09 03:58] MananOO12 commented on #1115
#1123
Added min and max heap in single program.

[2020-10-09 04:03] ahampriyanshu commented on #1027
Hi @rgarg-2711 :wave: ,
As of now, only **swift** implementation is left.
So, if you are familiar with swift , go ahead. (I'm closing this issue but you can still make a PR)

[2020-10-09 04:03] ahampriyanshu commented on #1027
Thanks everyone :v:

[2020-10-09 04:03] #1027 closed

[2020-10-09 04:11] manthan2501 commented on #942
I would like to work on this issue in C++. kindly assign me this work.

[2020-10-09 04:12] DhruvaG2000 commented on #708
I can do it in c++

[2020-10-09 04:13] DhruvaG2000 commented on #707
would like to work on this in c++,
Kindly assign

[2020-10-09 04:15] ahampriyanshu commented on #1027
``Duplicate of #279 but still some PRs(that offers better code quality) have been merged  ``
Hi @thainapires :wave: ,
You can use the **search-bar** or **#** to search for a pre-existing issue  before opening a new one :smile:

[2020-10-09 04:26] rebelfire888 commented on #1124
Assign it to me in python language

[2020-10-09 04:29] Rudransh24 commented on #649
Can you please assign this to me in C?

[2020-10-09 04:37] ahampriyanshu commented on #707
Hi @DhruvaG2000 :wave: ,
Both of them have already been done.
Please opt a different language/issue.
:v:

[2020-10-09 04:38] ahampriyanshu commented on #708
Thanks everyone :v:

[2020-10-09 04:38] #708 closed

[2020-10-09 04:38] ahampriyanshu commented on #709
thanks everyone :v:

[2020-10-09 04:38] #709 closed

[2020-10-09 04:41] ahampriyanshu commented on #494
thanks everyone :v:

[2020-10-09 04:41] #494 closed

[2020-10-09 04:42] ahampriyanshu commented on #686
thanks everyone :v:

[2020-10-09 04:42] #686 closed

[2020-10-09 04:44] crew-guy commented on #1115
Alright cool work !
Except you both need to **actually** read the **contribution guidelines**
You cannot create PRs without being assigned to the issue
I guess you might have to revert your PRs till this issue actually gets approved and assigned by a maintainer
This is what prevents duplication of code in open-source projects

[2020-10-09 05:02] ahampriyanshu commented on #667
thanks everyone :v:

[2020-10-09 05:02] #667 closed

[2020-10-09 05:03] ahampriyanshu commented on #676
thanks everyone :v:

[2020-10-09 05:03] #676 closed

[2020-10-09 05:17] #1063 closed

[2020-10-09 05:19] Rudransh24 commented on #665
Can you please assign this to me in C/c++

[2020-10-09 05:21] Danotsonof opened #1132 "Doubly Linkedlist in C#"
**Submission Title**
Doubly Linkedlist

**Submission Type**
Data Structure

**Submission Description**
Doubly linked list is a linked data structure that consists of a set of sequentially linked records called nodes.

**Submission Directory**
Data_Structures=> Linked_List=> Doubly_Linked_List => Doubly_Linked_List.ext

**Contributors**

- [x]  C++ -
- [ ]  C -
- [x]  Python -
- [ ] Java -
- [ ] Ja

[2020-10-09 05:21] Danotsonof commented on #1132
Kindly assign this to me.

[2020-10-09 05:28] MananOO12 opened #1133 "cx"
**Submission Title**
Bubble Sort/AVL Graph/Vector

**Submission Type**
Algorithm/Data Structure/STL/Maths_And_Stats

**Submission Description**
Describe the Algo/DS/STL

**Submission Directory**
Main_Folder => Sub_Folder => ... => ... => Filename.extension

**Contributors**

- [ ]  C++ -
- [ ]  C -
- [ ]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ]

[2020-10-09 05:28] #1133 closed

[2020-10-09 05:38] crew-guy commented on #1132
Can I please implement this in Python ?

[2020-10-09 05:51] parauliya commented on #709
@ahampriyanshu, I think you have missed last couple of PRs.

[2020-10-09 05:55] Nirali0029 commented on #1132
Please assign this to me for python and c

[2020-10-09 06:55] ywalia01 commented on #1091
Hey, I'd like to work on this

[2020-10-09 06:56] crew-guy opened #1140 "Topological Sort"
**Submission Title**
Topological Sort

**Submission Type**
Algorithm

**Submission Description**
This is one of the **_coding interview favourites_**.
Basically enables topological ordering of a directed graph is a linear ordering of its vertices such that for every directed edge uv from vertex u to vertex v, u comes before v in the ordering.

**Submission Directory**
algo_ds_101 => Algorithms =>

[2020-10-09 07:17] foulcommander commented on #942
I want to contribute using c++ .

[2020-10-09 07:30] tusharfc commented on #942
Hey there!
I would like to contribute using C++ language. Kindly assign me some work.

[2020-10-09 07:30] Rudransh24 commented on #734
Can you assign this problem to me in C/C++?
@ahampriyanshu

[2020-10-09 07:39] Rudransh24 commented on #661
Can you assign this to me in C/C++??

[2020-10-09 08:32] Rudransh24 commented on #702
hey! can you please assign this to me in C ?

[2020-10-09 08:34] Rudransh24 commented on #697
Can you assign this to me in C ?

[2020-10-09 08:36] Rudransh24 commented on #695
Can you assign this to me in C ?

[2020-10-09 08:42] aakashsoni-cloud opened #1144 "Merge Sorted Arrays"
**Submission Title**
Merge Sorted Array

**Submission Type**
Data Structure

**Submission Description**
 This is one of the  ***basic array problems***
 Given k sorted arrays of possibly different sizes, the task is to merge them and print the sorted output.

**Submission Directory**
algo_ds_101  => Data_Structures => Arrays => Merge-Sorted-Array.extension

**Contributors**

- [x]  C++ -
- [X]  C

[2020-10-09 09:07] SaloniK17 commented on #1036
Hii, can you please assign me this issue  in c?
Thank you

[2020-10-09 09:17] priyankkumar218 commented on #1144
Please Assign me this issue in c++

[2020-10-09 09:26] aakashsoni-cloud commented on #1144
@aakashsoni-cloud  assigned @priyankkumar218

[2020-10-09 09:35] aroradhruv2308 commented on #1091
@ywalia01 I have worked in C++ solution you can contribute in any other language.

[2020-10-09 10:21] chehak123 commented on #1140
can i work on this issue?

[2020-10-09 10:22] chehak123 commented on #1144
please assign to me in c++

[2020-10-09 10:51] ulieckstein commented on #697
i'd like to do this in go

[2020-10-09 11:26] Nirali0029 commented on #1140
I would like to work in python

[2020-10-09 11:47] kartavyashankar commented on #1144
Please assign this to me in python

[2020-10-09 12:09] krishnmohan19 commented on #1140
hey @crew-guy .
plz assign me this in any of java/javascript/c#/c++

[2020-10-09 12:10] krishnmohan19 commented on #1144
hey @aakashsoni-cloud .plz assign me this in c#/javascript

[2020-10-09 12:18] Utkarshn10 commented on #964
@shruti512 I would like to code it in Java.

[2020-10-09 12:18] crew-guy commented on #1144
Please assign this to me in Python

[2020-10-09 12:21] kevinNdyabandiho commented on #942
i would like to assist using java

[2020-10-09 12:21] crew-guy commented on #1140
#### I am not in charge of assigning issues. Wait for @ahampriyanshu to come, review this issue and assign accordingly

[2020-10-09 12:39] adi-mohan opened #1151 "String Algorithms => anagram.c"
Doesn't cover the testcases which has upper case letters. For ex: Listen is an anagram of siLent , but the existing code will return 0.

[2020-10-09 13:27] Swarn10 opened #1152 "Shortest Common Supersequence"
**Submission Title**
Shortest Common Supersequence

**Submission Type**
Algorithm

**Submission Description**
This algorithm finds the shortest common supersequence of 2 strings - the shortest string that has both str1 and str2 as subsequences. If 'm' is the length of the first string and 'n' is the length of the second string, then this algo takes O(m * n) time and O(m * n) space.

**Submission D

[2020-10-09 13:27] Swarn10 commented on #1152
@ahampriyanshu Please assign this issue to me for C++. Will be happy to help.

[2020-10-09 13:53] tasfik007 commented on #1152
@ahampriyanshu I would like to work on this issue in **python**, It will be great if you can assign it to me,

[2020-10-09 14:05] mgncodes commented on #1039
Kindly assign this to me for Python

[2020-10-09 14:14] arjank commented on #1058
Can you assign this to me for PHP?

[2020-10-09 14:19] AnshMishra2001 commented on #1152
Can I work in java,pls ?

[2020-10-09 14:20] Error404m commented on #1151
I wanna to fix this issue .....

[2020-10-09 14:27] ashima0699 commented on #1152
Please assign this to me I'll work on this in C

[2020-10-09 14:28] ashima0699 commented on #1140
Please assign this to me for cpp i can upload a detailed explanation with a clear code.Would be happy to help.

[2020-10-09 14:34] AnshMishra2001 commented on #1124
I can code it in java

[2020-10-09 14:35] sanjiti0606 commented on #1152
@ahampriyanshu  Please assign this issue to me for C++

[2020-10-09 14:40] IamJayshree commented on #1152
Hi, if not assigned to anyone, can i work on C++?

[2020-10-09 15:05] aakashsoni-cloud commented on #1144
@crew-guy  you have assigned for python

[2020-10-09 15:07] aakashsoni-cloud commented on #1144
@krishnmohan19  you have assigned for implementation in javascript

[2020-10-09 15:09] parthchainani commented on #1151
please assign this to me ...

[2020-10-09 15:10] aakashsoni-cloud commented on #1152
### @Swarn10  please assigned me this in python

[2020-10-09 15:18] elshaek commented on #1144
Hi, can I please be assigned for ruby?

[2020-10-09 15:51] Mr-Vaibhav-Shukla commented on #1152
hi @sanjiti0606 , @IamJayshree , @aakashsoni-cloud  Please opt different language

[2020-10-09 15:58] shagunarora opened #1159 "Adjacent Bit Counts"
**Submission Title**
Adjacent Bit Counts

**Submission Type**
Algorithm/Dynamic_Programming

**Submission Description**
Describe the Algo

**Submission Directory**
Algorithms => Dynamic_Programming => AdjacentBitCounts.cpp

**Contributors**

- [x]  C++ -
- [ ]  C -
- [x]  Python -
- [ ] Java -
- [x] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] php -
- [ ] Swift -
- [ ] C# -

[2020-10-09 15:58] aakashsoni-cloud commented on #1152
@Mr-Vaibhav-Shukla  assign me for C#

[2020-10-09 16:02] aroradhruv2308 opened #1160 "Count Square Sub-matrices with All Ones"
**Submission Title**
 Count Square Sub-matrices with All Ones

**Submission Type**
 Algorithms/Dynamic_programming

**Submission Description**
Describe the Algo

**Submission Directory**
Algorithms =>Dynamic_programming => Count_Square_Matrices.cpp

**Contributors**

- [x]  C++ -
- [x]  C -
- [x]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] php -
-

[2020-10-09 16:06] Vinamrata1086 commented on #1036
hey! can I work on this issue using c?

[2020-10-09 16:17] aakashsoni-cloud commented on #1144
@elshaek you have assigned for ruby

[2020-10-09 16:25] thainapires commented on #1027
Oh Sorry! I'm new to this, but thanks for letting me know. Next time I'll search it better 😄

[2020-10-09 16:29] Rudransh24 commented on #1160
Can you assign this to me in C++?

[2020-10-09 16:29] SOURAB-BAPPA commented on #395
Runge–Kutta_Method in c added

[2020-10-09 16:34] ashima0699 commented on #1144
Hey! Can you please assign it to me for C

[2020-10-09 16:38] georgettica commented on #1152
can I do golang? @Mr-Vaibhav-Shukla

[2020-10-09 16:38] g-jindal2001 commented on #1160
can u assign this to me in python?

[2020-10-09 16:44] Athi223 commented on #1152
i would like to contribute for javascript solution

[2020-10-09 16:49] g-jindal2001 commented on #1144
can u please assign this to me in python?

[2020-10-09 16:54] crew-guy commented on #1144
Yayyy !!! 🙏🏻

[2020-10-09 16:57] aroradhruv2308 commented on #1160
@Rudransh24 Sorry I haven't read your comment before can you please do in C instead of C++.

[2020-10-09 17:01] Mr-Vaibhav-Shukla commented on #1160
Hi @aroradhruv2308 Please opt different language

[2020-10-09 17:06] aroradhruv2308 commented on #1160
@Mr-Vaibhav-Shukla can you assign me this in C?

[2020-10-09 17:07] aroradhruv2308 commented on #1160
No issues I will code it in C.

[2020-10-09 17:15] prakhar-agarwall commented on #661
I'd like to take up this issue in C++ or C

[2020-10-09 17:20] ashima0699 commented on #1036
Hey can I work this issue in java or python

[2020-10-09 17:22] ashima0699 commented on #1045
Hey can you assign this issue to me in C

[2020-10-09 17:30] crew-guy commented on #1132
#### Can you please assign Python and c++ Implementation to me ?

[2020-10-09 17:48] Mr-Vaibhav-Shukla commented on #690
Go ahead in C

[2020-10-09 17:51] Rudransh24 commented on #1160
@Mr-Vaibhav-Shukla could you please look into this "Count_Square_Matrices.cpp".

[2020-10-09 17:52] mhalsubhi opened #1172 "Bubble_Sort in Go, Swift, C# and Ruby"
**Submission Title**
Bubble Sort

**Submission Type**
Algorithm

**Submission Description**
It is a simple sorting algorithm that repeatedly steps through the list, compares adjacent elements and swaps them if they are in the wrong order. The pass through the list is repeated until the list is sorted.

**Submission Directory**
algo_ds_101 => Algorithms => Sorting_Algorithms => Bubble_Sort => Bubbl

[2020-10-09 17:55] emerzon1 commented on #1172
I can write the Python, Java, and JavaScript ones.

[2020-10-09 17:56] emerzon1 commented on #1172
Never mind they are done already.

[2020-10-09 18:00] emerzon1 commented on #1124
I can do Java

[2020-10-09 18:10] crew-guy opened #1174 "Youngest Common Ancestor problem"
**Submission Title**
Youngest Common Ancestor

**Submission Type**
Algorithm

**Submission Description**
A very fundamental graph algorithm based coding interview problem
Find the youngest common parent node given a set of children nodes in a graph data structure.

**Submission Directory**
algo_ds_101 => Algorithms=> Graph_Algorithms => Youngest_Common_Ancestor => index.ext

**Contributors**

- [x

[2020-10-09 18:11] neha07kumari commented on #1027
Done

[2020-10-09 18:16] SaloniK17 commented on #1172
hii, can you  please assign this issue for c?
Thank you

[2020-10-09 18:18] SaloniK17 commented on #1115
hii, can you please assign this issue for c?
Thank you

[2020-10-09 18:23] krishnmohan19 commented on #1144
hey @Mr-Vaibhav-Shukla .
i have created my PR. Please review it.
https://github.com/ahampriyanshu/algo_ds_101/pull/1176

[2020-10-09 18:26] riyabhatia26 commented on #1174
Can I pick this one?

[2020-10-09 18:28] neha07kumari commented on #1172
Can i go for bubble sort in C? @ahampriyanshu  @mhalsubhi

[2020-10-09 18:29] neha07kumari commented on #1132
can i do it in C? @ahampriyanshu  @Danotsonof

[2020-10-09 18:29] Athi223 commented on #842
Pr submitted for Javascript version, please check

[2020-10-09 18:35] SaloniK17 commented on #1132
hii, can you please assign  this issue to me    for c?
Thank you

[2020-10-09 18:35] ivinaypathak opened #1180 "Kosaraju's Algorithm | Graphs"
**Submission Title**
- Kosaraju's Algorithm

**Submission Type**
- Algorithm

**Submission Description**
- Kosaraju's algorithm is used to find strongly connected components in graph.
-  A strongly connected component (SCC) of a directed graph is a maximal strongly connected subgraph.

**Submission Directory**
Algorithm => Graph_Algorithms => Kosaraju's Algorithm => kosaraju_algorithm_strongly_con

[2020-10-09 18:42] riyabhatia26 commented on #1180
Can I pick this?

[2020-10-09 18:42] illiahonchar commented on #1172
may I do bubble sort in Golang?

[2020-10-09 18:46] shubhamnag14 commented on #1180
i could like to slove this issue...assign me this issue

[2020-10-09 19:10] ivinaypathak commented on #1180
I would like to work on this.

[2020-10-09 19:26] ahampriyanshu commented on #1180
Hi @shubhamnag14 and @riyabhatia26 :wave: , please mention your preffered language.
@ivinaypathak go ahead with C++.

[2020-10-09 19:29] ahampriyanshu commented on #1174
Hi @riyabhatia26 :wave: ,
Please mention your preffered language.

[2020-10-09 19:31] abhinav-idle commented on #1180
I would like to work on this in python.
Please assign me this.

[2020-10-09 19:35] shubhamnag14 commented on #1180
i would like to work with python

[2020-10-09 19:47] Chetan45s commented on #1039
I would like to do it in C++ kindly assign.

[2020-10-09 20:09] ahampriyanshu commented on #1151
thanks everyone :v:

[2020-10-09 20:09] #1151 closed

[2020-10-09 20:20] ahampriyanshu commented on #1140
@chehak123 please mention your preffered language.
@Nirali0029 please opt a different langauge/issue.
@krishnmohan19 go ahead with JS and C#.
@ashima0699 go ahead with C++.

[2020-10-09 20:25] ahampriyanshu commented on #1132
Hi @SaloniK17 :wave:,
Please opt a different language/issue.

[2020-10-09 20:27] ahampriyanshu commented on #1124
Hi @emerzon1 :wave:,
Please opt a different language/issue.

[2020-10-09 20:34] crew-guy commented on #1115
I'll start working on c++ implementation now !

[2020-10-09 20:36] shubhamnag14 commented on #1180
assign me this issue then

[2020-10-09 21:15] riyabhatia26 commented on #1180
Since C++ is taken, I'd like to go for Java.

[2020-10-09 21:16] riyabhatia26 commented on #1174
I'd prefer C++.

[2020-10-09 21:19] danrockdave opened #1183 "Fibonacci Search C language"
Fibonacci Search C language

Algorithms/Search_Algorithms/Fibonacci_Search/

**Submission Directory**
Algorithms=> Search_Algorithms=>Fibonacci_Search => fibonacci_search.c

**Contributors**

- [ ]  C++ -
- [ ]  C -
- [ ]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] php -
- [ ] Swift -
- [ ] C# -

[2020-10-09 21:32] s2agrahari commented on #1174
Hey, could you assign this to me to code in Java?

[2020-10-09 21:33] Aarti002 commented on #1183
@danrockdave hello sir, can i resolve this issue? i'll try my best!

[2020-10-09 21:34] Aarti002 commented on #1183
It will be better for me to understand if you provide me proper question

[2020-10-09 21:36] jindalsachin opened #1186 "Reverse LinkedList"
**Submission Title**
Reverse Linked List

**Submission Type**
Data Structure

**Submission Description**
A linked list is a linear data structure, in which the elements are not stored at contiguous memory locations. The elements in a linked list are linked using pointers . I have implemented reverse of Single Linked List in Java.

**Submission Directory**
Data_Structures => Linked_List => Singly_L

[2020-10-09 22:04] crew-guy commented on #1186
Can you please assign this to me for Python ?

[2020-10-09 22:35] Kadermiyanyedi commented on #1186
Please assign me this issue for C++?

[2020-10-09 22:36] Kadermiyanyedi commented on #1058
https://github.com/ahampriyanshu/algo_ds_101/pull/1190

[2020-10-09 23:04] ManasUniyal commented on #1186
Hey, @ahampriyanshu, can you assign me this issue for C?

[2020-10-10 00:44] piratelicorne commented on #1186
Hi, I can do this in javascript

[2020-10-10 00:45] piratelicorne commented on #1183
Hi, I can do this in Javascript :)

[2020-10-10 01:13] LDiazN commented on #1180
I would like to provide a Rust implementation for this. I know is not listed, so i could do it in C# if you prefer.

[2020-10-10 01:21] GorettiRivera commented on #1183
Can I work on this and resolve it in python?

[2020-10-10 01:49] AyushTechlead opened #1197 "Complete STL library"
**Submission Title**
STL / Vectors / SET/ MAP / List

**Submission Type**
Algorithm ans Data Structures

**Submission Description**
We can submit all the functions present in C++ STL for competitive programming

**Contributors**

- [ ]  C++ -

[2020-10-10 01:54] #1197 closed

[2020-10-10 02:27] kachus22 commented on #1186
I would like to do this in TypeScript

[2020-10-10 02:29] kachus22 commented on #1174
I'd like to do this in TypeScript

[2020-10-10 02:56] Nirali0029 commented on #1159
Please assign this to me for python

[2020-10-10 03:00] Nirali0029 commented on #1115
In non-recursive merge sort #1036 I was assigned that task and some other completed it and it was merged too. So i thought there is a change of rules and it is on first come first serve basis.

[2020-10-10 03:04] phast184 commented on #842
Hi can you please assign this to me the JavaScript version!

[2020-10-10 03:29] Kartik-byte commented on #1174
I would like to do this in python .Can you please assign me to it.
Thanks.

[2020-10-10 03:37] Nirali0029 commented on #1174
Please assign this to me for python

[2020-10-10 03:53] crew-guy commented on #1115
No no. Just keep reading contributing guidelines and do your work. Call out if someone tries to break guidelines.
Maintainers should know when you need help

[2020-10-10 03:54] phast184 commented on #842
I have made a PR here, please check https://github.com/ahampriyanshu/algo_ds_101/pull/1202

[2020-10-10 04:08] Himanshu2500 commented on #942
I want to contribute using c++

[2020-10-10 04:12] Kartik-byte commented on #847
Hey I would like to do this in PHP, can you please assign me to it.
Thank you.

[2020-10-10 04:25] Aarti002 commented on #994
Can i  take this issue? I would do this problem using python language.

[2020-10-10 04:25] g-jindal2001 commented on #1183
can u please assign this to me in c++?

[2020-10-10 04:28] Aarti002 commented on #1132
I have already made a PR implementing doubly linked list with its reversing function too using python. lemme know if there is any issue or not in my file!

[2020-10-10 04:40] sau-rav commented on #1144
Hey! Can you please assign it to me for C++

[2020-10-10 04:44] sau-rav commented on #1186
hey! can you please assign it to me for C++

[2020-10-10 05:10] chehak123 commented on #1140
I would like to work on this in c++

[2020-10-10 05:53] namansamra commented on #1186
please assign it to me for Java

[2020-10-10 05:55] namansamra commented on #1160
please assign it to me for java

[2020-10-10 05:58] Athi223 commented on #1159
I would like to contribute for javascript

[2020-10-10 06:04] GerardoUbuntu commented on #1180
I would like to this in TypeScript

[2020-10-10 06:06] betsystevens commented on #980
Hi! I would like to do this in JavaScript. Can you please assign it to me? Thank You!

[2020-10-10 06:20] aakashsoni-cloud commented on #1172
@ahampriyanshu  @mhalsubhi  can you assigned me for C#

[2020-10-10 06:22] Danotsonof opened #1211 "Permutation in C# using Recursion"
**Submission Title**
Permutation

**Submission Type**
Algorithm

**Submission Description**
This solution implements a Recursive algorithm. The parameter string is permutated without repeating any.
E.g. parameter: "123"
result: ["123", "132", "213", "231". "312", "321"]

**Submission Directory**
Algorithm=>Recursion_Algorithm=>Permutation.cs

**Contributors**

- [ ]  C++ -
- [ ]  C -
- [ ]  Python

[2020-10-10 06:24] Danotsonof commented on #1211
kindly assign this to me.

[2020-10-10 06:24] g-jindal2001 commented on #1211
Can u assign this to me in python?

[2020-10-10 06:26] abhinav-idle commented on #1211
I would like to work on this in java language.
Kindly assign it to me.

[2020-10-10 06:27] aakashsoni-cloud commented on #1144
@sau-rav  we already have the code in C++ go for another language✌

[2020-10-10 06:30] abhinav-idle commented on #988
I would like to work on this in java.
Kindly assign it to me.

[2020-10-10 06:39] sanjiti0606 commented on #1186
Hey, @ahampriyanshu, can you assign this issue to me for C++?

[2020-10-10 06:41] sanjiti0606 commented on #1174
Hey, @ahampriyanshu, can you assign me this issue for C++?

[2020-10-10 06:58] sanjiti0606 opened #1217 "Rotated Sorted Array Search"
**Submission Title**
Rotated Sorted Array Search

**Submission Type**
Algorithm

**Submission Description**
Given an array of integers A, of size N, rotated at some unknown pivot and a target value B to search. If B is found in the array return its index, otherwise, return -1. No duplicate exists in the array. Array A was sorted in non-decreasing order before rotation.

**Submission Directory**
al

[2020-10-10 06:59] sanjiti0606 commented on #1217
Please assign me for C++.

[2020-10-10 07:20] Abheetarora commented on #1217
please assign this to me for java

[2020-10-10 07:32] geekaditi commented on #1186
Hi, Can you assign me this for C++?

[2020-10-10 07:42] rhea2801 commented on #1186
Hi, could you please assign me this for Python?

[2020-10-10 07:53] crew-guy opened #1224 "Lowest Common Manager"
**Submission Title**
Lowest Common Manager

**Submission Type**
Algorithm

**Submission Description**
This is a coding interview favorite - a **combination of recursion and graph algorithm** (it is a more difficult and intuitively enhanced implementation of Youngest Common Ancestor problem - another famous algo)

**Submission Directory**
algo_ds_101 => Algorithms => Graph_Algorithms => Lowest_Comm

[2020-10-10 07:54] rhea2801 commented on #1224
Hi @ahampriyanshu, can you assign me this in C++?

[2020-10-10 07:59] Abheetarora commented on #1224
hi can you assign this to me for java

[2020-10-10 08:03] edoardottt commented on #1183
[Here you can find code in Java, C, Python, PHP, C#](https://www.geeksforgeeks.org/fibonacci-search/)

[2020-10-10 08:03] crew-guy opened #1225 "Invert Binary Tree"
**Submission Title**
Invert Binary Tree

**Submission Type**
Data Structure

**Submission Description**
A fundamentally important problem when it comes to traversing and manipulating Binary Trees

**Submission Directory**
algo_ds_101 => Data Structures => Tree => Binary Tree => Invert_Binary_Tree => invert_bt.ext

**Contributors**

- [ ]  C++ -
- [ ]  C -
- [x]  Python -
- [ ] Java -
- [ ] JavaScr

[2020-10-10 08:04] ajeurkar commented on #1211
@Mr-Vaibhav-Shukla @Danotsonof  Let me know if I pick this up for any other language? Also, Can the character in the string repeat?!

[2020-10-10 08:08] shubhamnag14 commented on #1183
can i do this job with c and c#

[2020-10-10 08:08] crew-guy opened #1226 "Max_Path_Sum_BST"
**Submission Title**
Max Path Sum in a BST

**Submission Type**
Data Structure

**Submission Description**
It's a pretty complex BST traversal problem that completely helps understand how BST nodes and branches can be traversed and compared and associated.
A pretty imp fundamental concept of understanding BST traversal lies in this problem

**Submission Directory**
algo_ds_101 => Data Structures =

[2020-10-10 08:09] rhea2801 commented on #1225
Hi @ahampriyanshu, could you assign this to me in Python?

[2020-10-10 08:09] rhea2801 commented on #1226
Hi @ahampriyanshu , could you assign me this in Python?

[2020-10-10 08:10] g-jindal2001 commented on #1217
Please assign this to me in python

[2020-10-10 08:23] Rudransh24 commented on #1211
Can you please assign this to me in C++?

[2020-10-10 08:26] Rudransh24 commented on #1217
Could you assign this to me in c/python?

[2020-10-10 08:29] rhea2801 opened #1227 "Wave_Sort"
**Submission Title**
Wave Sort an Array

**Submission Type**
Algorithm

**Submission Description**
Given an array of integers, sort the array into a wave like array, i.e,
arrange the elements into a sequence such that a1 >= a2 <= a3 >= a4 <= a5 >= a6 and so on.
A pet question of big tech, asked in Google, Adobe, etc. It's a great algo to test how you can solve a seemingly complicated problem creat

[2020-10-10 08:32] Danotsonof commented on #1211
No, it can't repeat.

[2020-10-10 08:58] Nirali0029 opened #1230 "Floyd's Cycle Detection Algorithm"
**Submission Title**
Floyd's Cycle Detection Algorithm

**Submission Type**
Algorithm

**Submission Directory**
Data structures=> Linked_List => Floyd_Cycle_Detection =>  Floyd_Cycle_Detection.ext

**Contributors**

- [x]  C++ -
- [ ]  C -
- [x]  Python -
- [x] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] php -
- [ ] Swift -
- [ ] C# -

[2020-10-10 09:01] Nirali0029 opened #1232 "Flood Fill Algorithm"
**Submission Title**
Flood Fill Algorithm

**Submission Type**
Algorithm

**Submission Description**
Flood fill is an algorithm mainly used to determine a bounded area connected to a given node in a multi-dimensional array. It is a close resemblance to the bucket tool in paint programs.

**Submission Directory**
Algorithms=> Graph_Algorithms=> Flood_Fill => Flood_Fill.extension

**Contributors**

[2020-10-10 09:02] Nirali0029 commented on #1232
Please assign this to me for python

[2020-10-10 09:02] Nirali0029 commented on #1230
Please assign this to me for python.

[2020-10-10 09:02] g-jindal2001 commented on #1227
Please Assign this to me in python

[2020-10-10 09:05] g-jindal2001 commented on #1232
Please assign this to me in C++

[2020-10-10 09:07] rhea2801 commented on #1227
Please assign this to me in C++

[2020-10-10 09:14] rohg007 opened #1233 "2 3 Tree"
**Submission Title**
2 3 Tree

**Submission Type**
Data Structure

**Submission Description**
2 3 Tree is a multiway tree in which there can be either 2 or 3 children.

**Submission Directory**
Data_Structures => Tree => 23Tree => 23Tree.cpp

**Contributors**

- [X]  C++ -
- [ ]  C -
- [ ]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] php -
- [ ] Sw

[2020-10-10 09:58] LucasNahuel945 commented on #1172
Can i write Ruby solution?

[2020-10-10 10:01] hellache commented on #1230
Please assign this to me for java @Mr-Vaibhav-Shukla

[2020-10-10 10:32] Rudransh24 commented on #1227
Please assign this to me in C.

[2020-10-10 10:34] ajeurkar commented on #1211
@Mr-Vaibhav-Shukla Kindly, Review the PRs and remove the labels for TS/JS. Thank you for letting us contribute 👍🏼

[2020-10-10 11:09] immortal-j opened #1241 "3-Way QuickSort(Dutch National Flag)"
**Submission Title**
 3-Way_Quick_Sort

**Submission Type**
Algorithm/Sorting

**Submission Description**
QuickSort3 is a faster alternative for normal QuickSort. It partitions given data into 3 parts(Works by Dutch National Flag Algorithm) and is faster compared to normal Quicksort for some cases.

**Submission Directory**
 Algorithms=> Sorting_Algorithms => 3-Way_Quick_Sort => 3-Way_Quick_Sort.e

[2020-10-10 11:10] immortal-j commented on #1241
Hey i have got C++ code with proper documentation for 3-Way quicksort so can i make a pull request.

[2020-10-10 11:36] AnshMishra2001 commented on #1241
I can code it in c#

[2020-10-10 11:43] sanjiti0606 commented on #1225
hey @ahampriyanshu Could I please be assigned for C++?

[2020-10-10 11:47] sanjiti0606 commented on #1230
@ahampriyanshu has C++ already been assigned? Asking because the label isn't present but I see only python and java assigned. If not, please assign me for it.

[2020-10-10 12:13] PratikSangh opened #1246 "Water_Area"
**Submission Title**
Water Area

**Submission Type**
Algorithm

**Submission Description**
A fundamentally important 2d matrix traversal and divide and conquer problem.

**Submission Directory**
Algorithms => Dynamic_Programming => Water_Area  => Water_Area.extension + QUESTION.md

**Contributors**

- [ ]  C++ -
- [ ]  C -
- [x]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Go

[2020-10-10 12:14] sanjiti0606 opened #1247 "Right View of Binary Tree"
**Submission Title**
Right View of Binary Tree

**Submission Type**
Data Structure

**Submission Description**
Given a binary tree A of integers, return an array of integers representing its right view.
Right view of a Binary Tree is a set of nodes visible when the tree is visited from Right side.

**Submission Directory**
 Data Structures => Tree => Binary_Tree => Right_View => Right_View.extensi

[2020-10-10 12:15] PratikSangh commented on #1246
### Can you please assign this to me in Python

[2020-10-10 12:16] sanjiti0606 commented on #1247
Hey! Please assign C++ to me.

[2020-10-10 12:44] parthchainani commented on #1246
can u pls give a link to the question i cant seem to find water area folder in dynamic programming

[2020-10-10 12:52] RitayanDas2 commented on #1183
can i do this with python?

[2020-10-10 12:52] PratikSangh commented on #1246
Wait for this issue to get approved and assigned first. Only then can I share the question
@ahampriyanshu kindly review this issue

[2020-10-10 12:53] RitayanDas2 commented on #1241
i can do it in python so can you assign me?

[2020-10-10 13:03] RitayanDas2 commented on #1140
hey @ahampriyanshu can u assign the c to me i know the code

[2020-10-10 13:06] RitayanDas2 commented on #1227
@ahampriyanshu i can do the c implementation of wave sort

[2020-10-10 13:07] RitayanDas2 commented on #1180
@ahampriyanshu  i can do the c implementation

[2020-10-10 13:16] #1186 closed

[2020-10-10 13:24] jindalsachin commented on #1247
Please assign this to me for Java

[2020-10-10 13:38] jindalsachin opened #1249 "Density of Binary Tree"
**Submission Title**
Density of Binary Tree

**Submission Type**
Data Structure

**Submission Description**
Given a Binary Tree, find density of it by doing one traversal of it.

Density of Binary Tree = Size / Height

**Submission Directory**
 Data_Structures => Tree => Binary_Tree => Density => Density.extension

**Contributors**

- [x]  C++ -
- [x]  C -
- [ ]  Python -
- [ ] Java -
- [ ] JavaSc

[2020-10-10 13:38] jindalsachin commented on #1249
Please assign this to me for C++

[2020-10-10 14:03] ahampriyanshu commented on #1227
Hi @RitayanDas2 :wave:,
Please opt a different language/issue.

[2020-10-10 14:07] Nirali0029 commented on #1247
Please assign this to me for python

[2020-10-10 14:07] Nirali0029 commented on #1233
Please assign this to me for python

[2020-10-10 14:20] ahampriyanshu commented on #661
Hi @Rudransh24, go ahead with C.
Hi @prakhar-agarwall, please opt a different language/issue.
:v:

[2020-10-10 14:44] YatharthVyas commented on #1232
Please assign this to me for C language. Really enthusiastic to contribute to open source projects like this!

[2020-10-10 14:47] YatharthVyas commented on #1249
Please assign this to me for C

[2020-10-10 15:16] PratikSangh opened #1254 "Brick Wall"
**Submission Title**
Brick Wall

**Submission Type**
Data Structure

**Submission Description**
An important question on grasping the fundamentals of hash maps

**Submission Directory**
Data_Structures => Maps_Hash_Dict => Brick_Wall => Brick_Wall.extension + README.md

**Contributors**

- [x]  C++ -
- [ ]  C -
- [ ]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ]

[2020-10-10 15:16] PratikSangh commented on #1254
### Could you please assign this to me in C++?

[2020-10-10 15:22] SaimantikaBasu commented on #1226
Hi @ahampriyanshu can you assign me this in c++.

[2020-10-10 15:30] meteora2002 commented on #942
i would like to contribute in python

[2020-10-10 15:34] shockedeel commented on #1247
please assign this to me for swift

[2020-10-10 15:38] shockedeel commented on #1225
@ahampriyanshu I'll take this for swift

[2020-10-10 16:15] sakshidhamne commented on #1249
I would like to contribute for Java language

[2020-10-10 16:45] rhea2801 opened #1260 "Remove kth Node From End of Linked List"
**Submission Title**
Remove kth Node From End of Linked List

**Submission Type**
Data Structure

**Submission Description**
 Given a linked list, remove the Kth node from the end of singly linked list and return its head. A fundamental Linked List problem that helps understand traversal and delete operation on Linked List Nodes. Asked by Amazon, HCL.

**Submission Directory**
 Data_Structures =>

[2020-10-10 16:45] rhea2801 commented on #1260
^ please assign me this in Python, @ahampriyanshu

[2020-10-10 16:51] manishita24 commented on #1232
please assign me this for java

[2020-10-10 17:09] crew-guy commented on #1260
Nice problem. I honestly can't wrap my head around this problem in Python. Make sure you comment the code well for precedent purposes

[2020-10-10 17:12] sakshidhamne commented on #1260
I'd be glad to contribute for Java

[2020-10-10 17:42] maityankan10 commented on #1144
can u please assign it to me for C-language

[2020-10-10 17:43] manishita24 commented on #1080
please assign me this for c#

[2020-10-10 17:49] maityankan10 commented on #665
can I implement in python

[2020-10-10 17:53] Vibhanshu3 commented on #1247
Please assign this to me for Java.

[2020-10-10 17:57] Vibhanshu3 commented on #1140
I can provide clean and logical code with proper explanation in Java.

[2020-10-10 18:04] Vibhanshu3 commented on #1160
Can you please assign this to me for Java.

[2020-10-10 18:13] meteora2002 commented on #1260
assign it to me for c++

[2020-10-10 18:14] meteora2002 commented on #1260
@ahampriyanshu

[2020-10-10 18:30] varad64 commented on #1241
I'd love to do this in Java. Could you please assign me?

[2020-10-10 19:19] rileyhgrant commented on #1225
Hi @ahampriyanshu could I please be assigned this for Java? Thanks!

[2020-10-10 19:30] SUJATA19-could commented on #1260
can i work on it in c or c++!

[2020-10-10 20:24] piemme commented on #1232
I'll go for the Javascript implementation.
Could you assign me this?

[2020-10-10 20:48] chinmaym07 commented on #1233
Please assign this to me in C.

[2020-10-10 21:25] Rudransh24 commented on #1246
can you assign this to me in c++?

[2020-10-10 21:26] Rudransh24 commented on #1241
can you assign this to me in c?

[2020-10-10 21:29] Rudransh24 commented on #1254
can you explain the problem statement please?

[2020-10-10 22:10] mandloiaditi commented on #1217
please assign this to me for javascript.

[2020-10-10 22:29] RgnDunes opened #1273 "Exponential Search"
**Submission Title**
Exponential Search

**Submission Type**
Algorithm

**Submission Description**
Exponential Search : We first find the range where the element can be found and then apply binary search in that region. The idea to find the range is to start with subarray size 1, compare its last element with x, then try size 2, then 4 and so on until last element of a subarray is not greater. Onc

[2020-10-10 22:32] shockedeel commented on #1249
@ahampriyanshu I can take this for swift

[2020-10-10 22:33] shockedeel commented on #1174
I can take this for swift @ahampriyanshu

[2020-10-10 22:40] A-Annan commented on #1273
Can I work on it ?

[2020-10-10 23:23] bitsandbytes1708 commented on #1273
@RgnDunes Please don't just add all the labels that don't relate to the issue at all. Please remove the labels that shouldn't be here.

[2020-10-11 00:17] RgnDunes commented on #1273
How to delete labels, I don't have much idea, this is my first Hactoberfest.

[2020-10-11 01:17] Nandini2901 commented on #1260
I want to contribute to this in C or C++.
:)

[2020-10-11 04:17] maityankan10 commented on #665
Your code already contains a python file for RSA cipher ,do you still want
me to contribute for this?
I can contribute using some other language like C++

On Sun, 11 Oct 2020, 01:13 Priyanshu Tiwari, <notifications@github.com>
wrote:

[2020-10-11 05:07] bhanuone commented on #1260
@ahampriyanshu Please assign this to me in ruby

[2020-10-11 05:08] maityankan10 commented on #1260
assign it to me for c

[2020-10-11 06:05] Nirali0029 opened #1285 "Print nodes between two given level numbers of a binary tree"
**Submission Title**
Graph

**Submission Type**
Data structure

**Submission Description**
Given a binary tree and two level numbers ‘low’ and ‘high’, print nodes from level low to level high.

**Submission Directory**
Data_Structures => Tree => Binary_Tree => Two_level_Node =>Two_level_Node.extension

**Contributors**

- [ ]  C++ -
- [ ]  C -
- [ ]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ]

[2020-10-11 06:06] Nirali0029 commented on #1285
Please assign this to me for python

[2020-10-11 06:08] Nirali0029 opened #1286 "Check if a binary tree is subtree of another binary tree"
**Submission Title**
Graph

**Submission Type**
Data structure

**Submission Description**
Given two binary trees, check if the first tree is subtree of the second one

**Submission Directory**
Data_Structures => Tree => Binary_Tree => Subtree_check=> Subtree_check.extension

**Contributors**

- [ ]  C++ -
- [ ]  C -
- [ ]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -

[2020-10-11 07:18] manishita24 commented on #1232
added java implementation for flood fill algo #1291

[2020-10-11 07:21] Rohit-2602 commented on #1286
@Nirali0029 Can i work on this in Java

[2020-10-11 07:37] maityankan10 commented on #665
please respond asap can I contribute in c++

[2020-10-11 07:37] deepharshsri commented on #1260
Hey, Can you assign me with java?

[2020-10-11 08:55] AnshMishra2001 commented on #1254
I can code it in java.

[2020-10-11 09:24] Nirali0029 commented on #1286
@ahampriyanshu  will review and assign you the task :)

[2020-10-11 09:36] sid-1207 commented on #1260
Hey can you assign it to me with C?

[2020-10-11 09:45] sid-1207 commented on #994
Hey can you assign me this issue?
I would solve it in C

[2020-10-11 09:50] sid-1207 commented on #763
Hey can you assign this issue to me?
I will solve it in C

[2020-10-11 09:51] sid-1207 commented on #697
Hey can you assign this issue to me?
I will solve it in C

[2020-10-11 09:51] demonslayer99 commented on #1285
please assign me this for c++

[2020-10-11 09:58] dwij2212 commented on #1286
Hi!
Can I work on this in C++?

[2020-10-11 10:03] manishita24 commented on #1285
assign it to me for java

[2020-10-11 11:17] ahampriyanshu commented on #697
thanks everyone :v:

[2020-10-11 11:17] #697 closed

[2020-10-11 11:18] ahampriyanshu commented on #763
thanks everyone :v:

[2020-10-11 11:18] #763 closed

[2020-10-11 11:19] ahampriyanshu commented on #665
go ahead :+1:

[2020-10-11 11:31] ahampriyanshu commented on #1152
thanks everyone :v:

[2020-10-11 11:31] #1152 closed

[2020-10-11 11:33] ahampriyanshu commented on #1160
Hi @Vibhanshu3,
Please opt different issue/language.

[2020-10-11 11:39] ahampriyanshu opened #1295 "Sublist_Search"
**Submission Title**
Sublist_Search

**Submission Type**
Algorithm

**Submission Description**
Sublist Search : We first take first node of second list, start matching the first list from this first node, if whole lists match return true, else break and take first list to the first node again and take second list to its second node. Repeat these steps until any of linked lists becomes empty. If fi

[2020-10-11 12:08] nehalgupta8501 commented on #1260
Hey, Can you assign it to me with c++?

[2020-10-11 12:54] dwij2212 commented on #1273
Hi! Can I take up this issue in C++ language?

[2020-10-11 13:25] reyadkhan commented on #1295
I would like to do it in php

[2020-10-11 14:16] PrakashAditya17 commented on #1286
@ahampriyanshu , I can code this in Java. Do assign if required.

[2020-10-11 14:20] PrakashAditya17 commented on #1246
I can implement this algo in Java, please assign if required.

[2020-10-11 14:22] PrakashAditya17 commented on #1183
I can do it in java

[2020-10-11 14:24] abhstract commented on #1224
@ahampriyanshu could you please assign it to me in c++?

[2020-10-11 15:37] varad64 commented on #1241
@ahampriyanshu

[2020-10-11 16:31] omarahmed1111 commented on #1295
I would like to implement this in js

[2020-10-11 17:01] Rudransh24 commented on #1254
can you assign this to me in C?

[2020-10-11 18:22] bitsandbytes1708 commented on #1273
That's OK! To the right of the issue, where you see all the labels. There should be a gear. Click on the gear and you will see a menu pop up with all the labels. Un-check the ones that aren't necessary. I would recommend getting rid of all the labels that are a programming language and keeping everything else.
Here is what the gear should look like next to the labels
![image](https://i.ibb.co/f8BK

[2020-10-11 18:59] bitsandbytes1708 commented on #1273
I just saw that a lot of other issues have a bunch of language tags too. You don't want to include a tag unless the question is actually specifically related to that. If it's just "do it in any programming language" then it does NOT specifically relate to those programming languages and thus shouldn't have that as a label.

[2020-10-11 19:15] Kadermiyanyedi commented on #1058
Can you assign this to me for Javascript?

[2020-10-11 20:10] Kadermiyanyedi commented on #1295
I would like to implement this in C ?

[2020-10-11 20:30] TheBlckCat commented on #1254
Hi ✌️,
I want to work on this issuein in Python 🐍.

[2020-10-11 21:12] ahampriyanshu commented on #649
thanks everyone :v:

[2020-10-11 21:12] #649 closed

[2020-10-11 21:12] ahampriyanshu commented on #395
thanks everyone :v:

[2020-10-11 21:12] #395 closed

[2020-10-11 21:14] ahampriyanshu commented on #852
thanks everyone :v:

[2020-10-11 21:14] #852 closed

[2020-10-11 21:14] ahampriyanshu commented on #848
thanks everyone :v:

[2020-10-11 21:14] #848 closed

[2020-10-11 21:15] ahampriyanshu commented on #847
thanks everyone :v:

[2020-10-11 21:15] #847 closed

[2020-10-11 21:16] ahampriyanshu commented on #846
thanks everyone :v:

[2020-10-11 21:16] #846 closed

[2020-10-11 21:17] ahampriyanshu commented on #845
thanks everyone :v:

[2020-10-11 21:17] #845 closed

[2020-10-11 21:17] ahampriyanshu commented on #842
thanks everyone :v:

[2020-10-11 21:17] #842 closed

[2020-10-11 21:18] ahampriyanshu commented on #843
thanks everyone :v:

[2020-10-11 21:18] #843 closed

[2020-10-11 21:18] ahampriyanshu commented on #800
thanks everyone :v:

[2020-10-11 21:18] #800 closed

[2020-10-11 21:19] ahampriyanshu commented on #764
thanks everyone :v:

[2020-10-11 21:19] #764 closed

[2020-10-11 21:19] #684 closed

[2020-10-11 21:20] ahampriyanshu commented on #685
thanks everyone :v:

[2020-10-11 21:20] #685 closed

[2020-10-11 21:20] ahampriyanshu commented on #688
thanks everyone :v:

[2020-10-11 21:20] #688 closed

[2020-10-11 21:20] ahampriyanshu commented on #689
thanks everyone :v:

[2020-10-11 21:20] #689 closed

[2020-10-11 21:21] ahampriyanshu commented on #690
thanks everyone :v:

[2020-10-11 21:21] #690 closed

[2020-10-11 21:21] ahampriyanshu commented on #691
thanks everyone :v:

[2020-10-11 21:21] #691 closed

[2020-10-11 21:21] ahampriyanshu commented on #694
thanks everyone :v:

[2020-10-11 21:21] #694 closed

[2020-10-11 21:22] ahampriyanshu commented on #695
thanks everyone :v:

[2020-10-11 21:22] #695 closed

[2020-10-11 21:22] ahampriyanshu commented on #698
thanks everyone :v:

[2020-10-11 21:22] #698 closed

[2020-10-11 21:22] ahampriyanshu commented on #699
thanks everyone :v:

[2020-10-11 21:22] #699 closed

[2020-10-11 21:22] ahampriyanshu commented on #702
thanks everyone :v:

[2020-10-11 21:22] #702 closed

[2020-10-11 21:22] ahampriyanshu commented on #703
thanks everyone :v:

[2020-10-11 21:22] #703 closed

[2020-10-11 21:22] ahampriyanshu commented on #707
thanks everyone :v:

[2020-10-11 21:22] #707 closed

[2020-10-11 21:23] ahampriyanshu commented on #726
thanks everyone :v:

[2020-10-11 21:23] #726 closed

[2020-10-11 21:23] ahampriyanshu commented on #734
thanks everyone :v:

[2020-10-11 21:23] #734 closed

[2020-10-11 21:23] ahampriyanshu commented on #737
thanks everyone :v:

[2020-10-11 21:23] #737 closed

[2020-10-11 21:24] ahampriyanshu commented on #666
thanks everyone :v:

[2020-10-11 21:24] #666 closed

[2020-10-11 21:24] ahampriyanshu commented on #665
thanks everyone :v:

[2020-10-11 21:24] #665 closed

[2020-10-11 21:24] ahampriyanshu commented on #663
thanks everyone :v:

[2020-10-11 21:24] #663 closed

[2020-10-11 21:24] ahampriyanshu commented on #661
thanks everyone :v:

[2020-10-11 21:24] #661 closed

[2020-10-11 21:24] ahampriyanshu commented on #652
thanks everyone :v:

[2020-10-11 21:24] #652 closed

[2020-10-11 21:24] ahampriyanshu commented on #651
thanks everyone :v:

[2020-10-11 21:24] #651 closed

[2020-10-11 21:26] ahampriyanshu commented on #859
thanks everyone :v:

[2020-10-11 21:26] #859 closed

[2020-10-11 21:27] ahampriyanshu commented on #1144
thanks everyone :v:

[2020-10-11 21:27] #1144 closed

[2020-10-11 21:28] ahampriyanshu commented on #1140
thanks everyone :v:

[2020-10-11 21:28] #1140 closed

[2020-10-11 21:28] ahampriyanshu commented on #1132
thanks everyone :v:

[2020-10-11 21:28] #1132 closed

[2020-10-11 21:35] ahampriyanshu commented on #860
thanks everyone :v:

[2020-10-11 21:35] #860 closed

[2020-10-11 21:35] ahampriyanshu commented on #862
thanks everyone :v:

[2020-10-11 21:35] #862 closed

[2020-10-11 21:35] ahampriyanshu commented on #920
thanks everyone :v:

[2020-10-11 21:35] #920 closed

[2020-10-11 21:36] ahampriyanshu commented on #863
thanks everyone :v:

[2020-10-11 21:36] #863 closed

[2020-10-11 21:36] ahampriyanshu commented on #911
thanks everyone :v:

[2020-10-11 21:36] #911 closed

[2020-10-11 21:36] ahampriyanshu commented on #940
thanks everyone :v:

[2020-10-11 21:36] #940 closed

[2020-10-11 21:36] ahampriyanshu commented on #942
thanks everyone :v:

[2020-10-11 21:36] #942 closed

[2020-10-11 21:37] ahampriyanshu commented on #980
thanks everyone :v:

[2020-10-11 21:37] #980 closed

[2020-10-11 21:38] ahampriyanshu commented on #988
thanks everyone :v:

[2020-10-11 21:38] #988 closed

[2020-10-11 21:39] ahampriyanshu commented on #997
thanks everyone :v:

[2020-10-11 21:39] #997 closed

[2020-10-11 21:40] ahampriyanshu commented on #1036
thanks everyone :v:

[2020-10-11 21:40] #1036 closed

[2020-10-11 21:40] ahampriyanshu commented on #1039
thanks everyone :v:

[2020-10-11 21:40] #1039 closed

[2020-10-11 21:41] ahampriyanshu commented on #1045
thanks everyone :v:

[2020-10-11 21:41] #1045 closed

[2020-10-11 21:41] ahampriyanshu commented on #1058
thanks everyone :v:

[2020-10-11 21:41] #1058 closed

[2020-10-11 22:29] AyeshW commented on #1226
Hey, @ahampriyanshu can you assign me to work on this in Java?

[2020-10-11 22:46] ahampriyanshu commented on #1081
thanks everyone :v:

[2020-10-11 22:46] #1081 closed

[2020-10-11 22:46] ahampriyanshu commented on #1091
thanks everyone :v:

[2020-10-11 22:46] #1091 closed

[2020-10-11 22:47] ahampriyanshu commented on #1115
thanks everyone :v:

[2020-10-11 22:47] #1115 closed

[2020-10-11 22:48] ahampriyanshu commented on #1159
thanks everyone :v:

[2020-10-11 22:48] #1159 closed

[2020-10-11 22:48] ahampriyanshu commented on #1172
thanks everyone :v:

[2020-10-11 22:48] #1172 closed

[2020-10-11 22:48] ahampriyanshu commented on #1160
thanks everyone :v:

[2020-10-11 22:48] #1160 closed

[2020-10-11 22:49] ahampriyanshu commented on #1124
thanks everyone :v:

[2020-10-11 22:49] #1124 closed

[2020-10-12 01:03] Aarti002 commented on #994
Thank you sir for assigning this task to me:)

On Mon, Oct 12, 2020, 03:09 Priyanshu Tiwari <notifications@github.com>
wrote:

[2020-10-12 02:53] #994 closed

[2020-10-12 03:33] RgnDunes commented on #1273
No gear option bro,

[2020-10-12 03:53] PratikSangh opened #1309 "N Queens | Recursion"
**Submission Title**
N Queens

**Submission Type**
Algorithm

**Submission Description**
A fundamental problem in grasping the concept of recursion

**Submission Directory**
Algorithms => Recursion_Algorithm => N_Queens => N_Queens.extension + README.md

**Contributors**

- [x]  C++ -
- [ ]  C -
- [ ]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] ph

[2020-10-12 03:53] PratikSangh commented on #1309
Could you assign this to me in C++?

[2020-10-12 04:03] PratikSangh opened #1310 "Koko Eating Bananas | Binary Search"
**Submission Title**
Koko Eating Bananas

**Submission Type**
Algorithm

**Submission Description**
An important problem in illustrating the application of binary search in optimisation problems

**Submission Directory**
Algorithms => Search_Algorithms => Binary_Search =>Koko_Eating_Bananas => Koko_Eating_Bananas.extension + README.md

**Contributors**

- [x]  C++ -
- [ ]  C -
- [ ]  Python -
- [

[2020-10-12 04:03] PratikSangh commented on #1310
Could you assign this to me in C++?

[2020-10-12 04:36] dwij2212 opened #1311 "Check for a closed loop in linked lists"
**Submission Title**
Check for closed loop using Floyd's cycle algorithm

**Submission Type**
Data Structure

**Submission Description**
Fastest algorithm to detect a closed loop in a linked list. We keep track of 2 pointers and traverse one a bit faster than the other. If these pointers meet again then there is a closed loop.

**Submission Directory**
algo_ds_101 => Data_Structures => LinkedList

[2020-10-12 04:37] dwij2212 commented on #1311
Hi! Could you assign this issue to me in C++

[2020-10-12 04:45] shwhite17 commented on #1295
i would like to implement in c language

[2020-10-12 04:59] shwhite17 commented on #1286
i would like to implement in python and c

[2020-10-12 05:04] arron-tij opened #1314 "Permutations"
**Submission Title**
Permutations

**Submission Type**
Algorithm

**Submission Description**
Given an array of distinct integers, return all possible permutations.

**Submission Directory**
Algorithms => Backtracking => permutations.extension

**Contributors**

- [x]  C++ -
- [ ]  C -
- [ ]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] php -
- [ ] S

[2020-10-12 05:05] arron-tij commented on #1314
Hi @ahampriyanshu please assign me for C++

[2020-10-12 06:15] divyagupta-98 commented on #1311
Could you assign this issue to me in Python.

[2020-10-12 06:19] ByteCode-Test commented on #1311
PLEASE Assign this to me i'm good at it

[2020-10-12 06:27] rahulhambarde300 commented on #1314
Hi @ahampriyanshu @ please assign me this for  python

[2020-10-12 06:27] duttabhishek32 commented on #1241
I can implement the algorithm in C, can you assign me this?

[2020-10-12 06:33] Rudransh24 commented on #1314
Assign this to me in C

[2020-10-12 06:33] MohitBhagchandani0601 commented on #1311
I want to work on this issue in java😊

[2020-10-12 06:34] MohitBhagchandani0601 commented on #1314
I want to work on this issue in java😊

[2020-10-12 06:35] ahampriyanshu commented on #1309
Duplicate Issue :warning:

[2020-10-12 06:35] #1309 closed

[2020-10-12 06:57] Kadermiyanyedi commented on #1314
Assign this to me in Javascript please

[2020-10-12 07:47] PratikSangh opened #1320 "Simplify Path | Stack"
**Submission Title**
Simplify Path

**Submission Type**
Data Structure

**Submission Description**
A fundamental question in illustrating the use of stack data structure

**Submission Directory**
Data_Structures=> Stacks => Simplify_Path => Simplify_Path.extension
Data_Structures=> Stacks => Simplify_Path => QUESTION.md

**Contributors**

- [x]  C++ -
- [x]  C -
- [x]  Python -
- [x] Java -
- [x]

[2020-10-12 07:57] dhairya-parikh commented on #1311
Could you assign this issue to me in Java.

[2020-10-12 08:04] dhairya-parikh commented on #1286
Can I work on this in Java?

[2020-10-12 08:05] dhairya-parikh commented on #1260
Hey, Can I work on this in Java?

[2020-10-12 08:06] dhairya-parikh commented on #1247
Hey, Can I work on this in Java?

[2020-10-12 08:16] sid-1207 commented on #994
Thanks for assigning
I have resolved the issue

[2020-10-12 08:21] raghavrammohan commented on #1320
I would like to work on this in Java. Can I be assigned with this ?

[2020-10-12 09:24] PratikSangh commented on #1320
Could you assign this to me in C++?

[2020-10-12 10:43] Druffl3 commented on #1311
@ahampriyanshu  can you assign this task to me for C# implementation?

[2020-10-12 11:36] aakashsoni-cloud commented on #1314
@ahampriyanshu  assign me for python
✌

[2020-10-12 11:42] errpv78 commented on #1309
Could you assign this to me in Python?

[2020-10-12 12:27] PratikSangh commented on #1310
@ahampriyanshu could you let me know the status of this submission?

[2020-10-12 12:31] PrakashAditya17 commented on #1080
Please assign me for Java. I am ready to contribute.

[2020-10-12 12:38] shagunarora opened #1327 "Lowest Common Ancestor of a Binary Tree"
**Submission Title**
Lowest Common Ancestor of a Binary Tree

**Submission Type**
Algorithm

**Submission Description**
Describe the Algo

**Submission Directory**
Algorithms => Tree_Algorithms => LCA.cpp

**Contributors**

- [x]  C++ -
- [ ]  C -
- [x]  Python -
- [x] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] php -
- [ ] Swift -
- [ ] C# -

[2020-10-12 12:38] shagunarora commented on #1327
Hey Please assign me this issue in c++

[2020-10-12 12:41] aroradhruv2308 commented on #1327
please assign this issue to me in python

[2020-10-12 12:42] aroradhruv2308 commented on #1320
pls assign this to me in python

[2020-10-12 12:44] maityankan10 commented on #1144
Hey why did u close it after assigning it to me

On Mon, 12 Oct 2020, 02:57 Priyanshu Tiwari, <notifications@github.com>
wrote:

[2020-10-12 12:45] raghavrammohan commented on #1327
Please assign me to java

[2020-10-12 13:22] Nirali0029 opened #1330 "Check if a Binary Tree has duplicate values"
**Submission Title**
Check if a Binary Tree  has duplicate values

**Submission Type**
Data Structure

**Submission Directory**
Data_Structures => Tree => Binary_Tree => Duplicate_values =>Duplicate_values.extension

**Contributors**

- [x]  C++ -
- [ ]  C -
- [x]  Python -
- [x] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] php -
- [ ] Swift -
- [ ] C# -

[2020-10-12 13:23] Nirali0029 commented on #1330
Please assign this to me for python

[2020-10-12 14:23] Nirali0029 opened #1331 "Serialize a Binary Tree"
**Submission Title**
Serialize and Deserialize a Binary Tree

**Submission Type**
Data structure

**Submission Directory**
Data_Structures => Tree => Binary_Tree =Serialize=>Serialize.extension

**Contributors**

- [ ]  C++ -
- [ ]  C -
- [ ]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] php -
- [ ] Swift -
- [ ] C# -

[2020-10-12 14:26] Nirali0029 opened #1332 "Deserialize a binary tree"
**Submission Title**
Deserialize a binary tree

**Submission Type**
Data structure

**Submission Directory**
Data_Structures => Tree => Binary_Tree => Deserialize=>Deserialize.extension

**Contributors**

- [ ]  C++ -
- [ ]  C -
- [ ]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] php -
- [ ] Swift -
- [ ] C# -

[2020-10-12 14:33] arron-tij commented on #1330
Please assign C++ to me @ahampriyanshu

[2020-10-12 16:01] ahampriyanshu commented on #1295
Hi @shwhite17,
Please opt a different language/issue.

[2020-10-12 16:25] baniksudipto commented on #1331
Hi, Could you assign this issue to me in Ruby ?

[2020-10-12 16:25] baniksudipto commented on #1332
Hi, Could you assign this issue to me in Ruby ?

[2020-10-12 16:41] aakashsoni-cloud opened #1335 "Implementation of 0/1 Knapsack using Branch and Bound"
**Submission Title**
KnapSack

**Submission Type**
Algorithm

**Submission Description**
Implement the 0/1 Knapsack using Branch and Bound algorithm

**Submission Directory**
algo_ds_101 => Algorithm => Dynamic_Programming => Branch_And_Bound => 0/1_KnapSack.extesion

**Contributors**
- [x]  C++ -
- [ ]  C -
- [ ]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ru

[2020-10-12 17:19] arron-tij opened #1337 "Longest Palindromic Substring"
**Submission Title**
Longest Palindromic Substring (LPS)

**Submission Type**
Algorithm

**Submission Description**
Given a string S, find the longest palindromic substring in S. In case of conflict, return the substring which occurs first ( with the least starting index ).

**Submission Directory**
Algorithms => String_Algorithms => LPS => longest_palindromic_substring.extension

**Contributors**

[2020-10-12 17:20] arron-tij commented on #1337
Hey @ahampriyanshu please assign me for C++

[2020-10-12 17:22] harshitashankar commented on #1337
Please assign this to me for Java.

[2020-10-12 17:51] jindalsachin commented on #1330
please assign me this for java

[2020-10-12 17:56] jindalsachin opened #1339 "Symmetric Binary Tree"
**Submission Title**
Given a binary tree, check whether it is a mirror of itself.

**Submission Type**
Data Structure

**Submission Description**
We will check if a Binary Tree is mirror image of itself and have the symmetry

**Submission Directory**
algo_ds_101 => Data_Structures =>  Tree => Binary_Tree => SymmetryBTree.extension

**Contributors**

- [x]  C++ -
- [x]  C -
- [x]  Python -
- [x] Ja

[2020-10-12 17:56] jindalsachin commented on #1339
Please assign me this issue for Java

[2020-10-12 18:11] ahampriyanshu commented on #1286
Hi @PrakashAditya17 and @dhairya-parikh :wave: ,
Please opt a different language/issue.

[2020-10-12 18:28] ahampriyanshu commented on #1241
Hi @duttabhishek32,
Please opt a different language/issue.

[2020-10-12 18:52] arron-tij commented on #1339
Hi @ahampriyanshu please assign C++ to me.

[2020-10-12 19:19] demonslayer99 commented on #1335
assign this to me for c++

[2020-10-12 19:20] harlansgs commented on #1233
Please assign this to me in Java.

[2020-10-12 19:21] demonslayer99 commented on #1332
assign this to me for c++

[2020-10-12 19:34] spidergon commented on #1337
Hey @ahampriyanshu please assign me for JavaScript.

[2020-10-12 19:40] 0x6f736f646f commented on #1339
Please assign me this issue for Python

[2020-10-12 19:43] Isha2208 commented on #1339
Hey, @ahampriyanshu, please assign me the issue for c language

[2020-10-12 19:44] manishita24 commented on #1339
assign me this for c#

[2020-10-12 19:51] edoardottt commented on #1330
I can do it in C#

[2020-10-12 19:53] edoardottt commented on #1327
I can do it in C#

[2020-10-12 20:22] thebhushanmhatre commented on #1337
Hi @ahampriyanshu,
Done for Ruby. Please review the PR.

[2020-10-12 20:38] 0x6f736f646f commented on #1337
Hey @ahampriyanshu please assign me for Python

[2020-10-12 20:39] 0x6f736f646f commented on #1335
Hey @ahampriyanshu please assign me for python

[2020-10-12 22:09] RgnDunes commented on #1337
Hey @ahampriyanshu can you please assign this problem to be so I can solve it in Python.

[2020-10-12 22:29] RgnDunes opened #1353 "Strand_Sort"
**Submission Title**
Strand_Sort

**Submission Type**
Algorithm/Sorting_Algorithms

**Submission Directory**
Algorithms => Sorting_Algorithms => Strand_Sort => Strand_Sort.cpp

**Contributors**

- [x]  C++ -
- [x]  C -
- [x]  Python -
- [ ] Java -
- [ ] JavaScript -
- [x] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] php -
- [ ] Swift -
- [ ] C# -

[2020-10-12 23:02] harlansgs commented on #1225
Could I be assigned for Ruby?

[2020-10-12 23:05] harlansgs commented on #1247
@ahampriyanshu could I be assigned for Ruby please?

[2020-10-13 00:21] spidergon commented on #1337
Hey @ahampriyanshu please review the PR for JavaScript #1355

[2020-10-13 00:59] PrakashAditya17 commented on #1310
I can solve this question in java. Please assign if its open.

[2020-10-13 01:12] divyagupta-98 commented on #1353
Can you assign this issue to me in Python?

[2020-10-13 01:30] aolaria commented on #1339
Hi, Please assign me this issue for Golang.

[2020-10-13 04:10] PratikSangh commented on #1320
@ahampriyanshu could you look into this?

[2020-10-13 05:11] vaishnavirshah opened #1359 "Graph Implementation"
**Submission Title**
Graph

**Submission Type**
Data Structure

**Submission Description**
Graph implementation using adjancency matrix or list, along with DFS BFS codes

**Submission Directory**
Data_Structures =>Graph

**Contributors**

- [x]  C++ -
- [ ]  C -
- [ ]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] php -
- [ ] Swift -
- [ ] C# -

[2020-10-13 05:12] vaishnavirshah commented on #1359
I checked the data structures directory and did not find graph implementation over there. Would like to contribute in CPP, please assign it to me.

[2020-10-13 05:21] Suparna99 commented on #1339
Hi, please assign me this for JavaScript.

[2020-10-13 05:23] Suparna99 commented on #1311
Please assign me this for Ruby

[2020-10-13 05:26] baniksudipto commented on #1311
Please assign me this for Golang

[2020-10-13 05:42] baniksudipto commented on #1260
Hey , can I contribute on this in Ruby ?

[2020-10-13 06:00] abhinav-idle commented on #1310
I can solve this in python.
Please assign me this one.

[2020-10-13 06:19] rishinpandit09 commented on #1339
hi, pls issue me this for java

[2020-10-13 06:41] SOURAB-BAPPA commented on #1353
can i solve this issue in java

[2020-10-13 06:44] ahampriyanshu commented on #1247
Hi @dhairya-parikh ,
Please opt a different language/issue.

[2020-10-13 07:02] Kadermiyanyedi commented on #1353
Can I solve this issue in c# and javascript?

[2020-10-13 07:30] abhinav-idle commented on #1359
I would like to do this in python.
Please assign me this.

[2020-10-13 08:08] leli-1 commented on #1359
Can you assign the python version to me please thank you

[2020-10-13 09:13] ShaikSarfraj-tech commented on #1359
I would like to work on this issue. Please assign it to me.

[2020-10-13 09:54] sagar-monga commented on #1331
Hello, could you assign this to me in C++?

[2020-10-13 10:32] dhairya-parikh commented on #1331
Hello, could you assign this to me in Java?

[2020-10-13 10:34] dhairya-parikh commented on #1332
Hello, could you assign this to me in Java?

[2020-10-13 10:51] sarthak-21 commented on #964
Please assign me this issue, I will do it in C

[2020-10-13 10:58] dhairya-parikh commented on #1337
Can you please assign it to me for C?
@ahampriyanshu

[2020-10-13 10:59] dhairya-parikh commented on #1330
Can you please assign it to me for C?
@ahampriyanshu

[2020-10-13 11:00] dhairya-parikh commented on #1327
Can you please assign it to me for C?
@ahampriyanshu

[2020-10-13 11:00] dhairya-parikh commented on #1310
Can you please assign it to me for Java?
@ahampriyanshu

[2020-10-13 11:02] dhairya-parikh commented on #1273
Can you please assign it to me for Java?
@ahampriyanshu

[2020-10-13 11:12] PratikSangh opened #1368 "Group_Anagrams"
**Submission Title**
Group Anagrams

**Submission Type**
Data Structure

**Submission Description**
A fundamental application of hashing for grouping anagrams

**Submission Directory**
Data_Structures => Maps_Hash_Dict => Group_Anagrams => Group_anagrams.extension + QUESTION.md

**Contributors**

- [x]  C++ -
- [ ]  C -
- [x]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golan

[2020-10-13 11:13] PratikSangh commented on #1368
Could you assign this to me in C++?

[2020-10-13 12:42] Nirali0029 commented on #1368
Plz assign this to me for python

[2020-10-13 12:48] Amanj2000 commented on #1335
I want to work on this in Java.

[2020-10-13 12:52] Nirali0029 opened #1370 "Kasai’s Algorithm"
**Submission Title**
Kasai’s Algorithm for Construction of LCP array from Suffix Array

**Submission Type**
Data Structure

**Submission Description**
LCP Array is an array of size n (like Suffix Array). A value lcp[i] indicates length of the longest common prefix of the suffixes indexed by suffix[i] and suffix[i+1]

**Submission Directory**
Data_Structures => Arrays => Kasai_Algorithm =>kasai_alg

[2020-10-13 12:59] Nirali0029 opened #1371 "Fibonacci Heap"
**Submission Title**
Fibonacci Heap

**Submission Type**
Data Structure

**Submission Directory**
Data_Structure=>Tree=>Fibonacci_Heap=>Fibonacci_Heap.extension
**Contributors**

- [ ]  C++ -
- [ ]  C -
- [ ]  Python -
- [x] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] php -
- [ ] Swift -
- [x] C# -

[2020-10-13 13:50] Nirali0029 opened #1374 "Babylonian method for square root"
**Submission Title**
Babylonian method for square root

**Submission Type**
Maths_And_Stats

**Submission Directory**
Maths_And_Stats =>Algebra=> Babylionian=>Babylionian.extension

**Contributors**

- [ ]  C++ -
- [ ]  C -
- [ ]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] php -
- [ ] Swift -
- [ ] C# -

[2020-10-13 13:51] Nirali0029 commented on #1374
Please assign this to me for python

[2020-10-13 14:26] VishwaroopShah commented on #1374
I would do it in C kindly assign it to me.

[2020-10-13 14:36] VishwaroopShah commented on #1330
I will do it in C kindly assign it to me.

[2020-10-13 14:43] VishwaroopShah commented on #1359
I would do it  C language, Kindly assign it to me.

[2020-10-13 16:05] Druffl3 commented on #1371
Can this be assigned to me for C# implementation?

[2020-10-13 16:39] harlansgs commented on #1330
Please assign me this for Ruby.

[2020-10-13 16:39] harlansgs commented on #1337
Please assign me this for Ruby.

[2020-10-13 16:40] harlansgs commented on #1295
Please assign me this for Ruby.

[2020-10-13 16:49] Kritimakaushal commented on #1371
how to get assigned for this? I want to implement it in java.

[2020-10-13 16:58] ahampriyanshu commented on #1359
go ahead with java.

[2020-10-13 17:20] alvinuday commented on #1371
Hi , i would like to implement this data structure in python , can you assign it to me

[2020-10-13 17:21] ahampriyanshu commented on #964
thanks everyone :v:

[2020-10-13 17:21] #964 closed

[2020-10-13 17:23] ahampriyanshu commented on #1241
thanks everyone :v:

[2020-10-13 17:23] #1241 closed

[2020-10-13 17:23] ahampriyanshu commented on #1232
thanks everyone :v:

[2020-10-13 17:23] #1232 closed

[2020-10-13 17:24] ahampriyanshu commented on #1230
thanks everyone :v:

[2020-10-13 17:24] #1230 closed

[2020-10-13 17:24] ahampriyanshu commented on #1227
thanks everyone :v:

[2020-10-13 17:24] #1227 closed

[2020-10-13 17:27] ahampriyanshu commented on #1224
thanks everyone :v:

[2020-10-13 17:27] #1224 closed

[2020-10-13 17:28] ahampriyanshu commented on #1217
go ahead with C

[2020-10-13 17:28] varad64 commented on #1241
@ahampriyanshu Will add the Java code in a minute

[2020-10-13 17:29] ahampriyanshu commented on #1211
thanks everyone :v:

[2020-10-13 17:29] #1211 closed

[2020-10-13 17:33] ahampriyanshu commented on #1183
go ahead with php

[2020-10-13 17:34] ahampriyanshu commented on #1180
thanks everyone :v:

[2020-10-13 17:34] #1180 closed

[2020-10-13 17:36] parth93QA commented on #1374
assign me for golang

[2020-10-13 17:36] ahampriyanshu commented on #1080
Perfect Code :+1:
Thanks @arjank
Happy Contributing :tada:

[2020-10-13 17:37] ahampriyanshu commented on #1080
thanks everyone :v:

[2020-10-13 17:37] #1080 closed

[2020-10-13 17:46] ahampriyanshu commented on #1330
Please opt a different language/issue.

[2020-10-13 17:50] ahampriyanshu commented on #1320
Sorry for the delay.

[2020-10-13 17:51] ahampriyanshu commented on #1314
thanks everyone :v:

[2020-10-13 17:51] #1314 closed

[2020-10-13 17:54] edoardottt commented on #1330
Done. Waiting for pull request acceptance

[2020-10-13 18:19] ahampriyanshu commented on #1260
PRs would be merged on  "First Come, First Serve" basis.
:v:

[2020-10-13 19:04] 0x6f736f646f commented on #1337
@harlansgs Ruby has already been implemented and merged checkout pull request number #1348

[2020-10-13 19:06] girishgr8 opened #1394 "VerticalOrderTraversal of Binary Tree"
**Submission Title**
VerticalOrderTraversal of Binary Tree

**Submission Type**
Data_Structure

**Submission Directory**
Data_Structure=>Tree=>Data_Structures/Tree/Binary_Tree => VerticalOrderTraversal.java

**Contributors**

- [ ]  C++ -
- [ ]  C -
- [ ]  Python -
- [x] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] php -
- [ ] Swift -
- [ ] C# -

[2020-10-13 19:17] harlansgs commented on #1337
Sorry about that. I got confused since the tag was still there for it.

[2020-10-13 19:42] sid-1207 commented on #1260
@ahampriyanshu I have resolved the issue #1260 in C
The code is in the simplest way possible
thanks

[2020-10-13 19:45] demonslayer99 commented on #1332
my code is not working :( sorry ill take up some other issue.

[2020-10-13 19:58] SalmonKing72 commented on #1246
I'd like to implement this with Ruby please.

[2020-10-13 20:17] demonslayer99 commented on #1374
assign me this for c++

[2020-10-13 20:20] demonslayer99 commented on #1370
assign me this for c++

[2020-10-13 22:55] NathanPickard commented on #1374
Assign me for javascript

[2020-10-13 23:00] yacth commented on #1394
Hi,

Can I be assigned for this in Python ?

[2020-10-13 23:02] yacth commented on #1370
Hi,

Can I be assigned to this in Python please ?

[2020-10-14 00:42] mhechavarria commented on #1374
Can you assing me for java please? thanks!

[2020-10-14 01:41] Druffl3 commented on #1394
@ahampriyanshu , can you assign me C# implementation of this issue?

[2020-10-14 02:10] NumberPiOso commented on #1273
Assign this to me in Python please.

[2020-10-14 05:19] nehalgupta8501 opened #1407 "Palindrome Linked List"
**Submission Title**
Palindrome Linked List

**Submission Type**
Data Structure

**Submission Description**
Check if Linked List is Palindrome or not

**Submission Directory**
Data_Structures=>Linked_List=>Singly_Linked_List

**Contributors**

- [ ]  C++ -
- [ ]  C -
- [ ]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] php -
- [ ] Swift -
- [ ] C# -

[2020-10-14 05:32] nehalgupta8501 opened #1408 "Middle Element of Linked List"
**Submission Title**
Middle Element of Linked List

**Submission Type**
Data Structure

**Submission Description**
Find the middle element in a singly linked list

**Submission Directory**
Data_Structures=>Linked_List=>Singly_Linked_List

**Contributors**

- [ ]  C++ -
- [ ]  C -
- [ ]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] php -
- [ ] Swift

[2020-10-14 05:35] divyagupta-98 commented on #1408
I would like to do this in python

[2020-10-14 05:39] nehalgupta8501 opened #1410 "Remove duplicates in a Linked List"
**Submission Title**
Remove duplicates in a Linked List

**Submission Type**
Data Structure

**Submission Description**
The task is to remove all duplicate nodes from a linked list

**Submission Directory**
algo_ds_101/Data_Structures/Linked_List/Singly_Linked_List/

**Contributors**

- [ ]  C++ -
- [ ]  C -
- [ ]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ru

[2020-10-14 05:41] parjanyaacoder commented on #1408
I would like to work on this issue in Java. Pls assign.

[2020-10-14 06:06] amal-majunu commented on #1408
Can I work on this issue in C++?

[2020-10-14 06:15] MohitBhagchandani0601 commented on #1410
I want to work on this issue in java😊

[2020-10-14 06:47] Harsh-1906 commented on #1410
please assign this to me.. i will solve this using c++

[2020-10-14 06:48] Harsh-1906 commented on #1407
can i solve this in java?

[2020-10-14 07:17] ajitcool19 commented on #1332
Hello could you please assign this to me in python

[2020-10-14 07:21] rarchitgupta commented on #1407
I'd like to do this in C++

[2020-10-14 08:14] falguni-k commented on #1407
I want to do this in C

[2020-10-14 08:17] alvinuday commented on #1353
Hi i would like to work on this sorting algorithm in C , can you assign it to me

[2020-10-14 09:20] shagunarora commented on #1394
@ahampriyanshu  can you please assign me this issue in c++

[2020-10-14 10:37] maityankan10 commented on #1408
can I work this in c++

[2020-10-14 10:38] maityankan10 commented on #1407
would like to do in c++

[2020-10-14 11:08] aj-ya commented on #1407
hey! I would like to do this in javascript

[2020-10-14 11:21] dwij2212 commented on #1370
Hi! Could you assign this to me in python?

[2020-10-14 11:23] Ayushmanglani commented on #1410
Please assign this to me for Python

[2020-10-14 11:35] Sinha199 opened #1425 "Adding code for largest divisible subset"
**Submission Title**
Dynamic Programming

**Submission Type**
Algorithm

**Submission Description**
Given a set or array, we have to find the largest divisible subset

**Submission Directory**
Algorithms => Dynamic_Programming => Largest_Divisible_Subsets.cpp

**Contributors**

- [x]  C++ -
- [ ]  C -
- [ ]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
-

[2020-10-14 12:11] AtalKhandelwal commented on #1273
@ahampriyanshu I would like to contribute for this issue in C#.Please assign it to me in C#.

[2020-10-14 12:42] ahampriyanshu commented on #1408
Please opt a different language/issue.

[2020-10-14 12:43] lashewi commented on #1425
I would like to do this in Java

[2020-10-14 12:49] maityankan10 commented on #1337
assign this to me in c

[2020-10-14 13:05] rishika-singh49 commented on #1408
I would like to work  on this in c ?
can i do it ?

[2020-10-14 13:11] andre-silva-14 commented on #1408
Ok, Cloned the repo in a Linux VM and it is not working, this repo is not compatible with Windows. You can assign me JavaScript/Typescript if available.

[2020-10-14 13:17] lashewi commented on #1425
Can I work only on one language? if not would like to do this in python

[2020-10-14 14:23] #1335 closed

[2020-10-14 14:28] ahampriyanshu commented on #1339
Please opt a different language/issue.

[2020-10-14 14:35] rishinpandit09 commented on #1339
Can do any other data structure algorithm in java

On Wed, 14 Oct 2020, 19:58 Priyanshu Tiwari, <notifications@github.com>
wrote:

[2020-10-14 14:59] bhavya092 commented on #1410
Can you assign this to me...I'll help in C++?

[2020-10-14 15:13] piratelicorne commented on #1183
@danrockdave  I finished the exercise with javascript -> PR #1435

[2020-10-14 15:56] Utkarshn10 commented on #1408
@nehalgupta8501 I would like to take  it for java

[2020-10-14 15:59] dwij2212 commented on #1273
@ahampriyanshu exponential search for C++ has already been completed by someone. Should I implement this in python?

[2020-10-14 17:06] Himanshu-Nagle commented on #1425
@Sinha199 Kindly please assign me for python and C#

[2020-10-14 17:08] AlessandroArosio commented on #1410
@nehalgupta8501 can I do it in java? An easy and quick way

[2020-10-14 18:07] greyGroot commented on #1425
@Sinha199 please, assign it to me, i want to do it in JavaScript and TypeScript. Thank you.

[2020-10-14 18:13] P-cpu commented on #1425
Hi @ahampriyanshu  please assign me this issue in c language

[2020-10-14 18:25] P-cpu commented on #1410
Hi @ahampriyanshu please assign me for this issue in c language

[2020-10-14 22:11] 0x6f736f646f commented on #1371
@ahampriyanshu Please assign me for C

[2020-10-14 22:29] 0x6f736f646f opened #1444 "Hungarian algorithm"
**Submission Title**
Hungarian algorithm

**Submission Type**
Algorithm

**Submission Description**
Check out this site for [reference](https://en.wikipedia.org/wiki/Hungarian_algorithm)

**Submission Directory**
Algorithm=>Graph=>Hungarian_algorithm=>Hungarian_algorithm.extension

**Contributors**

- [ ]  C++ -
- [ ]  C -
- [ ]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Go

[2020-10-14 22:31] 0x6f736f646f opened #1445 "Hopcroft–Karp algorithm"
**Submission Title**
Hopcroft–Karp algorithm

**Submission Type**
Algorithm

**Submission Description**
Check out this site for [reference](https://en.wikipedia.org/wiki/Hopcroft%E2%80%93Karp_algorithm)

**Submission Directory**
Algorithm=>Graph=>Hopcroft_Karp=>Hopcroft_Karp_algorithm
.extension

**Contributors**

- [ ]  C++ -
- [ ]  C -
- [ ]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeSc

[2020-10-14 22:35] 0x6f736f646f opened #1446 "Bidirectional search"
**Submission Title**
Bidirectional search algorithm

**Submission Type**
Algorithm

**Submission Description**
Check out this site for [reference](https://en.wikipedia.org/wiki/Bidirectional_search)

**Submission Directory**
Algorithm=>Graph=>Bidirectional_search=>Bidirectional_search.extension

**Contributors**

- [ ]  C++ -
- [ ]  C -
- [ ]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScr

[2020-10-14 22:36] 0x6f736f646f opened #1447 "Jump point search"
**Submission Title**
Jump point search algorithm

**Submission Type**
Algorithm

**Submission Description**
Check out this site for [reference](https://en.wikipedia.org/wiki/Jump_point_search)

**Submission Directory**
Algorithm=>Graph=>Jump_point_search=>Jump_point_search.extension

**Contributors**

- [ ]  C++ -
- [ ]  C -
- [ ]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ]

[2020-10-14 22:39] 0x6f736f646f opened #1448 "Johnson's algorithm"
**Submission Title**
Johnson's algorithm

**Submission Type**
Algorithm

**Submission Description**
Check out this site for [reference](https://en.wikipedia.org/wiki/Johnson%27s_algorithm)

**Submission Directory**
Algorithm=>Graph=>Johnson_algorithm=>Johnson_algorithm.extension

**Contributors**

- [x]  C++ -
- [ ]  C -
- [ ]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Gola

[2020-10-14 22:40] 0x6f736f646f opened #1449 "Karger's algorithm"
**Submission Title**
Karger's algorithm

**Submission Type**
Algorithm

**Submission Description**
Check out this site for [reference](https://en.wikipedia.org/wiki/Karger%27s_algorithm)

**Submission Directory**
Algorithm=>Graph=>Karger_algorithm=>Karger_algorithm.extension

**Contributors**

- [x]  C++ -
- [ ]  C -
- [x]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -

[2020-10-15 02:07] Pancreax commented on #1311
Hi! I would like to work on this issue in Swift.

[2020-10-15 03:22] divyagupta-98 commented on #1353
@ahampriyanshu #1452 Kindly Look into my PR for StrandSort in Python

[2020-10-15 03:57] ahampriyanshu commented on #1408
Hi @andre-silva-14 ,
Can name folder/file creating this issue.

[2020-10-15 06:00] ghanender-chauhan commented on #1407
assign me this issue i will do in python

[2020-10-15 06:43] andre-silva-14 commented on #1408
Hi @ahampriyanshu,
Sure, I believe that the file creating this issue is:

- `algo_ds_101/Data_Structures/Linked_List/Singly_Linked_List/Delete_Kth_Node_From_End => Delete_Kth_Node_From_End.cpp` (commited 5 days ago)

The `=>` in the filename breaks the cloning and makes it pretty much impossible to work on a windows machine.
You can find [here](https://stackoverflow.com/questions/1976007/what-char

[2020-10-15 08:05] aj-ya commented on #1447
Hey! I'll submit the C++ implementation of this problem.

[2020-10-15 09:08] abhinav-idle commented on #1446
I would like to do this in java.
Please assign me this one.

[2020-10-15 10:06] ahampriyanshu commented on #1408
Thank you very much @andre :smile:

[2020-10-15 10:24] #1371 closed

[2020-10-15 11:08] lashewi commented on #1407
Can I work on typescript ?

[2020-10-15 12:10] Kadermiyanyedi commented on #1353
Sorry, my codes are not working properly.

[2020-10-15 14:35] Kadermiyanyedi commented on #1368
Can you assign me Javascript please @ahampriyanshu

[2020-10-15 15:57] deepampriyadarshi commented on #1448
@ahampriyanshu i want to give a c++ solution for this pls assign me for it..

[2020-10-15 16:25] g-jindal2001 commented on #1183
@ahampriyanshu  Please Take note of this

@Krishna3102 has opened a pull request of FibonacciSearch.cpp which was assigned to me

[2020-10-15 18:26] rutvikpatel20 opened #1472 "ExecutionTimeSelectionSort.c"
**Submission Title**
Bubble Sort/AVL Graph/Vector

**Submission Type**
Algorithm/Data Structure/STL/Maths_And_Stats

**Submission Description**
Describe the Algo/DS/STL

**Submission Directory**
Main_Folder => Sub_Folder => ... => ... => Filename.extension

**Contributors**

- [ ]  C++ -
- [x]  C -
- [ ]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ]

[2020-10-15 18:40] #1472 closed

[2020-10-15 19:11] deepampriyadarshi commented on #1445
@ahampriyanshu i want to give a c++ solution... pls assign me for this

[2020-10-15 19:28] kugiyasan commented on #1331
Could you assign python for me please?

[2020-10-16 07:36] s2agrahari opened #1480 "Patience Sort Algorithm"
**Submission Title**
Patience Sort Algorithm

**Submission Type**
Algorithm

**Submission Description**
Patience Sort Algorithm (https://en.wikipedia.org/wiki/Patience_sorting)

**Submission Directory**
Algorithms => Sorting_Algorithms => Patience_Sort => Patience_Sort.<extension>

**Contributors**

- [x]  C++ -
- [x]  C -
- [x]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Go

[2020-10-16 07:59] sarthak-21 commented on #1480
Please assign this to me, I will do it in C. @ahampriyanshu @s2agrahari

[2020-10-16 08:44] VishwaroopShah opened #1482 "Sum of a AP is not implemented in C."
**Submission Title**
Implementation of AP (Arithmetic Progression) in C

**Submission Type**
Maths_And_Stats

**Submission Description**
While going through the repository, it is found that the sum of a series of Arithmetic progression is not implemented in C.

**Submission Directory**
Maths_And_Stats => Series => Sum_of_AP => Sum_of_AP.extension

**Contributors**

- [ ]  C++ -
- [ ]  C -
- [ ]  P

[2020-10-16 08:45] VishwaroopShah commented on #1482
I like to implement in C, Kindly assigned it to me.

[2020-10-16 08:54] VishwaroopShah opened #1483 "Implementation of Permutation_And_Combination"
**Submission Title**
Permutation_And_Combination

**Submission Type**
Maths_And_Stats/Algebra/Permutation_And_Combination

**Submission Description**
When looking in the repository It is found that the permutation and combination which have been very useful in Mathematics is not implemented.

**Submission Directory**
Maths_And_Stats => Algebra => Permutation_And_Combination => permutation_combinat

[2020-10-16 08:55] VishwaroopShah commented on #1483
I would like to implement it in C++. Kindly assign it to me.

[2020-10-16 09:04] deepampriyadarshi commented on #1445
Hi @ahampriyanshu i have generated a PR to add C++ solution for above mentioned issue...
Can you please review it..

[2020-10-16 10:08] SanmitR commented on #1483
Can I do this in python?

[2020-10-16 10:36] ahmeddrawy commented on #1483
Can you tell me what is the input constraints and if the C++ or python or javascript I can do it in any of them

[2020-10-16 10:38] ahmeddrawy commented on #1482
is this still available for C++ or python ?

[2020-10-16 12:01] ahampriyanshu commented on #1483
go ahead with JS.

[2020-10-16 12:04] ghanender-chauhan commented on #1407
@ahampriyanshu  Sorry to ask but  i m little confused what to do in this issue can u plz tell me as i m a fresher in github

[2020-10-16 12:16] ahmeddrawy commented on #1483
Can you give me the input style and constraints ? @ahampriyanshu

[2020-10-16 12:40] ahampriyanshu commented on #1483
**Input**
 Ask the user whether he/she wishes to find permtaution or combination.

**Constraint:**
``n,r>0``
``n>r``

[2020-10-16 12:44] Sindhu-321 commented on #1482
may I get this issue assigned? I would like to solve this in C. Also i would like to solve this in c++ as well if available. Thanks.

[2020-10-16 14:05] matheuslmpereira commented on #1311
@dwij2212 @ahampriyanshu  Can I suggest to include kotlin language in the list?

[2020-10-16 15:42] ahampriyanshu commented on #1482
thanks everyone :v:

[2020-10-16 15:42] #1482 closed

[2020-10-16 15:50] #1425 closed

[2020-10-16 16:10] ahampriyanshu commented on #1407
Have a look at the ``README.md``

[2020-10-16 17:27] maityankan10 commented on #1410
please this to me in c language

[2020-10-16 17:28] maityankan10 commented on #1311
please assign this to me in C

[2020-10-16 17:39] RachanaKampli commented on #1483
I would like to implement using C .Can I do this??

[2020-10-16 18:08] aakashsoni-cloud commented on #1353
@ahampriyanshu  Could you assign me in php

[2020-10-16 18:41] ShubhamNagure commented on #1483
Hi @VishwaroopShah
Please assign me

[2020-10-16 18:45] monteiromarceloc commented on #1480
I would like to do this in python.
Please assign me this one.

[2020-10-16 18:51] Aarti002 commented on #1483
hello @ahampriyanshu Can i do this issue using python?

[2020-10-16 18:54] Aarti002 commented on #1480
@ahampriyanshu  can you assign this to me i would implement this in python.

[2020-10-16 18:56] Aarti002 commented on #1394
@ahampriyanshu Can you assign this to me ? i would use python.

[2020-10-16 18:56] VishwaroopShah commented on #1483
Hello @ShubhamNagure I am not the one who is assigning the task, @ahampriyanshu is the one who is assigning.

[2020-10-16 18:57] Aarti002 commented on #1446
Hello @ahampriyanshu can i do it using python?

[2020-10-16 19:15] liamm91 commented on #1480
Can I do this in python or c++?

[2020-10-16 19:20] liamm91 commented on #1394
Can you assign me this issue? I can use either javascript, java or python

[2020-10-16 19:22] liamm91 commented on #1449
Can you assign me this issue?

[2020-10-16 19:24] matheuslmpereira commented on #1359
Can I include kotlin language implementation?

[2020-10-16 20:16] Flamer17 commented on #1444
can u assign this issue to me
ill do it using java

[2020-10-16 21:33] Aarti002 commented on #1359
@ahampriyanshu Can i do this using python please....

[2020-10-16 21:36] Aarti002 commented on #1327
Hey @ahampriyanshu can i do this in python please assign me

[2020-10-17 02:01] GuilhermeOliveiraCasagrande commented on #1353
Can you assign me typescript?

[2020-10-17 06:50] ShubhamNagure commented on #1483
Oops, my bad.
@ahampriyanshu can you assign this to me?

[2020-10-17 06:50] ahampriyanshu commented on #1174
thanks everyone :v:

[2020-10-17 06:50] #1174 closed

[2020-10-17 06:52] ahampriyanshu commented on #1254
thanks everyone :v:

[2020-10-17 06:52] #1254 closed

[2020-10-17 06:53] ahampriyanshu commented on #1233
thanks @rohg007 :v:

[2020-10-17 06:53] #1233 closed

[2020-10-17 06:54] ahampriyanshu commented on #1246
Hi @SalmonKing72 ,
I'm closing this issue but you can still make a PR.

[2020-10-17 06:54] ahampriyanshu commented on #1246
thanks everyone :v:

[2020-10-17 06:54] #1246 closed

[2020-10-17 06:55] ahampriyanshu commented on #1247
thanks everyone :v:

[2020-10-17 06:55] #1247 closed

[2020-10-17 06:55] ahampriyanshu commented on #1249
thanks everyone :v:

[2020-10-17 06:55] #1249 closed

[2020-10-17 06:56] ahampriyanshu commented on #1260
thanks everyone :v:

[2020-10-17 06:56] #1260 closed

[2020-10-17 07:08] ahampriyanshu commented on #1226
thanks everyone :v:

[2020-10-17 07:08] #1226 closed

[2020-10-17 07:10] ahampriyanshu commented on #1183
thanks everyone :v:

[2020-10-17 07:10] #1183 closed

[2020-10-17 07:11] ahampriyanshu commented on #1217
thanks everyone :v:

[2020-10-17 07:11] #1217 closed

[2020-10-17 07:12] ahampriyanshu commented on #1225
thanks eveyone :v:

[2020-10-17 07:12] #1225 closed

[2020-10-17 07:13] ahampriyanshu commented on #1225
thanks everyone :v:

[2020-10-17 07:17] ahampriyanshu commented on #1273
thanks everyone :v:

[2020-10-17 07:17] #1273 closed

[2020-10-17 07:51] ahampriyanshu commented on #1310
thanks everyone :v:

[2020-10-17 07:51] #1310 closed

[2020-10-17 07:51] ahampriyanshu commented on #1295
thanks everyone :v:

[2020-10-17 07:51] #1295 closed

[2020-10-17 07:51] ahampriyanshu commented on #1286
thanks everyone :v:

[2020-10-17 07:51] #1286 closed

[2020-10-17 07:52] ahampriyanshu commented on #1285
thanks everyone :v:

[2020-10-17 07:52] #1285 closed

[2020-10-17 07:52] ahampriyanshu commented on #1331
thanks everyone :v:

[2020-10-17 07:52] #1331 closed

[2020-10-17 07:53] ahampriyanshu commented on #1332
thanks everyone :v:

[2020-10-17 07:53] #1332 closed

[2020-10-17 07:53] ahampriyanshu commented on #1337
thanks everyone :v:

[2020-10-17 07:53] #1337 closed

[2020-10-17 07:53] ahampriyanshu commented on #1339
thanks everyone :v:

[2020-10-17 07:53] #1339 closed

[2020-10-17 07:55] ahampriyanshu commented on #1353
No problem :smile:

[2020-10-17 07:56] ahampriyanshu commented on #1359
thanks everyone :v:

[2020-10-17 07:56] #1359 closed

[2020-10-17 07:56] ahampriyanshu commented on #1368
thanks everyone :v:

[2020-10-17 07:56] #1368 closed

[2020-10-17 07:56] ahampriyanshu commented on #1370
thanks everyone :v:

[2020-10-17 07:56] #1370 closed

[2020-10-17 07:56] ahampriyanshu commented on #1374
thanks everyone :v:

[2020-10-17 07:56] #1374 closed

[2020-10-17 07:58] ahampriyanshu commented on #1394
Go ahead with java and JS.

[2020-10-17 08:01] ahampriyanshu commented on #1408
thanks everyone :v:

[2020-10-17 08:01] #1408 closed

[2020-10-17 08:01] ahampriyanshu commented on #1410
thanks everyone :v:

[2020-10-17 08:01] #1410 closed

[2020-10-17 08:02] ahampriyanshu commented on #1327
thanks everyone :v:

[2020-10-17 08:02] #1327 closed

[2020-10-17 08:02] ahampriyanshu commented on #1330
thanks everyone :v:

[2020-10-17 08:02] #1330 closed

[2020-10-17 08:03] ahampriyanshu commented on #1320
thanks everyone :v:

[2020-10-17 08:03] #1320 closed

[2020-10-17 08:03] ahampriyanshu commented on #1353
thanks everyone :v:

[2020-10-17 08:03] #1353 closed

[2020-10-17 08:03] ahampriyanshu commented on #1394
thanks everyone :v:

[2020-10-17 08:03] #1394 closed

[2020-10-17 08:04] ahampriyanshu commented on #1407
thanks everyone :v:

[2020-10-17 08:04] #1407 closed

[2020-10-17 08:04] ahampriyanshu commented on #1445
thanks everyone :v:

[2020-10-17 08:04] #1445 closed

[2020-10-17 08:12] ahampriyanshu commented on #1480
Please opt a different language/issue.

[2020-10-17 08:55] Alok-873 commented on #1447
can i work on this in c++?

[2020-10-17 10:39] maityankan10 commented on #1410
hey this already contains contains C code. Should i develop a C++ code for this project

[2020-10-17 13:06] bobbysaprey420 commented on #1449
@ahampriyanshu assign this work to me

[2020-10-17 13:06] bobbysaprey420 commented on #1447
@ahampriyanshu  Assign this to me

[2020-10-17 13:07] bobbysaprey420 commented on #1446
@ahampriyanshu I would like to contribute on c++, assign this to me

[2020-10-17 13:07] bobbysaprey420 commented on #1444
@ahampriyanshu Assign this to me for C++

[2020-10-17 14:09] SumitKuSahu opened #1505 "Added=>Data_Structure=>Queue=>circular queue"
**Submission Title**
Circular queue

**Submission Type**
Data Structure

**Submission Description**
circular queue using linked list perform insertion and dequeue and displays it .

**Submission Directory**
Data_Structure=>Queue=>circular queue

**Contributors**

- [x]  C++ -
- [ x]  C -
- [x]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ] php -

- [

[2020-10-17 14:25] chiyapathak opened #1506 "Implementing Binary Indexed Tree Or Fenwick Tree | Range Queries | C++"
**Submission Title**
- Binary Indexed Tree

**Submission Type**
- Algorithm

**Submission Description**
- To perform query and update both in  O(logN) time we use fenwick tree.
- Compared with Segment Tree, Binary Indexed Tree requires less space and is easier to implement.
- I will perform build, update, query operations to find maximum in a given range.

**Submission Directory**
algo_ds_101 => D

[2020-10-17 14:25] chiyapathak commented on #1506
I would like to work on it.

[2020-10-17 17:45] aakashsoni-cloud commented on #1505
@ahampriyanshu  could you assign me for c++/python

[2020-10-17 17:59] aakashsoni-cloud commented on #1505
@ahampriyanshu I just check the repository we have another folder named as Data_structure/Queue could you just merge it with the Data_structure folder to remove any confusion or loss.

[2020-10-17 22:12] deepampriyadarshi commented on #1448
@ahampriyanshu I have generated a PR for the above mentioned issue...
Please review it..

[2020-10-17 22:29] nishtha14-arora commented on #1311
Hi, I want to solve this issue in java.

[2020-10-18 02:45] kugiyasan commented on #1506
Can I get assigned for the python implementation please?

[2020-10-18 04:45] kugiyasan commented on #1506
Can I do the Golang implementation too?

[2020-10-18 07:38] leli-1 commented on #1483
Can I do this in python?

[2020-10-18 07:39] leli-1 commented on #1449
Can I do this in python?

[2020-10-18 07:39] leli-1 commented on #1448
Can I do this in python?

[2020-10-18 07:39] leli-1 commented on #1447
Can I do this in python?

[2020-10-18 09:40] subham5230 commented on #1483
Please assign this to me in java
@ahampriyanshu

[2020-10-18 09:41] subham5230 commented on #1444
please assign this to me in python @ahampriyanshu

[2020-10-18 17:56] LDiazN commented on #1480
I can do it in C#

[2020-10-18 22:19] SalmonKing72 commented on #1246
Thank you! I've made this PR https://github.com/ahampriyanshu/algo_ds_101/pull/1519

[2020-10-18 23:25] studpeps opened #1520 "Want to add Hash Set data structure"
**Submission Title**
Hash Set

**Submission Type**
Data Structure

**Submission Description**
Want to add use case implementation code for hash set data structure; since it has not been a part yet.

**Submission Directory**
Data Structures =>Maps_Hash_Dict

**Contributors**

- [ ]  C++ -
- [ ]  C -
- [ ]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
- [ ] Ruby -
- [ ]

[2020-10-19 04:35] kusumapriyankaajjarapu commented on #1505
@ahampriyanshu could you assign me for java

[2020-10-19 06:37] NavyaIyanampudi commented on #1505
Can I add circular queue data structure?

[2020-10-19 07:27] studpeps commented on #1520
Please assign the above issue to me

[2020-10-19 14:01] matheuslincolnss opened #1523 "Graph - Adjancency List - Kotlin Implementation"
**Submission Title**
Graph

**Submission Type**
Data Structure

**Submission Description**
Graph implementation using adjancency list, along with DFS BFS codes

**Submission Directory**
Data_Structures =>Graph

**Contributors**

- [x]  Kotlin

[2020-10-19 14:46] Amanj2000 commented on #1506
I would like to implement it in c.

[2020-10-19 17:13] maityankan10 commented on #1410
hey I have added c++ code for removing duplicates pls verify it asap

[2020-10-20 05:05] drstrange11 opened #1525 "KMP Algorithm for Pattern Searching | Python"
**Submission Title**
KMP Algorithm

**Submission Type**
Algorithm

**Submission Description**
To search for string patterns.

**Submission Directory**
Algorithms/Pattern_Searching/KMP_Algorithm/kmp.py

**Contributors**

- [X]  Python

[2020-10-20 05:06] drstrange11 commented on #1525
If this looks fine, please assign it to me. @ahampriyanshu

[2020-10-20 05:36] dwij2212 opened #1526 "Addition of a new ML directory"
We could have a new **ML** directory in the root directory. Within this, we can implement various loss functions, optimizers, ML models, regularization techniques and much more for better understanding of the rather abstract components of ML.

[2020-10-20 05:40] dwij2212 opened #1527 "Addition of trie data structure"
**Submission Title**
Add folder for trie

**Submission Type**
Data structure

**Submission Description**
Trie is a type of a tree which enables us to have much faster search results as compared to a BST.

**Submission Directory**
Data_structure=>Trees=>Trie=>Trie.extension

**Contributors**

- [x]  C++ -
- [ ]  C -
- [x]  Python -
- [ ] Java -
- [ ] JavaScript -
- [ ] TypeScript -
- [ ] Golang -
-

[2020-10-20 05:40] dwij2212 commented on #1527
I would like to work on this issue in C++

[2020-10-20 11:10] Nirali0029 commented on #1525
Plz assign this to me for python

[2020-10-20 11:11] Nirali0029 commented on #1527
Plz assign this to me for python

[2020-10-20 12:23] shahbazalam07 commented on #1527
please assign to me for java

[2020-10-20 13:59] LDiazN commented on #1527
I can do it in C#, assign it to me.

[2020-10-21 08:43] ahampriyanshu commented on #1311
thanks everyone :v:

[2020-10-21 08:43] #1311 closed

[2020-10-21 08:46] deepampriyadarshi commented on #1448
Hi @ahampriyanshu i have given a c++ solution to this issue 3 days ago can you please review it..

[2020-10-21 09:57] ahampriyanshu commented on #1447
Please mention your preferred language.

[2020-10-21 10:05] ahampriyanshu commented on #1483
@leli-1 please opt a different language/issue.

[2020-10-21 10:08] ahampriyanshu commented on #1505
Please mention your preferred language.

[2020-10-21 10:12] ahampriyanshu commented on #1505
Done :+1:
Sorry for the inconvenience.
:v:

[2020-10-21 10:15] ahampriyanshu commented on #1449
@liamm91 and @bobbysaprey420 mention your preferred language.

[2020-10-21 10:30] bobbysaprey420 commented on #1449
C++

On Wed, Oct 21, 2020 at 3:45 PM Priyanshu Tiwari <notifications@github.com>
wrote:

[2020-10-21 11:08] bobbysaprey420 commented on #1444
@ahampriyanshu By mistake I clicked on unassigned me, can be please assign me again

[2020-10-21 11:10] bobbysaprey420 commented on #1527
Please assign this to me for C++ language

[2020-10-21 11:10] bobbysaprey420 commented on #1525
Please assign this to me for C++ language

[2020-10-21 11:11] bobbysaprey420 commented on #1520
@ahampriyanshu  Please assign this to me for C++ language

[2020-10-21 13:37] YJDoc2 commented on #1520
Hey
I checked the Maps_Hash_Dict folder, and could not see the c implementation of HashSet, even though it is ticked in the issue. If it is to be done, can you assign it to me?

[2020-10-22 17:23] Sindhu-321 commented on #1505
If the issue is still open can I give it a try??

[2020-10-22 17:32] ahampriyanshu commented on #1527
Please opt a different language/issue.

[2020-10-23 12:32] Amanj2000 commented on #1506
Can I also implement it in Java?

[2020-10-23 17:35] trishnakalita660 opened #1546 "Maximum product of subarray"
**Submission Title**
Vector

**Submission Type**
Algorithm/Data Structure/STL/Maths_And_Stats

**Submission Directory**
Data_structures => Arrays   =>Maximum_product_of_subarray.cpp
**Contributors**
C++

[2020-10-23 18:23] ahampriyanshu commented on #1546
Duplicate Issue :warning:

[2020-10-23 18:23] #1546 closed

[2020-10-24 07:45] ahampriyanshu commented on #1483
thanks everyone :v:

[2020-10-24 07:45] #1483 closed

[2020-10-24 08:28] #1444 closed

[2020-10-24 08:28] #1446 closed

[2020-10-24 08:29] ahampriyanshu commented on #1448
thanks @deepampriyadarshi :v:

[2020-10-24 08:29] #1448 closed

[2020-10-24 08:29] ahampriyanshu commented on #1449
thanks @0x6f736f646f  and @belphegor-s

[2020-10-24 08:29] #1449 closed

[2020-10-24 08:30] ahampriyanshu commented on #1480
thanks everyone :v:

[2020-10-24 08:30] #1480 closed

[2020-10-24 08:31] ahampriyanshu commented on #1505
thanks everyone @belphegor-s

[2020-10-24 08:31] #1505 closed

[2020-10-24 08:32] ahampriyanshu commented on #1506
thanks everyone :v:

[2020-10-24 08:32] #1506 closed

[2020-10-24 08:33] ahampriyanshu commented on #1523
thanks @matheuslincolnss :v:

[2020-10-24 08:33] #1523 closed

[2020-10-24 08:41] ahampriyanshu commented on #1447
l

[2020-10-24 08:41] #1447 closed

[2020-10-24 08:54] technisRahulk opened #1547 "Want to add solution for rainwater trapping problem"
**Submission Type**
Data_Structure/Arrays

**Submission Description**
Rainwater trapping problem

**Submission Directory**
Data_Structure => Arrays=> rainwater_trapping.cpp

**Contributors**

- [x]  C++ -

[2020-10-24 08:57] technisRahulk commented on #1547
@ahampriyanshu please assign me this

[2020-10-24 15:41] Amanj2000 commented on #1525
I want to work on this in Java.

[2020-10-24 17:35] Kashish888 commented on #1527
I would like to work on this issue in C

[2020-10-24 19:29] ferch5003 commented on #1525
I want to work on this in JavaScript.

[2020-10-25 07:46] Troy96 commented on #1526
Can I be assigned for this issue?

[2020-10-25 11:32] trishnakalita660 opened #1552 "Partition Equal Subset Sum | C++"
**Submission Title**
Data Structure/Array

**Submission Description**
Partition Equal Subset Sum

**Submission Directory**
Folder``(Algorithm/Data_Structures/Array...)`` => Sub_Folder``(equal subset sum partition)`` => ... => ``.cpp``

**Contributors**

- [x]  C++
- [ ]  C
- [ ]  Python
- [ ] Java
- [ ] JavaScript
- [ ] TypeScript
- [ ] Golang
- [ ] Ruby
- [ ] php
- [ ] Swift
- [ ] C#

[2020-10-25 16:06] ldrf commented on #1552
Hi! I can try this in Java?

[2020-10-25 16:28] adrputra commented on #1525
I'll do it in PHP, please assign me

[2020-10-26 03:28] Toulik-Das opened #1558 "A-Star (A*) Search Algorithm"
**Submission Title**
A-Star (A*) Search Algorithm

**Submission Type**
Algorithms/Search_Algorithms/A-Star (A*) Search

**Submission Description**
Reaching a destination via the shortest route is a daily activity we all do. A-star (also referred to as A*) is one of the most successful search algorithms to find the shortest path between nodes or graphs. It is an informed search algorithm, as it use

[2020-10-26 07:03] dhairya-parikh commented on #1547
Can you please assign this to me in Java ?
@ahampriyanshu

[2020-10-26 17:17] jvishad opened #1564 "Want to add N queen problem using bitmasking in data structrue & algo section"
**Submission Title**
N queen problem using bitmasking

**Submission Type**
Algorithm/bitmasking

**Submission Description**
Solved a N queen problem using bitmasking,this is very important concept for solving advanced problems.

**Submission Directory**
Folder``(Algorithm)`` => Sub_Folder``(Bitmasking)`` => ... => ``N_queen_problem_using_bitmasking.cpp``

**Contributors**

- [x]  C++
- [ ]  C
- [

[2020-10-26 17:19] jvishad commented on #1564
@ahampriyanshu Please assign this task to me.:)
Thanks in advance.

[2020-10-26 17:19] jvishad commented on #1564
@ahampriyanshu Please assign this task to me.:)
Thanks in advance.

[2020-10-27 06:50] anirudhps10 commented on #1564
Can you assign me for Python?

[2020-10-27 08:38] adrputra commented on #1525
@ahampriyanshu Please check out my PR

[2020-10-27 15:01] Kingarturs commented on #1527
Hi! I would like to work on this in Golang 🚀

[2020-10-28 07:06] AmeyaPhadnis-2019H1030012G commented on #1564
@ahampriyanshu ,please assign me for JAVA

[2020-10-30 15:34] ahampriyanshu commented on #1564
Duplicate Issue ⚠️

[2020-10-30 15:34] #1564 closed

[2020-10-30 15:34] #1558 closed

[2020-10-30 15:39] ahampriyanshu commented on #1520
thanks everyone :v:

[2020-10-30 15:39] #1520 closed

[2020-10-30 15:40] ahampriyanshu commented on #1525
thanks everyone :v:

[2020-10-30 15:40] #1525 closed

[2020-10-30 15:46] ahampriyanshu commented on #1526
thanks everyone :v:

[2020-10-30 15:46] #1526 closed

[2020-10-30 15:48] ahampriyanshu commented on #1552
thanks everyone :v:

[2020-10-30 15:48] #1552 closed

[2020-10-30 15:49] ahampriyanshu commented on #1527
thanks everyone :v:

[2020-10-30 15:49] #1527 closed

[2020-10-30 15:49] ahampriyanshu commented on #1547
thanks everyone :v:

[2020-10-30 15:49] #1547 closed

[2020-12-07 23:28] JayantGoel001 opened #1575 "ArraySub"
**Submission Title**
ArraySub

**Submission Type**
Algorithm and Data Structure

**Submission Description**
Given an array and an integer k, find the e maximum for each and every contiguous subarray of size k.

**Submission Directory**
Folder``(STL/Deque/ArraySub.cpp)``

**Contributors**

- [x]  C++
- [ ]  C
- [ ]  Python
- [ ] Java
- [ ] JavaScript
- [ ] TypeScript
- [ ] Golang
- [ ] Ruby
- [ ] p

[2020-12-22 13:49] #1575 closed

[2021-04-20 16:46] ahampriyanshu opened #1578 "Shamir’s Secret Sharing Algorithm"
**Submission Title**
Shamir’s Secret Sharing Algorithm

**Submission Type**
Algorithm

**Submission Description**
Shamir’s Secret Sharing is an algorithm in cryptography created by Adi Shamir. The main aim of this algorithm is to divide secret that needs to be encrypted into various unique parts.

**Submission Directory**
Algorithm => Cryptography_Algorithm => Shamir_Cipher => Shamir_Cipher.extens

[2021-10-01 04:14] ahampriyanshu opened #1579 "Deque - STL"
**Submission Title**
Deque

**Submission Type**
STL

**Submission Description**
Deque or double-ended queue is an abstract data type that generalizes a queue, for which elements can be added to or removed from either the front or back. Please push a program that explains all the in-built methods like ``push_back()``, ``push_front()``, ``pop_back()``, ``pop_front()``, ``size()``, ``resize()`` , ``a

[2021-10-01 06:00] geoffgeorgein commented on #1579
I can do this ,I have solved programming problems using deque .Please assign me

[2021-10-01 11:35] #1579 closed

[2021-10-01 11:37] shobha9250 opened #1581 "KMP algorithm"
### Submission Directory

Algorithm => string_matching

### Type

Algorithm

### What happened?

Implement KMP string matching algorithm in c++ with O(n) time complexity

### Programming Language

- [X] c++
- [X] c
- [X] c#
- [ ] java
- [ ] python
- [ ] javascript
- [ ] typescript
- [ ] ruby
- [ ] swift
- [ ] scala
- [ ] go
- [ ] php

[2021-10-01 11:40] shobha9250 commented on #1581
I issues are assigned , I made one and I want to contribute to this.

[2021-10-01 11:44] shobha9250 commented on #1581
Please assign me this , I can do this

[2021-10-01 12:15] sudesh1611 opened #1582 "AES Encryption Decryption Algorithm"
#### Submission Title
AES Encryption Decryption Algorithm

### Submission Type
Algorithm

### Submission Description
AES is a symmetric algorithm that is used for encryption.

### Submission Directory
Algorithm => Cryptography => AES_Cipher => ReadMe.md

### Programming Language

- [ ] c++
- [ ] c
- [ ] c#
- [ ] java
- [X] python
- [ ] javascript
- [ ] typescript
- [ ] ruby
- [ ] swift
- [ ] scala

[2021-10-01 12:25] shobha9250 opened #1584 "Algorithms"
### Directory

Algorithms => tree_algorithms => avl_tree

### Programming Language

- [X] c++
- [X] c
- [X] c#
- [ ] java
- [ ] python
- [ ] javascript
- [ ] typescript
- [ ] ruby
- [ ] swift
- [ ] scala
- [ ] go
- [ ] php

[2021-10-01 12:25] shobha9250 commented on #1584
Please assign me this.

[2021-10-01 12:25] #1584 closed

[2021-10-01 12:27] shobha9250 opened #1585 "Avl tree"
### Directory

Algorithms => tree_algorithms => avl_tree

### Programming Language

- [X] c++
- [X] c
- [X] c#
- [ ] java
- [ ] python
- [ ] javascript
- [ ] typescript
- [ ] ruby
- [ ] swift
- [ ] scala
- [ ] go
- [ ] php

[2021-10-01 12:27] shobha9250 commented on #1585
Please assign me this

[2021-10-01 12:29] ahampriyanshu commented on #1585
Please take a look at #489

[2021-10-01 12:30] #1585 closed

[2021-10-01 13:47] ahampriyanshu opened #1587 "Deque"
### Type

Data-Structure

### Directory

Data-Structures => Queue => Deque => Deque.extension

### Description

Deque or double-ended queue is an abstract data type that generalizes a queue, for which elements can be added to or removed from either the front or back.
**Note :** Please don't use any inbuilt library/function.

### Programming Language

- [X] c++
- [ ] c
- [ ] c#
- [ ] java
- [X] pyt

[2021-10-01 14:02] ahampriyanshu opened #1588 "Circular Queue"
### Type

Data-Structure

### Directory

Data-Structures => Queue => Circular-Queue => Circular-Queue.extension

### Description

A circular queue is the extended version of a regular queue where the last element is connected to the first element.
**Note :** Please don't use any inbuilt library/function.

### Programming Language

- [X] c++
- [X] c
- [ ] python
- [ ] java
- [ ] javascript
- [ ] ty

[2021-10-01 14:11] ahampriyanshu opened #1590 "Priority Queue"
### Type

Data-Structure

### Directory

Data-Structures => Queue => Priority-Queue => Priority-Queue.extension

### Description

A priority queue is an abstract data type similar to a regular queue or stack data structure in which each element additionally has a "priority" associated with it.
**Note : ** Please don't use any inbuilt library/function.

### Programming Language

- [ ] c++
- [ ] c
-

[2021-10-01 14:20] ahampriyanshu opened #1591 "Array"
### Type

Data-Structure

### Directory

Data-Structures => Array => Array.extension

### Description

An array is a data structure consisting of a collection of elements (values or variables), each identified by at least one array index or key.
Just declare an array dynamically, insert some elements from the stdin/console and then print(transverse) the array.

### Programming Language

- [x] c++

[2021-10-01 14:27] KamalAres commented on #1591
I would like to work on this issue. Could you please assign it to me? I can submit the code in Java

[2021-10-01 14:30] Tusharsd123 commented on #1591
Hey , I would like to work on this .. I can submit it in C++

[2021-10-01 14:43] HariMenon2002 commented on #1591
i can only see redme.md in Array but i cant find the extension,can you please help me out

[2021-10-01 14:44] ahampriyanshu opened #1592 "Java Collections : ArrayList"
### Type

Collection

### Directory

Collection => ArrayList => ArrayList.java

### Description

Just declare the data structure, take the input dynamically, demonstrate some inbuilt methods.

### Programming Language

- [ ] c++
- [ ] c
- [ ] python
- [ ] java
- [ ] kotlin
- [ ] javascript
- [ ] typescript
- [ ] c#
- [ ] swift
- [ ] ruby
- [ ] scala
- [ ] go
- [ ] php
- [ ] haskell
- [ ] bash

[2021-10-01 14:46] HariMenon2002 commented on #1591
even i would like to work on this

[2021-10-01 14:49] ahampriyanshu commented on #1591
https://github.com/ahampriyanshu/algo_ds_101#how-to-contribute

[2021-10-01 14:56] ahampriyanshu opened #1593 "Java Collection : LinkedList"
### Type

Collection

### Directory

Collection => LinkedList => LinkedList.java

### Description

Just declare the data structure, take the input dynamically, demonstrate some inbuilt methods.

### Programming Language

- [ ] c++
- [ ] c
- [ ] python
- [ ] java
- [ ] kotlin
- [ ] javascript
- [ ] typescript
- [ ] c#
- [ ] swift
- [ ] ruby
- [ ] scala
- [ ] go
- [ ] php
- [ ] haskell
- [ ] bash

[2021-10-01 14:57] ahampriyanshu opened #1594 "Java Collection : ArrayDeque"
### Type

Collection

### Directory

Collection => ArrayDeque => ArrayDeque.java

### Description

Just declare the data structure, take the input dynamically, demonstrate some inbuilt methods.

### Programming Language

- [ ] c++
- [ ] c
- [ ] python
- [ ] java
- [ ] kotlin
- [ ] javascript
- [ ] typescript
- [ ] c#
- [ ] swift
- [ ] ruby
- [ ] scala
- [ ] go
- [ ] php
- [ ] haskell
- [ ] bash

[2021-10-01 14:59] ahampriyanshu opened #1595 "Java Collection : Deque"
### Type

Collection

### Directory

Collection => Deque => Deque.java

### Description

Just declare the data structure, take the input dynamically, demonstrate some inbuilt methods.

### Programming Language

- [ ] c++
- [ ] c
- [ ] python
- [ ] java
- [ ] kotlin
- [ ] javascript
- [ ] typescript
- [ ] c#
- [ ] swift
- [ ] ruby
- [ ] scala
- [ ] go
- [ ] php
- [ ] haskell
- [ ] bash

[2021-10-01 15:00] ahampriyanshu opened #1597 "Java Collection : HashMap"
### Type

Collection

### Directory

Collection => HashMap => HashMap.java

### Description

Just declare the data structure, take the input dynamically, demonstrate some inbuilt methods.

### Programming Language

- [ ] c++
- [ ] c
- [ ] python
- [ ] java
- [ ] kotlin
- [ ] javascript
- [ ] typescript
- [ ] c#
- [ ] swift
- [ ] ruby
- [ ] scala
- [ ] go
- [ ] php
- [ ] haskell
- [ ] bash

[2021-10-01 15:01] ahampriyanshu opened #1598 "Java Collection : HashSet"
### Type

Collection

### Directory

Collection => HashSet => HashSet.java

### Description

Just declare the data structure, take the input dynamically, demonstrate some inbuilt methods.

### Programming Language

- [ ] c++
- [ ] c
- [ ] python
- [ ] java
- [ ] kotlin
- [ ] javascript
- [ ] typescript
- [ ] c#
- [ ] swift
- [ ] ruby
- [ ] scala
- [ ] go
- [ ] php
- [ ] haskell
- [ ] bash

[2021-10-01 15:02] ahampriyanshu opened #1599 "Java Collection : PriorityQueue"
### Type

Collection

### Directory

Collection => PriorityQueue => PriorityQueue.java

### Description

Just declare the data structure, take the input dynamically, demonstrate some inbuilt methods.

### Programming Language

- [ ] c++
- [ ] c
- [ ] python
- [ ] java
- [ ] kotlin
- [ ] javascript
- [ ] typescript
- [ ] c#
- [ ] swift
- [ ] ruby
- [ ] scala
- [ ] go
- [ ] php
- [ ] haskell
- [ ] b

[2021-10-01 15:03] ahampriyanshu opened #1600 "Java Collection : Queue"
### Type

Collection

### Directory

Collection => Queue => Queue.java

### Description

Just declare the data structure, take the input dynamically, demonstrate some inbuilt methods.

### Programming Language

- [ ] c++
- [ ] c
- [ ] python
- [ ] java
- [ ] kotlin
- [ ] javascript
- [ ] typescript
- [ ] c#
- [ ] swift
- [ ] ruby
- [ ] scala
- [ ] go
- [ ] php
- [ ] haskell
- [ ] bash

[2021-10-01 15:04] ahampriyanshu opened #1601 "Java Collection : Stack"
### Type

Collection

### Directory

Collection => Stack => Stack.java

### Description

Just declare the data structure, take the input dynamically, demonstrate some inbuilt methods.

### Programming Language

- [ ] c++
- [ ] c
- [ ] python
- [ ] java
- [ ] kotlin
- [ ] javascript
- [ ] typescript
- [ ] c#
- [ ] swift
- [ ] ruby
- [ ] scala
- [ ] go
- [ ] php
- [ ] haskell
- [ ] bash

[2021-10-01 15:05] ahampriyanshu opened #1602 "Java Collection : Vector"
### Type

Collection

### Directory

Collection => Vector => Vector.java

### Description

Just declare the data structure, take the input dynamically, demonstrate some inbuilt methods.

### Programming Language

- [ ] c++
- [ ] c
- [ ] python
- [ ] java
- [ ] kotlin
- [ ] javascript
- [ ] typescript
- [ ] c#
- [ ] swift
- [ ] ruby
- [ ] scala
- [ ] go
- [ ] php
- [ ] haskell
- [ ] bash

[2021-10-01 15:12] KamalAres commented on #1592
I can implement all basic operations in ArrayList in java collections. Can you assign the task to me?

[2021-10-01 15:25] durgeshahire07 commented on #1591
I want to work on this issue, i can implement this using javascript

[2021-10-01 15:28] Tusharsd123 commented on #1590
I would like to work on this in c++.

[2021-10-01 15:30] durgeshahire07 commented on #1602
i can work with the c++ implementation

[2021-10-01 16:03] Iconic-It-Is commented on #1602
I would like to work on this issue, please consider my profile for this task and do assign it to me.

[2021-10-01 16:04] Iconic-It-Is commented on #1601
I would like to work on this issue, please consider my profile for this task and do assign it to me.
Programming Language: C++

[2021-10-01 16:10] threedotspast opened #1605 "Stack"
### Directory

Data-Structure=>Stack=>Readme.md

### Things To Remember

- [X] The content added isn't directly copied from any sources like gfg, tutorialpoint, etc. For theory, use open-source alternatives like WikiPedia.
- [X] I have used github flavoured md syntax only.
- [X] All the relative links are working.
- [X] All the absolute links are working.
- [X] I have synced-up my forked repo.
- [

[2021-10-01 16:22] KamalAres commented on #1593
I can implement the basic methods of LinkedList Collection in java. Can you assign this task to me?

[2021-10-01 16:26] nibble-4bits commented on #1591
Hello @ahampriyanshu, I'd like to work on this issue. I could implement the code in TypeScript

[2021-10-01 16:29] Harshgupta5901 commented on #1591
Hello @ahampriyanshu, I want to work on the issue in python. Pls assign me.

[2021-10-01 16:36] #1592 closed

[2021-10-01 17:14] Harshgupta5901 commented on #1591
#1607

[2021-10-01 17:27] ahampriyanshu opened #1608 "Stack Using Array"
### Type

Data-Structure

### Directory

Data-Structures => Stack => StackUsingArray.extension

### Description

A Stack is a linear data structure that follows the LIFO (Last-In-First-Out) policy.

### Programming Language

- [X] c++
- [X] c
- [x] python
- [x] java
- [ ] kotlin
- [X] javascript
- [ ] typescript
- [X] c#
- [ ] swift
- [X] ruby
- [ ] scala
- [x] go
- [x] php
- [X] haskell
- [ ] bas

[2021-10-01 17:29] ahampriyanshu opened #1609 "Stack Using Linked List"
### Type

Data-Structure

### Directory

Data-Structures => Stack => StackUsingLL.extension

### Description

A Stack is a linear data structure that follows the LIFO (Last-In-First-Out) principle.

### Programming Language

- [X] c++
- [X] c
- [x] python
- [x] java
- [ ] kotlin
- [x] javascript
- [ ] typescript
- [X] c#
- [ ] swift
- [ ] ruby
- [ ] scala
- [X] go
- [ ] php
- [ ] haskell
- [ ] bas

[2021-10-01 17:47] EANimesha commented on #1600
I like to contribute. assign me

[2021-10-01 18:24] #1602 closed

[2021-10-01 18:36] Devenkapoor7303 commented on #1608
Hey, Can I work on this can you please assign this issue to me? I can do it cpp language. @ahampriyanshu

[2021-10-01 18:38] ahampriyanshu commented on #1608
Hi @Devenkapoor7303, please opt a different language.

[2021-10-01 18:41] Devenkapoor7303 commented on #1608
@ahampriyanshu  I can go with javascript ?

[2021-10-01 18:42] Devenkapoor7303 commented on #1608
@ahampriyanshu  Can I go with java?

[2021-10-01 18:46] realvaibhav opened #1611 "Added=>STL=>UnorderedSet=>UnorderedSet.cpp"
### Type

STL

### Directory

STL=>UnorderedSet=>UnorderedSet.cpp

### Description

An **unordered_set** is a data structure and all its elements are distinct. An unordered_set uses **hashing** and that's why its operations take constant time **O(1)** on an average but can also take linear time **O(n)** in worst case. Unlike a set, an unordered_set does not maintain the order of the elements. The

[2021-10-01 18:54] Samkit-shah commented on #1591
Can i work on it for php?

[2021-10-01 18:56] Samkit-shah commented on #1608
Can i work on it for php?

[2021-10-01 18:56] #1600 closed

[2021-10-01 18:57] Samkit-shah commented on #1590
Can i work on it for php

[2021-10-01 18:58] Samkit-shah commented on #1588
Can i go with this for php?

[2021-10-01 22:36] patrickfoconnor commented on #1609
Hey, I would like to help you with this. I have taken data structures through university and have a java file on hand that is a stack using a linkedlist.

[2021-10-02 02:38] Sun-0321 commented on #1609
@ahampriyanshu  Can you please assign this task to me? I will do it in C++

[2021-10-02 02:58] rishikeshreddyakkireddy commented on #1597
I would like to work on this issue, can you assign this to me?

[2021-10-02 03:01] rishikeshreddyakkireddy commented on #1598
I would like to work on this issue, Can you assign this to me?

[2021-10-02 03:05] rishikeshreddyakkireddy commented on #1601
Can you assign this to me ? I have already written using java.

[2021-10-02 03:50] ahampriyanshu commented on #1609
Hello @Sun-0321, please a different language.

[2021-10-02 03:51] ahampriyanshu commented on #1609
Hi @Sun-0321, please opt a different language.

[2021-10-02 04:01] theyup12 commented on #1609
Can I do for python?

[2021-10-02 04:02] KevalPrajapati commented on #1591
Hey I cant to work for this in go. Please assign it to me.

[2021-10-02 07:42] Aaryan0424 commented on #1591
I would like to work on this issue in C . can you assign it to me

[2021-10-02 09:14] rezwan2525 commented on #1595
Hi, can you assign me this issue, please? I want to do it in Java.

[2021-10-02 09:20] #1601 closed

[2021-10-02 09:34] Anushka1211300 commented on #1608
please assign me task

[2021-10-02 10:24] shivanshuman021 opened #1623 "BST from Sorted Array"
### Type

Data-Structure

### Directory

Algorithms => Tree-Algorithm => Sorted-Array-To-BST => Sorted-Array-To-BST.cpp.

### Description

Added code for making a binary search tree from given sorted array

### Programming Language

- [X] c++
- [x] c
- [x] python
- [x] java
- [ ] kotlin
- [ ] javascript
- [ ] typescript
- [ ] c#
- [ ] swift
- [ ] ruby
- [ ] scala
- [ ] go
- [ ] php
- [ ] haskell
-

[2021-10-02 10:29] Samkit-shah commented on #1588
Can I work for python?

[2021-10-02 10:52] ManavArora26 commented on #1609
Can I do for Javascript?

[2021-10-02 10:52] Phoenix6296 commented on #1609
Can you please assign this task to me as an assignment for hactober fest. I can do it in c++, js, java, c.

[2021-10-02 10:54] #1611 closed

[2021-10-02 10:54] kirito-udit opened #1626 "Implementing Priority_Queue in C Language"
### Type

Data-Structure

### Directory

Data-Structures => Heap => Implement_Heap.c

### Description

Implement Priority Queue using Linked Lists.

    push(): This function is used to insert a new data into the queue.
    pop(): This function removes the element with the highest priority form the queue.
    peek() / top(): This function is used to get the highest priority element in the queue wi

[2021-10-02 11:01] VidushiJain30 commented on #1591
Hii,
I would like to contribute!!

[2021-10-02 11:01] ahampriyanshu commented on #1626
Please look at #1590

[2021-10-02 11:01] #1626 closed

[2021-10-02 11:05] ahampriyanshu commented on #1609
Hi @Phoenix6296 , go ahead with c.

[2021-10-02 11:07] ahampriyanshu commented on #1608
Hi @Anushka1211300 , please mention your preferred language.

[2021-10-02 11:08] Shahakshar commented on #1608
hey, can I make it in java?
stack using an array.

[2021-10-02 11:10] Phoenix6296 commented on #1609
okay but can you guide me the process of contributing as I am new to github.

[2021-10-02 11:13] kirito-udit opened #1627 "Rat in a Maze Problem"
### Type

Algorithm

### Directory

Algorithms =>Backtracking => Rat in a Maze.cpp

### Description

In this problem, there is a given maze of size N x N. The source and the destination location is top-left cell and bottom right cell respectively. Some cells are valid to move and some cells are blocked. If one rat starts moving from start vertex to destination vertex, we have to find that is there

[2021-10-02 11:13] subham5230 commented on #1608
Hey @ahampriyanshu  can you please assign me this task for python? thanks!

[2021-10-02 11:14] Phoenix6296 commented on #1609
I have done the program but please guide me through the process.

[2021-10-02 11:16] subham5230 commented on #1623
Hey @shivanshuman021 can you please assign me this issue for Java, Thanks!

[2021-10-02 11:17] subham5230 commented on #1609
Hey @ahampriyanshu can you please assign me this issue for python, Thanks!

[2021-10-02 11:20] subham5230 commented on #1593
Hey @ahampriyanshu  can you please assign this task to me for C++, Thanks!

[2021-10-02 11:46] ahampriyanshu opened #1631 "Trie"
### Type

Data-Structure

### Directory

Data-Structures => Tree => Trie => Trie.extension

### Description

Trie is a non-linear data structure that is used for locating specific keys from within a set.
**Note :** Just simply demonstrate insert and search operations for a dict.

### Programming Language

- [X] c++
- [X] c
- [X] python
- [x] java
- [ ] kotlin
- [x] javascript
- [x] typescript
- [

[2021-10-02 11:53] rezwan2525 commented on #1599
I would like to work on this issue. Can you please assign me?

[2021-10-02 12:05] #1595 closed

[2021-10-02 12:10] SudipMukhejee commented on #1631
I to have fix your issue if you want then assignee

[2021-10-02 12:11] PAARTH2608 commented on #1627
Can I work on this issue?

[2021-10-02 12:12] nimishh7 opened #1634 "Dutch National Flag Problem"
### Type

Algorithm

### Directory

Algorithms => Array-Algorithm => dutch_national_flag

### Description

Dutch National Flag(DNF) is a  programming problem. The task is to randomly arrange balls of white, red and blue is such a way that balls of the same color are placed together.

### Programming Language

- [X] c++
- [X] c
- [x] python
- [x] java
- [ ] kotlin
- [x] javascript
- [ ] typescript

[2021-10-02 12:12] ahampriyanshu commented on #1631
Hi @SudipMukhejee, please mention your preferred language.

[2021-10-02 12:13] PAARTH2608 commented on #1623
Can i work on this issue?

[2021-10-02 12:13] #1627 closed

[2021-10-02 12:13] Gagan-Shenoy commented on #1594
Can I take up this issue please?

[2021-10-02 12:14] kirito-udit commented on #1627
Unfortunately,no

[2021-10-02 12:14] Aaryanpal commented on #1634
Kindly assign this to me @nimishh7

[2021-10-02 12:16] lakshyamcs16 commented on #1631
Hi @ahampriyanshu Can I pick this up for Java, Javascript and typescript?

[2021-10-02 12:17] nimishh7 commented on #1623
Can you please assign this to me in c++ ?

[2021-10-02 12:20] nimishh7 commented on #489
@ahampriyanshu Can you please assign this to me in python ?

[2021-10-02 12:21] nimishh7 commented on #1582
@ahampriyanshu Can i work on this issue ?

[2021-10-02 12:23] lucy2512 commented on #1634
I would like to work on this in C++.
Will you please assign it to me?

[2021-10-02 12:28] ManavArora26 commented on #1581
Please assign me this, for python

[2021-10-02 12:34] ManavArora26 commented on #1588
Assign me in python pls!

[2021-10-02 12:49] ahampriyanshu commented on #1634
duplicate of #1241

[2021-10-02 12:49] #1634 closed

[2021-10-02 12:59] SaahilSabu opened #1638 "AVL tree insertion and deletion cpp program"
### Type

Algorithm

### Directory

algo_ds_101=>Algorithms=>Graph-Algorithms

### Description

AVL tree insertion and deletion cpp program

### Programming Language

- [X] c++
- [X] c
- [ ] python
- [ ] java
- [ ] kotlin
- [ ] javascript
- [ ] typescript
- [ ] c#
- [ ] swift
- [ ] ruby
- [ ] scala
- [ ] go
- [ ] php
- [ ] haskell
- [ ] bash

[2021-10-02 13:06] EANimesha commented on #1587
I would like to add code in Java. Please assign me

[2021-10-02 13:08] PAARTH2608 commented on #1578
Can i work on this issue?

[2021-10-02 13:11] ahampriyanshu commented on #1638
duplicate of #489

[2021-10-02 13:11] #1638 closed

[2021-10-02 13:18] ApoorvaKaushal09 commented on #1581
Hey I can work on this issue. Please assign this to me, for java.

[2021-10-02 13:25] prinsusinghal commented on #1638
@ahampriyanshu  Assign this to me for JAVA language.

[2021-10-02 13:31] shivam1612tyagi commented on #1608
Can i work on it for python?

[2021-10-02 13:32] prinsusinghal commented on #1623
@shivanshuman021 Assign this to me for JAVA.

[2021-10-02 13:35] rupayanxn commented on #1623
Hey, I am proficient in C++ and would love to work on this issue.

[2021-10-02 13:48] himanshugoldy commented on #1623
I have already learned a lot about this topic would like to contribute

[2021-10-02 14:01] amitsat27 commented on #1608
Hello @ahampriyanshu  Can i do the task in python?

[2021-10-02 14:02] iamHrithikRaj opened #1648 "Open Addressing (Hashing) using Linear Probing"
### Type

Algorithm

### Directory

Algorithm => Hashing => Open Addressing => linearProbingHashTable.cpp

### Description

**Linear probing** is a scheme in computer programming for resolving collisions in hash tables, data structures for maintaining a collection of key–value pairs and looking up the value associated with a given key.
In linear probing, we linearly probe for next slot. For exampl

[2021-10-02 14:03] iamHrithikRaj commented on #1648
I wanna
 take this issue please assign this to me.

[2021-10-02 14:03] amitsat27 commented on #1588
Hello @ahampriyanshu can you assign the task to me in python ?

[2021-10-02 14:05] amitsat27 commented on #1587
hello @ahampriyanshu can you assign me the task in c?

[2021-10-02 14:31] SudipMukhejee commented on #1631
Javascript i used

[2021-10-02 14:39] ahampriyanshu commented on #1623
@PAARTH2608 & @himanshugoldy , please mention your preferred language.
@rupayanxn & @prinsusinghal, kindly opt a different language.

[2021-10-02 14:43] iamHrithikRaj opened #1654 "Open Addressing (Hashing) using Quadratic Probing"
### Type

Algorithm

### Directory

Algorithms => Hashing => Open Addressing => quadraticProbingHashingTable.cpp

### Description

**Quadratic probing** is an open addressing scheme in computer programming for resolving hash collisions in hash tables. Quadratic probing operates by taking the original hash index and adding successive values of an arbitrary quadratic polynomial until an open slot is

[2021-10-02 14:44] iamHrithikRaj commented on #1654
I would like to contribute on this please assign me. :)

[2021-10-02 14:46] sreechand2002 opened #1655 "Level Order Traversing in BST"
### Type

Algorithm

### Directory

Alogrithm ==> Tree Algorithm ==> level_traversing,cpp

### Description

A algorithm for level order traversing in a BST

### Programming Language

- [X] c++
- [ ] c
- [x] python
- [x] java
- [ ] kotlin
- [ ] javascript
- [x] typescript
- [ ] c#
- [ ] swift
- [ ] ruby
- [ ] scala
- [ ] go
- [ ] php
- [ ] haskell
- [ ] bash

[2021-10-02 14:49] #1597 closed

[2021-10-02 14:51] nikku971 commented on #1655
Assign me this in c++

[2021-10-02 14:54] sreechand2002 commented on #1655
I am working on this after creating

[2021-10-02 14:55] sreechand2002 commented on #1655
@ahampriyanshu please assign it to  me I have already started with this

[2021-10-02 15:07] #1648 closed

[2021-10-02 15:16] himanshugoldy commented on #1623
i would like to opt for C++

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality9&>
Sender
notified by
Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality9&>
10/02/21,
08:45:52 PM

On Sat, Oct 2, 2021 at 8:09 PM Priyanshu Tiwari ***@***.***>
wrote:

[2021-10-02 15:19] rezwan2525 commented on #1599
@ahampriyanshu Hi, I think, this issue can be closed now. Since "Collection" is a Java framework, we need not wait for other programming language solutions in this case probably. What's your thought on this? Thanks.

[2021-10-02 15:21] ahampriyanshu commented on #1655
Hi @nikku971, kindly opt a different language.

[2021-10-02 15:33] Onkar627 commented on #1654
I would like to contribute to this in java.

[2021-10-02 15:35] Manas0916 commented on #1655
Hey! can you assign this to me!
I want to work on this problem in JAVA!
Thank You!

[2021-10-02 15:43] meghna750 opened #1661 "Smith-Number (Maths section)"
### Type

Maths

### Directory

Maths=>Number-Theory

### Description

Hello @ahampriyanshu ,
I hope you are going very well.
Here is the description of my issue and plans for submission:
A Smith number is a composite number whose sum of digits is equal to the sum of digits in its prime factorization. It uses the concept of  Sieve of Sundaram. This type of concept help in building a strong base in

[2021-10-02 15:45] meghna750 commented on #1654
Hello @ahampriyanshu ,
I would like to contribute to this topic in python. Kindly assign this to me.
Thanks.

[2021-10-02 15:55] karthikhegde05 commented on #1655
Hey @ahampriyanshu , can you please assign python and javascript version of this problem to me?

Thank you

[2021-10-02 16:15] #1598 closed

[2021-10-02 16:17] rohitkumar9710 commented on #1609
@ahampriyanshu  I have all the knowledge of stacks being implemented using linked lists in both c and cpp. please assign this task to me.

[2021-10-02 16:21] rohitkumar9710 commented on #1587
@ahampriyanshu can you assign this task to me? I'll be using c++.

[2021-10-02 16:22] disha4u commented on #1623
Can I work on this in python

[2021-10-02 16:29] ahampriyanshu commented on #1591
Hi @VidushiJain30, please mention your preferred language.

[2021-10-02 16:30] ahampriyanshu commented on #1582
Hi @nimishh7, please mention your preferred language.

[2021-10-02 16:36] #1599 closed

[2021-10-02 16:42] iamHrithikRaj opened #1666 "Open Addressing (Hashing) using Double Hashing"
### Type

Algorithm

### Directory

Algorithm => Hashing => Open-Addressing => DoubleHashHashingTable.cpp

### Description

**Double hashing** is a collision resolving technique in Open Addressed Hash tables. Double hashing uses the idea of applying a second hash function to key when a collision occurs.
[code]

### Programming Language

- [X] c++
- [ ] c
- [ ] python
- [ ] java
- [ ] kotlin
- [ ]

[2021-10-02 16:43] meghna750 commented on #1661
Hello @ahampriyanshu ,
I have participated in hacktoberfest2021.
Can you please confirm that my contribution will count in hacktoberfest or not (I will contribute in any case though :)   ).
Thanks.

[2021-10-02 16:43] Gagan-Shenoy commented on #1594
Thank you for assigning the issue. Will do the pr ASAP!

[2021-10-02 16:47] himanshugoldy commented on #1623
Yes, you can do that.

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality7&>
Sender
notified by Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality7&>
10/02/21,
10:16:54 PM

On Sat, Oct 2, 2021 at 9:52 PM disha4u ***@***.***> wrote:

[2021-10-02 16:57] iamHrithikRaj opened #1669 "Incorrect Code for Linear Probing (Hashing)"
### Type

Algorithm

### Directory

Algorithm => Hashing => Open Addressing => linearProbingHashTable.cpp

### Description

I messed up one of the code because of a small confusion. I've opened up the PR to fix this. My bad won't happen again. :)

### Programming Language

- [X] c++
- [ ] c
- [ ] python
- [ ] java
- [ ] kotlin
- [ ] javascript
- [ ] typescript
- [ ] c#
- [ ] swift
- [ ] ruby
- [ ]

[2021-10-02 17:14] #1669 closed

[2021-10-02 17:16] aditya-gaikwad commented on #1591
Hello, I would like to contribute.
preffered language C++

[2021-10-02 17:18] PAARTH2608 commented on #1623
C++, Java, python i am familiar with both the languages

[2021-10-02 17:22] iamHrithikRaj opened #1673 "Hashing using Chaining Algorithm"
### Type

Algorithm

### Directory

Algorithm => Hashing => Chaining => chainingHashing.cpp

### Description

**Chaining** is a technique used for avoiding collisions in hash tables.
A collision occurs when two keys are hashed to the same index in a hash table. Collisions are a problem because every slot in a hash table is supposed to store a single element.
In the chaining approach, the hash tabl

[2021-10-02 17:28] ParthPali commented on #1588
Hello @ahampriyanshu - please assign the task to me in java.

[2021-10-02 17:50] #1666 closed

[2021-10-02 17:53] harshitsuthar77731 commented on #1608
please assign me it in go

[2021-10-02 17:54] harshitsuthar77731 commented on #1587
can you assign me in go

[2021-10-02 17:57] webdesignbydivyansh commented on #1655
hello @ahampriyanshu can u assign me this work on C?

[2021-10-02 18:06] 264pranjal opened #1678 "Rearrange an array with alternate high and low elements"
### Type

Algorithm

### Directory

Algorithm=>Array-Algorithm

### Description

Given an integer in an array is greater then its left and right integers. No duplications allowed in the array.

### Programming Language

- [X] c++
- [X] c
- [X] python
- [X] java
- [x] kotlin
- [ ] javascript
- [ ] typescript
- [X] c#
- [ ] swift
- [ ] ruby
- [ ] scala
- [ ] go
- [ ] php
- [ ] haskell
- [ ] bash

[2021-10-02 18:06] ahampriyanshu commented on #1661
Hi @meghna750, I have participated as a maintainer in hackertoberfest 2021, so once a PR gets merged/approved, it will count as a contribution. Nevertheless, you can track the status of your PR(s) on https://hacktoberfest.digitalocean.com/profile.
Regards @ahampriyanshu :v:

[2021-10-02 18:09] sahelisaha2k commented on #489
Can you please assign me this for C language?

[2021-10-02 18:12] sahelisaha2k commented on #1608
Please assign me in C language

[2021-10-02 18:12] webdesignbydivyansh commented on #1678
Hello, can you assign C++ task to me?

[2021-10-02 18:17] 264pranjal commented on #1678
I can do code in all 5 languages please assign this task to me

[2021-10-02 18:24] pranesh6876 commented on #1678
@ahampriyanshu please assign me python and c# for this task.

[2021-10-02 18:30] ahampriyanshu commented on #1678
Hi @webdesignbydivyansh, please opt a different language/issue.

[2021-10-02 18:31] noob-26 opened #1681 "Adding Rat in a Maze solution in C++"
### Type

Algorithm

### Directory

Algorithms => Backtracking => Rat in a Maze

### Description

https://practice.geeksforgeeks.org/problems/rat-in-a-maze-problem/1 Solution to the problem Rat in Maze in C++

### Programming Language

- [X] c++
- [ ] c
- [ ] python
- [ ] java
- [ ] kotlin
- [ ] javascript
- [ ] typescript
- [ ] c#
- [ ] swift
- [ ] ruby
- [ ] scala
- [ ] go
- [ ] php
- [ ] haskel

[2021-10-02 18:31] subham5230 commented on #1655
Hey @ahampriyanshu  can you please assign me this issue in Javascript, Thanks!

[2021-10-02 18:32] pranesh6876 opened #1682 "Isomorphic String"
### Type

Algorithm

### Directory

Algorithms=>String-Algorithm

### Description

Two strings are called isomorphic if there is a one to one mapping possible for every character of 1st string to every character of 2nd string. And all occurrences of every character in 1st string map to same character in 2nd string.

### Programming Language

- [X] c++
- [X] c
- [X] python
- [X] java
- [ ] kotlin
-

[2021-10-02 18:32] subham5230 commented on #1678
Hey @ahampriyanshu  can you please assign me this issue for Javascript, Thanks!

[2021-10-02 18:34] pranesh6876 commented on #1682
@ahampriyanshu please assign me java, python and c# for this code.

[2021-10-02 18:34] karthikhegde05 commented on #1655
@ahampriyanshu , I am already working on javascript version of this problem

[2021-10-02 18:34] 264pranjal commented on #1682
@ahampriyanshu please assign me c and c++ for this code

[2021-10-02 18:35] owaiskhan3 commented on #1682
Please assign javascript to me!

[2021-10-02 18:37] SahilKesarwani commented on #1608
Hey, I will add more functions in the program in C language. Can you assign it to me?

[2021-10-02 18:53] U-c0de commented on #1661
Hello @ahampriyanshu ,
I have participated in hacktoberfest2021. I want to write the code in Python, php and Java

[2021-10-02 18:58] U-c0de commented on #1681
Hello @ahampriyanshu ,
I have participated in hacktoberfest2021. Please assign me this issue in Python and java

[2021-10-02 19:00] Gagan-Shenoy commented on #1594
Please review my PR #1683
Thank you.

[2021-10-02 19:04] not4YU5H commented on #1623
@ahampriyanshu I would like to implement this in C language. Can you assign it to me?

[2021-10-02 19:08] not4YU5H commented on #1587
@ahampriyanshu can you assign this task to me in python?

[2021-10-02 19:31] rsh-raj commented on #1682
@ahampriyanshu Assign me kotlin for this.

[2021-10-02 19:43] MrNaif2018 opened #1686 "DSU (Disjoint Set Union)"
### Type

Algorithm

### Directory

Algorithms=>Graph-Algorithms=>DSU=>dsu.ext

### Description

Disjoint set union (or Union Find) is a data structure which is initialized of N sets with 1 element in each, and supports the following operations:
- `union_sets(a, b)` - unite two sets (the set where element a is located, and the set where element b is located)
- `find_set(v)`- return the head (leade

[2021-10-02 19:43] MrNaif2018 commented on #1686
Could I please be assigned for c++ and python? Thanks

[2021-10-02 19:45] rishab1128 opened #1687 "Count Inversions in an Array"
### Type

Algorithm

### Directory

Algorithm => Sorting => Merge Sort => Application of Merge Sort => Count_Inversions.cpp

### Description

Let A[0...n - 1] be an array of n distinct positive integers. If i < j and A[i] > A[j] then the pair (i, j) is called an inversion of A. Given n and an array A our task is to find the number of inversions of A.

This is a very standard and important problem

[2021-10-02 19:46] rishab1128 commented on #1687
@ahampriyanshu Please assign me the C and C++ code for this program

[2021-10-02 19:50] #1594 closed

[2021-10-02 19:56] rexa0310 opened #1689 "Search in a sorted 2-D matrix (BINARY SEARCH)"
### Type

Algorithm

### Directory

Algorithm =>Searching =>Binary Search=>search_in_2d_matrix.cpp

### Description

 An efficient algorithm that searches for a value in an m x n matrix. This matrix has the following properties:
->Integers in each row are sorted from left to right.
->The first integer of each row is greater than the last integer of the previous row.

This is a problem related to b

[2021-10-02 19:58] rexa0310 commented on #1689
@ahampriyanshu please assign c and cpp code for this program to me.

[2021-10-02 20:00] bite1392 commented on #1681
Thanks

[2021-10-02 20:03] ahampriyanshu opened #1693 "Map"
### Type

Data-Structure

### Directory

Data-Structures => Map => Map.extension

### Description

Map or HashMap or Dict is a data structure that pairs keys to values.
Note : Please don't use any inbuilt library/function.

### Programming Language

- [x] c++
- [ ] c
- [x] python
- [x] java
- [ ] kotlin
- [x] javascript
- [ ] typescript
- [ ] c#
- [ ] swift
- [x] ruby
- [ ] scala
- [ ] go
- [ ] ph

[2021-10-02 20:12] SahilKesarwani commented on #1608
Hey, can I change the whole code of the file or should I have to only add new functions... Because my approach is same but I can make the code structure or execution better.

[2021-10-02 20:15] ahampriyanshu opened #1694 "Fibonacci Heap"
### Type

Data-Structure

### Directory

Data-Structures => Tree => Fibonacci-Heap => Fibonacci-Heap.extension

### Description

Fibonacci heap is a data structure for priority queue operations, consisting of a collection of heap-ordered trees.

### Programming Language

- [X] c++
- [X] c
- [x] python
- [ ] java
- [ ] kotlin
- [x] javascript
- [ ] typescript
- [ ] c#
- [ ] swift
- [ ] ruby
- [ ] s

[2021-10-02 20:22] ahampriyanshu opened #1697 "Segment tree"
### Type

Data-Structure

### Directory

Data-Structures => Tree => Segment-Tree => Segment-Tree.extension

### Description

A segment tree, also known as a statistic tree, is a tree data structure used for storing information about intervals, or segments. It allows querying which of the stored segments contain a given point.

### Programming Language

- [x] c++
- [x] c
- [ ] python
- [x] java
- [

[2021-10-02 20:24] ahampriyanshu opened #1698 "Splay Tree"
### Type

Data-Structure

### Directory

Data-Structures => Tree => Splay-Tree => Splay-Tree.extension

### Description

A splay tree is a binary search tree with the additional property that recently accessed elements are quick to access again.

### Programming Language

- [X] c++
- [X] c
- [ ] python
- [ ] java
- [ ] kotlin
- [ ] javascript
- [ ] typescript
- [X] c#
- [ ] swift
- [ ] ruby
- [ ]

[2021-10-02 20:25] shiladityab24 commented on #1697
Hey @ahampriyanshu, I want to this issue with java and c++

[2021-10-02 20:26] ahampriyanshu opened #1699 "Red-Black-Tree"
### Type

Data-Structure

### Directory

Data-Structures => Tree => Red-Black-Tree => Red-Black-Tree.ext

### Description

A red–black tree is a kind of self-balancing binary search tree. Each node stores an extra bit representing "color", used to ensure that the tree remains balanced during insertions and deletions.

### Programming Language

- [X] c++
- [X] c
- [X] python
- [X] java
- [ ] kotlin

[2021-10-02 20:32] luckysharma05 commented on #1699
please assign it to me

[2021-10-02 20:33] ahampriyanshu opened #1701 "2-3 Tree"
### Type

Data-Structure

### Directory

Data-Structures => Tree => 23Tree => 23Tree.extension

### Description

A 2–3 tree is a tree data structure, where every node with children has either two children and one data element or three children and two data elements.

### Programming Language

- [X] c++
- [X] c
- [X] python
- [x] java
- [ ] kotlin
- [ ] javascript
- [ ] typescript
- [X] c#
- [ ] sw

[2021-10-02 20:36] ahampriyanshu commented on #1699
Hi @luckysharma05, kindly mention your preferred language.

[2021-10-02 20:37] luckysharma05 commented on #1699
my preferred language is c++

[2021-10-02 20:46] deDSeC00720 commented on #1693
I would like to implement Hashmap in c++.

[2021-10-02 20:58] deDSeC00720 commented on #1693
Hey @ahampriyanshu , I would like to work on hashmap in c++ and java.

[2021-10-02 20:59] PAARTH2608 commented on #1623
Can you assign it to me please?

[2021-10-02 21:29] 22Niharika commented on #1699
hello @ahampriyanshu can you assign this to me, i would like to work in c++ language

[2021-10-02 23:17] berry120 commented on #1701
Hey, could I take this for Java?

[2021-10-02 23:46] miguelnietoa commented on #1693
Hello everyone, I would like to contribute with Maps on Python and Ruby.

Question: Is this repo really counting for Hacktoberfest 2021?
Question2: Should I send just one PR with 2 files or one PR per file (Python and Ruby)?

[2021-10-03 01:02] sairam-kakarla commented on #1689
@ahampriyanshu please assign python program to me.

[2021-10-03 01:22] rohitkumar9710 commented on #1661
@ahampriyanshu , please assign this to me. I would like to write its code in C, C++.

[2021-10-03 01:23] rohitkumar9710 commented on #1588
Hello @ahampriyanshu can you assign this task to me in C, C++?

[2021-10-03 02:05] harshitsuthar77731 commented on #1693
i want to contribute in  javascript

[2021-10-03 02:06] harshitsuthar77731 commented on #1609
assign me in javascript

[2021-10-03 02:07] andianiputri opened #1706 "Tower of HANOI in using C++ programTitle of the Submission"
### Type

Algorithm

### Directory

Added => Algo =>Tower of HANOI in using C++ program => CPP

### Description

Tower of HANOI in using C++ program

### Programming Language

- [X] c++
- [X] c
- [ ] python
- [ ] java
- [ ] kotlin
- [ ] javascript
- [ ] typescript
- [X] c#
- [ ] swift
- [ ] ruby
- [ ] scala
- [ ] go
- [ ] php
- [ ] haskell
- [ ] bash

[2021-10-03 02:12] ahampriyanshu commented on #1706
#697

[2021-10-03 02:12] #1706 closed

[2021-10-03 02:27] andianiputri opened #1707 "Tower of HANOI in using C++"
### Type

Algorithm

### Directory

Algorithm =>Tower of HANOI in using C++=>Tower of HANOI in using C++.extension

### Description

The Tower of Hanoi is a mathematical puzzle invented by the French mathematician Edouard Lucas in 1883.

There are three pegs, source(A), Auxiliary (B) and Destination(C). Peg A contains a set of disks stacked to resemble a tower, with the largest disk at the bottom

[2021-10-03 02:28] andianiputri commented on #1707
yasss

[2021-10-03 02:32] nishantkumar1308 commented on #1707
Assign this to me

[2021-10-03 02:34] nishantkumar1308 commented on #1605
Assign this to me i will do in C++

[2021-10-03 02:35] nikku971 opened #1708 "Generic Tree"
### Type

Data-Structure

### Directory

Algorithm => Trees => Generic Tree implementation

### Description

Generic trees are a collection of nodes where each node is a data structure that consists of records and a list of references to its children(duplicate references are not allowed). Unlike the linked list, each node stores the address of multiple nodes. Every node stores address of its child

[2021-10-03 02:37] nikku971 commented on #1708
@ahampriyanshu assign me this in c++.I am working on this

[2021-10-03 02:51] Siddhesh4501 commented on #1689
I can do it in python or Javascript please assigned me any of these

[2021-10-03 02:53] ignacioespinoso commented on #1587
Can you assign this task to me in swift?

[2021-10-03 03:07] ignacioespinoso commented on #1708
Can you assign this to me in swift?

[2021-10-03 03:08] ignacioespinoso commented on #1605
I can do this in Swift

[2021-10-03 03:09] ignacioespinoso commented on #1655
Assign this to me in Swift please

[2021-10-03 03:19] meghna750 commented on #1661
hello @rohitkumar9710 ,
I am already working on this issue with C++, you can work with C.
Thanks!

[2021-10-03 03:24] raazanand commented on #1689
Hey @rexa0310! I would like to work on this problem, please assign it to me in Java.

[2021-10-03 03:28] raazanand commented on #1609
heyy @ahampriyanshu! I am surely interested in this problem, Please assign it to me in Java.

[2021-10-03 03:32] rohitkumar9710 commented on #1707
@andianiputri  Assign this to me in C++,C.

[2021-10-03 03:35] harshvardhan56 commented on #1591
can you please merge PR #1711
i have implemented all the methods of array

[2021-10-03 03:39] ahampriyanshu commented on #1707
duplicate of #697

[2021-10-03 03:39] #1707 closed

[2021-10-03 03:46] not4YU5H commented on #1708
@ahampriyanshu can you assign this to me in C?

[2021-10-03 03:52] nishantkumar1308 commented on #1698
please assign it to me. i can do it in c++

[2021-10-03 03:53] nishantkumar1308 commented on #1694
please assign this to me I can do it in C++

[2021-10-03 03:54] nishantkumar1308 commented on #1582
I can work in C++ please assign it to me.

[2021-10-03 03:56] divyansh1511 commented on #1693
Hey everyone!! I would like to contribute with maps on cpp.
@ahampriyanshu

[2021-10-03 04:16] divyansh1511 commented on #1708
can u assign this to me... @ahampriyanshu in cpp.

[2021-10-03 04:17] divyansh1511 commented on #1587
can u assign this issue to me .... in  cpp
@ahampriyanshu

[2021-10-03 04:33] SuperAayush commented on #1708
@ahampriyanshu Please assign this to me in JAVA.

[2021-10-03 05:08] keinisha commented on #1605
Hi, can I do this in C? @ahampriyanshu

[2021-10-03 05:12] keinisha commented on #1626
Hi, can I still work on this?

[2021-10-03 05:52] SuperAayush commented on #1708
I have already made a PR for java and can also contribute using JS so please assign me for JS as well

[2021-10-03 05:57] Sameera-Aryasomayajula commented on #1694
Can I please implement this in C

[2021-10-03 06:00] Sameera-Aryasomayajula commented on #1701
Can I work on the C++ implementation if this

[2021-10-03 06:16] nimishh7 commented on #1582
@ahampriyanshu python

[2021-10-03 06:20] vivekarora-02 commented on #1655
Hey there,
 @ahampriyanshu , can you please assign C and C++ version of this problem to me? I'm already working on it.

Thankyou!

[2021-10-03 06:22] vivekarora-02 commented on #1681
Hey there,
@ahampriyanshu, can you please assign me this problem, I'll submit it in C or C++ or both
Thankyou!

[2021-10-03 07:35] Lakshay-Pruthi commented on #1689
solved in JAVA do checkout #1720

[2021-10-03 07:49] sudhanshupatel-dev opened #1723 "Tower-of-Hanoi"
### Type

Algorithm

### Directory

Algorithm => Recursion => Tower-of-Hanoi.py

### Description

One of the most popular problem of all time tower of hanoi

### Programming Language

- [ ] c++
- [ ] c
- [X] python
- [ ] java
- [ ] kotlin
- [ ] javascript
- [ ] typescript
- [ ] c#
- [ ] swift
- [ ] ruby
- [ ] scala
- [ ] go
- [ ] php
- [ ] haskell
- [ ] bash

[2021-10-03 07:52] sudhanshupatel-dev commented on #1723
@ahampriyanshu assign me this in python please.

[2021-10-03 07:53] sarthakdelori commented on #1723
Assign me this in C++.

[2021-10-03 07:54] sudhanshupatel-dev opened #1724 "Binary Search Tree"
### Type

Algorithm

### Directory

Algorithm => Searching => Binary_Search

### Description

Binary Search Tree is a node-based binary tree data structure which has the following properties -
1. The left subtree of a node contains only nodes with keys lesser than the node’s key.
2. The right subtree of a node contains only nodes with keys greater than the node’s key.
3. The left and right subtree

[2021-10-03 08:01] Jibendu007 commented on #1724
@sudhanshupatel-dev can I be assigned to this?

[2021-10-03 08:02] Ishaan-10 commented on #1689
Hey @ahampriyanshu ! I can do this in Kotlin. Please assign it to me

[2021-10-03 08:06] #1593 closed

[2021-10-03 08:07] ahampriyanshu opened #1727 "Java Collection : LinkedList"
### Type

Collection

### Directory

Collection => LinkedList => LinkedList.java

### Description

Just declare the data structure, take the input dynamically, demonstrate some inbuilt methods.

### Programming Language

- [ ] java

[2021-10-03 08:16] aditi830 commented on #1724
assign me ,i will do in c++

[2021-10-03 08:19] Ronak55 commented on #1693
Hey everyone, i would like to contribute in maps on cpp language
@ahampriyanshu

[2021-10-03 08:24] ZohaibSoomro commented on #1724
Assign it to me Sir i can do it in java

[2021-10-03 08:24] ZohaibSoomro commented on #1727
Assign it to me Sir  i will do it in java.

[2021-10-03 08:25] ahampriyanshu commented on #1723
duplicate of #697, #1707 and #1706 !
Please follow contributing guidelines.

[2021-10-03 08:25] #1723 closed

[2021-10-03 08:52] Ashishadhikari123 commented on #1591
I would like to contribute.
Language c++

[2021-10-03 09:05] bite1392 commented on #1681
Bot Android

در تاریخ یکشنبه ۳ اکتبر ۲۰۲۱،‏ ۹:۵۲ VIVEK ARORA ***@***.***>
نوشت:

[2021-10-03 09:19] Nandini2901 commented on #1693
Hey, I would like to contribute in maps in cpp language

[2021-10-03 09:22] kartik-ey1 commented on #1724
sir i can do it as well
please assign me

[2021-10-03 09:33] webdesignbydivyansh commented on #1678
Hey, @ahampriyanshu can you assign me in Kotlin?

[2021-10-03 09:46] MojoAlpha commented on #1724
assign me i can implement it in c

[2021-10-03 09:50] RaghuvirSingh23 commented on #1687
Hey! Please assign me the python part for this.
TIA.

[2021-10-03 09:53] Abhishek5002443 commented on #1708
Hey @ahampriyanshu, can you assign me in python.

[2021-10-03 09:56] MojoAlpha opened #1733 "Binary Lifting For LCA on Trees"
### Type

Algorithm

### Directory

Algorithms=>Tree-Algorithm=>Binary_Lifting

### Description

Binary lifting is a technique which is used to find the LCA of two nodes in a tree in O(logn) time. This technique uses some a precomputation time of O(nlogn).

### Programming Language

- [X] c++
- [ ] c
- [x] python
- [x] java
- [ ] kotlin
- [ ] javascript
- [ ] typescript
- [ ] c#
- [ ] swift
- [ ]

[2021-10-03 09:56] MojoAlpha commented on #1733
Could you assign this issue to me for c++?

[2021-10-03 10:11] hd2342-dubey commented on #1724
Please assign it to me in C++ I will do it

[2021-10-03 10:43] ahampriyanshu commented on #1724
Duplicate of #498
![Screenshot from 2021-10-03 16-12-54](https://user-images.githubusercontent.com/54521023/135750165-a823d306-9607-463c-ad0f-d38d9eec0876.png)

[2021-10-03 10:43] #1724 closed

[2021-10-03 10:53] subham5230 commented on #1686
Hey @ahampriyanshu  can you assign me this issue for Java, Thanks!

[2021-10-03 10:55] subham5230 commented on #1699
Hey @ahampriyanshu  can you assign me this issue for Javascript, Thanks!

[2021-10-03 10:58] gauravsax1911 commented on #1581
Hey can you assign this to me,for c++

[2021-10-03 11:07] shadowshot-x commented on #1588
I want to contribute to this in golang. Can you assign me?

[2021-10-03 11:07] #1673 closed

[2021-10-03 11:08] shadowshot-x commented on #1581
Can i work on this in Golang?

[2021-10-03 11:18] varnaa commented on #1698
@ahampriyanshu Hi, i'd like to work on this issue for java.

[2021-10-03 11:48] divyansh1511 commented on #1708
@ahampriyanshu I made the PR for it....you can merge it...

[2021-10-03 11:59] ahampriyanshu commented on #1590
CPP => 1 Day

[2021-10-03 11:59] #1590 closed

[2021-10-03 12:01] ahampriyanshu opened #1747 "Metadata"
### Directory

README.md

### Things To Remember

- [ ] The content added isn't directly copied from any sources like gfg, tutorialpoint, etc. For theory, use open-source alternatives like WikiPedia.
- [ ] I have used github flavoured md syntax only.
- [ ] All the relative links are working.
- [ ] All the absolute links are working.
- [ ] I have synced-up my forked repo.
- [ ] Ain't pushing from t

[2021-10-03 12:32] ahampriyanshu commented on #1747
![1](https://user-images.githubusercontent.com/54521023/135752751-1ba14e4f-1c7f-4bef-97f8-dcc910523e9d.png)
![2](https://user-images.githubusercontent.com/54521023/135753314-d67a67b5-3e57-48c5-b58e-076e442f3849.png)
![3](https://user-images.githubusercontent.com/54521023/135753421-9420757f-1a7d-47fa-b5a3-7943ab96ec39.png)
![4](https://user-images.githubusercontent.com/54521023/135753633-6cc6da77-9

[2021-10-03 12:32] #1747 closed

[2021-10-03 12:47] ahampriyanshu commented on #1747
![15](https://user-images.githubusercontent.com/54521023/135754330-be6aa099-2ccf-44c7-aebe-e9348c23ae82.png)

[2021-10-03 13:17] ghozt777 commented on #1588
@ahampriyanshu I want to contribute in Java. Can you please assign me

[2021-10-03 13:36] ahampriyanshu commented on #1747
![14](https://user-images.githubusercontent.com/54521023/135755940-ef41a77d-2e4b-4518-96f2-2a6643b8def7.png)

[2021-10-03 14:39] ahampriyanshu commented on #1747
![Screenshot from 2021-10-03 20-08-20](https://user-images.githubusercontent.com/54521023/135758806-f9c0a445-4553-475d-a02f-0f1d7e5b802c.png)

[2021-10-03 14:45] Pranay-Thakre commented on #1689
Hello @ahampriyanshu,  please assign c and cpp code for this program to me.

[2021-10-03 14:46] ahampriyanshu commented on #1591
thank you **everyone**

[2021-10-03 14:46] #1591 closed

[2021-10-03 14:47] SuperAayush commented on #1727
Please assign it to me.

[2021-10-03 15:17] RaghuvirSingh23 commented on #1687
@ahampriyanshu I have created a PR. Do checkout!

[2021-10-03 15:41] AR10X commented on #1591
Hi, I would like to add code for Ruby.

[2021-10-03 16:42] ishar19 commented on #1687
hey, @ahampriyanshu  assign me the javascript part of this issue.

[2021-10-03 16:44] PrakashAditya17 commented on #1727
I can do in java

[2021-10-03 16:45] PrakashAditya17 commented on #1733
I can do this in Java. Do assign if required

[2021-10-03 16:46] gargi111 commented on #1699
Hey!  please assign this to me,my preferred language is python.

[2021-10-03 16:47] PrakashAditya17 commented on #1687
I can do this 'Count inversions ' in java language.

[2021-10-03 16:47] PrakashAditya17 commented on #1581
I can code KMP in Java

[2021-10-03 16:49] ahampriyanshu commented on #1701
Hi @Sameera-Aryasomayajula, please opt a different language/issue.

[2021-10-03 16:55] #1608 closed

[2021-10-03 17:04] Heisenberg-Vardan commented on #1733
i can do this in python can u assign this to me

[2021-10-03 17:06] Heisenberg-Vardan commented on #1655
hey I can solve this using python, can you assign this to me

[2021-10-03 18:19] vikashpatel07 commented on #1693
Hello, I would like to contribute on this issue.
Kindly assign it to me

[2021-10-03 18:20] vikashpatel07 commented on #1697
Hey @ahampriyanshu, I want to work on this issue with python.

[2021-10-03 18:30] shubhamhere commented on #1733
I can do this in C++. Do assign if required

[2021-10-03 18:44] vikashpatel07 opened #1764 "Josephus problem"
### Type

Algorithm

### Directory

Algorithm => Recursion

### Description

There are n people standing in a circle waiting to be executed. The counting out begins at some point in the circle and proceeds around the circle in a fixed direction. In each step, a certain number of people are skipped and the next person is executed. The elimination proceeds around the circle (which is becoming smalle

[2021-10-03 18:48] shubhamhere commented on #1764
Assign me for solution in C++ . Happy to contribute : )

[2021-10-03 18:59] Monem-Shahriar commented on #1605
Hi, can I do this in python?

[2021-10-03 19:14] AnupamTekale commented on #1727
Can you please assign it to me? I can do it elegantly in java.

[2021-10-03 19:17] AnupamTekale commented on #1727
JAVA => 2 hours.

[2021-10-03 20:23] AnupamTekale commented on #1682
@ahampriyanshu Assign me JavaScript for this.

[2021-10-04 02:09] SuperAayush commented on #1708
@ahampriyanshu please do assign me for javascript as well.

[2021-10-04 02:43] aditya-gaikwad commented on #1591
PLease reply

[2021-10-04 02:55] MuhammadFajrian commented on #1689
Hello @ahampriyanshu, please assign go program to me.

[2021-10-04 03:17] dittapandey commented on #1764
Assign me for solution in c++

[2021-10-04 03:20] dittapandey commented on #1623
Can this be assigned to me please in c++

[2021-10-04 03:21] dittapandey commented on #1697
Hey @ahampriyanshu, I want to work on this issue in c++

[2021-10-04 03:24] #1623 closed

[2021-10-04 03:34] DarkRaiCodes commented on #1764
please assign me this :)

[2021-10-04 03:38] dittapandey commented on #1687
Hey @ahampriyanshu could this be assigned to me in c++?

[2021-10-04 03:54] dittapandey commented on #1694
Can this be assigned to me in c++?

[2021-10-04 04:07] the-kaushal-agrawal commented on #1764
pls assign me this

[2021-10-04 04:07] vikkastiwari commented on #1733
Please assign me this task I will do it in Javascript.
Thank You

[2021-10-04 04:09] shiladityab24 commented on #1697
@dittapandey I am already working on c++ and java and going to complete the code within today

[2021-10-04 04:18] Siddhantmehta2003 commented on #1764
I have the solution in java please feel free to assign it to me...